<h4 class="mb-3">Reviews and Ratings 
  <span class="pull-right" *ngIf="earnedPoint && userInfo.roles=='U'">Point Earned: {{earnedPoint}}</span></h4> 
  <div class="" *ngIf = "rating; else noData">
    <div class="p-3 shadow mb-3 d-flex Reviewsbox" *ngFor="let rate of rating| paginate: { id: 'review',
    itemsPerPage: 5,
    currentPage: currentPage,
    totalItems: totalItems 
    }; ">
      <img *ngIf="userInfo.roles!=='U'" [src]="rate.customerId.profileImage ? AWS_S3 + '' +rate.customerId.profileImage : defaultImage" />
      <img *ngIf="userInfo.roles === 'U'" [src]="rate.drId.profileImage ? AWS_S3 + '' +rate.drId.profileImage : defaultImage" />
    
      <div class="pl-3 w-100" *ngIf="rate.rating !== 0">
        <div class="d-flex justify-content-between mb-2">
          <b class="font-weight-bold"  *ngIf="userInfo.roles!='U'" >{{ rate.customerId.firstName }}</b>
          <b class="font-weight-bold"  *ngIf="userInfo.roles=='U'" >{{ rate.drId.firstName }}</b>
        </div>
        <div class="text-rating mb-2" *ngIf="rate.rating===5">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="text-rating mb-2" *ngIf="rate.rating===4">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="text-rating mb-2" *ngIf="rate.rating===3">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="text-rating mb-2" *ngIf="rate.rating===2">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="text-rating mb-2" *ngIf="rate.rating===1">
          <i class="fa fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>

        <div class="review">
          {{ rate.review }}
        </div>
      </div>

      
    </div>
    <div *ngIf="rating.length > 10">
      <hr>

      <pagination-controls
        id="review" 
        (pageChange)="currentPage = $event"></pagination-controls>
    </div>
</div>


<ng-template #noData>
  <h6>No rating available...</h6>
</ng-template>