@import "../../../../assets/scss/mixins";
.rating {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  float: none;
  
}
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0.1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
}
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}
.rating:not(:checked) > label:before {
  content: '★ ';
}
.rating:not(:checked):not([disabled]) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}

.Reviewsbox {
  border-right: 3px solid $primaryColor;
  position: relative;
  &::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    transform: rotate(134deg);
    left: -13px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $primaryColor;
  }
  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: -3px;
    transform: rotate(44deg);
    left: -13px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $primaryColor;
  }
  > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.text-rating {
  color: #ffc91d;
}
