<h3 class="mb-3">Reviews and Ratings</h3>

<div class="p-3 shadow mb-3 d-flex Reviewsbox">
  <img src="/assets/img/man-testimonial.jpg" class="shadow" />
  <div class="pl-3 w-100">
    <div class="d-flex justify-content-between mb-2">
      <b class="font-weight-bold">Mohit</b>
      <span>20/05/20</span>
    </div>
    <div class="text-rating mb-2">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </div>

    <div class="review">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
    </div>
  </div>
</div>

<div class="p-3 shadow mb-3 d-flex Reviewsbox">
  <img src="/assets/img/man-testimonial.jpg" class="shadow" />
  <div class="pl-3 w-100">
    <div class="d-flex justify-content-between mb-2">
      <b class="font-weight-bold">Mohit</b>
      <span>20/05/20</span>
    </div>
    <div class="text-rating mb-2">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </div>

    <div class="review">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
    </div>
  </div>
</div>

<div class="p-3 shadow mb-3 d-flex Reviewsbox">
  <img src="/assets/img/man-testimonial.jpg" class="shadow" />
  <div class="pl-3 w-100">
    <div class="d-flex justify-content-between mb-2">
      <b class="font-weight-bold">Mohit</b>
      <span>20/05/20</span>
    </div>
    <div class="text-rating mb-2">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
    </div>

    <div class="review">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
    </div>
  </div>
</div>
