<div class="hero-video overflow-hidden">
  <video autoplay loop playsinline poster="/assets/video/about-company-thumbnail.png">
    <source src="/assets/video/about-company.mp4" type="video/mp4">
    <source src="/assets/video/about-company-thumbnail.png">
  </video>
</div>

<section class="container mt-100p mb-50p">
  <ul class="row list-unstyled">
    <li 
    *ngFor="let feature of features" 
    class="mb-50p col-12 col-md-4 col-lg-4"
    >
      <div class="mb-25p">
        <i [iconPh]="feature.icon" style="font-size: 30px;"></i>
      </div>
      <h4 class="h4 clamp-md-3line clamp-lg-2line">{{feature.title}}</h4>
      <p class="text-label">{{feature.content}}</p>
    </li>
  </ul>
</section>

<section class="container">
  <div class="text-center">
    <h2 class="h3 h2-md">It’s easy to get started</h2>
    <!-- <p class="mt-20p">Free 14-day trial on best plan - No Credit Card Requeired</p> -->
    <div class="mt-60p mb-40p">
      <a #anchorPlans class="scroll-anchor"></a>
      <div 
      class="d-inline-block position-relative ml-70p ml-md-0p"
      style="width: 170px"
      >
        <div class="discount-popup body-small text-body">
          20% Discount
        </div>      
        <switch 
        [labels]="['Annualy', 'Monthly']"
        [initialState]="'on'"
        (changeState)="onChangeDuration($event)"
        ></switch>
      </div>  
    </div>
  </div>

  <div class="row justify-content-center">
    <div 
    *ngFor="let plan of plans | keyvalue:keepOriginalOrder; let i = index"
    class="col-12 col-lg-4 mb-20p mb-lg-0p"
    >
      <div 
      class="card h-100 text-left rounded12p p-15p p-md-30p rounded-12p position-relative"
      [ngClass]="{active: plan.key == 'productAdvanced'}"
      >
        <a 
        [id]="'plan-' + plan.key" 
        style="top: -100px; position: absolute;"
        ></a>
        <div 
        *ngIf="plan.value.label"
        class="label body1"
        >
          {{plan.value.label}}
        </div>
        <div clas="mb-10p">
          <i 
          [iconPh]="plan.value.icon"
          style="font-size: 30px"
          class="text-primary"
          ></i>
        </div>
        <h4 class="mb-0">{{plan.value.title}}</h4>
        <p class="mb-0 body2 text-label">{{plan.value.subtitle}}</p>

        <h2 class="my-25p clamp-1line h2">
          <ng-container *ngIf="plan.value?.data && isDurationMonthly">${{plan.value.data.price}}</ng-container>
          <ng-container *ngIf="plan.value?.data && !isDurationMonthly">${{plan.value.data.yearlyPrice}}</ng-container>

          <span class="h4 text-label" *ngIf="plan.value?.data">
            <ng-container *ngIf="isDurationMonthly">/mo</ng-container>
            <ng-container *ngIf="!isDurationMonthly">/yr</ng-container>
          </span>
        </h2>

        <ul class="list-unstyled pl-25p plan-features flex-grow-1">
          <ng-container *ngFor="let feature of planFeatures; let j = index">
            <li 
            *ngIf="isFeatureShowable(j, plan.key)"
            class="position-relative mb-20p subtitle2"
            >  
              <i class="icon-pre text-placeholder" iconPh="checkbox-square"></i>
              <span>{{feature.item}}</span>
            </li>  
          </ng-container>

          <!-- <li class="position-relative mt-40p mb-20p subtitle2">
            <i class="icon-pre text-primary" iconPh="megaphone"></i>
            <a routerLink="/ambassador-program">Become ambassador and get credit</a>
          </li> -->
        </ul>

        <ng-container *ngIf="plan.key == 'productBasic'">
          <button 
          *ngIf="!user"
          class="btn btn-primary-dark"
          (click)="onClickSignup(plan.key)"
          >
            <ng-container *ngIf="plan.key == 'productBasic'">Sign-up</ng-container>
          </button>
  
          <button 
          *ngIf="!!user"
          class="btn btn-primary-dark"
          [disabled]="isLoading"
          (click)="onClickCheckout(plan.key)"
          >
            <ng-container *ngIf="plan.key == 'productBasic'">Order now</ng-container>
          </button>  
        </ng-container>

        <ng-container *ngIf="plan.key == 'productCustom'">
          <a class="btn btn-outline" routerLink="/contact-us">Contact us</a>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<!-- <section class="text-center mt-70p mb-100p">
  <div class="d-inline-block">
    <scroll-indicator [scrollTo]="anchorPlanFeatures"></scroll-indicator>
  </div>
</section>

<section class="container">
  <a #anchorPlanFeatures class="scroll-anchor"></a>
  <table-plan-feature 
  [planFeatures]="planFeatures"
  [plans]="plans"
  ></table-plan-feature>
</section> -->

<section class="container my-100p position-relative">
  <a 
  id="faq" 
  style="top: -100px; position: absolute;"
  ></a>
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">
      <h2 class="mb-50p text-center">
        Frequently Asked Questions
      </h2>
      
      <ul class="list-unstyled mb-0">
        <li 
        *ngFor="let faq of faqs;"
        class="mb-20p"
        >
          <faq-item [data]="faq"></faq-item>
        </li>
      </ul>
    </div>
  </div>
</section>

<div [@slideHorizontal] class="message-coupon blur" *ngIf="isCouponShown" [ngClass]="{shrink: isCouponShrink}"
  (click)="expandCoupon()">

  <div class="d-flex justify-content-between align-items-center mb-10p">
    <div class="subtitle1 mb-0">You have coupon!</div>
    <button class="btn btn-shrink" (click)="shrinkCoupon($event)">
      <i iconPh="chevron-right" class="large"></i>
    </button>
  </div>

  <card-coupon [couponData]="couponData"></card-coupon>
</div>