<div class="row-1200-by-padding banner position-relative"
  [style]="banner"
></div>
<div class='intersection-observer' intersectionObserver (changeStatus)="changeStickyStatusTabbar($event)"></div>
<div class="borderb-grey sticky-header">
  <div class="row-1200-by-margin tabbar bg-white" [ngClass]="{sticked: isTabSticked}">
    <div class="d-flex-column d-md-flex d-wrap d-md-nowrap ml-for-avoid-image profile-info"
      [ngClass]="{sticked: isTabSticked}"
    >
      <div class="d-flex align-items-center">
        <i class="fas fa-clinic-medical pr-1" *ngIf="isUserRole('c')"></i>
        <h3 class='mb-0 font-bigger font-md-biggest'>{{fullname}}</h3>  
      </div>
      <p class="mt-1 mt-md-0 ml-md-3 mb-0">summary here</p>
  </div>

    <div class="profile-image rounded-circle">
      <img [src]="profileImage" [alt]="fullname">
    </div>
    <ul class="p-0 mb-0 ml-for-avoid-image list-unstyled d-inline-flex align-items-center position-relative">
      <li class='text-blue text-center tab-item flex-grow-0 flex-shrink-0 py-3' 
        [ngClass]='{active: (indexTabItem == 0)}'
        (click)="changeTabTo(0)"
      >About</li>
      <li class='text-blue text-center tab-item flex-grow-0 flex-shrink-0 py-3' 
        [ngClass]='{active: (indexTabItem == 1)}'
        (click)='changeTabTo(1)'
      >Reviews</li>
  
      <li class='ml-2 ml-md-5'>
        <star-rate class="d-none d-md-block" [rate]="(userInfo? userInfo.ratingAvg : 0)"></star-rate>
        <star-rate class="d-md-none" [rate]="(userInfo? userInfo.ratingAvg : 0)" [simple]="true"></star-rate>
      </li>
      <li class="tab-item tab-highlighter bg-blue" [class]="'pos-' + indexTabItem"></li>
    </ul>
  </div>
</div>

<!-- section review -->
<section class="row-1200-by-padding bg-white mt-" *ngIf="indexTabItem == 1">
  <div class='my-5'>
    <star-rate [rate]="(userInfo? userInfo.ratingAvg : 0)" margin='big'></star-rate>
    <span class='text-blue pl-4'>{{reviewCount}}</span>
  </div>
  <div class="my-5">
    <ul class="review-controller list-unstyled d-inline-flex mb-3">
      <li class="btn text-blue mr-2 mr-md-4 font-regular"
        (click)="sortReviewsBy(0)" 
        [ngClass]="{active: indexSortReviews == 0}"
      >Highest Rated</li>
      <li class="btn text-blue mr-2 mr-md-4 font-regular"
        (click)="sortReviewsBy(1)" 
        [ngClass]="{active: indexSortReviews == 1}" 
      >Lowest Rated</li>
      <li class="btn text-blue font-regular"
        (click)="sortReviewsBy(2)" 
        [ngClass]="{active: indexSortReviews == 2}"
      >Most Recent</li>
    </ul>

    <ul class="reviews p-0 m-0">
      <li class="d-md-flex flex-md-nowrap p-3 p-md-4 mb-4" *ngFor="let r of rating">
        <div class="mb-3 mb-md-0 col-md-5 col-lg-3 d-flex">
          <div class="review-image rounded-circle overflow-hidden mr-3"></div>
          <p class="font-weight-bold mt-3 font-big mb-0">{{r.name}}</p>
        </div>
        <div class="col-md-7 col-lg-9">
          <star-rate [rate]="r.rate" margin='big'></star-rate>
          <div class="borderb-grey pt-2"></div>
          <p class='pt-3 pb-0'>{{r.desc}}</p>
          <div>{{r.updatedAt | date:'longDate'}}</div>
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- section about -->
<section class="row-1200-by-padding bg-white mt-6" *ngIf="indexTabItem == 0">
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <!-- main column -->
    <div class="col-md-6 col-lg-7">

      <!-- basic section -->
      <div class="row mb-5">
        <div class="col-12 col-md-5 col-lg-4 mb-1 mb-md-0 text-blue ">Practice Philosophy:</div>
        <p class="col-12 col-md-7 col-lg-8 mb-0">{{userInfo?.product_description}}</p>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-5 col-lg-4 mb-1 mb-md-0  text-blue ">Specialty Age Group</div>
        <p class="col-12 col-md-7 col-lg-8 mb-0">{{ageRange}}</p>
      </div>
      <div class="row mb-5" *ngIf="isUserRole('sp')">
        <div class="col-12 col-md-5 col-lg-4 mb-1 mb-md-0  text-blue ">Professional organization</div>
        <p class="col-12 col-md-7 col-lg-8 mb-0">{{userInfo?.professional_organization}}</p>
      </div>
      <div class="row mb-5" *ngIf="isUserRole('sp')">
        <div class="col-12 col-md-5 col-lg-4 mb-1 mb-md-0  text-blue ">Certification</div>
        <p class="col-12 col-md-7 col-lg-8 mb-0">{{userInfo?.certification}}</p>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-5 col-lg-4 mb-1 mb-md-0  text-blue ">Language</div>
        <p class="col-12 col-md-7 col-lg-8 mb-0">{{language}}</p>
      </div>
      <div class="row mb-5">
        <div class="col-12 col-md-5 col-lg-4 mb-1 mb-md-0  text-blue ">Years Of Experience</div>
        <p class="col-12 col-md-7 col-lg-8 mb-0">{{userInfo?.years_of_experience}}</p>
      </div>

      <!-- blue section -->
      <div class="row bg-lightblue rounded-top pt-5 pb-0 mt-5">
        <div class="col-12 col-md-5 col-lg-4 mb-1 mb-md-0 text-blue">Type of Provider:</div>
        <p class="col-12 col-md-7 col-lg-8 mb-0">{{typeOfProvider}}</p>
      </div>
      <div class="row bg-lightblue pt-5 pb-0" *ngIf="isUserRole('sp')">
        <div class="col-12 col-md-5 col-lg-4 mb-1 mb-md-0 text-blue">Treatment Modalities: </div>
        <p class="col-12 col-md-7 col-lg-8 mb-0">{{treatmentModality}}</p>
      </div>
      <div class="row bg-lightblue pt-5 pb-0">
        <div class="col-12 col-md-5 col-lg-4 mb-1 mb-md-0 text-blue">Services:</div>
        <p class="col-12 col-md-7 col-lg-8 mb-0">{{service}}</p>
      </div>
      <div class="row bg-lightblue rounded-bottom pt-5 pb-0" *ngIf="isUserRole('c')">
        <div class="col-12 col-md-5 col-lg-4 mb-1 mb-md-0 text-blue">Product:</div>
        <p class="col-12 col-md-7 col-lg-8 mb-0">{{product}}</p>
      </div>
      <div class="row bg-lightblue rounded-bottom pt-5 mb-5"></div>

      <!-- professionals at centre-->
      <div *ngIf="isUserRole('c')">
        <div class="row bg-grey rounded-top pt-4 pb-0 mt-5 justify-content-start justify-content-md-between align-items-center">
          <div class="col-12 col-md-8 mb-3 mb-md-0 text-blue font-big font-md-bigger">Meet our professionals</div>
          <div class="col-12 col-md-4 text-md-right">
            <button class="btn border-blue text-blue" 
              type="button"
              (click)="filterProfessionals()"
            >Explore all</button>
          </div>
        </div>
        <ul class='list-unstyled row text-center bg-grey py-4 rounded-bottom'>
          <li class='col-12 col-md-6 col-lg-4 mb-4' *ngFor="let pro of professionalsFiltered; let i = index;">
            <div class="professional-image rounded-circle overflow-hidden"></div>
            <h6 class="font-smallest mb-4">{{pro.name}}</h6>
            <p>{{pro.desc}}</p>  
          </li>
        </ul>  
      </div>
    </div>

    <!-- side column -->
    <div class="col-md-5 col-lg-4">
      <!-- contact info-->
      <div class="rounded shadow text-center pb-3 overflow-hidden mb-5">
        <div class="card-title">Contact Information</div>
        <table class="table table-borderless table-hover px-2">
          <tbody>
            <tr>
              <td class="pr-0"><i class="fas fa-map-marker-alt color-card-icon"></i></td>
              <td class="text-left">{{userInfo?.address}}</td>
            </tr>
            <tr>
              <td class="pr-0"><i class="fas fa-phone color-card-icon"></i></td>
              <td class="text-left">{{phone}}</td>
            </tr>
            <tr>
              <td class="pr-0"><i class="fas fa-dollar-sign color-card-icon"></i></td>
              <td class="text-left">Standard Hourly Fees: {{userInfo?.price_per_hours}}</td>
            </tr>
          </tbody>
        </table>
        <button class="btn border-blue text-blue px-5" type="button" data-toggle="modal" data-target="#bookingmodal">Book</button>
      </div>

      <!-- videos-->
      <div class="rounded shadow overflow-hidden mb-5">
        <div class="row m-3 align-items-center justify-content-between">
          <h5 class='m-0'>
            <span class="text-blue">Video</span>
            <span class="ml-2 font-smaller">10</span>
          </h5> 
          <div class="text-right">
            <button class="btn border-blue text-blue font-smaller" type="button">Load more videos</button>
          </div>
        </div>
        <div class="row">
          <ul class="videos p-3 m-0">
            <li></li>
          </ul>
        </div>
      </div>
    
      <!-- endosements -->
      <div class="rounded shadow pb-3 overflow-hidden mb-5">
        <div class="card-title font-big font-md-regular text-center m-0">Endosement</div>
        <post-dummy *ngIf="!endosements"></post-dummy>
        
        <div class="px-3">
          <div class="endosement-wrapper py-4" *ngFor="let endosement of endosements;">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="font-weight-bold m-0">
                {{endosement.name}}
                <star-rate class="ml-1 d-lg-display" [rate]="endosement.rate" size='small' margin="none"></star-rate>
              </p>
              <button class='btn' type='button'><i class="fas fa-share-alt text-blue font-big"></i></button>
            </div>
            <a class="btn border-blue text-blue mb-3" type="button">view website</a>
            <div class="endosement-images mb-3"></div>
            <p class="m-0">{{endosement.desc}}</p>  
          </div>
        </div>
        <div class="text-center my-3">
          <button class="btn text-blue border-blue">Load more</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal login -->
<div
  class="modal fade"
  id="messagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="messagemodal"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
    style="margin: auto !important;width:100%"
  >
    <div class="modal-content mk-border position-relative">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">
          <img
            src="assets/img/logo.png"
            class="mb-3"
            style="max-width: 220px;"
          />
        </h5>
        <button
          type="button"
          class="close position-absolute"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-4">
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label>Email Address <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Email Address"
            />
          </div>
          <div class="col-md-12 mb-3">
            <label>Password <span class="text-danger">*</span></label>
            <input
              type="password"
              class="form-control"
              placeholder="Enter Your Password"
            />
          </div>
          <div class="col-md-12 d-flex justify-content-between">
            <div class="small">
              Not Registered yet ? <a href="/auth/registration/u">Register Here</a><br />
              <a href="/auth/forgot-password">Forgot Your Password?</a>
            </div>
            <button type="submit" class="btn btn-primary px-4">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Booking -->
<div
  class="modal fade"
  id="bookingmodal"
  data-backdrop="static" role="dialog"
  role="dialog"
  aria-labelledby="bookingmodal"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
    style="margin: auto !important;width:100%"
  >
    <div class="modal-content mk-border position-relative">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">
          Booking
        </h5>
        <button
          type="button"
          #closebutton
          class="close position-absolute"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-4">
        <form role="form" [formGroup]="bookingForm" (ngSubmit)="bookApointment()">
          <div class="form-row">

            <div class="col-md-12 mb-3">
              <label>Name <span class="text-danger">*</span></label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Enter Your Name"
              />
              <div *ngIf="submitted" class="error-msg">
                <small *ngIf="f.name.errors"  class="text-danger">
                    Name is required
                </small>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label>Email Address <span class="text-danger">*</span></label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter Your Email Address"
              />
              <div *ngIf="submitted" class="error-msg">
                <small *ngIf="f.email.errors"  class="text-danger">
                    Email is required
                </small>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label>Phone <span class="text-danger">*</span></label>
              <input
                type="number"
                formControlName="phone"
                class="form-control"
                placeholder="Enter Your Phone Number"
              />
              <div *ngIf="submitted" class="error-msg">
                <small *ngIf="f.phone.errors"  class="text-danger">
                    Phone is required
                </small>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label>Timing <span class="text-danger">*</span></label>
              <div class="row">
<!--
                <div  class="col-md-6" *ngFor="let item of timingList; let i = index"> 
                  <label for="{{item.id}}">
                      <input class="radio" type="checkbox" value="{{item.name}}" required id="{{item.id}}" (change)="timingSelected($event)"
                      formControlName="timing"/>
                      <span class="text-body">{{item.name}}</span>
                      
                  </label>
                </div>
-->
                <div class="col-sm-12">
                  <div *ngIf="submitted" class="error-msg">
                    <small *ngIf="f.timing.errors"  class="text-danger">
                        Booking timing is required
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <input 
              class="form-control" [owlDateTime]="dt1" [min]="minDate" [owlDateTimeTrigger]="dt1" placeholder="Date Time"
              formControlName="bookingDateTime">
              <owl-date-time #dt1 [startAt]="startDate"></owl-date-time>
              <div *ngIf="submitted" class="error-msg">
                <small *ngIf="f.bookingDateTime.errors"  class="text-danger">
                  Booking Date is required
                </small>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label>Notes</label>
              <textarea
                class="form-control"
                type="text"
                formControlName="note"></textarea>
              
            </div>

            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary">Save</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

                    