<section
  class="bg-cover detailbanner"
  style="background-image: url(assets/img/professional-banner.png);"
></section>
<div class="container pb-4">
  <div class="shadow bg-white">
    <div class="p-3">
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="d-inline-flex">
            <img
              src="assets/img/man-testimonial.jpg"
              class="rounded-circle border detailprofileimg"
            />
            <div class="p-2">
              <div class="text-uppercase font-weight-bold text-primary">
                {{userInfo?.firstName}} {{userInfo?.lastName}}
              </div>
              <div class="text-primary">({{userInfo?.gender}})</div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <ul class="check_ul font-weight-normal">
            <li class="fa-map-marker">
              {{userInfo?.address}}
            </li>
            <a
              href="mailto:{{userInfo?.email}}"
              class="fa-envelope text-primary d-inline-block mr-2"
            >
            {{userInfo?.email}}
            </a>
            <a
              href="tel:{{userInfo?.phone}}"
              class="fa-phone text-primary d-inline-block"
              >{{userInfo?.phone}}</a
            >
          </ul>
        </div>
        <div class="col-md-4 text-right">
          <a
            href=""
            data-toggle="modal"
            data-target="#messagemodal"
            class="btn btn-primary mb-3"
          >
            <i class="fa fa-comment"></i>
            Message
          </a>

          <div class="font-weight-bold mb-2">
            Standard Hourly Fees: <span class="text-primary">$150</span>
          </div>
          <a href="" class="btn btn-outline-primary">Check discounted hours</a>
        </div>
      </div>
    </div>
    <!-- Nav tabs -->
    <ul class="nav bg-light font-weight-normal" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="information-tab"
          data-toggle="pill"
          href="#pills-information"
          role="tab"
          aria-controls="pills-information"
          aria-selected="true"
          >Practice Information</a
        >
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          id="service-tab"
          data-toggle="pill"
          href="#pills-service"
          role="tab"
          aria-controls="pills-service"
          aria-selected="false"
          >Service Information</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="professional-tab"
          data-toggle="pill"
          href="#pills-professional"
          role="tab"
          aria-controls="pills-professional"
          aria-selected="false"
          >Professional Background</a
        >
      </li>
      <!-- <li class="nav-item">
        <a
          class="nav-link"
          id="Activity-tab"
          data-toggle="pill"
          href="#pills-Activity"
          role="tab"
          aria-controls="pills-Activity"
          aria-selected="false"
          >My Activity</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="blog-tab"
          data-toggle="pill"
          href="#pills-blog"
          role="tab"
          aria-controls="pills-blog"
          aria-selected="false"
          >Blogs</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="Videos-tab"
          data-toggle="pill"
          href="#pills-Videos"
          role="tab"
          aria-controls="pills-Videos"
          aria-selected="false"
          >Videos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="Announcement-tab"
          data-toggle="pill"
          href="#pills-Announcement"
          role="tab"
          aria-controls="pills-Announcement"
          aria-selected="false"
          >Announcement</a
        >
      </li> -->
    </ul>
    <!-- Tab panes -->
    <div class="tab-content p-3">
      <div
        class="tab-pane active"
        id="pills-information"
        role="tabpanel"
        aria-labelledby="information-tab"
      >
        <table class="table table-borderless informationtable">
          <tbody>
            <tr>
              <th>Practice Philosophy:</th>
              <td>
                Psychotherapy is a collaborative effort between the
                client/clients and therapist in helping the client meet their
                personal challenges and manage themselves. I approach this from
                a strengths and resilence perspective focusing on people's
                assets rather than their deficits. The problems that I work with
                frequently include:marital and family conflict, life
                transitions, depression and anxiety, and illness and loss. My
                knowledge and sense of understanding come from many years of
                clinical practice, along with empathy and concern for my
                clients.
              </td>
            </tr>
            <tr>
              <th>Age Group:</th>
              <td>
                Adolescent, Adult, Senior
              </td>
            </tr>
            <tr>
              <th>Language Fluency:</th>
              <td></td>
            </tr>
            <tr>
              <th>Practice / Cultural</th>
              <td></td>
            </tr>
            <tr>
              <th>Specialties:</th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="tab-pane"
        id="pills-service"
        role="tabpanel"
        aria-labelledby="service-tab"
      >
        <table class="table table-borderless informationtable">
          <tbody>
            <tr>
              <th>Problem Specialties:</th>
              <td>
                Anxiety / stress, Couples / family issues, Depression - general
              </td>
            </tr>
            <tr>
              <th>Problems Treated:</th>
              <td>
                Anxiety / stress, Bereavement / grief and loss, Coping with
                health / medical problems, Couples / family issues, Depression -
                general, Issues of adolescence (>16 years old), Parenting,
                Health anxiety, Aging and geriatric issues, Assertiveness
                problems, Career issues, Divorce-related issues, Domestic
                abuse-violence, Social anxiety, Women's issues
              </td>
            </tr>
            <tr>
              <th>Treatment Approaches:</th>
              <td>
                Behavioral , Cognitive Behavioral Therapy (CBT), Cognitive
                Therapy (CT), Family Systems, Positive Psychology,
                Psychoeducational, Supportive
              </td>
            </tr>
            <tr>
              <th>Insurance Accepted:</th>
              <td>BlueCross and BlueShield, Medicare</td>
            </tr>
            <tr>
              <th>Standard Hourly Price:</th>
              <td>
                $150
                <a href="" class="btn btn-outline-secondary"
                  >Display Calendar</a
                >
              </td>
            </tr>
            <tr>
              <th>Service Types:</th>
              <td>
                Individual therapy, Couples therapy, Family therapy,
                Consultation only (single visit)
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="tab-pane"
        id="pills-professional"
        role="tabpanel"
        aria-labelledby="professional-tab"
      >
        <table class="table table-borderless informationtable">
          <tbody>
            <tr>
              <th>Education:</th>
              <td>
                University of Wisconsin School of Social Work (Madison,
                Wisconsin)
              </td>
            </tr>
            <tr>
              <th>Degree:</th>
              <td>M.S.W. (1975)</td>
            </tr>
            <tr>
              <th>State of Licensure:</th>
              <td>Illinois</td>
            </tr>
            <tr>
              <th>License Number:</th>
              <td>149-001665</td>
            </tr>
            <tr>
              <th>Years of Experience:</th>
              <td>42 years</td>
            </tr>
            <tr>
              <th>Hospital Affiliation:</th>
              <td></td>
            </tr>
            <tr>
              <th>Teaching Experience:</th>
              <td>NO</td>
            </tr>
            <tr>
              <th>Professional</th>
              <td>National Association of Social Workers</td>
            </tr>
            <tr>
              <th>Organzation Affiliations:</th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div
        class="tab-pane"
        id="pills-Activity"
        role="tabpanel"
        aria-labelledby="Activity-tab"
      >
        <h5 class="mb-0">Videos</h5>
        <hr />

        <div class="d-flex mb-4">
          <video width="100%" height="100%" class="activityvideo" controls>
            <source src="assets/video/video2.mp4" type="video/mp4" />
            Your browser does not support the video tag.
          </video>
          <div class="p-2">
            <h6 class="text-primary text-uppercase">Robert Kauffman, Lcsw</h6>
            A video interview with Michael Blumberg, LCPC: Click on the video to
            watch here, or if you want to jump ahead to listen to answers to
            specific questions, then <a href="">watch here.</a>
          </div>
        </div>

        <h5 class="mb-0">Forms</h5>
        <hr />

        <div class="mb-4 formsoverflow">
          <div class="font-weight-bold mb-2 text-primary">
            Release of Information
          </div>
          <div class="d-flex mb-4">
            <div class="faviconbox"></div>
            <div class="p-2">
              Fill out this form to allow Dr. Steingraber to communicate with
              someone else on your team, such as family members, previous
              therapists, teachers, psychiatrists or anyone else you deem
              appropriate.<br />
              <a href="" class="btn btn-primary mt-2">Download PDF</a>
            </div>
          </div>

          <div class="font-weight-bold mb-2 text-primary">
            Contract
          </div>
          <div class="d-flex mb-4">
            <div class="faviconbox"></div>
            <div class="p-2">
              This form outlines the parameters of therapy.<br />
              <a href="" class="btn btn-primary mt-2">Download PDF</a>
            </div>
          </div>

          <div class="font-weight-bold mb-2 text-primary">
            Electronic Communications Policy
          </div>
          <div class="d-flex mb-4">
            <div class="faviconbox"></div>
            <div class="p-2">
              This paper outlines the limitations, per APA guidelines, on
              electronic communications between patient and therapist.<br />
              <a href="" class="btn btn-primary mt-2">Download PDF</a>
            </div>
          </div>

          <div class="font-weight-bold mb-2 text-primary">
            HIPAA
          </div>
          <div class="d-flex mb-4">
            <div class="faviconbox"></div>
            <div class="p-2">
              This form outlines the HIPAA Law and guidelines.<br />
              <a href="" class="btn btn-primary mt-2">Download PDF</a>
            </div>
          </div>
        </div>

        <h5 class="mb-0">Groups and Seminars</h5>
        <hr />

<div>
 <p>90-Minutes-to-Improve-Your-Life Workshops - Offered periodically</p>

<p>Art of Effective Communication: Learn the keys to effective listening, negotiating conflicts, and speaking your mind so that “the other” guy really understands you.</p>

<p>Understanding and Managing Your Stress: Take yourself out of the bullseye and design your personal plan to keep your cool.</p>

<p>Increasing Emotional Intelligence: Accurately reading and understanding emotions helps get you what you want from yourself and others.</p>

<p>Take Charge of Your Life: Setting and Completing Achievable Goals: Pleasantly surprise yourself with acquiring the few skills that will keep you on track to achieving your goals.</p>

<p>Before The Wedding: Skills for Marriage Success: How to identify and then successfully weather the storms that all marriage / long term relationships encounter.</p>

<p>Balancing Work and Family Life: Learn the skills to simplify and regain balance in your life.</p>

<p>Family Life Directions: Learn how to use this simple half-hour process that puts reassuring order and optimistic expectations into your family’s daily life.</p>

<p>Managing Conflict at Work And Home: Learn the Two Skills that will get you through quarrels and disagreements: preventing conflict and resolving conflict.</p>

<p>Recovering From A Career Crash: It’s not the crash that will do you in, rather it’s how you handle it.</p>
</div>

        <!-- <div class="text-center">
          <div
            class="px-3 py-2 bg-primary rounded d-inline-block h4 text-light"
          >
            <i class="fa fa-question"></i>
          </div>
          <h4>No records found.</h4>
        </div> -->
      </div>
      <div
        class="tab-pane"
        id="pills-blog"
        role="tabpanel"
        aria-labelledby="blog-tab"
      >
        <div class="text-right font-weight-bold mb-3">
          Archive:
          <select class="form-control w-auto mx-2">
            <option>Select Year</option>
            <option>2017(2)</option>
            <option>2016(9)</option>
            <option>2015(2)</option>
          </select>

          <select class="form-control w-auto">
            <option>Select Month</option>
            <option>Jan</option>
            <option>Feb</option>
            <option>Mar</option>
            <option>Apr</option>
          </select>
        </div>

        <div class="mb-4">
          <div class="row mb-3">
            <div class="col-md-3">
              <img src="assets/img/blog3.jpg" class="blogimg w-100 rounded" />
            </div>
            <div class="col-md-9">
              <h5>Dynamic Pricing and the Business of Psychotherapy</h5>
              <div class="mb-2 font-weight-normal">
                <i class="fa fa-edit"></i> Posted By
                <span class="text-primary"> Robert Kauffman, Lcsw </span>
                <i class="fa fa-calendar ml-2"></i> March 10th, 2020
              </div>
              It is said that no one becomes a psychotherapist for the money.
              And indeed, psychotherapists as a group earn far less than many
              others with similar levels of professional training and
              experience. As a psychiatrist who worked as a psychotherapist for
              over thirty years, I was keenly aware of how my income was a
              fraction of that of most of my medical colleagues. But being
              committ
              <a href="" class="font-weight-normal pull-right"
                >Read More <i class="fa fa-chevron-right"></i
              ></a>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <img src="assets/img/blog3.jpg" class="blogimg w-100 rounded" />
            </div>
            <div class="col-md-9">
              <h5>Dynamic Pricing and the Business of Psychotherapy</h5>
              <div class="mb-2 font-weight-normal">
                <i class="fa fa-edit"></i> Posted By
                <span class="text-primary"> Robert Kauffman, Lcsw </span>
                <i class="fa fa-calendar ml-2"></i> March 10th, 2020
              </div>
              It is said that no one becomes a psychotherapist for the money.
              And indeed, psychotherapists as a group earn far less than many
              others with similar levels of professional training and
              experience. As a psychiatrist who worked as a psychotherapist for
              over thirty years, I was keenly aware of how my income was a
              fraction of that of most of my medical colleagues. But being
              committ
              <a href="" class="font-weight-normal pull-right"
                >Read More <i class="fa fa-chevron-right"></i
              ></a>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-3">
              <img src="assets/img/blog3.jpg" class="blogimg w-100 rounded" />
            </div>
            <div class="col-md-9">
              <h5>Dynamic Pricing and the Business of Psychotherapy</h5>
              <div class="mb-2 font-weight-normal">
                <i class="fa fa-edit"></i> Posted By
                <span class="text-primary"> Robert Kauffman, Lcsw </span>
                <i class="fa fa-calendar ml-2"></i> March 10th, 2020
              </div>
              It is said that no one becomes a psychotherapist for the money.
              And indeed, psychotherapists as a group earn far less than many
              others with similar levels of professional training and
              experience. As a psychiatrist who worked as a psychotherapist for
              over thirty years, I was keenly aware of how my income was a
              fraction of that of most of my medical colleagues. But being
              committ
              <a href="" class="font-weight-normal pull-right"
                >Read More <i class="fa fa-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane"
        id="pills-Videos"
        role="tabpanel"
        aria-labelledby="Videos-tab"
      >
        <h5 class="text-primary text-uppercase">Robert Kauffman, Lcsw</h5>
        <video width="100%" height="100%" class="video" controls>
          <source src="assets/video/video2.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div
        class="tab-pane"
        id="pills-Announcement"
        role="tabpanel"
        aria-labelledby="Announcement-tab"
      >
        I am the founder of the Glenview Counseling Group, which consists of a
        team of clinicians working with individuals and couples as well as
        children, adolescents and their families in an individual and family
        counseling setting.
        <br />
        <a href="" class="text-primary d-inline-block mt-3 font-weight-normal">View my professional website here
        <br/>
        <img src="assets/img/logo.png" class="announcementlogo mt-2">
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Modal login -->
<div
  class="modal fade"
  id="messagemodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="messagemodal"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
    style="margin: auto !important;width:100%"
  >
    <div class="modal-content mk-border position-relative">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">
          <img
            src="assets/img/logo.png"
            class="mb-3"
            style="max-width: 220px;"
          />
        </h5>
        <button
          type="button"
          class="close position-absolute"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-4">
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label>Email Address <span class="text-danger">*</span></label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Email Address"
            />
          </div>
          <div class="col-md-12 mb-3">
            <label>Password <span class="text-danger">*</span></label>
            <input
              type="password"
              class="form-control"
              placeholder="Enter Your Password"
            />
          </div>
          <div class="col-md-12 d-flex justify-content-between">
            <div class="small">
              Not Registered yet ? <a href="/auth/registration/u">Register Here</a><br />
              <a href="/auth/forgot-password">Forgot Your Password?</a>
            </div>
            <button type="submit" class="btn btn-primary px-4">Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
