<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>

<div class="container-fluid banner position-relative" 
  [style]="(userInfo? 'background-image: url(' + userInfo?.banner + ')': '')"
></div>
<div class='intersection-observer' intersectionObserver (changeStatus)="changeStickyStatusTabbar($event)"></div>
<div class="container-fluid borderb-grey sticky-top bg-white">
  <div class="max-w-1200 position-relative tabbar" [ngClass]="{sticked: isTabSticked}">
    <div class="d-flex-column d-wrap ml-for-avoid-image profile-info"
      [ngClass]="{sticked: isTabSticked}"
    >
      <p *ngIf="userInfo?.title" class="mb-2 overflow-hidden fong-regular font-mg-big" [@expandSubtitle]="(isTabSticked? 'shrink' : 'expand')">{{userInfo?.title}} </p> 
      <div class="d-flex align-items-start title-wrapper">
        <i class="fas fa-clinic-medical pr-2" *ngIf="userInfo?.isCentre"></i>
        <h3 class='mb-0 font-big font-mg-biggest overflow-hidden' [@expandTitle]="(isTabSticked? 'shrink' : 'expand')">
          {{userInfo?.name | titlecase}}
        <i class="fas fa-video px-1" *ngIf="userInfo && userInfo.provideVirtual"></i>
      </h3>  
      </div>
    </div>

    <div class="profile-image rounded-circle" [ngClass]="{verified: userInfo?.isVerified}">
      <user-image
      [image]="userInfo?.image"
      [alt]="userInfo?.name"
      [verifiedUser]="userInfo?.isVerified"
      shadowVerified="0 0 5px #307dd6"
      badgeSize="35"
      ></user-image>
    </div>
    <ul class="p-0 mb-0 ml-for-avoid-image list-unstyled d-inline-flex align-items-center position-relative">
      <li class='text-blue text-center tab-item flex-grow-0 flex-shrink-0 py-3' 
        [ngClass]='{active: (indexTabItem == 0)}'
        (click)="changeTabTo(0)"
      >About</li>
      <li class='text-blue text-center tab-item flex-grow-0 flex-shrink-0 py-3' 
        [ngClass]='{active: (indexTabItem == 1)}'
        (click)='changeTabTo(1)'
      >Reviews</li>
  
      <li class='ml-2 ml-md-5'>
        <star-rate class="d-none d-md-block" [rate]="(userInfo? userInfo.rating : 0)"></star-rate>
        <star-rate class="d-md-none" [rate]="(userInfo? userInfo.rating : 0)" [simple]="true"></star-rate>
      </li>
      <li class="tab-item tab-highlighter bg-blue" [class]="'pos-' + indexTabItem"></li>
    </ul>
  </div>
</div>

<section *ngIf="myId == userInfo?.id && userInfo.isApproved === false"
class="container-fluid bg-grey p-4"
>
  <p class="font-italic mb-0 max-w-1200">Your profile is been reviewed by our administrator and won't be shown in listing just yet.</p>
</section>

<!-- section review -->
<section class="container-fluid bg-white mt-5 mt-md-6" *ngIf="indexTabItem == 1">
  <div class="max-w-1200">
    <div class='my-5'>
      <star-rate [rate]="((userInfo)? userInfo.rating : 0)" margin='big'></star-rate>
      <span class='text-blue pl-4'>{{(userInfo && userInfo.reviews.length > 0)? ('(' + userInfo.reviews.length + ')') : 'No review yet'}}</span>
    </div>

    <ul class="reviews p-0 m-0 list-unstyled" *ngIf="userInfo && userInfo.detailByGoogle">
      <li class="d-md-flex flex-md-nowrap p-3 p-md-4 mb-4" *ngFor="let r of userInfo.detailByGoogle.reviews">
        <div class="mb-3 mb-md-0 col-md-5 col-lg-3 d-flex">
          <div class="review-image rounded-circle overflow-hidden mr-3">
            <img [src]="r.profile_photo_url" [alt]="r.author_name">
          </div>
          <p class="font-weight-400 mt-3 font-big mb-0">{{r.author_name}}</p>
        </div>
        <div class="col-md-7 col-lg-9">
          <star-rate [rate]="r.rating" margin='big'></star-rate>
          <div class="borderb-grey pt-2"></div>
          <p class='pt-3 pb-0'>{{r.text}}</p>
          <div>{{r.relative_time_description}}</div>
        </div>
      </li>
    </ul>

    <div *ngIf="userInfo && userInfo.reviews.length > 0">
      <div class="my-5">
        <ul class="review-controller list-unstyled d-inline-flex mb-3">
          <li class="btn text-blue mr-2 mr-md-4 font-regular "
            (click)="sortReviewsBy(0)" 
            [ngClass]="{active: indexSortReviews == 0}"
          >Highest Rated</li>
          <li class="btn text-blue mr-2 mr-md-4 font-regular"
            (click)="sortReviewsBy(1)" 
            [ngClass]="{active: indexSortReviews == 1}" 
          >Lowest Rated</li>
          <li class="btn text-blue font-regular"
            (click)="sortReviewsBy(2)" 
            [ngClass]="{active: indexSortReviews == 2}"
          >Most Recent</li>
        </ul>
    
        <ul class="reviews p-0 m-0 list-unstyled">
          <li class="d-md-flex flex-md-nowrap p-3 p-md-4 mb-4" *ngFor="let r of userInfo.reviews">
            <div class="mb-3 mb-md-0 col-md-5 col-lg-3 d-flex">
              <div class="review-image rounded-circle overflow-hidden mr-3">
                <img [src]="r.image" [alt]="r.name">
              </div>
              <p class="font-weight-bold mt-3 font-big mb-0">{{r.name}}</p>
            </div>
            <div class="col-md-7 col-lg-9">
              <star-rate [rate]="r.rate" margin='big'></star-rate>
              <div class="borderb-grey pt-2"></div>
              <p class='pt-3 pb-0'>{{r.review}}</p>
              <div>{{r.createdAt | date:'longDate'}}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- section about -->

<section class="container-fluid bg-white mt-5 mt-md-6" *ngIf="indexTabItem == 0">
  <div class="max-w-1200">
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <!-- main column -->
      <div class="col-md-6 col-lg-7">
  
        <!-- basic section -->
        <div class="row mb-5" *ngIf="userInfo && userInfo.description">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Practice Philosophy:</div>
          <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.description}}</p>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Specialty Age Group</div>
          <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.ageRange.join(', ')}}</p>
        </div>
        <div class="row mb-5" *ngIf="!userInfo?.isCentre">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Professional organization</div>
          <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.organization}}</p>
        </div>
        <div class="row mb-5" *ngIf="!userInfo?.isCentre">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Certification</div>
          <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.certification}}</p>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Language</div>
          <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.languages.join(', ')}}</p>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Years Of Experience</div>
          <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.yearsOfExperience}}</p>
        </div>

        <div class="row mt-5" *ngIf="userInfo?.amenityPreview && userInfo.amenityPreview.length > 0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Amenity</div>
          <div class="col-12 col-lg-8">
            <app-image-row [images]="userInfo.amenityPreview" [option]="{col: 3}"></app-image-row>
            <button class="btn text-blue border-blue rounded" (click)="openAmenityViewer()">Show detail</button>
            <image-viewer
            *ngIf="isAmenityViewerShown"
            [data]="userInfo.amenity"
            (close)="closeAmenityViewer()"
            ></image-viewer>
          </div>
        </div>

        <div class="row mt-5" *ngIf="userInfo?.productPreview && userInfo.productPreview.length > 0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Product</div>
          <div class="col-12 col-lg-8">
            <app-image-row [images]="userInfo.productPreview" [option]="{col: 3}"></app-image-row>
            <button class="btn text-blue border-blue rounded" (click)="openProductViewer()">Show detail</button>
            <image-viewer
            *ngIf="isProductViewerShown"
            [data]="userInfo.product"
            (close)="closeProductViewer()"
            ></image-viewer>
          </div>
        </div>

  
        <!-- blue section -->
        <div class="row bg-lightblue rounded-top pt-5 pb-0 mt-5">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Type of Provider:</div>
          <ul class="col-12 col-lg-8 mb-0 list-unstyled d-flex flex-wrap">
            <li class="mb-2 mb-md-3 pr-3 table-item" *ngFor="let item of userInfo?.typeOfProvider">{{item}}</li>
          </ul>
        </div>
        
        <div class="row bg-lightblue pt-5 pb-0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Treatment Modalities: </div>
          <ul class="col-12 col-lg-8 mb-0 list-unstyled d-flex flex-wrap">
            <li class="mb-2 mb-md-3 pr-3 table-item" *ngFor="let item of userInfo?.treatmentModality">{{item}}</li>
          </ul>
        </div>

        <div class="row bg-lightblue pt-5 pb-0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Health Status: </div>
          <ul class="col-12 col-lg-8 mb-0 list-unstyled d-flex flex-wrap">
            <li class="mb-2 mb-md-3 pr-3 table-item" *ngFor="let item of userInfo?.healthStatus">{{item}}</li>
          </ul>
        </div>

        
        <div class="row bg-lightblue pt-5 pb-0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Service Delivery:</div>
          <ul class="col-12 col-lg-8 mb-0 list-unstyled d-flex flex-wrap">
            <li class="mb-2 mb-md-3 pr-3 table-item" *ngFor="let item of userInfo?.serviceDelivery">{{item}}</li>
          </ul>
          <p class="font-small col-12 mb-0 " *ngIf="userInfo?.provideVirtual">**Virtual/Online services may not be available to all locations. Please inquire the service provider for confirmation.</p>
        </div>

        <div class="row bg-lightblue pt-5 pb-0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Services:</div>
          <ul class="col-12 col-lg-8 mb-0 list-unstyled d-flex flex-wrap">
            <li class="mb-2 mb-md-3 pr-3 table-item full font-weight-500" *ngFor="let item of userInfo?.service">
              {{item[0]}}
              <ul *ngIf="item[1] && item[1].length>0" class="list-unstyled d-flex flex-wrap mb-3 font-weight-300">
                <li *ngFor="let sub of item[1]" class="table-item mt-3">{{sub}}</li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="row bg-lightblue pt-5 pb-0" *ngIf="userInfo?.availability && userInfo.availability.length>0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-blue">Availability:</div>
          <ul class="col-12 col-lg-8 mb-0 list-unstyled d-flex flex-wrap">
            <li class="mb-2 mb-md-3 pr-3 table-item" *ngFor="let item of userInfo?.availability">{{item}}</li>
          </ul>
        </div>
        
        <!-- <div class="row bg-lightblue rounded-bottom pt-5 pb-0" *ngIf="userInfo?.isCentre">
          <div class="col-12 col-lg-4 mb-2 mb-lg-0 text-blue">Product:</div>
          <p class="col-12 col-lg-8 mb-0">{{userInfo?.product}}</p>
        </div> -->
        <div class="row bg-lightblue rounded-bottom pt-5 mb-5"></div>
  
        <!-- professionals at centre-->
        <div *ngIf="userInfo?.isCentre && userInfo.professionals && userInfo.professionals.length > 0">
          <div class="row bg-grey rounded-top py-4 mt-5 justify-content-start justify-content-md-between align-items-center">
            <div class="col text-blue font-big font-md-bigger">Meet our professionals</div>
          </div>
          <ul class='list-unstyled row text-center bg-grey py-4 mb-0'>
            <li class='col-12 col-md-6 mb-5' *ngFor="let pro of userInfo.professionals; let i = index;">
              <img class="professional-image rounded-circle overflow-hidden" 
              [src]="pro.image" 
              [alt]="pro.name"
              crossorigin="anonymous"
              >

              <h6 class="font-smallest mb-3 professional-name">{{pro.name}}</h6>
              <p class="professional-desc" [ngClass]="{clamp: !isExpandProfessionals}">{{pro.description}}</p> 
              <button class="btn" style="color: inherit;" (click)="toggleExpandProfessionalDesc()">
                <span *ngIf="!isExpandProfessionals">- show more -</span>
                <span *ngIf="isExpandProfessionals">- show less -</span>
              </button> 
            </li>
            <li class="col-12 col-md-6 mb-5" *ngIf="isGettingProfessional"><post-dummy class="bg-white"></post-dummy></li>
            <li class="col-12 col-md-6 mb-5" *ngIf="isGettingProfessional"><post-dummy class="bg-white"></post-dummy></li>
          </ul>
          <div class="bg-grey row pb-4 rounded-bottom mb-5">
            <div class="col text-center">
              <button class="btn border-blue text-blue"
              *ngIf="userInfo && userInfo.professionals && userInfo.professionals.length > 0 && isProfessionalsMoreExist"
              type="button"
              (click)="getProfessionals()"
              >Explore More</button>  
            </div>
          </div>
        </div>
      </div>
  
      <!-- side column -->
      <div class="col-md-5 col-lg-4">
        <div class="text-center mb-4" *ngIf="userInfo?.socialLink.isAvailable">
          <social-buttons 
          class="d-inline-block" 
          [data]="userInfo.socialLink.data" 
          [size]="32" 
          [margin]="'narrow'"
          (clickButton)="countupSocial($event)"
          ></social-buttons>
        </div>
        <!-- contact info-->
        <div class="rounded shadow text-center pb-3 overflow-hidden mb-5">
          <div class="card-title">Contact Information</div>
          <table class="table table-borderless table-hover px-2">
            <tbody>
              <tr *ngIf="userInfo?.address">
                <td class="pr-0"><i class="fas fa-map-marker-alt color-card-icon"></i></td>
                <td class="text-left">{{userInfo.address}}</td>
              </tr>
              <tr *ngIf="userInfo?.phone">
                <td class="pr-0"><i class="fas fa-phone color-card-icon"></i></td>
                <td class="text-left">{{userInfo.phone}}</td>
              </tr>
              <tr *ngIf="userInfo?.website">
                <td class="pr-0"><i class="fas fa-compass color-card-icon"></i></td>
                <td class="text-left">
                  <a class="url" [href]="userInfo.website" target="_blank">{{userInfo.websiteLabel}}</a>
                </td>
              </tr>
              <tr>
                <td class="pr-0"><i class="fas fa-dollar-sign color-card-icon"></i></td>
                <td class="text-left">Standard Hourly Fees: {{userInfo?.priceFull}}</td>
              </tr>
            </tbody>
          </table>
          <ng-container *ngIf="userInfo">
            <a *ngIf="userInfo.bookingUrl" class="btn border-blue text-blue px-5" [href]="userInfo.bookingUrl" target="_blank">Book</a>
            <button *ngIf="!userInfo.bookingUrl && isLoggedIn" class="btn border-blue text-blue px-5" type="button" data-toggle="modal" data-target="#bookingmodal">Book</button>
            <button *ngIf="!userInfo.bookingUrl && !isLoggedIn" class="btn border-blue text-blue px-5" type="button" (click)="loginModal.show()">Login to Book</button>  
          </ng-container>
        </div>
  
        <!-- videos-->
        <div class="rounded shadow overflow-hidden pb-3 mb-5">
          <div class="m-3 d-flex align-items-center justify-content-between">
            <h5 class='m-0'>
              <span class="text-blue">Video</span>
              <span class="ml-2 font-small" *ngIf="userInfo && userInfo.videos.length>0">{{userInfo.videos.length}}</span>
            </h5> 
            <div *ngIf="userInfo && userInfo.videos.length > 0" class="text-right">
              <button *ngIf="iframe.length > countVideoShown" 
                (click)="showMoreVideo()"
                class="btn border-blue text-blue font-small" 
                type="button"
              >Load more videos</button>

              <button *ngIf="iframe.length <= countVideoShown && iframe.length > defaultVideoCount"
                (click)="showLessVideo()"
                class="btn border-blue text-blue font-small" 
                type="button"
              >Show less videos</button>
            </div>
          </div>

          <post-dummy *ngIf="!userInfo"></post-dummy>

          <div *ngIf="userInfo" class="px-3">
            <ul *ngIf="userInfo.videos.length>0" class="list-unstyled m-0 p-0">
              <li *ngFor="let v of iframe; let i = index;" class="mb-3">
                <div class="video" *ngIf="i<countVideoShown" [innerHTML]="v"></div>
              </li>
            </ul>

            <p *ngIf="userInfo.videos.length == 0" class="m-0">No videos</p>
          </div>
        </div>
      
        <!-- endosements -->
        <div class="rounded shadow overflow-hidden mb-5">
          <div class="card-title font-big font-md-regular text-center m-0">Endorsement</div>
          <div class="px-3 py-5 font-italic coming-soon-gradient font-bigger font-weight-bold">Coming soon...</div>

          <!-- <post-dummy *ngIf="!userInfo ||!userInfo.endosements"></post-dummy>
          <div class="px-3">
            <div class="endosement-wrapper py-4" *ngFor="let endosement of userInfo?.endosements;">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="font-weight-bold m-0">
                  {{endosement.name}}
                  <star-rate class="ml-1 d-lg-display" [rate]="endosement.rate" size='small' margin="none"></star-rate>
                </p>
                <button class='btn' type='button'><i class="fas fa-share-alt text-blue font-big"></i></button>
              </div>
              <a class="btn border-blue text-blue mb-3" type="button">view website</a>
              <div class="endosement-images mb-3"></div>
              <p class="m-0">{{endosement.desc}}</p>  
            </div>
          </div>
          <div class="text-center my-3">
            <button class="btn text-blue border-blue">Load more</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal login -->
<div
  class="modal fade"
  bsModal
  #loginModal="bs-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="messagemodal"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
    style="margin: auto !important;width:100%"
  >
    <div class="modal-content mk-border position-relative">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">
          <img
            src="assets/img/logo.png"
            class="mb-3"
            style="max-width: 220px;"
          />
        </h5>
        <button
          type="button"
          class="close position-absolute"
          (click)="loginModal.hide()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-4">
        <form-auth [staySamePage]="true" (changeState)="onChangeLoginState($event)"></form-auth>
      </div>
    </div>
  </div>
</div>


<!-- Modal Booking -->
<div
  class="modal fade"
  id="bookingmodal"
  data-backdrop="static" role="dialog"
  role="dialog"
  aria-labelledby="bookingmodal"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
    style="margin: auto !important;width:100%"
  >
    <div class="modal-content mk-border position-relative">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">
          Booking
        </h5>
        <button
          type="button"
          #closebutton
          class="close position-absolute"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-4">
        <form role="form" [formGroup]="bookingForm" (ngSubmit)="bookApointment()">
          <div class="form-row">

            <div class="col-md-12 mb-3">
              <label>Name <span class="text-danger">*</span></label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Enter Your Name"
              />
              <div *ngIf="submitted && f.name.invalid"  class="error-msg">
                <small *ngIf="f.name.errors.required"   class="text-danger">Name is required</small>
                <small *ngIf="f.name.errors.maxlength"  class="text-danger">Name too long</small>
                <small *ngIf="f.name.errors.pattern"    class="text-danger">Invalid name</small>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label>Email Address <span class="text-danger">*</span></label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                placeholder="Enter Your Email Address"
              />
              <div *ngIf="submitted && f.email.invalid" class="error-msg">
                <small *ngIf="f.email.errors.required"  class="text-danger">Email is required</small>
                <small *ngIf="f.email.errors.email"     class="text-danger">Email must be a valid email address</small>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label>Phone <span class="text-danger">*</span></label>
              <input
                type="tel"
                formControlName="phone"
                class="form-control"
                placeholder="Enter Your Phone Number"
              />
              <div *ngIf="submitted && f.phone.invalid" class="error-msg">
                <small *ngIf="f.phone.errors.required"  class="text-danger">Phone number is required</small>
                <small *ngIf="f.phone.errors.pattern"   class="text-danger">Phone number invalid</small>
                <small *ngIf="!f.phone.errors.pattern && f.phone.errors.minlength" class="text-danger">Phone number too short</small>
                <small *ngIf="!f.phone.errors.pattern && f.phone.errors.maxlength" class="text-danger">Phone number too long</small>
              </div>
            </div>
            <!-- <div class="col-md-12 mb-3">
              <div class="row">
                <div  class="col-md-6" *ngFor="let item of timingList; let i = index"> 
                  <label for="{{item.id}}">
                      <input class="radio" type="checkbox" value="{{item.name}}" required id="{{item.id}}" (change)="timingSelected($event)"
                      formControlName="timing"/>
                      <span class="text-body">{{item.name}}</span>
                      
                  </label>
                </div>
               
              </div>
            </div> -->
            <div class="col-md-12 mb-3">
              <label>Date & Time<span class="text-danger">*</span></label>
              <input 
              class="form-control" [owlDateTime]="dt1" [min]="minDate" [owlDateTimeTrigger]="dt1" placeholder="Date Time"
              formControlName="bookingDateTime">
              <owl-date-time #dt1 [startAt]="startDate"></owl-date-time>
              <div *ngIf="submitted" class="error-msg">
                <small *ngIf="f.bookingDateTime.errors"  class="text-danger">
                  Booking Date&time is required
                </small>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label>Notes</label>
              <textarea
                class="form-control"
                type="text"
                formControlName="note"
              ></textarea>
              <div *ngIf="submitted && f.note.invalid" class="error-msg">
                <small *ngIf="f.note.errors.maxlength"  class="text-danger">Please enter within 250 characters</small>
              </div>
            </div>

            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary">Save</button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

                    