<header>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light main-header position-fixed shadow-sm w-100"
  >
    <div class="container">
      <a class="navbar-brand" href="#"><img src="assets/img/logo.png"/></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>


          <li class="nav-item dropdown"> 
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">By Category <b class="caret"></b></a>
            <ul class="dropdown-menu multi-level">
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Preventative health</a>
                <!-- Level-->
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Medical care</a></li>
                  <li><a class="dropdown-item" href="#">Oral care</a></li>
                  <li><a class="dropdown-item" href="#">Hearing care</a></li>
                  <li><a class="dropdown-item" href="#">Vision care</a></li>
                </ul>
              </li>



              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Mood and cognition</a>
              
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Mood severity</a>
                    <!-- Level -->
                    <ul class="dropdown-menu">
                      <li><a  class="dropdown-item dropdown-item" href="#">Mild </a></li>
                      <li><a  class="dropdown-item dropdown-item" href="#">High  </a></li>
                      <li><a  class="dropdown-item dropdown-item" href="#">Severe </a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Areas</a>
                    <!-- Level -->
                    <ul class="dropdown-menu">
                      <li><a  class="dropdown-item" href="#">Motivation</a></li>
                      <li><a  class="dropdown-item" href="#">Attention/Focus</a></li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Nutrition</a>
                <!-- Level-->
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Weight management</a></li>
                  <li><a class="dropdown-item" href="#">Digestion and gut health</a></li>
                  <li><a class="dropdown-item" href="#">Food sensitivities </a></li>
                  <li><a class="dropdown-item" href="#">Chronic disease management</a> </li>
                  <li><a class="dropdown-item" href="#">Eating disorder recovery</a> </li>
                  <li><a class="dropdown-item" href="#">Hormone imbalance</a> </li>
                </ul>
              </li>

              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Fitness</a>
                <!-- Level-->
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Yoga</a></li>
                  <li><a class="dropdown-item" href="#">Pilates </a></li>
                  <li><a class="dropdown-item" href="#">Strength training/toning</a></li>
                  <li><a class="dropdown-item" href="#">High intensity interval training</a></li>
                  <li><a class="dropdown-item" href="#">Running</a> </li>
                  <li><a class="dropdown-item" href="#">Spin/Cycling</a></li>
                  <li><a class="dropdown-item" href="#">Sports specific conditioning</a> </li>
                 
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Sleep</a>
              
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Sleep disorder</a>
                    <!-- Level -->
                    <ul class="dropdown-menu">
                      <li><a  class="dropdown-item dropdown-item" href="#">Natural </a></li>
                      <li><a  class="dropdown-item dropdown-item" href="#">Medical treatments</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Delay aging</a>
                <!-- Level-->
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Natural remedies</a></li>
                  <li><a class="dropdown-item" href="#">Laser treatments </a></li>
                  <li><a class="dropdown-item" href="#">Skin treatments </a></li>
                  <li><a class="dropdown-item" href="#">Hair treatments </a></li>
                  <li><a class="dropdown-item" href="#">Body treatments  </a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Immune system and energy</a>
                <!-- Level-->
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Natural remedies</a></li>
                  <li><a class="dropdown-item" href="#">Supplements </a></li>
                  <li><a class="dropdown-item" href="#">IV therapy </a></li>
                  <li><a class="dropdown-item" href="#">Energy healing </a></li>
                </ul>
              </li>


              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Pain management</a>
              
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Severity</a>
                    <!-- Level -->
                    <ul class="dropdown-menu">
                      <li><a  class="dropdown-item dropdown-item" href="#">	Acute </a></li>
                      <li><a  class="dropdown-item dropdown-item" href="#">	Sub-acute  </a></li>
                      <li><a  class="dropdown-item dropdown-item" href="#">	Chronic </a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Nature of pain </a>
                    <!-- Level -->
                    <ul class="dropdown-menu">
                      <li><a  class="dropdown-item" href="#">Injuries</a></li>
                      <li><a  class="dropdown-item" href="#">Pre-post surgery</a></li>
                      <li><a  class="dropdown-item" href="#">Chronic condition</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Orthopaedic Areas </a>
                    <!-- Level -->
                    <ul class="dropdown-menu">
                      <li><a  class="dropdown-item" href="#">Headache</a></li>
                      <li><a  class="dropdown-item" href="#">Back</a></li>
                      <li><a  class="dropdown-item" href="#">Neck</a></li>
                      <li><a  class="dropdown-item" href="#">Shoulder</a></li>
                      <li><a  class="dropdown-item" href="#">Wrist/hand</a></li>
                      <li><a  class="dropdown-item" href="#">Elbow</a></li>
                      <li><a  class="dropdown-item" href="#">Knee</a></li>
                      <li><a  class="dropdown-item" href="#">Hip</a></li>
                      <li><a  class="dropdown-item" href="#">Ankle/foot</a></li>
                      <li><a  class="dropdown-item" href="#">Jaw</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle dropdown-item" data-toggle="dropdown">Women/Men’s health</a>
                <!-- Level 2 -->
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Reproductive health/fertility</a></li>
                  <li><a class="dropdown-item" href="#">Hormones </a></li>
                  <li><a class="dropdown-item" href="#">PMS  </a></li>
                  <li><a class="dropdown-item" href="#">Maternity/pre and postnatal  </a></li>
                  <li><a class="dropdown-item" href="#">Menopause  </a></li>
                  <li><a class="dropdown-item" href="#">Sexual health </a></li>
                </ul>
              </li>
            </ul>
          </li>



<!-- 
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >By Category</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item">Fitness</a>
              <a class="dropdown-item">Sleep</a>
              <a class="dropdown-item">Yoga</a> 
            </div>
          </li> -->


          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              data-toggle="dropdown"
              href="#"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
              >Solutions</a
            >
            <div class="dropdown-menu">
              <a class="dropdown-item" [routerLink]="['/client']"
                ><i class="fa fa-user"></i> Client</a
              >
              <a class="dropdown-item" [routerLink]="['/professional']"
                ><svg
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fas"
                  data-icon="user-tie"
                  style="height: 15px;"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                  class="fa fa-user-tie"
                >
                  <path
                    fill="currentColor"
                    d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm95.8 32.6L272 480l-32-136 32-56h-96l32 56-32 136-47.8-191.4C56.9 292 0 350.3 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-72.1-56.9-130.4-128.2-133.8z"
                  ></path>
                </svg>
                Professional</a
              >
              <a class="dropdown-item" [routerLink]="['/enterprise']"
                ><i class="fa fa-building-o"></i> Enterprise</a
              >
            </div>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href=""
              data-toggle="modal"
              data-target="#pricingmodal"
              >Pricing</a
            >
          </li>

          <li class="nav-item">
            <a
              *ngIf="!token"
              class="nav-link"
              href=""
              data-toggle="modal"
              data-target="#loginmodal"
              >Login</a>
            
          </li>
          <li
           *ngIf="token" class="nav-item">
              <a
              class="nav-link"
              (click) = "logout()"
              >Logout</a>
          </li>
          <li 
            *ngIf="!token"
            class="nav-item">
            <a class="nav-link">OR</a>
          </li>
          <li
            *ngIf="!token"
            class="nav-item">
            <a
              class="nav-link btn btn-secondary mr-2 ml-2 pl-3 pr-3"
              href=""
              data-toggle="modal"
              data-target="#exampleModal"
              >Join network</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<div class="spacer-top"></div>

<!-- Modal signup -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
    style="margin: auto !important;width:100%"
  >
    <div class="modal-content mk-border">
      <div class="modal-header">
        <h5
          class="modal-title w-100 text-center"
          id="exampleModalLabel"
          style="text-indent: 56px;"
        >
          Join network
        </h5>
        <button
          #fileInput
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center pb-4">
        <div class="text-center">
          <img
            src="assets/img/logo.png"
            class="mb-3"
            style="max-width: 220px;"
          />
        </div>
        <div class="text-secondary font-weight-bold mb-3">Are You A</div>
        <a
          class="btn btn-primary w-100 mr-2"
          (click)="professionalOption = !professionalOption" 
          style="max-width: 175px;"
          >PROFESSIONAL</a
        >
        or
        <a
          class="btn btn-secondary w-100 ml-2"
          [routerLink]="['/auth/registrationu']"
          data-dismiss="modal"
          style="max-width: 175px;"
          aria-label="Close"
          >USER</a
        >
      </div>
      <div class="mb-3 text-center" *ngIf="professionalOption">
        <div class="radio mb-3">
          <input type="radio" name="serviceProvider" (change) ="handleChange('/auth/registrationsp')"/>
          <span class="font-weight-bold">Service Provider</span>
        </div>
        <div class="radio">
          <input type="radio" name="Center"  (change) ="handleChange('/auth/registrationc')"/>
          <span class="font-weight-bold">Center</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal login -->
<div
  class="modal fade"
  id="loginmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loginmodal"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
    style="margin: auto !important;width:100%"
  >
    <div class="modal-content mk-border">
      <div class="modal-header">
        <h5
          class="modal-title w-100 text-center"
          id="exampleModalLabel"
          style="text-indent: 56px;"
        >
          Login
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center pb-4">
        <div class="text-center">
          <img
            src="assets/img/logo.png"
            class="mb-3"
            style="max-width: 220px;"
          />
        </div>
        <div class="text-secondary font-weight-bold mb-3">Are You A</div>
        <a
          class="btn btn-primary w-100 mr-2"
          (click)="professionalOption = !professionalOption" 
          style="max-width: 175px;"
          >PROFESSIONAL</a
        >
        or
        <a
          class="btn btn-secondary w-100 ml-2"
          [routerLink]="['/auth/loginu']"
          data-dismiss="modal"
          style="max-width: 175px;"
          aria-label="Close"
          >USER</a
        >
      </div>
      <div class="mb-3" *ngIf="professionalOption">
        <div class="radio">
          <input type="radio" name="serviceProvider" (change) ="handleChange('/auth/loginsp')"/>
          <span>Service Provider</span>
        </div>
        <div class="radio">
          <input type="radio" name="Center"  (change) ="handleChange('/auth/loginc')"/>
          <span>Center</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal pricing -->
<div
  class="modal fade"
  id="pricingmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loginmodal"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
    style="margin: auto !important;width:100%"
  >
    <div class="modal-content mk-border">
      <div class="modal-header">
        <h5
          class="modal-title w-100 text-center"
          id="pricingModalLabel"
          style="text-indent: 56px;"
        >
          Pricing
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center pb-4">
        <div class="text-center">
          <img
            src="assets/img/logo.png"
            class="mb-3"
            style="max-width: 220px;"
          />
        </div>
        <div class="text-secondary font-weight-bold mb-3">Are You A</div>
        <a
          class="btn btn-primary w-100 mr-2"
          [routerLink]="['/dashboard/subscriptionplan']"
          data-dismiss="modal"
          aria-label="Close"
          style="max-width: 175px;"
          >PROFESSIONAL</a
        >
        or
        <a
          class="btn btn-secondary w-100 ml-2"
          [routerLink]="['/dashboard/subscriptionplan']"
          data-dismiss="modal"
          style="max-width: 175px;"
          aria-label="Close"
          >USER</a
        >
      </div>
    </div>
  </div>
</div>
