@import "../../../assets/scss/style.scss";

.main-header {
  z-index: 999;
}

.dropdown-menu,
.dropdown-item {
  color: inherit;
}

.navbar-brand img {
  max-width: 200px;
}

.modal.fade.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .navbar-brand img {
    max-width: 155px;
  }
}
