<header class="bg-primary-light py-5p py-md-15p sticky-top" [ngClass]="{hide: !isHeaderShown, shadow: isShadowShown}">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <a routerLink="/">
          <img class="d-lg-none" src="assets/img/logo-sm.png" alt="PromptHealth" width="auto" height="20">
          <img class="d-none d-lg-block" src="assets/img/logo.png" alt="PromptHealth" width="auto" height="25">
        </a>
      </div>
      <nav>
        <div class="d-lg-none">
          <a routerLink="/community" class="btn btn-primary small">
            <i iconPh="users"></i>
            <span>Community</span>
          </a>

          <button class="btn btn-icon small pr-0 ml-10p" (click)="showMenuSm()">
            <i iconPh="menu" class="large"></i>
          </button>
        </div>  

        <ul class="d-none d-lg-flex justify-content-between align-items-center list-unstyled mb-0 subtitle2 text-body">
          <li class="mx-10p">
            <a routerLink="/practitioners" class="text-body">Find Practitioners</a>
          </li>
          <li class="mx-10p">
            <a routerLink="/products" class="text-body">Products</a>
          </li>
          <!-- <li class="mx-10p">
            <a href="" class="text-body">About</a>
          </li> -->
          <li *ngIf="priceType != null" class="mx-10p">
            <a *ngIf="priceType == 'practitioner'" class="text-body" routerLink="/plans">Pricing</a>
            <a *ngIf="priceType == 'product'" class="text-body" routerLink="/plans/product">Pricing</a>
          </li>
          <li class="mx-10p">
            <a routerLink="/magazines" class="text-body">Magazine</a>
          </li>

          <li class="mx-10p" *ngIf="!isLoggedIn">
            <a routerLink="/auth/login" class="text-body">Login</a> 
            / 
            <a (click)="onClickRegisterMd()" class="text-body">Register</a>
          </li>
          <li class="mx-10p" *ngIf="isLoggedIn" #dashboardButton>
            <dashboard-menu id="dashboardMenuButton" ui="button" buttonDirection="right"
            [styleButton]="{background: '#ffffff33'}" [user]="user"
            (click)="toggleDashboardMenuMdVisibility()"
            ></dashboard-menu>
          </li>
          <li class="ml-10p">
            <a routerLink="/community/feed" class="btn btn-primary small">
              <i iconPh="users"></i>
              <span>Community</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<dashboard-menu 
class="d-none d-lg-block position-fixed dashboard-menu-wrapper-md" *ngIf="isDashboardMenuShown"
[@fadeFast] 
[user]="user" 
[scrollDetector]="isDashboardMenuShown" 
[offset]="50"
[ngStyle]="positionDashboardMenuMd"
(detect)="isDashboardMenuShown = false;" 
(logout)="logout()" 
(clickOutside)="onClickOutsideOfDashboardMenuMd($event)"
(menuSelected)="onClickDashboardMenuItemMd($event)">
</dashboard-menu>


<!-- Menu for Small view-->
<div class="menu-sm bg-primary-light" *ngIf="isMenuSmShown">
  <div class="menu-top py-5p py-md-15p container text-right">
    <a routerLink="/community" class="btn btn-primary small">
      <i iconPh="users"></i>
      <span>Community</span>
    </a>
    <button class="btn btn-icon small close-menu-sm pr-0 ml-10p">
      <i class="large" iconPh="cross" (click)="hideMenuSm()"></i>
    </button>  
  </div>

  <div class="d-flex flex-nowrap overflow-hidden mt-60p" #menuSm>
    <div class="menu-inner">
      <div class="container">
        <list-item (onTap)="onClickMenuItemSm('/')">
          <div class="subtitle1 text-primary" >Home</div>  
        </list-item>

        <list-item (onTap)="onClickMenuItemSm('/practitioners')">
          <div class="subtitle1 text-primary">Find Practioners</div>  
        </list-item>

        <list-item (onTap)="onClickMenuItemSm('/products')">
          <div class="subtitle1 text-primary">Products/Services</div>  
        </list-item>

        <list-item *ngIf="priceType == 'practitioner'" (onTap)="onClickMenuItemSm('/plans')">
          <div class="subtitle1 text-primary">Pricing</div>  
        </list-item>

        <list-item *ngIf="priceType == 'product'" (onTap)="onClickMenuItemSm('/plans/product')">
          <div class="subtitle1 text-primary">Pricing</div>  
        </list-item>

        <list-item (onTap)="onClickMenuItemSm('/magazines')">
          <div class="subtitle1 text-primary">Magazine</div>  
        </list-item>

        <list-item *ngIf="!isLoggedIn">
          <div>
            <a class="subtitle1" (click)="onClickMenuItemSm('/auth/login')">Login</a>
            <span> / </span>
            <a class="subtitle1" (click)="onClickRegisterSm()">Register</a>
          </div>
        </list-item>
      </div>
      <dashboard-menu
      *ngIf="isLoggedIn"
      [user]="user"
      (logout)="logoutSm()"
      (menuSelected)="onClickMenuItemSm($event)"
      ></dashboard-menu>
    </div>
  </div> 
</div>


<!-- modal: user-type-menu -->
<div 
*ngIf="isUserTypeMenuShown"
class="modal-view modal-user-type-menu"
>
  <div class="modal-drop"
  (click)="hideUserTypeMenu()"
  ></div>
  <div 
  class="modal-body"
  style="max-width: 600px; width: 90vw; overflow: visible;"
  >
    <div class="content-container">
      <div class="image-container position-absolute bg-white rounded-circle">
        <img src="/assets/img/signup-modal.png" alt="sign up">
      </div>
      <h3 class="my-4 text-primary h3 h2-md">
        I AM 
        <span class="hidden-i5">...</span>
      </h3>

      <div class="mt-3 d-flex justify-content-between flex-column flex-md-row position-relative">
        <a class="btn btn-primary mx-md-4 flex-grow-1" 
        (click)="onClickUserTypeMenuItem('client', '/auth/registration/u')" 
        >Health Seeker</a>
        
        <a *ngIf="!onProductPage" 
        class="btn btn-outline mt-3 mt-md-0 mx-md-4 flex-grow-1" 
        (click)="onClickUserTypeMenuItem('practitioner', '/plans')"
        >Health Provider</a>
        
        <a *ngIf="onProductPage" 
        class="btn btn-outline mt-3 mt-md-0 mx-md-4 flex-grow-1" 
        (click)="onClickUserTypeMenuItem('product', '/plans/product')" 
        >Product Provider</a>
      </div>
    </div>

  </div>
</div>