<ng-container *ngIf="faceType == 'provider'">
  <section class="bg-lightyellow py-50p py-lg-100p">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-xl-7">
          <h6 class="text-primary mb-20p">PromptHealth Ambassador Program</h6>
          <h2 class="h3 h2-lg text-primary-dark mb-20p">Open to the PromptHealth Community</h2>
          <p class="mb-30p mb-lg-0p">
            Join our mission to help people connect with holistic wellness services and solutions based on individualized needs quickly and easily. Help spread our message of the importance of personalized wellness journey with your clients.        </p>  
        </div>
  
        <div class="col-12 col-md-6 col-xl-5">
          <div class="position-relative rounded-12p">
            <img 
            src="/assets/img/ambassador/top.jpg"
            alt="" 
            class="top-image-shadow rounded-12p">
            <img src="/assets/img/ambassador/top.jpg" alt="" class="w-100 position-relative rounded-12p">
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="text-center container">
    <section class="my-100p">
      <h3 class="mb-30p">Eligibility Criteria</h3>
      <p>
        You must be signed up as a wellness provider/center OR company on our platform.
      </p>
    </section>
    
    <section class="my-100p">
      <h3 class="mb-30p">What you do</h3>
      <p class="mb-30p">Stay engaged with the PromptHealth community:</p>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <ul class="body-ambassador text-left">
            <li class="mb-5p">
              Recommend and endorse those you like and trust in the PromptHealth community 
            </li>
            <li class="mb-5p">
              Invite your colleagues to join the PromptHealth community 
            </li>
            <li class="mb-5p">
              Create content on the PromptHealth community page, and share them to your other social media accounts using the share button. 
            </li>
            <li class="mb-5p">
              If sharing on Instagram, use the hashtag #PromptHealthAmbassador with your post. Make sure to tag us @prompthealth! 
            </li>
          </ul>  
        </div>
      </div>
  
      <ng-container *ngIf="!user">
        <div class="d-flex flex-column flex-md-row justify-content-center">
          <a class="btn btn-outline" [routerLink]="['/plans']">Sign up as provider</a>
          <a class="btn btn-outline mt-15p mt-md-0p ml-md-30p" [routerLink]="['/plans/product']">Sign up as company</a>
        </div>
      </ng-container>
    </section>
  
    <section class="my-100p">
      <h3 class="mb-30p">What you get</h3>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <p class="mb-30p">
            We believe in the power of collaboration and want to help eachother out. <br><br>
            The more engaged you are, the more rewards you get. You can keep track of your credits in your dashboards. The credits can be used towards higher tier membership and/or social media services including being featured on our podcast, an interview via Instagram live, and a custom promotional video created by our social media team. 
          </p>
  
          <div 
          *ngIf="user"
          class="d-flex flex-column d-md-block"
          >
            <a [routerLink]="'/dashboard/profilemanagement/my-payment'" class="btn btn-outline">
              Check credit balance
            </a>
          </div>  
        </div>
      </div>
    </section>
  </div>
</ng-container>


<ng-container *ngIf="faceType == 'client' && ambassador">
  <div class="position-relative overflow-hidden pb-5 pt-50p">
    <section class="container text-dark position-relative">
      <div class="d-flex justify-content-center">
        <div>
          <a [routerLink]="['/practitioners', practitionerId]">
            <div class="mb-3">
              <div class="text-center">
                <user-image
                style="width: 120px;"
                [image]="ambassador.profileImage ? AWS_S3 + ambassador.profileImage: 'assets/img/default_user.jpg'"
                [alt]="ambassador.firstName"
                [verified]="ambassador.verifiedBadge"
                shadowVerified="0 0 5px #307dd6"
                badgeSize="35"
                ></user-image>  
              </div>
            </div>
            <h3 class="text-center pb-1 mr-2">
              {{ambassador.firstName + ambassador.lastName}}
            </h3>
          </a>
        </div>
      </div>
      <h2 class="h4 h2-md text-gradient-blue my-5 text-center">
        Invites you to check out PromptHealth, your personalised health concierge
      </h2>
  
      <div class="my-5 py-4 text-center">
        <a class="btn btn-primary" [routerLink]="['/']" (click)="countup()">
          Get Started
        </a>
      </div>
      <ul class="row how-ph-work list-unstyled m-0 p-0">
        <li class="col-12 col-md-3 blur p-3">
          <div class="image-container mb-3">
            <img src="assets/img/how-ph-work2/search.png" alt="">
          </div>
          <h4 class="text-center text-primary-dark mb-3">Search</h4>
          <p>Get started with personal match, or search by treatment types.</p>
        </li>
        <li class="col-12 col-md-3 mt-5 mt-md-0 blur p-3">
          <div class="image-container mb-3">
            <img src="assets/img/how-ph-work2/filter.png" alt="">
          </div>
          <h4 class="text-center text-primary-dark mb-3">Filter</h4>
          <p>
            Apply filters to your search to narrow down the options.
          </p>
        </li>
        <li class="col-12 col-md-3 mt-5 mt-md-0 blur p-3">
          <div class="image-container mb-3">
            <img src="assets/img/how-ph-work2/book.png" alt="">
          </div>
          <h4 class="text-center text-primary-dark mb-3">Compare</h4>
          <p>
            Do side by side comparisons and check out ratings and reviews.
          </p>
        </li>
        <li class="col-12 col-md-3 mt-5 mt-md-0 blur p-3">
          <div class="image-container mb-3">
            <img src="assets/img/how-ph-work2/session.png" alt="">
          </div>
          <h4 class="text-center text-primary-dark mb-3">Session</h4>
          <p>
            Directly request a booking and enjoy your treatment with relaxation and ease.
          </p>
        </li>
      </ul>
  
    </section>
  </div>
</ng-container>
