<div class="d-flex flex-nowrap">
  <ng-container *ngFor="let item of data; let i = index;">
    <div *ngIf="i != 0" class="hand mx-10p flex-grow-1"></div>
    <div 
    style="width:36px; height: 36px;"
    class="rounded-circle position-relative"
    [ngClass]="{'bg-primary text-white': isItemActive(i), 'bg-success text-white': isItemDone(i), 'text-label bg-line': isItemInactive(i)}"
    >
      <span 
      class="position-absolute" 
      style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
      >
        {{i + 1}}
      </span>
    </div>  
  </ng-container>
</div>