<div class="d-flex justify-content-center border-bottom border-line mb-15p">
  <a
  class="text-body subtitle1 btn btn-text px-0 small"
  [ngClass]="(rla2.isActive ? 'active' : '')"
  routerLink="../followings"
  #rla2="routerLinkActive"
  routerLinkActive
  [routerLinkActiveOptions]="{exact: true}"
  [replaceUrl]="true"
  >Following</a>
  
  <a
  *ngIf="!user?.isU"
  class="text-body subtitle1 btn btn-text px-0 small ml-30p"
  [ngClass]="(rla1.isActive ? 'active' : '')"
  routerLink="../followers"
  #rla1="routerLinkActive"
  routerLinkActive
  [routerLinkActiveOptions]="{exact: true}"
  [replaceUrl]="true"
  >Followers</a>
</div>

<ng-container *ngIf="follows">
  <ul class="bg-white rounded-8p px-15p px-md-30p list-unstyled">
    <li *ngFor="let follow of follows; let i = index">
      <div
      class="d-flex py-20p py-md-30p"
      [ngClass]="(i < follows.length - 1 ? 'border-bottom border-line' : '')"
      >
        <profile-image
        [image]="follow.profileImage"
        size=50
        ></profile-image>
        <div class="flex-grow-1 d-flex justify-content-between flex-wrap flex-md-nowrap ml-10p">
          <div class="name-container">
            <div class="subtitle1">{{follow.nickname}}</div>
            <div class="body2 text-label description">{{follow.description}}</div>
          </div>
          <div
          *ngIf="!follow.isU"
          class="mt-10p mt-md-0p ml-md-30p"
          >
            <a
            [routerLink]="['/community/profile', follow._id]"
            class="btn btn-outline small text-nowrap"
            >See profile</a>
          </div>
        </div>
      </div>
    </li>
  </ul>

  <div
  *ngIf="follows && follows.length == 0"
  class="subtitle1 mt-25p text-center"
  >
    <card-no-content [label]="'No ' + followTypeFormatted + ' yet!'"></card-no-content>
    <a 
    *ngIf="followType == 'following'"
    class="btn btn-primary mt-30p"
    routerLink="/practitioners"
    >Find providers</a>
  </div>

  <div 
  *ngIf="existsMore && !isLoading"
  class="text-center"
  >
    <button
    class="btn btn-text small"
    (click)="fetchFollowData()"
    >Load more</button>
  </div>
</ng-container>

<div 
*ngIf="isLoading"
class="text-center mt-25p"
>
  <loader></loader>
</div>