<div class="input-group rounded"
[ngClass]="{error: (controller.errors && submitted), success: (!controller.errors && submitted), 'transparent': _option.transparent, 'disabled': disabled}"
>
  <div class="input-group-prepend" *ngIf="prepend || prependIcon">
    <span class="input-group-text" *ngIf="prepend">{{prepend}}</span>
    <span class="input-group-text text-placeholder" *ngIf="prependIcon">
      <i [iconPh]="prependIcon"></i>
    </span>
  </div>
  <input [type]="type" [id]="name" class="form-control"
  (focus)="_onFocus()"
  (blur)="_onBlur()"
  [formControl]="controller" [attr.disabled]="disabled ? 'disabled' : null"
  [placeholder]="placeholder"
  [attr.autocomplete]="autocomplete"
  >
</div>
<div 
*ngIf="max || controller.errors"
class="d-flex justify-content-end mt-1" 
>
  <form-item-errors class="flex-grow-1" [controller]="controller" [submitted]="submitted" [label]="label"></form-item-errors>
  <span *ngIf="max > 0" class="flex-grow-0 font-small" 
  [ngClass]="!controller.dirty ? 'text-secondary' : controller.errors ? 'text-danger' : 'text-success'"
  >{{controller.value.length}}/{{max}}</span>
</div>