<div class="input-group rounded"
[ngClass]="{error: (controller.errors && submitted), success: (!controller.errors && submitted), 'transparent': _option.transparent, 'disabled': disabled}"
>
  <div class="input-group-prepend" *ngIf="prepend || prependIcon">
    <span class="input-group-text" *ngIf="prepend">{{prepend}}</span>
    <span class="input-group-text text-placeholder" *ngIf="prependIcon">
      <i [iconPh]="prependIcon"></i>
    </span>
  </div>
  <input 
  [type]="_type" 
  [id]="name" 
  class="form-control"
  (focus)="_onFocus()"
  (blur)="_onBlur()"
  [formControl]="controller" 
  [attr.disabled]="disabled ? 'disabled' : null"
  [placeholder]="placeholder"
  [attr.autocomplete]="autocomplete"
  [attr.autocapitalize]="autocapitalize"
  >
  <div 
  class="input-group-append" 
  *ngIf="type == 'password'"
  >
    <span class="input-group-text" (click)="onClickLock()">
      <i [iconPh]="(_type == 'password') ? 'lock-2' : 'lock-2-opened'"></i>
    </span>    
  </div>
  <div 
  *ngIf="_option.showRemoveButton && controller.value"
  class="input-group-append"
  >
    <span 
    class="input-group-text" 
    (click)="onClickReset()"
    >
      <i iconPh="cross-circle"></i>
    </span>
  </div>
</div>
<div class="d-flex justify-content-end mt-1">
  <form-item-errors 
  class="flex-grow-1" 
  [controller]="controller" 
  [submitted]="submitted" 
  [label]="label"
  ></form-item-errors>
  
  <span 
  *ngIf="max > 0 && !disabled" 
  class="flex-grow-0 caption" 
  [ngClass]="!controller.dirty ? 'text-placeholder' : controller.errors ? 'text-danger' : 'text-success'"
  >{{controller.value.length}}/{{max}}</span>
</div>