<div class="input-group">
  <input 
  [id]="name" 
  class="form-control" 
  [ngClass]="{error: ((address.errors || controllerGroup.errors) && submitted)}"
  [formControl]="address"
  [attr.disabled]="disabled ? 'disabled' : null"
  (input)="onChangeAddress()"
  (keydown.enter)="$event.preventDefault()"
  >
</div>

<div class="d-flex justify-content-end mt-1 font-small">
  <ul class="errors text-danger flex-grow-1" *ngIf="submitted && (controllerGroup.invalid)">
    <li *ngIf="address.errors?.required">{{label}} is required.</li>
    <li *ngIf="controllerGroup.errors?.addressSelectedFromSuggestion">Please select address from suggestion.</li>
  </ul> 
</div>