<div class="input-group">
  <input 
  [id]="name" 
  class="form-control" 
  [ngClass]="{error: ((controllerGroup.errors || fAddress.errors) && submitted), success: ((!controllerGroup.errors && !fAddress.errors) && submitted)}"
  [formControl]="fAddress"
  [attr.disabled]="disabled ? 'disabled' : null"
  (input)="onChangeAddress()"
  (keydown.enter)="$event.preventDefault()"
  >
</div>

<div class="d-flex justify-content-end mt-1" *ngIf="fAddress.errors">
  <form-item-errors class="flex-grow-1" [controller]="fAddress" [submitted]="submitted" [label]="label"></form-item-errors>
</div>
<div class="d-flex justify-content-end mt-1" *ngIf="controllerGroup.errors">
  <form-item-errors class="flex-grow-1" [controller]="controllerGroup" [submitted]="submitted" [label]="label"></form-item-errors>
</div>
