@import '../../../assets/scss/variables';

:host{
  display: inline-block;
  width: 100px;
}

.rounded-rect {
  border-radius: 30%;
}

.image-container{
  position: relative;
  width: 100%;

  &::after{
    content: '';
    display: block;
    padding-top: 100%;
  }
}

img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background: white;
}

i {
  position: absolute;
  top: 84%;
  left: 89%;
  transform: translate(-50%, -50%);
  transform-origin: center;

  ::ng-deep {
    .path1::before{
      color: $colorPrimaryLight;
      opacity: 1;
    }
  }
}