@import "../../../assets/scss/mixins";

.profileBox {
  h5.text-uppercase {
    font-size: 16px !important;
    line-height: 22px !important;
  }
  .profileimg {
    border: 1px solid $secondaryColor;
    min-height: 185px;
    border-bottom: 5px solid $primaryColor;
  }
  > *:nth-child(2) {
    border-bottom: 5px solid #c2c3c5;
    border-right: 7px solid $secondaryColor;
  }
}

.compareprofilebox {
  position: relative;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  > .fa {
    position: absolute;
    right: -6px;
    top: -6px;
    color: #fff;
    font-size: 13px;
    padding: 2px;
    cursor: pointer;
    background-color: #f44336;
  }
  .compareprofileimg {
    max-width: 96px;
    border: 1px solid;
  }
}

hr {
  margin: 22px 0;
}

.checkboxBtn {
  display: inline-block;
  position: relative;
  .fa-square {
    height: 12px;
  }
  .fa-check-square {
    display: none;
  }
  > input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    &:checked {
      + * {
        .fa-square {
          display: none;
        }
        .fa-check-square {
          display: inline-block;
        }
        background-color: $primaryColor !important;
        color: #fff !important;
      }
    }
  }
}

.radio {
  position: relative;
  font-weight: 500;
  margin-bottom: 10px;
  > input {
    margin-right: 10px;
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      cursor: pointer;
    }
    &:checked {
      + * {
        color: $primaryColor;
      }
    }
  }
}

.filterOverflow {
  overflow: auto;
  max-height: 150px;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: #c2c3c5;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 50px;
  }
}

.text-review {
  color: #ffc91d;
}


.like-input{
  position: relative;
  display: inline-block;
  font-size: 26px;
  padding: 6px;

  &:hover{
    transform: scale(1.2,1.2);
  }

  .fa{
    color: #4a86abd9;
  }

  >input{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    cursor: pointer;
    opacity: 0;

    &:checked ~ {
      .fa{
        color:#db4437db;
      }
    }
  }
}