<section class="pt-5 pb-5">
  <agm-map [latitude]="lat" [longitude]="long" [scrollwheel]="true" [fullscreenControl]="true"  [mapTypeId]="'hybrid'" >
  <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
  </agm-map>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3">
       <div class="text-right mb-3">
         <button class="btn btn-primary" (click)="removeFilter()">Remove All Filtes</button>
       </div>
        <h6 class="mb-3 text-primary">Travel Distance from Zip Code</h6>

        <div class="mb-3">
          <input 
            id="address"
            name="address" 
            type="text"
            class="form-control"
            #searchGlobal
          />
        </div>

        <div class="mb-3" *ngIf="listingPayload.zipcode.length">
          <div class="radio">
            <input type="radio" name="zipcode" value="exactZipCode"
            (change)="changeMiles($event)"/>
            <span>Exact Zip Code</span>
          </div>
          <div class="radio">
            <input type="radio" name="zipcode" value="10"
            (change)="changeMiles($event)"/>
            <span>Less than 10 miles</span>
          </div>
          <div class="radio">
            <input type="radio" name="zipcode" value="20"
            (change)="changeMiles($event)"/>
            <span>Less than 20 miles</span>
          </div>
          <div class="radio">
            <input type="radio" name="zipcode"  value="30"
            (change)="changeMiles($event)"/>
            <span>Less than 30 miles</span>
          </div>
        </div>

        <hr />

        <h6 class="mb-3 text-primary">Therapist Name</h6>

        <div class="d-flex mb-3">
          <div class="ng-autocomplete">
            <ng-autocomplete 
              [data]="allDoctorList"
              placeHolder="Enter the Service Provider Name"
              [searchKeyword]="keyword"
              (selected)='selectEvent($event)'
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate">                                 
            </ng-autocomplete>
             
            <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
            </ng-template>
             
            <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
            </ng-template>
           </div>
        </div>
        <hr />

        <h6 class="mb-3 text-primary">Ratings</h6>
        <div class="mb-3">
          <select class="form-control"  #ratings (change)="onOptionsSelected(ratings.value, 'rating')">
            <option *ngFor="let opt of ratingsOption" [value] = "opt._id" [id]="opt._id">{{opt.item_text}}</option>
          </select>
        </div>
        <hr />

        <h6 class="mb-3 text-primary">Hours of Availability</h6>
       
        <div class="mb-3">
          <select class="form-control"  #hours (change)="onOptionsSelected(hours.value, 'hours')">
          <option *ngFor="let opt of avalibilityQuestion?.answers" [value] = "opt._id" [id]="opt._id">{{opt.item_text}}</option>
        </select>
        </div>
        <hr />

        <h6 class="mb-3 text-primary">Provider language</h6>
       
        <div class="mb-3">
          <select class="form-control"  #language (change)="onOptionsSelected(language.value, 'language')">
            <option *ngFor="let opt of languageQuestion?.answers" [value] = "opt._id" [id]="opt._id">{{opt.item_text}}</option>
          </select>
        </div>
        <hr/>

        <h6 class="mb-3 text-primary">Service Type</h6>
       
        <div class="mb-3">
          <select class="form-control"  #serviceType (change)="onOptionsSelected(serviceType.value, 'serviceType')">
            <option *ngFor="let opt of serviceQuestion?.answers" [value] = "opt._id" [id]="opt._id">{{opt.item_text}}</option>
          </select>
        </div>
        <hr/>
        <h6 class="mb-3 text-primary">Age Group</h6>

        <div class="mb-3">
          <div class="radio">
            <input type="radio" (change)="changeAge($event)" name="age" value="> 75"/>
            <span>> 75</span>
          </div>
          <div class="radio">
            <input type="radio" (change)="changeAge($event)" name="age" value="65-75"/>
            <span>65-75</span>
          </div>
          <div class="radio">
            <input type="radio" (change)="changeAge($event)" name="age" value="55-65"/>
            <span>55-65</span>
          </div>
          <div class="radio">
            <input type="radio" (change)="changeAge($event)" name="age"  value="45-55"/>
            <span>45-55</span>
          </div>
          <div class="radio">
            <input type="radio" (change)="changeAge($event)" name="age"  value="35-45"/>
            <span>35-45</span>
          </div>
          <div class="radio">
            <input type="radio" (change)="changeAge($event)" name="age"  value="25-35"/>
            <span>25-35</span>
          </div>
          <div class="radio">
            <input type="radio" (change)="changeAge($event)" name="age"  value="18-24"/>
            <span>18-24</span>
          </div>
          <div class="radio">
            <input type="radio" name="age"  value="12-17"/>
            <span>12-17</span>
          </div>
          <div class="radio">
            <input type="radio" name="age"  value="<12"/>
            <span>< 12</span>
          </div>
        </div>

        <hr />

      </div>
      <div class="col-12 col-lg-9">
        <div
          class="d-flex align-items-center justify-content-between text-primary flex-wrap flex-md-nowrap"
        >
          <h3 class="mb-3">Your Experts</h3>
          <div class="text-primary h6 mb-3">
            Number of professionals that meet all your criteria
            <span class="badge badge-secondary"
              >{{ doctorsListing.length }}</span
            >
          </div>
        </div>

        <hr class="mt-0" />

        <div class="p-3 bg-light mb-3 text-right" *ngIf="compareList.length">
          <div
            class="d-inline-flex bg-white compareprofilebox"
            *ngFor="let doc of compareList"
          >
            <a (click)="removefromCopare(doc.userId)" class="fa fa-times"></a>
            <img
              [src]="'http://3.12.81.245:3000/public/images/users/'+ doc.userData.profileImage"
              class="compareprofileimg"
            />
            <div class="p-2">
              <div class="font-weight-bold mb-2">
                {{ doc.userData.firstName }}
              </div>
              <div class="mb-2 font-weight-normal">
                {{ doc.userData.email }}
              </div>
              <div class="text-review mb-2" *ngIf="doc.userData.ratingAvg">
                <div class="text-rating mb-2" *ngIf="doc.userData.ratingAvg === 5">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="text-rating mb-2" *ngIf="doc.userData.ratingAvg === 4">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="text-rating mb-2" *ngIf="doc.userData.ratingAvg === 3">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="text-rating mb-2" *ngIf="doc.userData.ratingAvg === 2">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
                <div class="text-rating mb-2" *ngIf="doc.userData.ratingAvg === 1">
                  <i class="fa fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="d-inline-block text-center">
            <div class="mb-2">
              <a class="text-primary" (click)="clearCompareList()">Clear All</a>
            </div>
            <a (click)="compareDoc()" class="btn btn-outline-primary"
              >Compare</a
            >
          </div>
        </div>

        <div
          class="row m-0 shadow-sm overflow-hidden profileBox mb-4"
          *ngFor="let doc of doctorsListing"
        >
          <div class="col-12 col-lg-3 p-0">
            <!-- <img
              [src]="'http://3.12.81.245:3000/public/images/users/'+doc?.userData?.profileImage"
              class="profileimg" /> -->
            <div
              class="bg-cover w-100 h-100 profileimg"
              [ngStyle]="{'background-image': 'url(http://3.12.81.245:3000/public/images/users/'+ doc.userData.profileImage +')'}"
            >
          
          </div>
          </div>
          <div class="col-12 col-lg-9 p-3">
            <div
              class="d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap"
            >
              <div class="text-primary">
                <a
                  href="/dashboard/detail"
                  [routerLink]="['/dashboard/detail', doc.userId]"
                  class="d-block h5 text-uppercase mb-0"
                  >{{ doc.userData.firstName }}</a
                >
                <div class="mb-2 font-weight-normal">
                  {{doc.userData.email}}
                </div>
                <div class="text-review mb-2" *ngIf="doc.userData.ratingAvg">
                  <div class="text-rating mb-2" *ngIf="doc.userData.ratingAvg === 5">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                  </div>
                  <div class="text-rating mb-2" *ngIf="doc.userData.ratingAvg === 4">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="text-rating mb-2" *ngIf="doc.userData.ratingAvg === 3">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="text-rating mb-2" *ngIf="doc.userData.ratingAvg === 2">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                  <div class="text-rating mb-2" *ngIf="doc.userData.ratingAvg === 1">
                    <i class="fa fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
              </div>

              <div class="ml-0 ml-md-3 mb-2 d-flex justify-content-center">
                <span class="like-input mr-2" *ngIf="loggedInUser && loggedInRole === 'U'">
                  <input type="checkbox" (change)="likeProfile($event, doc.userId)"/>
                  <i class="fa fa-heart"></i>
                </span>

              <div class="checkboxBtn">
                <input
                  type="checkbox"
                  [id]="doc.userId"
                  value="{{doc.userId}}"
                  (change)="compareFields(doc, $event)"
                />
                <span class="btn btn-outline-primary">
                    <i class="far fa-square"></i>
                  <i class="fa fa-check-square"></i>
                  Compare
                </span>
              </div>
              </div>
            </div>

            <div class="mb-2">
              <a
                class="fa fa-phone text-secondary d-inline-block mr-2"
                href="tel:{{doc.userData.phone}}"
              >
                <span>{{doc.userData.phone}}</span>
              </a>
              <a
                class="fa fa-envelope text-secondary d-inline-block mr-2"
                href="mailto:{{doc.userData.address}}"
              >
                <span>{{doc.userData.email}}</span>
              </a>
            </div>
            <div class="mb-2" *ngIf="doc.userData.address">Address</div>
            <div class="desciption text-truncate">
              {{doc.userData.address}}
              <a
                [routerLink]="['/dashboard/detail', doc.userId]"
                class="text-primary font-weight-normal pull-right"
                >Go To Profile <i class="fa fa-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
