<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-3">
        <h6 class="mb-3 text-primary">Travel Distance from Zip Code</h6>

        <div class="d-flex mb-3">
          <input
            type="text"
            class="rounded-0 form-control rounded-left"
            placeholder="Enter Your Zip Code"
          />
          <button class="btn btn-primary rounded-right rounded-0 ">Add</button>
        </div>

        <div class="mb-3">
          <div class="radio">
            <input type="radio" name="zipcode" />
            <span>Exact Zip Code</span>
          </div>
          <div class="radio">
            <input type="radio" name="zipcode" />
            <span>Less than 10 miles</span>
          </div>
          <div class="radio">
            <input type="radio" name="zipcode" />
            <span>Less than 20 miles</span>
          </div>
          <div class="radio">
            <input type="radio" name="zipcode" />
            <span>Less than 30 miles</span>
          </div>
        </div>

        <hr />

        <h6 class="mb-3 text-primary">Therapist Name</h6>

        <div class="d-flex mb-3">
          <input
            type="text"
            class="rounded-0 form-control rounded-left"
            placeholder="Enter Your Therapist Name"
          />
          <button class="btn btn-primary rounded-right rounded-0 ">Add</button>
        </div>

        <hr />

        <h6 class="mb-3 text-primary">Age Group</h6>

        <div class="mb-3">
          <div class="radio">
            <input type="radio" name="age" />
            <span>Not critical</span>
          </div>
          <div class="radio">
            <input type="radio" name="age" />
            <span>Child</span>
          </div>
          <div class="radio">
            <input type="radio" name="age" />
            <span>Adolescent</span>
          </div>
          <div class="radio">
            <input type="radio" name="age" />
            <span>Adult</span>
          </div>
          <div class="radio">
            <input type="radio" name="age" />
            <span>Senior</span>
          </div>
        </div>

        <hr />

        <!-- <h6 class="mb-3 text-primary">Problem / Issue Refinement</h6>

        <div class="mb-3 overflow-auto filterOverflow">
          <div class="radio">
            <input type="radio" name="problem" />
            <span>consectetur adipiscing elit</span>
          </div>

          <div class="radio">
            <input type="radio" name="problem" />
            <span>consectetur adipiscing elit</span>
          </div>

          <div class="radio">
            <input type="radio" name="problem" />
            <span>consectetur adipiscing elit</span>
          </div>

          <div class="radio">
            <input type="radio" name="problem" />
            <span>consectetur adipiscing elit</span>
          </div>

          <div class="radio">
            <input type="radio" name="problem" />
            <span>consectetur adipiscing elit</span>
          </div>

          <div class="radio">
            <input type="radio" name="problem" />
            <span>consectetur adipiscing elit</span>
          </div>

          <div class="radio">
            <input type="radio" name="problem" />
            <span>consectetur adipiscing elit</span>
          </div>

          <div class="radio">
            <input type="radio" name="problem" />
            <span>consectetur adipiscing elit</span>
          </div>

          <div class="radio">
            <input type="radio" name="problem" />
            <span>consectetur adipiscing elit</span>
          </div>

          <div class="radio">
            <input type="radio" name="problem" />
            <span>consectetur adipiscing elit</span>
          </div>
        </div> -->
      </div>
      <div class="col-12 col-lg-9">
        <div
          class="d-flex align-items-center justify-content-between text-primary flex-wrap flex-md-nowrap"
        >
          <h3 class="mb-3">Your Experts</h3>
          <div class="text-primary h6 mb-3">
            Number of professionals that meet all your criteria
            <span class="badge badge-secondary">{{ doctorsListing.length }}</span>
          </div>
        </div>

        <hr class="mt-0" />

        <div class="p-3 bg-light mb-3 text-right"  *ngIf="compareList.length">
          <div class="d-inline-flex bg-white compareprofilebox" *ngFor="let doc of compareList">
            <a (click)="removefromCopare(doc.userId)" class="fa fa-times"></a>
            <img
              
              [src]="'http://3.12.81.245:3000/public/images/users/'+ doc.userData.profileImage"
              class="compareprofileimg"
            />
            <div class="p-2">
              <div class="font-weight-bold mb-2">{{ doc.userData.firstName }}</div>
              <div class="mb-2 font-weight-normal">{{ doc.userData.email }}</div>
            </div>
          </div>

          <div class="d-inline-block text-center">
            <div class="mb-2">
              <a class="text-primary" (click)="clearCompareList()">Clear All</a>
            </div>
            <a (click)="compareDoc()" class="btn btn-outline-primary">Compare</a>
          </div>
        </div>

        <div class="row m-0 shadow-sm overflow-hidden profileBox mb-4" *ngFor="let doc of doctorsListing">
          <div class="col-12 col-lg-3 p-0">
            <!-- <img
              [src]="'http://3.12.81.245:3000/public/images/users/'+doc?.userData?.profileImage"
              class="profileimg" /> -->
              <div
                class="bg-cover w-100 h-100 profileimg"
                [ngStyle]="{'background-image': 'url(http://3.12.81.245:3000/public/images/users/'+ doc.userData.profileImage +')'}"
              ></div>
          </div>
          <div class="col-12 col-lg-9 p-3">
            <div
              class="d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap"
            >
              <div class="text-primary">
                <a
                  href="/dashboard/detail"
                  [routerLink]="['/dashboard/detail', doc.userId]"
                  class="d-block h5 text-uppercase mb-0"
                  >{{ doc.userData.firstName }}</a
                >
                <div class="mb-2 font-weight-normal">{{doc.userData.email}}</div>
              </div>
              <div class="checkboxBtn ml-0 ml-md-3 mb-2">
                <input type="checkbox" [id]="doc.userId" value="{{doc.userId}}" (change)="compareFields(doc, $event)"/>
                <span class="btn btn-outline-primary">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                    class="fa fa-square-full"
                  >
                    <path
                      fill="currentColor"
                      d="M0 0v512h512V0H0zm464 464H48V48h416v416z"
                    ></path>
                  </svg>
                  <i class="fa fa-check-square"></i>
                  Compare
                </span>
              </div>
            </div>

            <div class="mb-2">
              <a
                class="fa fa-phone text-secondary d-inline-block mr-2"
                href="tel:{{doc.userData.phone}}"
              >
              <span>{{doc.userData.phone}}</span>
              </a>
              <a
                class="fa fa-envelope text-secondary d-inline-block mr-2"
                href="mailto:{{doc.userData.address}}"
              >
                <span>{{doc.userData.email}}</span>
              </a>
            </div>
            <div class="mb-2" *ngIf="doc.userData.address">Address</div>
            <div class="desciption text-truncate">
              {{doc.userData.address}}
              <a
                [routerLink]="['/dashboard/detail', doc.userId]"
                class="text-primary font-weight-normal pull-right"
                >Go To Profile <i class="fa fa-chevron-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
