.w-max-1200{ max-width: 1200px; }
.bg-blue{ background: #EBF3FA; }

.carousel{
    position: relative;
    height: 400px;
    @media (min-width: 500px){ height: 500px; }
    @media (min-width: 768px){ height: 100%; }


}
.slide{
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 50vh;

    img{
        // z-index: 0;
        // position: absolute;
        bottom: 0;
    }

    img.user{
        left: -30px;
        width: calc(100% + 60px);
    }

    img.professional{
        left: -30px;
        width: calc(100% + 60px);
        @media (min-width: 768px){
            left: -70px;
            width: calc(100% + 140px);
        }

    }

    img.partner{
        left: -50px;
        width: calc(100% + 100px);
        @media (min-width: 768px){
            left: -90px;
            width: calc(100% + 180px);
        }
        
        @media (min-width: 992px) {
            left: -40px;
            width: calc(100% + 80px);
        }
    }
}