<section class="thanku-section bg-cover" style="background-image: url(assets/img/newslatter2.png);">
    <div class="container w-100">
        <div class="mb-3 text-center">
            <img src="assets/img/logo.png" class="thank-logo" />
        </div>
        <div class="box">

        <h2>Thank You!</h2>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro itaque, iusto placeat vel laborum culpa saepe? Voluptas quaerat beatae earum odit deleniti sapiente magni harum, ipsum voluptate a eius inventore.</p>

        <a class="btn btn-outline-white font-weight-bold rounded-0">Go to Home</a>
        </div>
    </div>
</section>