<section class="heightHF-100 align-items-start pt-4 pb-4">
  <div class="container">
    <h2 class="text-center">{{title}}</h2>
    <p>
      For Admin, clients and Providers dashboards There should be
    </p>
    <div class="accordion" id="accordionExample">
      <div class="card border-0">
        <div id="headingOne" class="card-header text-left bg-transparent border border-primary shadow mt-2 mb-0"
          type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
          aria-controls="collapseOne">
          <i class="fa fa-plus"></i>
          <i class="fa fa-minus"></i>
          Rewards
        </div>

        <div id="collapseOne" class="collapse show bg-primary mt-2 text-light" aria-labelledby="headingOne"
          data-parent="#accordionExample">
          <div class="card-body">
            Earn or redeem points
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div id="headingTwo"
          class="card-header collapsed text-left bg-transparent border shadow border-primary mt-2 mb-0" type="button"
          data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <i class="fa fa-plus"></i>
          <i class="fa fa-minus"></i>
          Notifications
        </div>

        <div id="collapseTwo" class="collapse bg-primary mt-2 text-light" aria-labelledby="headingTwo"
          data-parent="#accordionExample">
          <div class="card-body">
            Send or receive messages
          </div>
        </div>
      </div>

      <div class="card border-0">
        <div id="headingThree"
          class="card-header collapsed text-left bg-transparent mt-2 shadow mb-0 border border-primary" type="button"
          data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <i class="fa fa-plus"></i>
          <i class="fa fa-minus"></i>
          How does the point system work?
        </div>

        <div id="collapseThree" class="collapse bg-primary mt-2 text-light" aria-labelledby="headingThree"
          data-parent="#accordionExample">
          <div class="card-body">
            5 points for each activity
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div id="headingFour"
          class="card-header collapsed text-left bg-transparent mt-2 mb-0 shadow border border-primary" type="button"
          data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <i class="fa fa-plus"></i>
          <i class="fa fa-minus"></i>
          Earn Points
        </div>

        <div id="collapseFour" class="collapse bg-primary mt-2 text-light" aria-labelledby="headingFour"
          data-parent="#accordionExample">
          <div class="card-body">
            Give google rating and review
            <span class="text-danger">( please check to see if these ratings can be populated to google
              or we can have a link to google rating on profile- huge value in
              that)</span>
            -Recommend a provider
            <span class="text-danger">(which is basically affiliate)</span>
          </div>
        </div>
      </div>
      <div class="card border-0">
        <div id="headingFive"
          class="card-header collapsed text-left bg-transparent mt-2 mb-0 shadow border border-primary" type="button"
          data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <i class="fa fa-plus"></i>
          <i class="fa fa-minus"></i>
          Redeem points
        </div>

        <div id="collapseFive" class="collapse bg-primary mt-2 text-light" aria-labelledby="headingFiive"
          data-parent="#accordionExample">
          <div class="card-body">
            Providers redeem points towards membership fees <br />
            Clients redeem points towards services and products at businesses<br />
            <span class="text-danger">( we have to figure out how to ask this question from providers
              in terms of how how many points are they willing to offer by
              giving choices (ie. How many points are you willing to redeem for
              clients engagement on the platform? 50, 100, 150 etc if each point
              value is a dollar)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>