[class^=image-container-] {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &::after {
    content: '';
    display: block;
    position: relative;
  }
}

.image-container {
  img {
    position: relative;
    width: 100%;
    height: auto;
  }
}

.image-container-30pc::after {
  padding-top: 30%;
}
.image-container-33pc::after {
  padding-top: 33%;
}
.image-container-35pc::after {
  padding-top: 35%;
}
.image-container-40pc::after {
  padding-top: 40%;
}
.image-container-100pc::after {
  padding-top: 100%;
}

@media (min-width: $breakpointMd) {
  .image-container-md-30pc::after {
    padding-top: 30%;
  }
  .image-container-md-33pc::after {
    padding-top: 33%;
  }
  .image-container-md-35pc::after {
    padding-top: 35%;
  }
  .image-container-md-40pc::after {
    padding-top: 40%;
  }
  .image-container-md-100pc::after {
    padding-top: 100%;
  }
  
}
