@import "variables";

// bootstarp classes
$radius: 0.25rem;
.rounded-right {
  border-top-right-radius: $radius !important;
  border-bottom-right-radius: $radius !important;
}
.rounded-left {
  border-top-left-radius: $radius !important;
  border-bottom-left-radius: $radius !important;
}
// bootstarp classes end

@mixin bgOverlay($color: #0000007a) {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $color;
    position: absolute;
  }
  > * {
    position: relative;
  }
}

// Solution pages
@mixin Solutions {
  $height: 270px;
  .hoverEffectBox {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    > *:first-child {
      min-height: $height;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 40px 15px !important;
      .icon1 {
        height: 95px;
        object-fit: contain;
      }
    }
    > .position-absolute {
      height: 100%;
      overflow: hidden;
      background-color: #4274baed !important;
      text-overflow: ellipsis;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      top: -100%;
      transition: 1s;
    }
    &:hover,
    &.focus,
    &:active {
      transform: scale(1.07, 1.07);
      .position-absolute {
        top: 0;
        width: 100%;
        height: 100%;
        transition: 1s;
      }
    }
  }
}
// Solution pages end

@mixin imageShadow($left: 30px, $top: 20px, $right: 0px, $bottom: 0px) {
  box-shadow: (-$left) (-$top) 4px 0 #8c7f7085;
  border-radius: 5px;
  width: calc(100% - #{$left}) !important;
  margin: $top $right $bottom $left;
}

// Profile Image Input
@mixin profileImageInput($size: 100px, $radius: 50%) {
  position: relative;
  > img {
    width: $size;
    height: $size;
    object-fit: cover;
    border: 1px solid;
    border-radius: $radius;
  }
  > input {
    height: 0px;
    width: 0px;
    cursor: pointer;
    &::before {
      content: "\f044";
      position: absolute;
      font-family: FontAwesome;
      font-size: 13px;
      background-color: #4274ba;
      color: #fff;
      padding: 4px 7px 4px 8px;
      bottom: 14px;
      right: 4px;
      border-radius: 8px;
    }
  }
}
// Profile image input end
