$headerHeight: 57px;
$headerHeightMd: 91px;
$headerHeightLg: 97px; 
$headerHeightXl: 61px;

$headerHeightLoggedin: 51px;
$headerHeightLoggedinMd: 75px;
$headerHeightLoggedinLg: 75px;
$headerHeightLoggedinXl: 75px;

$footerHeight: 301px;
