@import "./variables";

@mixin typography($fontSize, $lineHeight, $fontWeight, $letterSpacing) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

$fontWeightBold: 700;
$fontWeightMedium: 500;
$fontWeightRegular: 400;

button, .btn { 
  @include typography(16px, 17.6px, $fontWeightBold, 0.5px);
  &.large { @include typography(18px, 19.8px, $fontWeightBold, 0.5px); }
  &.small { @include typography(15px, 16.5px, $fontWeightRegular, 0.5px); }
}

i { 
  @include typography(18px, 1, $fontWeightRegular, 0px); 
  &.large { @include typography(22px, 1, $fontWeightRegular, 0px); }
  &.small { @include typography(16px, 1, $fontWeightRegular, 0px); }  
}

/** if icon is used in some sentence, it should be aligned with text */
h1, h2, h3, h4, h5, h6, 
p, a, span, u, b, caption, li,
.h1, .h2, .h3, .h4, .h5, .h6, .subtitle1, .subtitle2, .body1, .body2, .body-small, .btn, .caption {
  >i {
    font-size: 1.15em;
    vertical-align: text-top; 
  }

  >i.large {
    font-size: 1.3em;
    vertical-align: text-bottom;
  }
}

h1, .h1 { @include typography(60px, 64px, $fontWeightBold, -0.5px); }
h2, .h2 { @include typography(48px, 54px, $fontWeightBold, 0px); }
h3, .h3 { @include typography(34px, 42px, $fontWeightBold, 0.25px); }
h4, .h4 { @include typography(24px, 32px, $fontWeightBold, 0px); }
h5, .h5 { @include typography(20px, 26px, $fontWeightBold, 0.2px); }
h6, .h6 { @include typography(18px, 24px, $fontWeightMedium, 0.2px); }
.subtitle1 { @include typography(16px, 24px, $fontWeightMedium, 0.25px); }
.subtitle2 { @include typography(14px, 18px, $fontWeightMedium, 0.1px); }
p,
td,
ul,
ol,
.body1 { @include typography(16px, 24px, $fontWeightRegular, 0.1px); }
.body2 { @include typography(14px, 22px, $fontWeightRegular, -0.2px); }
.body-small { @include typography(13px, 16px, $fontWeightMedium, 0.2px); }
caption, .caption { @include typography(12px, 16px, $fontWeightRegular, 0.2px); }

@media (min-width: #{$breakpointMd}) {
  .h1-md { @include typography(60px, 64px, $fontWeightBold, -0.5px); }
  .h2-md { @include typography(48px, 54px, $fontWeightBold, 0px); }
  .h3-md { @include typography(34px, 42px, $fontWeightBold, 0.25px); }
  .h4-md { @include typography(24px, 32px, $fontWeightBold, 0px); }
  .h5-md { @include typography(20px, 26px, $fontWeightBold, 0.2px); }
  .h6-md { @include typography(18px, 24px, $fontWeightMedium, 0.2px); }
  .subtitle1-md { @include typography(16px, 24px, $fontWeightMedium, 0.25px); }
  .subtitle2-md { @include typography(14px, 18px, $fontWeightMedium, 0.1px); }
  .body1-md { @include typography(16px, 24px, $fontWeightRegular, 0.1px); }
  .body2-md { @include typography(14px, 22px, $fontWeightRegular, -0.2px); }
  .body-small-md { @include typography(13px, 16px, $fontWeightMedium, 0.2px); }
  .caption-md { @include typography(12px, 16px, $fontWeightRegular, 0.2px); }
}

@mixin clamp($line, $height) {
  height: $line * $height;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin clampTemplate($i, $prefix: '') {
  .subtitle2.clamp-#{$prefix}#{$i}line { @include clamp($i, 18px); }
  .body2.clamp-#{$prefix}#{$i}line { @include clamp($i, 22px); }
  .body-small.clamp-#{$prefix}#{$i}line { @include clamp($i, 16px); }

  h4, .h4 {
    &.clamp-#{$prefix}#{$i}line { @include clamp($i, 32px); }
  }
  h5, .h5 { 
    &.clamp-#{$prefix}#{$i}line{ @include clamp($i, 26px); }
  }
  h6, .h6,
  p,
  .body1,
  .subtitle1 { 
    &.clamp-#{$prefix}#{$i}line { @include clamp($i, 24px);} 
  }
}

@for $i from 1 through 5 {
  @include clampTemplate($i);

  @media (min-width: $breakpointMd) {
    @include clampTemplate($i, 'md-');
  }

  @media (min-width: #{$breakpointLg}) {
    @include clampTemplate($i, 'lg-');
  }

  @media (min-width: #{$breakpointXl}) {
    @include clampTemplate($i, 'xl-');
  }
}