// fontawesome
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
//fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");

$primaryColor: #4274ba;
$primaryColorhover: #275ca6;
$secondaryColor: #6d6e71;
$secondaryColorhover: #525458;
$themeFont: "Roboto", sans-serif;
$headerHeight: 58px;
$footerHeight: 170px;
$p6: 100px;
