@import url("https://fonts.googleapis.com/css?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");

$primaryColor: #4274ba;
$primaryColorhover: #275ca6;
$secondaryColor: #6d6e71;
$secondaryColorhover: #525458;
$themeFont: "Montserrat", sans-serif;
$themeFont2: "Pacifico", cursive;
$headerHeight: 56px;
$footerHeight: 176px;
