//fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");

$primaryColor: #B7D3F3;
$accentColor: #4274BA;
$primaryColorhover: #27719f;
$facebookColor: #3b5998;
$linkedInColor: #0e76a8;
$instaColor: #3f729b;
$googleColor: #db4437;
$facebookColorH: #3c6acb;
$googleColorH: #ea5f54;
$secondaryColor: #6d6e71;
$secondaryColorhover: #525458;
$themeFont: "Roboto", sans-serif;
$themeFontSize: 14px;
$themeLignHeight: 19px;
$headerHeight: 62px;
$footerHeight: 170px;
$p6: 100px;
$radius: 0.25rem;

$ph-gradient: -webkit-linear-gradient(271.61deg, #5D7DC1 16.86%, #213F7A 101.15%);
