@import "variables";
@import "mixins";

a:hover {
  text-decoration: none;
  &:not([href]) {
    color: initial;
    text-decoration: none;
  }
}

body {
  color: $secondaryColor;
  font-family: $themeFont;
  font-size: 15px;
  line-height: normal;
  letter-spacing: 1px;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f8f9fa;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $primaryColor;
  }
}

.object-fit-contain {
  object-fit: contain !important;
  object-position: center !important;
}

.p-6 {
  padding: $p6 !important;
}
.pt-6 {
  padding-top: $p6 !important;
}

.pb-6 {
  padding-bottom: $p6 !important;
}

h2,
h4 {
  font-weight: 500;
  line-height: normal !important;
}

h2 {
  font-size: 35px;
}

h4 {
  font-size: 22px;
}

h5,
.h5 {
  line-height: normal !important;
}

.mt--5 {
  margin-top: -84px;
}

.text-primary {
  color: $primaryColor !important;
}

.form-control {
  line-height: normal;
  font-size: 14px;
}

.mk-border {
  border: 9px solid #6c757dad;
}

.btn {
  font-size: 14px;
  line-height: normal;
  padding: 10px 15px;
  font-weight: 400;
  &:hover,
  &:focus {
    box-shadow: none;
  }
}

.bg-primary {
  background-color: $primaryColor !important;
}

.btn-facebook {
  background-color: #3b5998 !important;
  border-color: #3b5998 !important;
  color: #fff;
  &:hover {
    color: #fff !important;
    background-color: #3c6acb !important;
    border-color: #3c6acb !important;
  }
}

.btn-google {
  background-color: #db4437 !important;
  border-color: #db4437 !important;
  color: #fff !important;
  &:hover {
    color: #fff !important;
    background-color: #ea5f54 !important;
    border-color: #ea5f54 !important;
  }
}

.btn-primary {
  color: #fff !important;
  background-color: $primaryColor;
  border-color: $primaryColor;
  &:hover,
  &:focus {
    color: #fff !important;
    background-color: $primaryColorhover;
    border-color: $primaryColorhover;
  }
}

.btn-light {
  color: #212529 !important;
  &:hover {
    color: #212529 !important;
  }
}

.btn-outline-primary {
  color: $primaryColor !important;
  border-color: $primaryColor;
  &:hover,
  &:focus {
    background-color: $primaryColor;
    color: #fff !important;
    border-color: $primaryColor;
  }
}

.height-100 {
  min-height: 100vh;
}

.heightH-100 {
  min-height: calc(100vh - #{$headerHeight});
}

.heightHF-100 {
  min-height: calc(100vh - #{$headerHeight+$footerHeight});
}

.spacer-top {
  height: $headerHeight;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.bg-fixed {
  background-attachment: fixed;
}

.bg-overlay {
  position: relative;
  overflow: hidden;
  &::before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0000006b;
    position: absolute;
  }
  > * {
    position: relative;
  }
}

// Loader start
.loader1mk {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loaderbg {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.loader-logo {
  position: relative;
  top: -100px;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
// loader end

ul.check_ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    &::before {
      left: 0;
      content: "\f00c";
      position: absolute;
      font-family: FontAwesome;
    }
  }
}

@media (max-width: 767px) {
  @import "responsive_variables";
  .heightH-100 {
    min-height: calc(100vh - #{$headerHeight});
  }

  .heightHF-100 {
    min-height: calc(100vh - #{$headerHeight+$footerHeight});
  }
  .spacer-top {
    height: $headerHeight;
  }
}
