@import "variables";
@import "mixins";
a:not([href]) {
  color: initial;
  text-decoration: none;
}

body {
  color: $secondaryColor;
  &::-webkit-scrollbar {
    width: 0;
  }
}

h2,
h4 {
  font-weight: 500;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

a:hover {
  text-decoration: none;
}

.navbar-brand img {
  max-width: 200px;
}

.height-100 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    width: 100%;
  }
}

.heightH-100 {
  @extend .height-100;
  min-height: calc(100vh - #{$headerHeight});
}

.heightHF-100 {
  @extend .height-100;
  min-height: calc(100vh - #{$headerHeight+$footerHeight});
}

.spacer-top {
  height: $headerHeight;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.bg-overlay {
  position: relative;
  &::before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0000006b;
    position: absolute;
  }
  > * {
    position: relative;
  }
}

.bg-primary {
  background-color: $primaryColor !important;
}

.btn-primary {
  background-color: $primaryColor;
  border-color: $primaryColor;
  &:hover {
    background-color: $primaryColorhover;
    border-color: $primaryColorhover;
  }
}
