@import "variables";
@import "mixins";
a:not([href]) {
  color: initial;
  text-decoration: none;
}

body {
  color: $secondaryColor;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f8f9fa;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: $primaryColor;
  }
}

h2,
h4 {
  font-weight: 500;
}

h2 {
  font-size: 30px;
}

h4 {
  font-size: 22px;
}

a:hover {
  text-decoration: none;
}

.navbar-brand img {
  max-width: 200px;
}

.height-100 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    width: 100%;
  }
}

.heightH-100 {
  @extend .height-100;
  min-height: calc(100vh - #{$headerHeight});
}

.heightHF-100 {
  @extend .height-100;
  min-height: calc(100vh - #{$headerHeight+$footerHeight});
}

.spacer-top {
  height: $headerHeight;
}

.bg-cover {
  background-size: cover;
  background-position: center;
}

.bg-overlay {
  position: relative;
  &::before {
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0000006b;
    position: absolute;
  }
  > * {
    position: relative;
  }
}

.bg-primary {
  background-color: $primaryColor !important;
}

.btn-primary {
  color: #fff !important;
  background-color: $primaryColor;
  border-color: $primaryColor;
  &:hover {
    color: #fff !important;
    background-color: $primaryColorhover;
    border-color: $primaryColorhover;
  }
}

.form-control {
  line-height: normal;
  font-size: 14px;
}

// Loader start
.loader1mk {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.loaderbg {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.loader-logo {
  position: relative;
  top: -100px;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
// loader end

ul.check_ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    &::before {
      left: 0;
      content: "\f00c";
      position: absolute;
      font-family: FontAwesome;
    }
  }
}

.btn-outline-primary {
  color: $primaryColor !important;
  border-color: $primaryColor;
  &:hover {
    background-color: $primaryColor;
    color: #fff !important;
  }
}

.mt--5 {
  margin-top: -84px;
}

.text-primary {
  color: $primaryColor !important;
}

@media (max-width: 767px) {
  @import "responsive_variables";
  .heightH-100 {
    @extend .height-100;
    min-height: calc(100vh - #{$headerHeight});
  }

  .heightHF-100 {
    @extend .height-100;
    min-height: calc(100vh - #{$headerHeight+$footerHeight});
  }
}
