<section class="container my-50p my-md--100p">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">
      <h2 class="h3 h2-md mb-70p text-center">
        Frequently Asked Questions
      </h2>

      <div class="text-center mb-20p mb-md-40p">
        <div class="d-inline-block">
          <h4 class="h3-md">For Wellness Seeker</h4>
          <div class="text-left mt-15p">
            <a 
            routerLink="/plans" 
            fragment="faq"
            class="subtitle1">
              <i iconPh="verified"></i>
              <span class="ml-5p">Are you a wellness provider?</span>
            </a>
          </div>  
          <div class="text-left mt-15p">
            <a 
            routerLink="/plans/product" 
            fragment="faq"
            class="subtitle1">
              <i iconPh="briefcase-2"></i>
              <span class="ml-5p">Are you a wellness company?</span>
            </a>
          </div>  
        </div>
      </div>

      
      <ul class="list-unstyled mb-0">
        <li 
        *ngFor="let faq of faqs;"
        class="mb-20p"
        >
          <faq-item [data]="faq"></faq-item>
        </li>
      </ul>
    </div>
  </div>
</section>
