.card-header {
  font-weight: bold;
  &.collapsed {
    .fa-minus {
      display: none;
    }
    .fa-plus {
      display: inline-block;
    }
  }
  .fa {
    float: right;
  }
  .fa-minus {
    display: inline-block;  
  }
  .fa-plus {
    display: none;
  }
}

.accordion {
  counter-reset: section;
  > * {
    > *:first-child::before {
      counter-increment: section;
      content: counter(section) ". ";
    }
  }
}


.map-marker-popup{
  font-size: 12px;
  line-height: normal;
.d-flex{
  >img{
    height: 60px;
    width:60px;
    border:1px solid;
    object-fit: cover;
  }
}
.btn{
  padding: 9px 10px;
  font-size: 12px;
}
}