.card-header {
  font-weight: bold;
  &.collapsed {
    .fa-minus {
      display: none;
    }
    .fa-plus {
      display: inline-block;
    }
  }
  .fa {
    float: right;
  }
  .fa-minus {
    display: inline-block;  
  }
  .fa-plus {
    display: none;
  }
}

.accordion {
  counter-reset: section;
  > * {
    > *:first-child::before {
      counter-increment: section;
      content: counter(section) ". ";
    }
  }
}