<div class="d-flex justify-content-start align-items-center">
  <div class="position-relative mr-1 check-container" *ngIf="type == 'checkbox'">
    <i [iconPh]="'checkbox' + (!!controller.value ? '-filled' : '')" 
    class="position-relative"
    [ngClass]="{'text-placeholder': !controller.value, 'text-primary': !!controller.value, 'text-error': !!controller.errors}"
    ></i>
    <input type="checkbox" [id]="name" class="form-check-controller" [formControl]="controller" (change)="onChange()">
  </div>

  <div class="position-relative mr-1 check-container" *ngIf="type == 'radio'">
    <i [iconPh]="(controller.value == value ? 'radio-filled' : 'radio1')" 
    class="position-relative"
    [ngClass]="{'text-placeholder': (controller.value != value), 'text-primary': (controller.value == value), 'text-error': !!controller.errors}"
    ></i>
    <input type="radio" [id]="name" class="form-check-controller" [name]="group" [value]="value" [formControl]="controller" (change)="onChange()">
  </div>

  <label [for]="name" class="m-0 subtitle1">{{label}}</label>  
</div>
