<div 
*ngIf="type == 'checkbox' || type == 'radio'"
class="d-flex justify-content-start align-items-start"
>
  <div 
  class="position-relative mr-1 check-container" 
  style="margin-top: 3px;"
  *ngIf="type == 'checkbox'"
  >
    <i [iconPh]="'checkbox' + (!!controller.value ? '-filled' : '')" 
    class="position-relative"
    [ngClass]="{'text-placeholder': !controller.value, 'text-primary': !!controller.value, 'text-error': !!controller.errors}"
    ></i>
    <input type="checkbox" [id]="name" class="form-check-controller" [formControl]="controller" (change)="onChange()">
  </div>

  <div 
  class="position-relative mr-1 check-container" 
  style="margin-top: 3px;"
  *ngIf="type == 'radio'"
  >
    <i [iconPh]="'radiobutton' + (controller.value == value ? '-filled' : '')" 
    class="position-relative"
    [ngClass]="{'text-placeholder': (controller.value != value), 'text-primary': (controller.value == value), 'text-error': !!controller.errors}"
    ></i>
    <input type="radio" [id]="name" class="form-check-controller" [name]="group" [value]="value" [formControl]="controller" (change)="onChange()">
  </div>

  <label [for]="name" class="m-0 subtitle1" [innerHTML]="label"></label>  
</div>

<div 
*ngIf="type == 'chip'"
class="position-relative"
>
  <button
  class="btn small"
  [ngClass]="controller.value ? 'btn-primary' : 'btn-inactive'"
  (click)="chipInput.click()"
  >
  <span>{{label}}</span>
  <i
  *ngIf="_option.actionIconForChip"
  class="ml-5p"
  [iconPh]="controller.value ? _option.actionIconForChipSelected : _option.actionIconForChip"
  ></i>
  </button>
  <input 
  #chipInput
  type="checkbox" 
  [id]="name" 
  class="d-none" 
  [formControl]="controller" 
  (change)="onChange()"
  >
</div>
