<div class="py-3" style="background-color:#f2f2f2;">
  <div class="container row mx-auto p-0 align-items-center">
      <h2 class="col-md-2 text-uppercase text-center text-md-left mb-0">Blog</h2>
      <div class="col-md-10 text-center text-md-right top-links">
          <a href="" class="">Home</a> / <a href="/blogs">Blog</a>
      </div>
  </div>
</div>
    
<div class="container main-content heightHF-100 py-5" *ngIf="blogList">
  <div class="row">
    <div class="col-md-9" socialShare="{{this.socialSharing}}">
      <a class="blog-link mb-3">
        <div class="position-relative d-inline-block">
        <img [src]="blogList?.image ? AWS_S3 + blogList.image :  defaultImage">
        </div>
        <h4 class="text-uppercase d-flex align-items-center flex-wrap justify-content-between mb-0">
          <span class="mr-2">{{ blogList.title }}</span>

          <div class="social-share">
            <a target="_new" (click)="changeSocialLink('fb')">
              <img src="/assets/img/fb.png" />
            </a>

            <a target="_new" (click)="changeSocialLink('in')">
              <img src="/assets/img/linkedin.png" />
            </a>
          </div>
        </h4>
      </a>

      <div class="content" [innerHTML] = "blogList.description"></div>
        
    </div>

    <div class="col-md-3">
      <h4 class="sidebar-title mb-0">Categories</h4>
  
      <div class="sidebar-link mb-3">
          <span *ngFor="let list of categoryList"><a [routerLink]="['/blogs/category', list._id]">{{list.title}}</a></span>
      </div>
  </div>
  </div>
</div>