<div class="py-3" style="background-color:#f2f2f2;">
  <div class="container row mx-auto p-0 align-items-center">
      <h2 class="col-md-2 text-uppercase text-center text-md-left mb-0">Blog</h2>
      <div class="col-md-10 text-center text-md-right top-links">
          <a href="" class="">Home</a> / <a href="/blogs">Blog</a>
      </div>
  </div>
</div>
    
<div class="container main-content py-5">
  <div class="row">
    <div class="col-md-9 content">
      <a class="blog-link">
        
        <img [src]="blogList?.image ? 'https://prompthealth.ca:3000/blogs/' + blogList.image :  defaultImage">
        <h4 class="text-uppercase">{{ blogList.title }}</h4>
      </a>

      <p [innerHTML] = "blogList.description"></p>
        
    </div>

    <div class="col-md-3">
      <h4 class="sidebar-title mb-0">Categories</h4>
  
      <div class="sidebar-link mb-3">
          <span *ngFor="let list of categoryList"><a [routerLink]="['/blog-category', list._id]">{{list.title}}</a></span>
      </div>
  </div>
  </div>
</div>