<div style="min-height: 100vh">
    <div 
    *ngIf="!onHomepage && isHeaderShown"
    class="sticky-top" 
    style="z-index: 90;"
    [@slideVertical100pc]
    [@.disabled]="disableHeaderAnimation"
    >
        <app-header></app-header>
    </div>

    <div
    *ngIf="!!onHomepage && isHeaderShown"
    class="position-fixed w-100"
    style="z-index: 90;"
    [@slideVertical100pc]
    [@.disabled]="disableHeaderAnimation"
    >
        <app-header></app-header>
    </div>
    
    <div class="wrapper">
        <router-outlet appHighlight></router-outlet>
        <div class="push"></div>
    </div>
</div>

<app-footer *ngIf="showFooter" class="footer"></app-footer>
