<div class="container">
  <div class="row align-items-start">
    <div class="col-12 col-lg-1">
      <button-goback 
      buttonClass="pl-0 pt-0" 
      [link]="['/community', 'feed']"
      ></button-goback>
    </div>
    <div class="col-12 col-md-7">
      <section class="position-relative rounded-8p bg-white body1 text-body overflow-hidden">
        <div class="position-relative">
          <div class="image-container-33pc">
            <img 
            *ngIf="profile" 
            [src]="profile?.coverImage" 
            alt=""
            crossorigin="anonymous"
            >
          </div>
        </div>
      
        <div class="px-20p px-lg-30p pt-15p">
          <div class="profile-header">
            <div style="margin-top: -45px" class="grid-1">
              <profile-image
              [size]="90"
              [radius]="25"
              [image]="profile?.profileImage"
              [option]="{dummyBgClass: 'bg-white'}"
              ></profile-image>
            </div>
      
            <div class="grid-2">
              <h5>
                {{profile?.name}}
                <i
                *ngIf="profile?.isVerified"
                iconPh="verified"
                class="text-primary"
                ></i>
              </h5>
              <div class="subtitle2 text-label">{{profile?.title}}</div>
            </div>
      
            <div
            *ngIf="!user && !isProfilePH"
            class="grid-3 text-right text-nowrap"
            >
              <button 
              class="btn small ml-10p btn-outline"
              (click)="onClickLogin()"
              >Follow</button>
            </div>
            
            <div 
            *ngIf="user && !isProfileMyself"
            class="grid-3 text-right text-nowrap"
            >
              <button 
              *ngIf="!isProfilePH"
              class="btn small ml-10p"
              [ngClass]="(isFollowing ? 'btn-primary' : 'btn-outline')"
              [disabled]="isFollowLoading"
              (click)="onClickFollow()"
              >
                <span>Follow</span>
                <span *ngIf="isFollowing">ing</span>
              </button>
              <button 
              class="btn small ml-10p py-5p"
              [ngClass]="(isBelling ? 'btn-icon' : 'btn-icon-grey')"
              [disabled]="isBellLoading"
              (click)="onClickBell()"
              >
                <i [iconPh]="isBelling ? 'bell' : 'bell-plus'" style="font-size: 25px"></i>
              </button>
            </div>
          </div>

          <div 
          *ngIf="profile"
          class="d-flex mt-lg-30p"
          >
            <a
            class="text-body"
            [routerLink]="['/community/profile', profile._id,  'followings']"
            >
              <div class="subtitle2">Following</div>
              <div class="h5">{{profile.numFollowing}}</div>
            </a>
            <div class="ml-20p text-body">
              <div class="subtitle2">Followers</div>
              <div class="h5">{{profile.numFollower}}</div>
            </div>
          </div>

          <div
          *ngIf="profile && profile.team"
          class="my-20p"
          >
            <a 
            [routerLink]="[profile.team.linkToProfile]"
            class="d-inline-flex align-items-center btn btn-text-grey small border border-line rounded-8p bg-background"
            >
              <profile-image size=45 [image]="profile.team.profileImage"></profile-image>
              <div class="ml-15p text-left">
                <span class="body2">Member of </span>
                <br>
                <span class="subtitle2">{{profile.team.name}}</span>
              </div>  
            </a>
          </div>
        </div>
      
        <div class="overflow-auto mt-10p px-20p px-lg-30p">
          <ul class="d-flex profile-menu list-unstyled mb-0">
            <li 
            *ngFor="let item of profileMenus; let i = index;"
            [ngClass]="(i == profileMenus.length - 1 ? 'pr-20p pr-lg-30p' : 'pr-20p pr-lg-40p')"
            style="white-space: pre"
            >
              <a
              [routerLink]="linkToChildRoute(item.relativeLink)"
              class="btn small px-0 py-20p subtitle1 text-nowrap"
              [ngClass]="(rlah.isActive ? 'btn-text active' : 'btn-text-grey')"
              #rlah="routerLinkActive"
              routerLinkActive
              [routerLinkActiveOptions]="{exact: item.id == 'about' ? true : false}"
              [replaceUrl]="true"
              >{{item.label}}</a>
              
              <ng-container *ngIf="item.id == 'promotion' && countAvailablePromos > 0">
                <span class="bg-error text-white p-5p rounded-4p ml-5p body-small"
                >
                  {{countAvailablePromos}}
                </span>
              </ng-container>
            </li>
          </ul>
        </div>
      </section>
    
      <section 
      class="mt-20p overflow-hidden rounded-8p"
      [@socialProfileChildRouteAnimation]="prepareRoute(outlet)"
      >
        <router-outlet #outlet="outlet"></router-outlet>
      </section>
    </div>

    <div 
    class="col-12 col-md-5 col-lg-4 mt-20p mt-md-0p sticky-top"
    style="top: 80px;"
    >
      <section
      *ngIf="profile"
      class="bg-white rounded-12p overflow-hidden"
      >
        <ng-container *ngIf="profile.isProvider">
          <div class="d-flex justify-content-between mx-15p mx-md-20p py-15p border-bottom border-line">
            <div class="text-primary-dark">
              <span class="h6 mb-0">{{profile.priceFull}}</span> 
              <span class="body1"> /hr</span>
            </div>
            <div>
              <star-rate [rate]="profile.rating" [simple]="true"></star-rate>
              <span class="body1 text-label ml-5p">({{profile.reviewCount}})</span>
            </div>
          </div>
        </ng-container>
        
        <ng-container *ngIf="profile.address || profile.website">
          <div class="mx-15p mx-md-20p py-15p py-md-20p">
            <h6 class="header-accent">Contact</h6>
            <div 
            *ngIf="profile.address"
            class="mb-25p d-flex"
            >
              <i iconPh="pin" class="text-placeholder mr-5p large"></i>
              <p class="mb-0">{{profile.address}}</p>
            </div>
                            
            <div 
            *ngIf="profile.phone" 
            class="mb-25p d-flex"
            >
              <i iconPh="smartphone" class="text-placeholder mr-5p large"></i>
              <p class="mb-0">{{profile.phone}}</p>
            </div>
  
            <div 
            *ngIf="profile.emailToDisplay" 
            class="mb-25p d-flex"
            >
              <i iconPh="email" class="text-placeholder mr-5p large"></i>
              <p class="mb-0">
                <a [href]="'mailto:' + profile.emailToDisplay">{{profile.emailToDisplay}}</a>
              </p>
            </div>
                      
            <div 
            *ngIf="profile.website"
            class="d-flex"
            >
              <i iconPh="laptop" class="text-placeholder mr-5p large"></i>
              <p class="clamp-1line body1 mb-0" style="word-break: break-all">
                <a [href]="profile.website" target="_blank">{{profile.websiteLabel}}</a>
              </p>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="profile.isProvider">
          <div class="mx-15p mx-md-20p py-15p py-md-20p border-top border-line">
            <h6 class="header-accent">Available Time</h6>
            <form-item-checkbox-group
            *ngIf="questionnaires"
            id="availability"
            label="Availability"
            [data]="profile.availabilityIds"
            [selectionsByQuestionnaire]="questionnaires.availability"
            [disabled]="true"
            [option]="{showBlockWithZeroMarginWhenDisabled: true, iconPreWhenDisabled: 'time'}"
            ></form-item-checkbox-group>
          </div>
        </ng-container>

        <ng-container *ngIf="profile.recommendations && profile.recommendations.length > 0">
          <div class="mx-15p mx-md-20p py-15p py-md-20p border-top border-line">
            <h6 class="header-accent">Recommendations</h6>
            <div class="mt-25p mb-10p">
              <i iconPh="quotes-2" class="text-secondary" style="font-size: 32px;"></i>
            </div>
            <div 
            #recommendationCarousel
            class="overflow-hidden"
            >
              <ul class="list-unstyled d-flex flex-nowrap">
                <li
                *ngFor="let recommendation of profile.recommendationsPreview"
                style="flex: 0 0 100%;"
                >
                  <p class="body1 clamp-3line" style="white-space:pre-wrap;">{{recommendation.body}}</p>
                  <a 
                  class="body2 text-label"
                  [routerLink]="recommendation.fromLinkToProfile"
                  >
                    {{recommendation.fromName}} - {{recommendation.createdAt | date}}
                  </a>
                </li>
              </ul>
            </div>
            <ul 
            *ngIf="profile.recommendationsPreview.length > 1"
            class="list-unstyled d-flex flex-nowrap justify-content-center indicators"
            >
              <li 
              *ngFor="let indicator of profile.recommendationsPreview; let i = index;"
              class="rounded-pill mx-5p active"
              [ngClass]="{active: idxActiveRecommendationIndicator == i}"
              (click)="onClickRecommendationCarouselIndicator(i)"
              ></li>
            </ul>
            <a routerLink="review" class="btn btn-text small px-0">See more recommendations</a>
          </div>
        </ng-container>

        <ng-container *ngIf="profile.isProvider && !isProfileMyself">
          <div class="m-15p mx-md-20p">
            <button 
            *ngIf="!user"
            class="btn btn-primary w-100" 
            (click)="onClickLogin()"
            >Login to book</button>

            <button 
            *ngIf="user && profile.bookingUrl"
            class="btn btn-primary w-100" 
            (click)="onClickBookOutside()"
            >Book now</button>

            <button 
            *ngIf="user && !profile.bookingUrl"
            class="btn btn-primary w-100" 
            (click)="onClickBook()"
            >Book now</button>
          </div>
        </ng-container>
      </section>

      <div clas="text-center">
        <a 
        *ngIf="canRecommend"
        routerLink="new-recommend"
        class="btn btn-text small px-0 mt-20p"
        >Write a recommendation?</a>  
      </div>
    </div>
  </div>

</div>

<modal
id="booking"
[bodyStyle]="{'padding-bottom': 0, 'max-width': '650px'}"
#modalBooking
>
  <div class="title-container d-flex justify-content-between align-items-center">
    <span class="h5 h4-md mr-3 mb-0 flex-grow-1">Request appointment</span>
    <button class="btn pr-0 btn-icon" (click)="modalBooking.hide()">
      <i iconPh="cross"></i>
    </button>  
  </div>

  <div class="content-container">
    <form (ngSubmit)="onSubmitBooking()">
      <div class="mb-10p">
        <label class="subtitle1">
          Patient Name
          <span class="text-danger">*</span>
        </label>
        <form-item-input
        type="text"
        name="name"
        label="Patient Name"
        placeholder="Patient name"
        [submitted]="submittedFormBooking"
        [controller]="f.name"
        ></form-item-input>
      </div>

      <div class="mb-10p">
        <label class="subtitle1">
          Email address
          <span class="text-danger">*</span>
        </label>
        <form-item-input
        type="email"
        name="email"
        label="Email"
        placeholder="Your email"
        [submitted]="submittedFormBooking"
        [controller]="f.email"
        ></form-item-input>
      </div>

      <div class="mb-10p">
        <label class="subtitle1">
          Phone
          <span class="text-danger">*</span>
        </label>
        <form-item-input
        type="tel"
        name="phone"
        label="Phone number"
        placeholder="Your phone number"
        [submitted]="submittedFormBooking"
        [controller]="f.phone"
        ></form-item-input>
      </div>

      <!-- <div class="mb-10p">
        <label class="subtitle1">
          Date & Time
          <span class="text-danger">*</span>
        </label>
        <form-item-datetime 
        label="Date & time"
        [controller]="f.bookingDateTime" 
        [submitted]="submittedFormBooking"
        [minDateTime]="minDateTime"
        ></form-item-datetime>
      </div> -->

      <div class="my-20p">
        <form-item-checkbox
        name="urgent"
        label="Urgent request"
        [controller]="f.isUrgent"
        ></form-item-checkbox>
      </div>

      <div class="mb-10p">
        <label class="subtitle1">
          Notes
        </label>
        <form-item-textarea
        name="note"
        label="Notes"
        placeholder="Your request"
        [controller]="f.note"
        [submitted]="submittedFormBooking"
        [max]="maxBookingNote"
        ></form-item-textarea>
      </div>

      <div class="text-right sticky-bottom blur pt-10p pb-50p">
        <button 
        type="submit" 
        class="btn btn-primary" 
        [disabled]="isBookingLoading"
        >Save</button>
      </div>
    </form>
  </div>
</modal>