@import '../../../assets/scss/variables';

.profile-header {
  display: grid;
  grid-template-columns: 90px auto;
  grid-template-rows: 45px auto;
  gap: 10px;
  .grid-1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
  }

  .grid-2 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
  }

  .grid-3 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
  }

  @media (min-width: $breakpointLg) {
    grid-template-columns: 90px auto auto;
    grid-template-rows: auto;
    gap: 20px;

    .grid-2 {
      grid-row: 1 / span 1;
      grid-column: 2 / span 1;
    }

    .grid-3 {
      grid-row: 1 / span 1;
      grid-column: 3 / span 1;
    }
  }
}

.profile-menu a {
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: $colorPrimary;
    transition: height 200ms;
    transition-delay: 0ms;
  }

  &.active::after {
    height: 3px;
    transition-delay: 250ms;
  }
}

.header-accent {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -19px;
    width: 8px;
    height: 100%;
    border-radius: 8px;
    background: $colorPrimary; 
    @media (min-width: $breakpointMd) {
      left: -24px;
    }
  }
}