<div class="position-relative rounded-8p bg-white body1 text-body overflow-hidden">
  <div class="position-relative">
    <div class="image-container-33pc">
      <img *ngIf="profile" [src]="profile?.banner" alt="">
    </div>
  </div>

  <div class="px-10p px-lg-30p pt-15p">
    <div class="d-none d-lg-flex mb-30p">
      <div style="margin-top: -45px;">
        <profile-image 
        [size]="90"
        [radius]="25"
        [image]="profile?.image"
        ></profile-image>
      </div>
  
      <div class="flex-grow-1 ml-20p">
        <h5>
          {{profile?.name}}
          <i 
          *ngIf="profile?.isVerified"
          iconPh="verified" 
          class="text-primary"
          ></i>
        </h5>
        <div class="subtitle2 text-label">{{profile?.title}}</div>
      </div>
  
      <div class="text-right">
        <h5 class="text-primary-dark">$49/hr</h5>
        <star-rate 
        [rate]="profile?.rating"
        margin="small"
        [showActiveOnly]="false"
        ></star-rate>
      </div>
    </div>

    <div class="d-lg-none">
      <div class="d-flex">
        <div style="margin-top: -35px;">
          <profile-image
          [size]="70"
          [radius]="15"
          [image]="profile?.image"
          ></profile-image>  
        </div>
        <div class="flex-grow-1 ml-15p">
          <h6>
            {{profile?.name}}
            <i 
            *ngIf="profile?.isVerified"
            iconPh="verified" 
            class="text-primary"
            ></i>
          </h6>
        </div>
      </div>

      <div class="d-flex mt-20p mb-5p">
        <star-rate 
        [rate]="4"
        margin="small"
        [showActiveOnly]="false"
        ></star-rate>
        <h5 class="text-primary-dark ml-15p mb-0">$49/hr</h5>
      </div>
      <h6 class="mb-25p">{{profile?.title}}</h6>
    </div>

    <div class="d-flex">
      <button class="btn btn-primary px-lg-70p">Book now</button>
      <button class="btn btn-outline ml-10p">Follow</button>
      <button class="btn btn-icon-grey small ml-10p">
        <i iconPh="bell-plus" style="font-size: 30px"></i>
      </button>
    </div>
  </div>

  <div class="overflow-auto mt-45p px-20p px-lg-30p">
    <div class="d-flex profile-menu">
      <div class="pr-30p pr-lg-40p">
        <a
        [routerLink]="['/community/profile', profileId]"
        class="btn small px-0 py-20p subtitle1"
        #rlah="routerLinkActive"
        routerLinkActive
        [routerLinkActiveOptions]="{exact: true}"
        [replaceUrl]="true"
        [ngClass]="rlah.isActive ? 'btn-text active' : 'btn-text-grey'"
        >Home</a>
      </div>

      <div class="pr-30p pr-lg-40p">
        <a
        [routerLink]="['/community/profile', profileId, 'service']"
        class="btn small px-0 py-20p subtitle1"
        #rlas="routerLinkActive"
        routerLinkActive
        [replaceUrl]="true"
        [ngClass]="rlas.isActive ? 'btn-text active' : 'btn-text-grey'"
        >Service</a>
      </div>
     
      <div class="pr-30p pr-lg-40p">
        <a
        [routerLink]="['/community/profile', profileId, 'feed']"
        class="btn small px-0 py-20p subtitle1"
        #rlaf="routerLinkActive"
        routerLinkActive
        [replaceUrl]="true"
        [ngClass]="rlaf.isActive ? 'btn-text active' : 'btn-text-grey'"
        >Feed</a>
      </div>
      
      <div class="pr-20p pr-lg-30p">
        <a 
        [routerLink]="['/community/profile', profileId, 'review']" 
        class="btn small px-0 py-20p subtitle1" 
        #rlar="routerLinkActive" 
        routerLinkActive 
        [replaceUrl]="true"
        [ngClass]="rlar.isActive ? 'btn-text active' : 'btn-text-grey'"
        >Review</a></div>
    </div>
  </div>
</div>

<div 
class="mt-20p"
[@socialProfileChildRouteAnimation]="prepareRoute(outlet)"
>
  <router-outlet #outlet="outlet"></router-outlet>
</div>