<div 
*ngIf="!profile"
class="mt-100p text-center"
>
  <loader></loader>
</div>

<div 
*ngIf="profile"
class="position-relative rounded-8p bg-white p-20p p-xl-30p body1 text-body"
>
  <p class="mb-20p">
    {{profile.description}}
  </p>

  <div 
  *ngIf="profile.socialLink.isAvailable"
  class="mb-30p"
  >
    <div class="d-inline-block">
      <social-buttons 
      [data]="profile.socialLink.data" 
      [size]="32" 
      [margin]="'narrow'"
      (clickButton)="countupSocial($event)"
      ></social-buttons>  
    </div>
  
  </div>

  <ng-container *ngIf="profile.isProvider">
    <div class="pt-30p border-top border-line">
      <div class="row">
        <div class="col-12">
          <div class="mb-20p">
            <h6>Fees:</h6>
            <p>Standard Hourly Fees: {{profile.priceFull}}</p>
          </div>
    
          <div class="mb-20p">
            <h6>Age Group:</h6>
            <form-item-checkbox-group
            id="age_range"
            label="Age range"
            [data]="profile.age_range"
            [disabled]="true"
            [option]="{showInlineWhenDisabled: true}"
            ></form-item-checkbox-group>
          </div>
          
          <div class="mb-20p">
            <h6>Organization:</h6>
            <p>{{profile.organization}}</p>
          </div>
    
          <div class="mb-20p">
            <h6>Certification:</h6>
            <p>{{profile.certification}}</p>
          </div>
    
          <div class="mb-20p">
            <h6>Language:</h6>
            <form-item-checkbox-group
            *ngIf="questionnaires"
            id="languages"
            label="Languages"
            [data]="profile.languagesId"
            [selectionsByQuestionnaire]="questionnaires?.language"
            [option]="{showInlineWhenDisabled: true}"
            [disabled]="true"
            ></form-item-checkbox-group>  
          </div>
    
          <div class="mb-20p">
            <h6>Experience:</h6>
            <form-item-checkbox-group
            id="years_of_experience"
            label="Experience"
            [data]="profile.yearsOfExperience"
            [disabled]="true"
            ></form-item-checkbox-group>  
          </div>
    
          <div 
          class="mb-20p"
          *ngIf="profile.amenityPreview.length > 0"
          >
            <h6>Amenity:</h6>
            <image-row [images]="profile.amenityPreview" [option]="{col: 3}"></image-row>
            <button 
            *ngIf="profile.amenityPreview.length > 0"
            class="btn btn-text small px-0" 
            (click)="openAmenityViewer()"
            >Show detail</button>
          </div>
    
          <div 
          class="mb-20p"
          *ngIf="profile.productPreview.length > 0"
          >
            <h6>Product:</h6>
            <image-row [images]="profile.productPreview" [option]="{col: 3}"></image-row>
            <button 
            *ngIf="profile.productPreview.length > 0"
            class="btn btn-text small px-0" 
            (click)="openProductViewer()" 
            >Show detail</button>
          </div>

          <div
          *ngIf="videos.length > 0"
          class="mb-20p"
          >
          <h6>Video:</h6>
          <ul class="list-unstyled row">
            <li 
            *ngFor="let v of videos"
            class="col-12 col-lg-6"
            >
              <div 
              class="video-container"
              [innerHTML]="v"
              ></div>
            </li>
          </ul>
          </div>

          <div 
          class="mb-20p"
          *ngIf="profile.staffs.length > 0"
          >
            <h6>Team members:</h6>
            <ul class="list-unstyled row">
              <ng-template #cardStaffInner let-data>
                <profile-image [size]="42" [image]="data.profileImage"></profile-image>
                <div class="ml-10p">
                  <h6 class="subtitle2 text-body clamp-1line mb-0">{{data.name}}</h6>
                  <div class="body2 text-label">{{data.title}}</div>                      
                </div>
              </ng-template>
              <li 
              class="col-12 col-md-6 mb-15p"
              *ngFor="let staff of profile.staffs"
              > 
                <a 
                *ngIf="staff.linkToProfile"
                class="card rounded-12p p-10p align-items-center flex-row border-line bg-background"
                [routerLink]="staff.linkToProfile"
                >
                  <ng-container *ngTemplateOutlet="cardStaffInner; context: {$implicit: staff}"></ng-container>
                </a>
                <div
                *ngIf="!staff.linkToProfile"
                class="card rounded-12p p-10p align-items-center flex-row border-line bg-background cursor-pointer"
                (click)="showModalStaticStaff(staff)"
                >
                  <ng-container *ngTemplateOutlet="cardStaffInner; context: {$implicit: staff}"></ng-container>
                </div>
              </li>
            </ul>
          </div>
        </div>
    
        <!-- <div class="col-12 col-lg-6">
          <div class="bg-background rounded-8p p-20p">
            <h6>Contact</h6>
    
            <div 
            *ngIf="profile.address"
            class="mb-25p"
            >
              <i iconPh="pin" class="text-placeholder large"></i>
              <p>{{profile.address}}</p>
            </div>
            
            <div 
            *ngIf="profile.phone" 
            class="mb-25p"
            >
              <i iconPh="smartphone" class="text-placeholder large"></i>
              <p>{{profile.phone}}</p>
            </div>
      
            <div *ngIf="profile.website">
              <i iconPh="laptop" class="text-placeholder large"></i>
              <p class="clamp-1line body1" style="word-break: break-all">
                <a [href]="profile.website" target="_blank">{{profile.websiteLabel}}</a>
              </p>
            </div>
      
          </div>
        </div> -->
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="profile.isP">
    <div class="row pt-30p">
      <div 
      class="col-12 col-md-6 col-lg-4" 
      *ngFor="let image of profileAsPartner.productImages"
      >
        <div 
        class="image-container-40pc image-container-md-100pc rounded-12p overflow-hidden mb-15p mb-md-30p"
        (click)="openPartnerViewer()"
        >
          <img [src]="image.url" alt="">
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- NEED CHANGE TO MODAL -->
<image-viewer
*ngIf="isAmenityViewerShown"
[data]="profile.amenity"
(close)="closeAmenityViewer()"
></image-viewer>

<image-viewer
*ngIf="isProductViewerShown"
[data]="profile.product"
(close)="closeProductViewer()"
></image-viewer>

<image-viewer 
*ngIf="isPartnerViewerShown" 
[data]="profileAsPartner.productImageViewerData" 
(close)="closePartnerViewer()"
></image-viewer>

<modal
id="team-member"
#modalStaticStaff
>
  <ng-container *ngIf="selectedStaff">
    <div class="text-right">
      <button class="btn pr-0 btn-icon" (click)="modalStaticStaff.hide()">
        <i iconPh="cross"></i>
      </button>
    </div>
    <div class="content-container">
      <div class="text-center">
        <profile-image [size]="80" [image]="selectedStaff?.profileImage" class="d-inline-block"></profile-image>
        <h5 class="mt-10p">{{selectedStaff?.name}}</h5>
        <div class="body1 text-label">{{selectedStaff?.title}}</div>
      </div>
      <p class="mt-30p mb-0">{{selectedStaff?.description}}</p>
    </div>
  </ng-container>
</modal>
