<div 
*ngIf="!profile"
class="mt-100p text-center"
>
  <loader></loader>
</div>

<div 
*ngIf="profile"
class="position-relative rounded-8p bg-white p-20p p-xl-30p body1 text-body"
>
  <p class="mb-20p">
    {{profile.description}}
  </p>

  <ng-container *ngIf="profile.isProvider">
    <div class="pt-30p border-top border-line">
      <div class="row">
        <div class="col-12">
          <div class="mb-20p">
            <h6>Fees:</h6>
            <p>Standard Hourly Fees: $49</p>
          </div>
    
          <div class="mb-20p">
            <h6>Age Group:</h6>
            <form-item-checkbox-group
            id="age_range"
            label="Age range"
            [data]="profile.age_range"
            [disabled]="true"
            [option]="{showInlineWhenDisabled: true}"
            ></form-item-checkbox-group>
          </div>
          
          <div class="mb-20p">
            <h6>Organization:</h6>
            <p>{{profile.organization}}</p>
          </div>
    
          <div class="mb-20p">
            <h6>Certification:</h6>
            <p>{{profile.certification}}</p>
          </div>
    
          <div class="mb-20p">
            <h6>Language:</h6>
            <form-item-checkbox-group
            *ngIf="questionnaires"
            id="languages"
            label="Languages"
            [data]="profile.languagesId"
            [selectionsByQuestionnaire]="questionnaires?.language"
            [option]="{showInlineWhenDisabled: true}"
            [disabled]="true"
            ></form-item-checkbox-group>  
          </div>
    
          <div class="mb-20p">
            <h6>Experience:</h6>
            <form-item-checkbox-group
            id="years_of_experience"
            label="Experience"
            [data]="profile.yearsOfExperience"
            [disabled]="true"
            ></form-item-checkbox-group>  
          </div>
    
          <div 
          class="mb-20p"
          *ngIf="profile.amenityPreview.length > 0"
          >
            <h6>Amenity:</h6>
            <image-row [images]="profile.amenityPreview" [option]="{col: 3}"></image-row>
            <button 
            *ngIf="profile.amenityPreview.length > 0"
            class="btn btn-text small px-0" 
            (click)="openAmenityViewer()"
            >Show detail</button>
          </div>
    
          <div 
          class="mb-20p"
          *ngIf="profile.productPreview.length > 0"
          >
            <h6>Product:</h6>
            <image-row [images]="profile.productPreview" [option]="{col: 3}"></image-row>
            <button 
            *ngIf="profile.productPreview.length > 0"
            class="btn btn-text small px-0" 
            (click)="openProductViewer()" 
            >Show detail</button>
          </div>

          <div 
          class="mb-20p"
          *ngIf="profile.staffs.length > 0"
          >
            <h6>Team members:</h6>
            <ul 
            *ngFor="let staff of profile.staffs"
            class="list-unstyled"
            >
              <li class="d-flex">
                <a [routerLink]="[staff.linkToProfile]">
                  <profile-image [image]="staff.profileImage" size=70></profile-image>
                </a>
                <div class="ml-15p">
                  <a 
                  class="subtitle1" 
                  [routerLink]="[staff.linkToProfile]"
                  >{{staff.name}}</a>
                  <p 
                  class="body1 text-label mb-0"
                  [ngClass]="{'clamp-2line': !isStaffSelected(staff)}"
                  >{{staff.description}}</p>

                  <button
                  class="btn btn-text-body small px-0"
                  (click)="onClickStaffDescription(staff)"
                  >
                    <span *ngIf="isStaffSelected(staff)">Show less</span>
                    <span *ngIf="!isStaffSelected(staff)">Show more</span>
                  </button>
                </div>  
              </li>
            </ul>
          </div>
        </div>
    
        <!-- <div class="col-12 col-lg-6">
          <div class="bg-background rounded-8p p-20p">
            <h6>Contact</h6>
    
            <div 
            *ngIf="profile.address"
            class="mb-25p"
            >
              <i iconPh="pin" class="text-placeholder large"></i>
              <p>{{profile.address}}</p>
            </div>
            
            <div 
            *ngIf="profile.phone" 
            class="mb-25p"
            >
              <i iconPh="smartphone" class="text-placeholder large"></i>
              <p>{{profile.phone}}</p>
            </div>
      
            <div *ngIf="profile.website">
              <i iconPh="laptop" class="text-placeholder large"></i>
              <p class="clamp-1line body1" style="word-break: break-all">
                <a [href]="profile.website" target="_blank">{{profile.websiteLabel}}</a>
              </p>
            </div>
      
          </div>
        </div> -->
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="profile.isP">
    <div class="row pt-30p">
      <div 
      class="col-12 col-md-6 col-lg-4" 
      *ngFor="let image of profileAsPartner.productImages"
      >
        <div 
        class="image-container-40pc image-container-md-100pc rounded-12p overflow-hidden mb-15p mb-md-30p"
        (click)="openPartnerViewer()"
        >
          <img [src]="image.url" alt="">
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!-- NEED CHANGE TO MODAL -->
<image-viewer
*ngIf="isAmenityViewerShown"
[data]="profile.amenity"
(close)="closeAmenityViewer()"
></image-viewer>

<image-viewer
*ngIf="isProductViewerShown"
[data]="profile.product"
(close)="closeProductViewer()"
></image-viewer>

<image-viewer 
*ngIf="isPartnerViewerShown" 
[data]="profileAsPartner.productImageViewerData" 
(close)="closePartnerViewer()"
></image-viewer>
