<div class="menu-sm bg-background">
  <div class="menu-top py-10p py-md-15p container text-right">
    <div class="d-inline-flex align-items-center">
      <div class="ml-10p ml-md-30p">
        <a (click)="gonext(['/practitioners'])" class="btn btn-primary small cursor-pointer">Find practitioners</a>
      </div>
      <div class="ml-15p w-30p text-right">
        <a class="btn btn-icon small pr-0" (click)="goback()">
          <i iconPh="cross" class="large"></i>
        </a>
      </div>
  
    </div>
  </div>

  <div class="d-flex flex-nowrap overflow-hidden mt-60p" #menuSm>
    <div class="menu-inner">
      <ul class="list-unstyled mb-0 container">
        <li *ngFor="let cat of categories">
          <ng-container *ngIf="!isCategoryEvent(cat)">
            <list-item (onTap)="gonext(['/magazines/category/', cat.slug])" action="arrow-right">
              <div class="subtitle1">{{cat.title}}</div>
            </list-item>
          </ng-container>
          <ng-container *ngIf="!!isCategoryEvent(cat)">
            <list-item (onTap)="gonext(['/magazines/category/event'])" action="arrow-right">
              <div class="subtitle1">{{cat.title}}</div>
            </list-item>
          </ng-container>
        </li>
        <li>
          <list-item (onTap)="gonext(['/magazines/video'])" action="arrow-right">
            <div class="subtitle1">Videos</div>
          </list-item>
        </li>
        <li>
          <list-item (onTap)="gonext(['/magazines/podcast'])" action="arrow-right">
            <div class="subtitle1">Podcasts</div>
          </list-item>
        </li>
        <li>
          <list-item (onTap)="changeMenuTo(0,1)" action="chevron-right">
            <div class="subtitle1">All topics</div>
          </list-item>
        </li>
      </ul>
    </div>

    <div class="menu-inner">
      <ul class="list-unstyled mb-0 container">
        <li class="py-2">
          <button class="btn pl-0 text-placeholder" (click)="changeMenuTo(1, 0)">
            <i iconPh="chevron-left" class="mr-2"></i>
            <span>Back</span>  
          </button>
        </li>

        <li *ngFor="let tag of tags">
          <list-item action="arrow-right" (onTap)="gonext(['/magazines/tag/', tag.slug])">
            <div class="subtitle1">{{tag.title}}</div>
          </list-item>
        </li>
      </ul>
    </div>
  </div>
</div>
