<div class="container">
  <div class="row align-items-start justify-content-center">
    <section 
    *ngIf="!isReturnToAppShown"
    class="col-12 col-md-2 col-xl-2"
    >
      <div class="text-md-right">
        <button-goback 
        buttonClass="pt-0 pl-0" 
        [link]="['/community', 'feed']"
        ></button-goback>
      </div>
    </section>
    <section class="col-12 col-md-10 col-xl-8">
      <div 
      *ngIf="!post"
      class="mt-80p text-center"
      >
        <loader></loader>
      </div>
      <ng-container *ngIf="post">
        <card 
        [post]="post" 
        [shorten]="false"
        [option]="{openCommentsOnInit: true, showLinkToDetail: false}"
        ></card>  
      </ng-container>
    </section>        
  </div>
</div>

<a
*ngIf="isReturnToAppShown" 
href="prompthealth://goBack"
class="position-fixed btn btn-primary shadow" 
style="z-index: 100; bottom: 15px; left: 50%; transform: translateX(-50%); width: calc(100vw - 60px); max-width: 400px;"
>
  Return to app
</a>

<action-sheet-open-app [path]="pathToApp"></action-sheet-open-app>