ul li:not(:last-child){ 
  margin-right: 15px;
  @media screen and (min-width: 768px){ margin-right: 20px; }

  &.gap-narrow{ margin-right: 12px; }

}

.icon-sns{
  flex: 0 0 auto;
  position: relative;

  width: 40px;
  height: 40px;
  background: grey;
  overflow: hidden;
  border-radius: 40px;

  .svg-twitter, .svg-spotify{
    width: 70%;
    height: 70%;
    margin: 15%;
  }



  &:first-child{  background: #5d68e1; } 
  &:nth-child(2){ background: #9d5acc; }
  &:nth-child(3){ background: #c34fb1; }
  &:nth-child(4){ background: #d94a93; }
  &:nth-child(5){ background: #e24f76; }  
  &:nth-child(6){ background: #e15d5d; }  

  img{ width: 100%; }
}