<ul class="list-unstyled d-flex">
  <li class="icon-sns fb"><a><img src="/assets/img/icon-fb.png" alt="fb"></a></li>
  <li class="icon-sns"><a href=""><img src="/assets/img/icon-linkedin.png" alt="linkedin"></a></li>
  <li class="icon-sns insta"><a href=""><img src="/assets/img/icon-insta.png" alt="instagram"></a></li>
  <li class="icon-sns tiktok"><a href="https://www.tiktok.com/@prompthealth"><img src="/assets/img/icon-tiktok.png" alt="tiktok"></a></li>
  <li class="icon-sns youtube"><a href="https://www.youtube.com/channel/UCnMigPMOdit9i6koo3-VSMg"><img src="/assets/img/icon-youtube.png" alt="tiktok"></a></li>
</ul>
