ul li:not(:last-child){ 
  margin-right: 15px;
  @media screen and (min-width: 768px){ margin-right: 20px; }

  &.gap-narrow{ margin-right: 12px; }

}

.icon-sns{
  flex: 0 0 auto;
  position: relative;

  width: 40px;
  height: 40px;
  background: grey;
  overflow: hidden;
  border-radius: 40px;

  .svg-twitter, .svg-spotify{
    width: 70%;
    height: 70%;
    margin: 15%;
  }

  .svg-clubhouse {
    width: 80%;
    height: 80%;
    margin: 10%;
  }



  &:first-child{  background: #5d68e1; } 
  &:nth-child(2){ background: #7366CB; }
  &:nth-child(3){ background: #8964B5; }
  &:nth-child(4){ background: #9F639F; }
  &:nth-child(5){ background: #B56189; }  
  &:nth-child(6){ background: #CB5F73; }
  &:nth-child(7){ background: #E15D5D; }


  img{ width: 100%; }
}