<h4 class="mb-3">Video Listing 
    <button *ngIf="videosList && videosList.length" (click)="addMore = !addMore" class="btn btn-primary add-more">Add More</button>
</h4>
<table class="table table-hover comparetable" *ngIf="videosList && videosList.length">
    <thead>
        <tr>
            <th>
                <h5>Title</h5>
            </th>
            <th>
                <h5>URL</h5>
            </th>
            <th>
                <h5>Delete</h5>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let video of videosList  | paginate: { id: 'video',
        itemsPerPage: 5,
        currentPage: currentPage,
        totalItems: totalItems 
        }; let i=index">
            <td>
                {{ video.title }}
            </td>
            <td>
                <a href="{{ video.url }}" target="_blank">{{ video.url }}</a>
            </td>
            <td>
                <button (click)="deleteVideo(video._id)" class="btn btn-error small"><i iconPh="trash" class="large"></i></button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" *ngIf="totalItems > 5">
                <pagination-controls
                    id="video" 
                    (pageChange)="currentPage = $event"></pagination-controls>
            </td>
        </tr>
    </tfoot>
</table>
<hr *ngIf="addMore && videosList && videosList.length == 0">
<form *ngIf="addMore || videosList && videosList.length == 0" (ngSubmit)="saveVideos()" [formGroup]="videosForm">
    <!-- {{ url.errors?.required }} -->
    <div formArrayName="data">
      <div *ngFor="let itemrow of formArr.controls; let i=index" [formGroupName]="i" class="row">
        <div class="form-group col-sm-5">
          <label>Video Title <span class="text-danger">*</span></label>
          <input formControlName="title" class="form-control" placeholder="Enter Video Title" maxlength="50">
          <small *ngIf="formArr.controls[i].get('title').touched && formArr.controls[i].get('title').errors?.required"  class="text-danger">
            Video Title is required.
          </small>
        </div>
        <div class="form-group col-sm-5">
          <label>URL <span class="text-danger">*</span></label>
          <input formControlName="url" class="form-control" placeholder="Enter YouTube/Vimeo URL">
          <div class="error-block" *ngIf="formArr.controls[i].get('url').touched">
            <small  *ngIf="formArr.controls[i].get('url').errors?.required"  class="text-danger">
                Video URL is required.
            </small>
            <small *ngIf="formArr.controls[i].get('url').errors?.pattern"  class="text-danger">
                YouTube / Vimeo URL is invalid.
            </small>
          </div>
        </div>
        <div class="form-group col-sm-2">
            <button type="button" (click)="addNewRow()" class="btn btn-primary small"><i iconPh="plus" class="large"></i></button>
            <button *ngIf="i >= 1" (click)="deleteRow(i)" class="btn btn-error small"><i iconPh="trash" class="large"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-primary" [disabled]="!videosForm.valid">Save</button>
    </div>
</form>