<div class="bg-white py-50p px-15p px-lg-30p rounded-8p">
  <h5 class="mb-30p">Reset Password</h5>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-20p">
      <label for="current" class="subtitle2">Current Password</label>
      <form-item-input
      name="current"
      label="Current password"
      type="password"
      [controller]="f.currentpwd"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>

    <div class="mb-20p">
      <label for="new" class="subtitle2">New Password</label>
      <form-item-input
      name="new"
      label="New password"
      type="password"
      [controller]="f.password"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>

    <div class="mb-20p">
      <label for="confirm" class="subtitle2">Confirm Password</label>
      <form-item-input
      name="confirm"
      label="Confirm password"
      type="password"
      [controller]="f.confirmPassword"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>

    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="text-right flex-grow-1 mt-15p">
        <input type="submit" class="btn btn-primary" value="Reset Password">
      </div>
    </div>
  </form>
</div>