<div class="container mt-30p">

  <div class="d-none d-md-flex text-center align-items-center justify-content-center mb-50p">
    <a class="btn mr-2 pr-0">
      <i class="fas fa-home text-label" routerLink="/magazines"></i>
    </a>
    <ng-container *ngIf="data?.category">
      <i class="fas fa-chevron-right mr-2 text-label"></i>
      <a class="mr-2 body2-temp text-label btn">{{data.category}}</a>  
    </ng-container>
    <i class="fas fa-chevron-right mr-2 text-label"></i>
    <span class="mr-2 body2-temp clamp-1line">{{data?.title}}</span>
  </div>

  <div class="mb-20p row justify-content-center">
    <div class="col-12 col-md-12 col-lg-10 col-xl-9 text-center">

      <div *ngIf="!data" class="eyecatch-container ratio-5--3">
        <div class="eyecatch-dummy bg-background"></div>
      </div>
      <div *ngIf="data?.isEyecatchVideo" class="eyecatch-container ratio-16--9">
        <div class="eyecatch" [innerHTML]="data.videosEmbedded[0]"></div>
      </div>
      <div *ngIf="data?.isEyecatchPodcast" class="eyecatch-container ratio-for-podcast">
        <div class="eyecatch" [innerHTML]="data.podcastsEmbedded[0]"></div>
      </div>
      <div *ngIf="data?.isEyecatchImage" class="eyecatch-container ratio-5--3">
        <img [src]="data.image" class="eyecatch" alt="">
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-30p">
    <div class="col-12 col-md-11 col-lg-9 col-xl-8">
      <div class="row align-items-center body2-temp">
        <div class="col-12 col-md-4 mb-10p border-md-right">
          <div class="d-flex align-items-center">
            <img [src]="data?.authorImage" alt="" class="author mr-2">
            <span class="opacity-70pc">{{data?.author}}</span>
          </div>  
        </div>
        <div class="col-12 col-md-8">
          <div class="d-flex flex-column flex-md-row flex-nowrap opacity-70pc">
            <span class="mr-4 mb-10p text-nowrap">
              <i class="far fa-calendar mr-1"></i>
              <span>{{data?.createdAt | date:'longDate'}}</span>
            </span>
            <span class="mr-4 mb-10p text-nowrap">
              <i class="far fa-hourglass mr-1"></i>
              <span>{{data?.readLength}} min read
              </span>
            </span>
            <span class="mb-10p text-nowrap" *ngIf="data?.category">
              <i class="fas fa-tag mr-1"></i>
              <span>{{data.category}}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mb-100p">
    <div class="col-12 col-md-11 col-lg-9 col-xl-8">
      <h2 class="h4-temp h2-temp-md mb-25p text-center">
        {{data?.title}}
      </h2>

      <div class="body1-temp page-content" [innerHTML]="data?.descriptionSanitized"></div>
       
    </div>
  </div>
</div>
<div class="bg-background pt-70p pb-100p">
  <div class="container">
    <h4 class="h5-temp text-center mb-45p">RELATED POSTS</h4>
    <ul class="row list-unstyled m-0 p-0">
      <li class="col-12 col-lg-4 mb-30p" *ngFor="let data of related">
        <card-post [showCategory]="false" [data]="data" [option]="{colorLightForDummy: '#eff3f7'}"></card-post>
      </li>  
    </ul>
  </div>
</div>