/// TEMPORARY TODO: DELETE LATER
:host {
  color: rgba(41, 49, 72, 1)!important;
}
.bg-background {
  background: rgba(239, 243, 247, 1);
}
.text-label {
  color: rgba(131, 135, 144, 1);
}
/// TEMPORARY END