<section
  class="pt-6 pb-6 text-center bg-cover bg-overlay bg-border text-light"
  style="background-image:url(assets/img/backgroud4.jpg);"
>
  <div class="container">
    <h2 class="mb-5 ttle-bott-bor text-center">
      Join the growing network of Canadian health and wellness professionals
    </h2>
    <h3 class="font-weight-normal mt-5">
      Together, we will change the health and wellness experience.
    </h3>
  </div>
</section>

<section class="pt-5 pb-5 text-center bg-light">
  <div class="container" style="max-width:725px">
    <h2 class="ttle-bott-bor text-center mb-4">
      Prompt Health for every practice
    </h2>
    <h4 class="font-weight-normal mb-3">
      You can be listed as long as you are a licensed provider or place who does
      not need referral.
    </h4>
    <ul class="check_ul">
      <li class="d-inline-block mr-2">Medical</li>
      <li class="d-inline-block mr-2">Dental</li>
      <li class="d-inline-block mr-2">Allied Health</li>
      <li class="d-inline-block mr-2">Holistic</li>
      <li class="d-inline-block">Wellness</li>
    </ul>
    <p>
      Regular engagement with clients has become part of the modern workflow for
      all health and wellness providers in order to up the client’s experience
      game. Prompt health makes it easier and more convenient for both clients
      and providers to get connected and stay connected.
    </p>
  </div>
</section>

<section class="pt-5 pb-5">
  <div class="container">
    <h3 class="ttle-bott-bor mb-5">Benefits and Features</h3>
    <div class="accordion mt-4" id="accordionExample">
      <div class="card1 shadow-sm mb-3">
        <div
          id="headingOne"
          class="card-header bg-light border-0"
          type="button"
          data-toggle="collapse"
          data-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <i class="fa fa-plus"></i>
          <i class="fa fa-minus"></i>
          Client Acquisition/Retention
        </div>

        <div
          id="collapseOne"
          class="collapse show"
          aria-labelledby="headingOne"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Increase your online presence by getting matched to users and
            keeping them engaged
          </div>
        </div>
      </div>
      <div class="card1 shadow-sm mb-3">
        <div
          id="headingTwo"
          class="card-header collapsed bg-light border-0"
          type="button"
          data-toggle="collapse"
          data-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          <i class="fa fa-plus"></i>
          <i class="fa fa-minus"></i>
          Establish credibility
        </div>

        <div
          id="collapseTwo"
          class="collapse"
          aria-labelledby="headingTwo"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Receive likes, real reviews and get featured by going to the top of
            the list.
          </div>
        </div>
      </div>

      <div class="card1 shadow-sm mb-3">
        <div
          id="headingThree"
          class="card-header collapsed bg-light border-0"
          type="button"
          data-toggle="collapse"
          data-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          <i class="fa fa-plus"></i>
          <i class="fa fa-minus"></i>
          Optimize efficiency
        </div>

        <div
          id="collapseThree"
          class="collapse"
          aria-labelledby="headingThree"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Notification option for greetings, request bookings, reminders and
            recalls
          </div>
        </div>
      </div>
      <div class="card1 shadow-sm mb-3">
        <div
          id="headingFour"
          class="card-header collapsed bg-light border-0"
          type="button"
          data-toggle="collapse"
          data-target="#collapseFour"
          aria-expanded="false"
          aria-controls="collapseFour"
        >
          <i class="fa fa-plus"></i>
          <i class="fa fa-minus"></i>
          Enhance engagement
        </div>

        <div
          id="collapseFour"
          class="collapse"
          aria-labelledby="headingFour"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            Offer promotions based on location and rewards for referrals, social
            media sharing, reviews and feedback.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="ttle-bott-bor text-center mb-5">Introductory Pricing</h2>
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="card-body shadow bg-light mb-4 rounded scaleup">
          <h5 class="text-primary text-center">Starter</h5>
          <div class="text-center h4 font-weight-bold">Free</div>
          <hr />
          <ul class="check_ul">
            <li class="fa-circle">Get listed with a basic profile</li>
            <li class="fa-circle">Contact and address</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body shadow bg-light mb-4 rounded scaleup">
          <h5 class="text-primary text-center">Provider</h5>
          <div
            class="text-center d-flex justify-content-center align-items-center"
          >
            <b class="h5 mb-3">$</b><b class="h5">10</b>/month
          </div>
          <hr />
          <ul class="check_ul">
            <li class="fa-circle">Get listed with a professional profile</li>
            <li class="fa-circle">
              Contact and address, URL, logo and a picture
            </li>
            <li class="fa-circle">U tube video upload</li>
            <li class="fa-circle">Social media sharing</li>
            <li class="fa-circle">Performance dashboard</li>
            <li class="fa-circle">Real reviews and feedback</li>
            <li class="fa-circle">Receive messages for booking</li>
            <li class="fa-circle">Send messages for recalls</li>
            <li class="fa-circle">Promotions and discounts option</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body shadow bg-light mb-4 rounded scaleup">
          <h5 class="text-primary text-center">Center</h5>
          <div
            class="text-center d-flex justify-content-center align-items-center"
          >
            <b class="h5 mb-3">$</b><b class="h5">100</b>/month
          </div>
          <div class="text-center">per location  up to 10 providers</div>
          <hr />
          <ul class="check_ul">
            <li class="fa-circle">Get listed with a professional profile</li>
            <li class="fa-circle">
              Contact and address, URL, logo and a picture
            </li>
            <li class="fa-circle">
              List your type of center and different locations
            </li>
            <li class="fa-circle">List of providers</li>
            <li class="fa-circle">List any special amenities</li>
            <li class="fa-circle">List products option</li>
            <li class="fa-circle">U tube video upload</li>
            <li class="fa-circle">Social media sharing</li>
            <li class="fa-circle">Performance dashboard</li>
            <li class="fa-circle">Real reviews and feedback</li>
            <li class="fa-circle">Receive messages for booking</li>
            <li class="fa-circle">Send messages for recalls</li>
            <li class="fa-circle">Promotions and discounts option</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
