<section
  class="pt-6 pb-6 text-center bg-cover bg-overlay bg-border text-light"
  style="background-image:url(assets/img/professional-banner.png);"
>
  <div class="container pl-4 pr-4">
    <h2 class="mb-5 ttle-bott-bor text-center">
      Join the growing network of Canadian health and wellness professionals
    </h2>
    <h3 class="font-weight-normal mt-5">
      Together, we will change the health and wellness experience.
    </h3>
  </div>
</section>

<section class="pt-5 pb-5 text-center bg-light">
  <div class="container font-weight-normal" style="max-width:725px">
    <h2 class="ttle-bott-bor text-center mb-4">
      PromptHealth for every practice
    </h2> 
    <h4 class="font-weight-normal mb-3">
      You can be listed as long as you are an accredited provider in Canada which does not need referral.
    </h4>
    <ul class="check_ul1 h6">
      <li class="d-inline-block mr-2 fa fa-check"><span>Mental Health</span></li>
      <li class="d-inline-block mr-2 fa fa-check"><span>Medical</span></li>
      <li class="d-inline-block mr-2 fa fa-check"><span>Dental</span></li>
      <li class="d-inline-block mr-2 fa fa-check"><span>Allied Health</span></li>
      <li class="d-inline-block mr-2 fa fa-check"><span>Holistic</span></li>
      <li class="d-inline-block fa fa-check"><span>Wellness</span></li>
    </ul>
    <p>
      Regular engagement with clients has become part of the modern workflow 
      for all health and wellness providers in order to up enhance the client’s 
      experience game. PromptHealth makes it easier and more convenient for
       both clients and providers to get connected and stay connected.
    </p>
  </div>
</section>

<section class="pt-5 pb-5">
  <div class="container">
    <h3 class="ttle-bott-bor text-center mb-5">Benefits and Features</h3>

    <div class="row mt-4">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="hoverEffectBox shadow">
          <div class="font-weight-bold text-center">
            <img src="assets/img/Acquisition.png" class="w-100 mb-3 icon1" />
            Client Acquisition/Retention
          </div>

          <div class="position-absolute text-center bg-primary text-light">
            <div class="card-body">
              <h6>Client Acquisition/Retention</h6>
              Increase your online presence by getting matched to users and
              keeping them engaged
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="hoverEffectBox shadow">
          <div class="font-weight-bold text-center">
            <img src="assets/img/handshake.png" class="w-100 mb-3 icon1" />
            Establish credibility
          </div>

          <div class="position-absolute text-center bg-primary text-light">
            <div class="card-body">
              <h6>Establish credibility</h6>
              Receive likes, real reviews and get featured by going to the top
              of the list.
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="hoverEffectBox shadow">
          <div class="font-weight-bold text-center">
            <img src="assets/img/efficiency.png" class="w-100 mb-3 icon1" />
            Optimize efficiency
          </div>

          <div class="position-absolute text-center bg-primary text-light">
            <div class="card-body">
              <h6>Optimize efficiency</h6>
              Request booking option if no existing online booking or connection to your own existing online booking calender.
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="hoverEffectBox shadow">
          <div class="font-weight-bold text-center">
            <img src="assets/img/engagement.png" class="w-100 mb-3 icon1" />
            Enhance engagement
          </div>

          <div class="position-absolute text-center bg-primary text-light">
            <div class="card-body">
              <h6>Enhance engagement</h6>
              Video introductions, pics of profesionals and products, opportunity to get future discounts with points received from ratings.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <div class="container">
    <h2 class="ttle-bott-bor text-center mb-5">Introductory Pricing</h2>
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="card-body shadow bg-light mb-4 rounded scaleup">
          <h5 class="text-primary text-center">Starter</h5>
          <div class="text-center h4 font-weight-bold">Free</div>
          <hr />
          <ul class="check_ul1">
            <li class="fa fa-circle"><span>Get listed with a basic profile</span></li>
            <li class="fa fa-circle"><span>Contact and address</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body shadow bg-light mb-4 rounded scaleup">
          <h5 class="text-primary text-center">Provider</h5>
          <div
            class="text-center d-flex justify-content-center align-items-center"
          >
            <b class="h5 mb-3">$</b><b class="h5">10</b>/month
          </div>
          <hr />
          <ul class="check_ul1">
            <li class="fa fa-circle"><span>Get listed with a professional profile</span></li>
            <li class="fa fa-circle">
              <span>Contact and address, URL, logo and a picture</span>
            </li>
            <li class="fa fa-circle"><span>U tube video upload</span></li>
            <li class="fa fa-circle"><span>Social media sharing</span></li>
            <li class="fa fa-circle"><span>Performance dashboard</span></li>
            <li class="fa fa-circle"><span>Real reviews and feedback</span></li>
            <li class="fa fa-circle"><span>Receive messages for booking</span></li>
            <li class="fa fa-circle"><span>Send messages for recalls</span></li>
            <li class="fa fa-circle"><span>Promotions and discounts option</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-body shadow bg-light mb-4 rounded scaleup">
          <h5 class="text-primary text-center">Center</h5>
          <div
            class="text-center d-flex justify-content-center align-items-center"
          >
            <b class="h5 mb-3">$</b><b class="h5">100</b>/month
          </div>
          <div class="text-center">per location  up to 10 providers</div>
          <hr />
          <ul class="check_ul1">
            <li class="fa fa-circle">
              <span>Get listed with a professional profile</span>
              </li>
            <li class="fa fa-circle">
              <span>Contact and address, URL, logo and a picture</span>
            </li>
            <li class="fa fa-circle">
              <span>List your type of center and different locations</span>
            </li>
            <li class="fa fa-circle"><span>List of providers</span></li>
            <li class="fa fa-circle"><span>List any special amenities</span></li>
            <li class="fa fa-circle"><span>List products option</span></li>
            <li class="fa fa-circle"><span>U tube video upload</span></li>
            <li class="fa fa-circle"><span>Social media sharing</span></li>
            <li class="fa fa-circle"><span>Performance dashboard</span></li>
            <li class="fa fa-circle"><span>Real reviews and feedback</span></li>
            <li class="fa fa-circle"><span>Receive messages for booking</span></li>
            <li class="fa fa-circle"><span>Send messages for recalls</span></li>
            <li class="fa fa-circle"><span>Promotions and discounts option</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->
