<section
  class="pt-6 pb-6 text-center bg-cover bg-overlay text-light"
  style="background-image: url(assets/img/background3.jpg);"
>
  <div class="container">
    <h2 class="mb-3">Join our Canadian Network</h2> 
    <p class="h4 font-weight-normal">Apply here to be considered as VIP if you have more than 5000 users/ social media followers.
    </p>
  </div>
</section>

<section class="pt-4 pb-4 bg-light">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="form-row">
            <form role="form" class="labeledform row contactform" (ngSubmit)="affiliateMe()" [formGroup]="affiliateRequestForm">
              <div class="col-md-12 mb-3">
                <label>Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter Your Name" 
                formControlName="firstName" class="form-control" [ngClass]="{
                  'is-invalid': submitted && f.firstName.errors
                }"
                required />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">
                    Name is required
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label>Email <span class="text-danger">*</span></label>
                <input type="email"  class="form-control" placeholder="Enter Your Email" formControlName="email" 
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label>Type</label>
                <div>
                  <span class="mr-2">
                    <input type="radio" formControlName="role" class="mr-2" required value="SP" 
                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }" required/> Service Provider
                  </span>
                  <span class="mr-2">
                    <input type="radio" formControlName="role" required  value="C" class="mr-2" 
                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }" required/> Center
                  </span>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label>Total Users <span class="text-danger">*</span></label>
                <input
                  type="number" class="form-control"
                  required formControlName="numberOfUser" 
                  [ngClass]="{
                    'is-invalid': submitted && f.numberOfUser.errors
                  }"
                  placeholder="Enter User Count" 
                />
                <div *ngIf="submitted && f.numberOfUser.errors" class="invalid-feedback">
                  <div *ngIf="f.numberOfUser.errors.required">
                    User Count is required
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label>How are you planning to promote us?</label>
                <textarea class="form-control"  formControlName="message" placeholder="Enter Message here"></textarea>
                <div class="invalid-feedback">
                  Please Enter Message
                </div>
              </div>
              <div class="col-md-12 mb-3 text-right">
                <button
                  type="button"
                  class="btn btn-secondary mr-2"
                >
                  Cancel
                </button>
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
            <hr />
            <h6 style="border-top: 1px solid #ddd"> * Tell us how you are planning to promote us and get featured on our site as partners and a get your first year subscription free. Invite a colleague and give them 10% discount to join and receive 20% discount towards your future subscriptions.</h6>
          </div>
        </div>
    </div>
  </div>
</section>
