<section
  class="pt-6 pb-6 text-center bg-cover bg-overlay text-light"
  style="background-image: url(assets/img/background3.jpg);"
>
  <div class="container">
    <h2 class="mb-3">Get Comped for VIP</h2>
    <p class="h3 font-weight-normal mb-3">
        if you are a health professional or center with more than 5,000 followers/users. Help us raise awareness for Prompt Health and get  a free membership for 3 month. 
    </p>

    <p class="h4 font-weight-normal">
        " Give another health provider 10% discount with this link" and "receive 20% off your subscription for each referral that signs up"
    </p>
  </div>
</section>

<section class="pt-4 pb-4 bg-light">
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="form-row">
            <form role="form" class="labeledform row contactform" (ngSubmit)="affiliateMe()" [formGroup]="affiliateRequestForm">
              <div class="col-md-6 mb-3">
                <label>First Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter Your First Name" 
                formControlName="firstName" class="form-control" [ngClass]="{
                  'is-invalid': submitted && f.firstName.errors
                }"
                required />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">
                    First name is required
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label>Last Name</label>
                <input placeholder="Enter Your Last Name" type="text" class="form-control" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"  />
              </div>
              <div class="col-md-12 mb-3">
                <label>Email <span class="text-danger">*</span></label>
                <input type="email"  class="form-control" formControlName="email" 
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label>Total Users <span class="text-danger">*</span></label>
                <input
                  type="number" class="form-control"
                  required formControlName="numberOfUser" 
                  [ngClass]="{
                    'is-invalid': submitted && f.numberOfUser.errors
                  }"
                  placeholder="Enter User Count" 
                />
                <div *ngIf="submitted && f.numberOfUser.errors" class="invalid-feedback">
                  <div *ngIf="f.numberOfUser.errors.required">
                    User Count is required
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label>Type</label>
                <div>
                  <span class="mr-2">
                    <input type="radio" class="mr-2" required 
                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }" required/> Service Provider
                  </span>
                  <span class="mr-2">
                    <input type="radio" required  value="C" class="mr-2" 
                    [ngClass]="{ 'is-invalid': submitted && f.role.errors }" required/> Center
                  </span>
                </div>
              </div>
              <div class="col-md-12 mb-3">
                <label>Message</label>
                <textarea class="form-control" placeholder="Enter Message here"></textarea>
                <div class="invalid-feedback">
                  Please Enter Message
                </div>
              </div>
              <div class="col-md-12 mb-3 text-right">
                <button
                  type="button"
                  class="btn btn-secondary mr-2"
                >
                  Cancel
                </button>
                <button class="btn btn-primary" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</section>
