.multipleImage {
    max-width: 80px;
    max-height: 80px;
    border: 1px solid #bbb;
    margin: 0 5px;
    display: inline-block;
    height: 80px;
    width: 80px;
    float: left;
    text-align: center;
    position: relative;

    img {
        max-width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        top: 0;
        bottom: 0;
        height: 100%;

    }
    a {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: #6d6e71;
        color: #fff;
        padding: 2px 3px 2px 4px;
    }
}

.text-danger {
    padding-left: 5px;
}
.add-more {
    float: right;
    margin-top: -5px;
}

table td {
    text-transform: capitalize;

    img {
        max-width: 50px;
        max-height: 50px;
    }
}

.whitespace-pre{
    white-space: pre;
}

.input-link{
    position: relative;
    border: none;
    background: none;
    outline: none;
  }