<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>

<h4 class="mb-50p">Manage your team</h4>

<div class="mb-40p">
    <section>
        <h6 class="mb-15p" (click)="toggleStateTipShareLink()">
            <span>Let your members join your the team</span>
            <i iconPh="info" class="text-label ml-5p"></i>
        </h6>
        <p *ngIf="isTipShareLinkShown">
            You can easily let your members to join your team.
            To do it, please share this link with your members.
        </p>
        
        <div class="border rounded-lg px-3 py-2 mb-2 d-flex align-items-center justify-content-end" >
            <input class="flex-grow-1 input-link text-body1" 
            #referralLink
            [value]="linkToTagStaff" 
            readonly
            >
        <button-share
        email
        label="Share"
        btnClass="btn btn-primary small"
        [url]="linkToTagStaff"
        title="Collaborate with us."
        text="Join our team and collaborate with us!"
        ></button-share>
        </div>      
    </section>
</div>

<div class="">
    <h6 class="mb-20p">Team members</h6>
    <ul 
    *ngIf="staffs && staffs.length > 0"
    class="list-unstyled"
    >
        <li 
        *ngFor="let staff of staffs;"
        class="d-flex"
        >   
            <profile-image 
            size=60 
            [image]="staff.profileImage"
            ></profile-image>
            <div class="d-lg-flex align-items-center ml-15p">
                <div>
                    <div class="subtitle1">{{staff.name}}</div>
                    <p class="body2 text-label clamp-2line mb-0">{{staff.description}}</p>
                </div>
                <div class="text-nowrap mt-10p mt-0p ml-lg-15p">
                    <a 
                    class="btn btn-outline small text-nowrap"
                    [routerLink]="['/community/profile', staff._id]"
                    >See profile</a>
                    <button 
                    class="btn btn-icon-grey small ml-10p"
                    (click)="showMenu(staff)"
                    >
                        <i iconPh="more-horiz"></i>
                    </button>    
                </div>    
            </div>
        </li>
    </ul>

    <div
    *ngIf="staffs && staffs.length == 0"
    class="subtitle1"
    >  
        You have no team members yet.
    </div>

    <div
    *ngIf="isLoading"
    class="mt-15p text-center"
    >
        <loader></loader>
    </div>
</div>

<modal 
id="staff-menu" 
#modalStaffMenu
[bodyStyle]="{'max-width': '380px'}"
>
    <ng-container *ngIf="selectedStaff">
        <div class="text-right">
            <button
            class="btn btn-icon"
            (click)="modalStaffMenu.hide()"
            >
                <i iconPh="cross"></i>
            </button>
        </div>
        <div class="content-container text-center">
            <div class="d-inline-block">
                <profile-image 
                size="70" 
                [image]="selectedStaff.profileImage"
                ></profile-image>                    
            </div>
            <div class="subtitle1 mt-20p mb-10p">Remove from your team</div>
            <p class="body1 text-body mb-30p mb-md-60p">
                Are you sure to remove "{{selectedStaff.nickname}}"?
            </p>
        
            <div class="d-flex justify-content-between">
                <button 
                class="btn btn-outline-error"
                (click)="removeStaff(selectedStaff)"
                >Yes, Remove</button>
                <button 
                class="btn btn-primary"
                (click)="modalStaffMenu.hide()"
                >Cancel</button>
            </div>
        </div>
    </ng-container>
</modal>

<div 
*ngIf="!!isUploading"
class="modal-view"
>
  <div class="modal-drop"></div>
  <div class="modal-body" style="max-width: 250px;">
    <div class="title-container">
      <h5 class="h4-md text-center">Processing...</h5>
    </div>
    <div class="content-container text-center mt-30p mb-10p">
      <loader></loader>
    </div>
  </div>
</div>
