<ul class="errors text-danger font-small" *ngIf="controller && controller.invalid && submitted">
  <li *ngIf="controller.errors.required">{{label}} is required.</li>
  <li *ngIf="controller.errors.requiredTrue">Please check</li>
  <li *ngIf="controller.errors.minlength">{{label}} too short.</li>
  <li *ngIf="controller.errors.maxlength">{{label}} too long.</li>
  <li *ngIf="controller.errors.email">{{label}} is invalid.</li>
  <li *ngIf="controller.errors.pattern">{{label}} is invalid.</li>
  <li *ngIf="controller.errors.mustMatch">{{label}} is not matched.</li>
  <li *ngIf="controller.errors.requiredCheckboxSelectedAtLeast1">{{label}} needed to be selected at least 1</li>
  <li *ngIf="controller.errors.matchPatternPassword">
    Password has to contain...
    <ul class="mt-1">
      <li>at least 8 characters</li>
      <li>at least 1 number</li>
      <li>at least 1 lowercase character</li>
      <li>at least 1 uppercase character</li>
      <li>at least 1 symbol ($@!%*?&)</li>
    </ul>
  </li>
</ul> 