<h4 class="mb-5">Change your password</h4>

<div class="form-container">

  <form (ngSubmit)="changePassword($event)" #updateDetailForm="ngForm" role="form">
    <!-- {{ url.errors?.required }} -->

    <div class="col-md-12">
      <div class="form-row mb-3">
        <label class="col-md-3">Your old password <span class="text-danger">*</span></label>
        <div class="col-md-9">
          <input type="password" autocomplete="off" id="oldPass" name="currentpwd" #currentpwd="ngModel"
            [(ngModel)]="pass.currentpwd" class="form-control" minlength="8" maxlength="50"
            (ngModelChange)="pass.currentpwd = $event" required />
          <div class="error-block">
            <small *ngIf="currentpwd.touched && currentpwd.errors?.required" class="text-danger">
              Old password is required.
            </small>
            <small *ngIf="currentpwd.touched && currentpwd.errors?.minlength" class="text-danger">
              Old password must be longer than 8 characters
            </small>
          </div>
        </div>
      </div>
      <div class="form-row mb-3">
        <label class="col-md-3">Your new password <span class="text-danger">*</span></label>
        <div class="col-md-9">
          <input type="password" autocomplete="off" id="password" name="password" #password="ngModel"
            [(ngModel)]="pass.password" class="form-control" minlength="8" maxlength="50"
            (ngModelChange)="pass.password = $event" required />
          <div class="error-block">
            <small *ngIf="password.touched && password.errors?.required" class="text-danger">
              New password is required.
            </small>
            <small *ngIf="password.touched && password.errors?.minlength" class="text-danger">
              New password must be longer than 8 characters
            </small>
          </div>
        </div>
      </div>
      <div class="form-row mb-3">
        <label class="col-md-3">Confirm your new Password <span class="text-danger">*</span></label>
        <div class="col-md-9">
          <input type="password" autocomplete="off" id="confirmPassword" name="confirmPassword"
            #confirmPassword="ngModel" [(ngModel)]="pass.confirmPassword" class="form-control" minlength="8"
            maxlength="50" (ngModelChange)="pass.confirmPassword = $event" required />
          <div class="error-block">
            <small *ngIf="confirmPassword.touched && confirmPassword.errors?.required" class="text-danger">
              Please confirm the new password.
            </small>
            <small *ngIf="confirmPassword.touched && confirmPassword.errors?.minlength" class="text-danger">
              The confirm password must be longer than 8 characters
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-right">
        <button type="submit" class="btn btn-primary" [disabled]="false">Save</button>
      </div>
    </div>
  </form>

</div>