<h4 class="mb-5">Change your password</h4>

<form (ngSubmit)="onSubmit()">
  <div class="row mb-4">
    <div class="col-12 col-md-4">
      <label class="subtitle1">
        Current password
        <span class="text-danger">*</span>
      </label>
    </div>
    <div class="col-12 col-md-8">
      <form-item-input
      name="current"
      label="Current password"
      type="password"
      [controller]="f.currentpwd"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 col-md-4">
      <label class="subtitle1">
        New password
        <span class="text-danger">*</span>
      </label>
    </div>
    <div class="col-12 col-md-8">
      <form-item-input
      name="new"
      label="New password"
      type="password"
      [controller]="f.password"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 col-md-4">
      <label class="subtitle1">
        Confirm new password
        <span class="text-danger">*</span>
      </label>
    </div>
    <div class="col-12 col-md-8">
      <form-item-input
      name="confirm"
      label="Confirm password"
      type="password"
      [controller]="f.confirmPassword"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
  </div>

  <div class="text-right">
    <input 
    type="submit" 
    class="btn btn-primary" 
    value="Save"
    [disabled]="isLoading"
    >
  </div>
</form>
