.form-row.mb-3 {
  margin: 15px 0
}
// .text-body {
//   font-weight: 400;
// }

.form-control.disable {
  border: 0;
}

.form-container{
  .form-row{
    label.col-md-3{
      margin-top: 10px;
    }
  }
}