.banner1{
  .badgeimg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 60px;
    text-align: center;

    img{
      height: 115px;
      width: 200px;
      object-fit: contain;
      margin-bottom: 11px;
    }

    span{
      background-image:url('/assets/img/badge-bottom.png');
      font-size: 11px;
    font-weight: bold;
    background-size: 100% 100%;
    text-transform: uppercase;
    position: absolute;
    padding-bottom: 10px;
    padding-top: 5px;
    bottom: 0px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    width: 230px;
    text-align: center;
    }
  }

  p{
    font-weight: 400;
    line-height: 27px;
    font-size: 16px !important;
  }
}

@media(max-width:992px){
  .banner1{
    .badgeimg{
      position: initial !important;
      right: initial !important;
      top:initial !important;
      transform: initial !important;
      margin: auto;
    }
  }
}


.scaleup {
  &:hover {
    transform: scale(1.02, 1.02);
  }
}

.table thead th{
  vertical-align: top;
}

.subscriptionTable {
  min-width: 920px;
  thead tr {
    th:first-child {
      width: 400px;
    }
  }
}
input#ownerName {
  border: none;
  border-bottom: 1px solid black;
  border-radius: inherit;
}
input#cardNumber {
  border: none;
  border-bottom: 1px solid black;
  border-radius: inherit;
}
input#cvv {
  border: none;
  border-bottom: 1px solid black;
  border-radius: inherit;
}
input#expiry {
  border: none;
  border-bottom: 1px solid black;
  border-radius: inherit;
}
input#year {
  border: none;
  border-bottom: 1px solid black;
  border-radius: inherit;
}
.ml-4 {
  position: relative;
  left: 2rem;
}
.subscription-plans h2 {
  font-size: 3.8rem;
  line-height: 4.8rem;
  color: #333333;
  font-weight: 400;
  margin-bottom: 1.3rem;
  text-align: center;
}
.MT-Class {
  margin-top: 12px !important;
  height: 530px;
  position: relative;
}
.footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  left: 0;
}
.btnSetting {
  position: absolute;
  font-size: 50px;
  top: 50%;
  color: #3db370;
  left: 1px;
}
.btnSetting1 {
  position: absolute;
  font-size: 50px;
  top: 50%;
  color: #3db370;
  right: 0;
}
.saadow-Cls {
  width: 45px;
  background: #ffffff00;
}
.carousel-inner.height-equal {
  height: 55rem;
  overflow: auto;
}
.subscription-plans p {
  font-size: 1.8rem;
  line-height: 2.8rem;
  color: #777777;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3rem;
}
.MT_C {
  margin-top: 5rem;
}
.equal-H {
  height: 494px;
}
.subscription-plans .pricing-table h3 {
  background: #3db370;
  color: #fff !important;
  font-family: "Roboto", sans-serif;
  font-size: 24px !important;
  text-transform: uppercase;
}
.f-Size {
  font-size: 28px !important;
}
.pricing-table {
  margin: 1px auto;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.pricing-table h3 {
  padding: 10px;
  text-align: center;
  line-height: 4.2rem;
  font-size: 2.4rem;
  color: #333333;
  margin: 0;
}
.price {
  font-size: 3.8rem;
  line-height: 4.6rem;
  color: #ffffff;
  font-weight: 500;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#357a64+1,3db370+100,7db9e8+100 */
  background: #357a64; /* Old browsers */
  background: -moz-linear-gradient(
    left,
    #357a64 1%,
    #3db370 100%,
    #7db9e8 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    #357a64 1%,
    #3db370 100%,
    #7db9e8 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    #357a64 1%,
    #3db370 100%,
    #7db9e8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#357a64', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
  text-align: center;
}
.price sup {
  font-size: 1.6rem;
  margin-right: 5px;
}
.price sub {
  font-size: 1.6rem;
  bottom: 0;
  right: 1rem;
  font-weight: 300;
}
.what-is-included {
  padding: 0.3rem 9rem 0 5.5rem;
  text-align: left;
  margin-bottom: 1.5rem;
}
.col-sm-6 .pricing-table.wrap-button:nth-child(3) {
  margin: 0px 0px 50px;
  text-align: center;
}
.what-is-included li {
  font-size: 1.5rem;
  line-height: 2rem;
  list-style: disc;
  color: #555555;
  margin-bottom: 2rem;
  font-weight: 300;
}
.what-is-included {
  padding: 0.3rem 4rem 2.5rem;
  text-align: left;
  margin-bottom: 2.5rem;
  height: 50rem;
  max-height: 30rem;
  min-height: 30rem;
  padding-top: 15px;
}
.subscription-plans {
  padding: 30px 0;
}
.subscription-plans .pricing-table .price {
  background: #333 !important;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
}
.wrap-button {
  margin: 0px 0px 14px;
  text-align: center;
}

.main-log-form h2 {
  text-align: center;
  margin-bottom: 40px;
}

.product-payment.modal {
  top: 150px;
}
.cen-btn {
  text-align: center;
  position: relative;
  top: 3rem;
}
.setting-design {
  background: #3db370;
  color: white;
  font-weight: 700;
  line-height: 2;
}
.card-wrap {
  padding: 20px 5px;
}
.back-Color {
  background: #c7c4c4;
}
.color-C {
  background: #efefef;
  color: black;
}
.m-a {
  position: relative;
  left: 0;
  top: 0;
}
.close {
  float: right;
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.8;
  position: relative;
  background: #ffffff;
  border-radius: 35px;
  padding: 0px 7px;
  top: 1px;
}
.width-align {
  width: 55rem;
  background: #ffffff;
}
.border-Cls {
  border: none;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 1px;
  background: white;
}
.lign-Hight {
  line-height: 2;
  padding-left: 5px;
}
.set-Text {
  line-height: 2;
  margin: auto;
  padding-left: 5px;
}
.pul-center {
  padding: 10px;
  width: 12%;
  text-align: center;
  background-color: #3db370;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  margin: auto;
  display: block;
}
.wrap {
  /* height: 48vh; */
}
.text-settingC {
  font-size: 14px;
  font-weight: 600;
  color: black;
}
.active {
  background: #3db370;
  color: white !important;
}
.w-cls {
  position: relative;
  text-align: center;
}
.rightRs {
  display: block;
  text-align: right;
  position: absolute;
  right: 0px;
  top: 37%;
  width: 45px;
  height: 45px;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-size: 34px;
  border-radius: 100%;
}
.leftRs {
  border-radius: 100%;
  display: block;
  text-align: right;
  position: absolute;
  left: 0px;
  top: 37%;
  width: 45px;
  height: 45px;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-size: 34px;
}
@media only screen and (max-width: 1024px) {
  .subscription-plans {
    padding: 60px 0;
  }
}

@media (max-width: 800px) {
  .width-align {
    margin-top: 80px;
  }
  .subscription-plans h2 {
    font-size: 25px;
    line-height: 4.8rem;
    color: #333333;
    font-weight: 400;
    margin-bottom: 0.1rem;
    text-align: center;
    margin-top: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .pul-center {
    padding: 10px;
    width: 20%;
  }
  .subscription-plans {
    padding: 20px 0;
  }
  button.leftRs {
    position: absolute !important;
    top: 47% !important;
    color: black;
  }
  button.rightRs {
    position: absolute !important;
    top: 47% !important;
    color: black;
  }
  .wrap {
    height: 30vh;
  }

  .product-payment.modal {
    top: 200px;
  }
  .wrap-button button.btn.btn-success.cus-btn:before {
    display: none;
  }
}
@media only screen and (max-width: 676px) {
  .pul-center {
    padding: 10px;
    width: 35%;
    text-align: center;
    background-color: #3db370;
    color: #fff;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #fff;
    -webkit-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    margin: auto;
    display: block;
  }
  .corsl-cls {
    position: relative;
    right: 0;
  }
  .wrap {
    height: 34vh;
  }
  .featured-medical .top-sec {
    height: 130px;
  }
  .pos-rel {
    position: relative;
    right: 0;
  }
  .ima-res {
    position: relative;
    right: 0;
  }
  .pro-thumbnail img.img-responsive {
    width: 65%;
    position: relative;
    left: 4rem;
  }
  .width-align {
    width: 100% !important;
    background: #efefef;
    margin-top: 80px;
  }
  .mA {
    margin: auto;
  }
  .subscription-plans h2 {
    font-size: 25px;
    line-height: 4.8rem;
    color: #333333;
    font-weight: 400;
    margin-bottom: 0.1rem;
    text-align: center;
    margin-top: 60px;
  }
  .setting-design {
    background: #3db370;
    color: white;
    font-weight: 700;
    line-height: 2;
    font-size: 13px;
  }
  .MT-Class {
    margin-top: 12px !important;
    height: 450px;
    position: relative;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 992px) {
  .max-900 {
    max-width: 900px;
  }
}

@media (max-width: 320px) {
  .set-text {
    font-size: 15px;
  }
  .setting-design {
    line-height: 3 !important;
    font-size: 10px !important;
  }
}
