<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>
<section class="pt-5 pb-5 bg-cover bg-overlay" style="background-image: url(assets/img/blog2.jpg);">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6 text-center text-light">
        <h2>Subscription Plan</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae
          lorem porta velit semper ornare.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="container max-900">
  <ngx-spinner bdColor="#fff" size="medium" color="#fff">
    <p style="font-size: 20px; color: white" class="loaderbg">
      <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
    </p>
  </ngx-spinner>
  <div class="row mt--5">
    <div class="col-md-4" *ngFor="let data of subData">
      <div class="shadow bg-light rounded-lg mb-4">
        <div class="card-body">
          <h5 class="text-primary text-center">{{ data.name.name }}</h5>
          <div class="text-center d-flex justify-content-center align-items-center">
            <b class="h5 mb-4">$</b><b class="h5">{{ data.price }}</b>/{{ data.type.name }}
          </div>
          <hr />
          <ul class="check_ul">
            <ngx-spinner bdColor="#fff" size="medium" color="#fff">
              <p style="font-size: 20px; color: white" class="loaderbg">
                <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
              </p>
            </ngx-spinner>
            <li><b>Plan type :</b> {{ data.planType }}</li>
          </ul>
          <a class="btn btn-outline-primary w-100 text-center">Subscribe</a>
        </div>
      </div>
    </div>
  </div>
</section>