<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>
<section class="pt-5 pb-5 bg-cover bg-overlay hero">
  <div class="container pt-5 pb-5">
    <div class="row justify-content-center text-center text-light">
      <h2>
        There’s a plan for everybody!<br>
        Sign up today to secure your profile.
      </h2>
    </div>
  </div>
</section>

<!-- Pricing table -->
<div class="container-fluid max-w-1200 my-5">
  <price-range-switcher (change)="changePriceRange($event)"></price-range-switcher>
  <br class="d-block d-md-none"> 
  <span class="pl-md-5 font-italic text-blue font-bigger">save 20% with yearly subscription</span>
</div>

<div class="container-fluid max-w-1200">
  <div class="row align-items-stretch">
    <subscription-plan-item-card class="col-md"
      type="basic"
      [data]="basicPlan"
      [isPriceMonthly]="isPriceMonthly"
      (select)="setSelectedFreePlan(basicPlan)"
    ></subscription-plan-item-card>

    <subscription-plan-item-card class="col-md mt-5 mt-md-0"
      type="provider"
      [data]="spPlan"
      [isPriceMonthly]="isPriceMonthly"
      (select)="setSelectedPlan(spPlan)"
      ></subscription-plan-item-card>
    <subscription-plan-item-card class="col-md mt-5 mt-md-0"
      type="centre"
      [data]="cPlan"
      [isPriceMonthly]="isPriceMonthly"
      (select)="setSelectedPlan(cPlan)"
      ></subscription-plan-item-card>
  </div>
</div>

<div class="container-fluid max-w-1200">
  <h3 class="text-pink mt-5 mb-3">Add-ons for Provider and Centre</h3>
  <subscription-plan-addon-card type="op1" [isPriceMonthly]="isPriceMonthly"></subscription-plan-addon-card>
  <subscription-plan-addon-card type="op2" class="mt-5" [isPriceMonthly]="isPriceMonthly"></subscription-plan-addon-card>
</div> 







<div class="container-fluid">
  <div class="overflow-auto">
    <table class="subscriptionTable w-100 table table-striped text-center" *ngIf="!isLoggedIn">
      <thead>
        <tr>
          <th class="border-0"></th>
          <th class="paid border-0">
            <h6 class="text-primary mb-2">Basic</h6>

            <div class="text-center d-flex justify-content-center align-items-center">
              <b class="h5 mb-2">Free</b>
            </div>
          </th>
          <th class="free border-0">
            <h6 class="text-primary mb-2">Service Provider <span class="badge badge-danger ml-1">50% off</span></h6>
            <div class="d-inline-flex">
              <label class="mr-1">Monthly</label>
              <ui-switch size="small" [(ngModel)]="spYearly"></ui-switch>
              <label class="ml-1">Yearly</label>
            </div>

            <div class="text-center d-flex justify-content-center align-items-center">
              <b class="h5 mb-2">$</b>
              <span *ngIf="!spYearly"><b class="h5">{{spPlan?.price}}</b>/Monthly</span>
              <span *ngIf="spYearly"><b class="h5">{{spPlan?.yearlyPrice}}</b>/Yearly</span>
            </div>
          </th>

          <th class="paid border-0">
            <h6 class="text-primary mb-2">Center <span class="badge badge-danger ml-1">50% off</span></h6>
            <div class="d-inline-flex">
              <label class="mr-1">Monthly</label>
              <ui-switch size="small" [(ngModel)]="centreYearly"></ui-switch>
              <label class="ml-1">Yearly</label>
            </div>
            <div class="text-center d-flex justify-content-center align-items-center">
              <b class="h5 mb-2">$</b>
              <span *ngIf="!centreYearly"><b class="h5">{{cPlan?.price}}</b>/Monthly</span>
              <span *ngIf="centreYearly"><b class="h5">{{cPlan?.yearlyPrice}}</b>/Yearly</span>
            </div>
          </th>
          <th class="free border-0">
            <h6 class="text-primary mb-2">Enterprise</h6>
            <div class="text-center d-flex justify-content-center align-items-center">
              <b class="h5 mb-4">Get a Quote</b>
            </div>
            <!-- <div class="text-center d-flex justify-content-center align-items-center">
              <b class="h5 mb-4">$</b><b class="h5">80</b>/Monthly
            </div> -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-left" width="15%">Your Professional Profile</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.professionalProfile"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.professionalProfile"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="spPlan?.professionalProfile"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.professionalProfile"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="cPlan?.professionalProfile"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.professionalProfile"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">Your marketing portal where we advertise you</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.addressURLLogoPicture"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.addressURLLogoPicture"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="spPlan?.addressURLLogoPicture"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.addressURLLogoPicture"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="cPlan?.addressURLLogoPicture"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.addressURLLogoPicture"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">Showcase yourself with video introduction</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.videoUpload"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.videoUpload"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="spPlan?.videoUpload"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.videoUpload"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="cPlan?.videoUpload"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.videoUpload"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>

        <tr>
          <th class="text-left">Differentiate yourself by side-by-side comparisons</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.sideBySideComparisons"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.sideBySideComparisons"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="spPlan?.sideBySideComparisons"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.sideBySideComparisons"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="cPlan?.sideBySideComparisons"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.sideBySideComparisons"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>

        <tr>
          <th class="text-left">Performance Dashboard</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.performanceDashboard"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.performanceDashboard"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="spPlan?.performanceDashboard"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.performanceDashboard"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="cPlan?.performanceDashboard"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.performanceDashboard"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">Real Reviews And Feedback</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.reviewsAndFeedback"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.reviewsAndFeedback"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="spPlan?.reviewsAndFeedback"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.reviewsAndFeedback"></i>
          </td>

          <td>
            <i class="fa fa-check text-success" *ngIf="cPlan?.reviewsAndFeedback"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.reviewsAndFeedback"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">Receive requests for booking or integration with your own booking system option</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.receiveMessagesForBooking"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.receiveMessagesForBooking"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="spPlan?.receiveMessagesForBooking"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.receiveMessagesForBooking"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="cPlan?.receiveMessagesForBooking"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.receiveMessagesForBooking"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">Advertise your saleable products</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.ListProductsOption"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.ListProductsOption"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="spPlan?.ListProductsOption"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.ListProductsOption"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="cPlan?.ListProductsOption"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.ListProductsOption"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">List Special Amenities</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.ListAmenities"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.ListAmenities"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="spPlan?.ListAmenities"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.ListAmenities"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="cPlan?.ListAmenities"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.ListAmenities"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">List Of Providers</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.ListOfProviders"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.ListOfProviders"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="spPlan?.ListOfProviders"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.ListOfProviders"></i>
          </td>
          <td>
            <i class="fa fa-check text-success" *ngIf="cPlan?.ListOfProviders"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.ListOfProviders"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>
            <a *ngIf="!isLoggedIn" class="btn btn-primary rounded-pill scaleup w-100 ml-2" style="max-width: 175px;"
              [routerLink]="['/auth/registration/sp']">Register</a>
            <a *ngIf="isLoggedIn" class="btn btn-primary rounded-pill scaleup w-100 ml-2"
              (click)="setSelectedFreePlan(basicPlan)" style="max-width: 175px;" aria-label="Close">Explore</a>
          </td>
          <td>
            <a *ngIf="isLoggedIn" class="btn btn-primary rounded-pill scaleup w-100 ml-2"
              (click)="setSelectedPlan(cPlan)" style="max-width: 175px;" aria-label="Close">Buy</a>
            <a *ngIf="!isLoggedIn" class="btn btn-primary rounded-pill scaleup w-100 ml-2"
              [routerLink]="['/auth/registration/sp']" style="max-width: 175px;" aria-label="Close">Buy</a>
            <!-- <a href=""  *ngIf="!isLoggedIn" class="btn btn-primary w-100 text-center rounded-pill shadow scaleup" data-toggle="modal"
            data-target="#loginmodal">Buy</a> -->
          </td>
          <td>
            <a *ngIf="isLoggedIn" class="btn btn-primary rounded-pill scaleup w-100 ml-2"
              (click)="setSelectedPlan(spPlan)" style="max-width: 175px;" aria-label="Close">Buy</a>
            <a *ngIf="!isLoggedIn" class="btn btn-primary rounded-pill scaleup w-100 ml-2"
              [routerLink]="['/auth/registration/c']" style="max-width: 175px;" aria-label="Close">Buy</a>
          </td>

          <td><a class="btn btn-primary rounded-pill scaleup w-100 ml-2" style="max-width: 175px;"
              [routerLink]="['/auth/get-in-touch']">Get In Touch</a></td>
        </tr>
      </tfoot>
    </table>
    <table class="subscriptionTable w-100 table table-striped text-center"
      *ngIf="isLoggedIn && (roles === 'C' || 'SP')">
      <thead>
        <tr>
          <th class="border-0"></th>
          <th class="paid border-0">
            <h6 class="text-primary mb-2">Basic</h6>
            <div class="text-center d-flex justify-content-center align-items-center">
              <b class="h5 mb-4">Free</b>
            </div>
          </th>

          <th class="free border-0" *ngIf="roles === 'SP'">

            <h6 class="text-primary mb-2">Premium <span class="badge badge-danger ml-1">50% off</span></h6>
            <div class="text-center d-flex justify-content-center align-items-center">
              <b class="h5 mb-2">$</b>
              <span *ngIf="spYearly === false"><b class="h5">{{spPlan?.price}}</b>/Monthly</span>
              <span *ngIf="spYearly === true"><b class="h5">{{spPlan?.yearlyPrice}}</b>/Yearly</span>
            </div>
            <div class="d-inline-flex">
              <label class="mr-1">Monthly</label>
              <ui-switch size="small" [(ngModel)]="spYearly"></ui-switch>
              <label class="ml-1">Yearly</label>
            </div>

            <div *ngIf="profile?.refererencePointEarned > 0">
              You have earned points you will get {{profile.refererencePointEarned}} % discount
            </div>
            <!-- <div class="text-center d-flex justify-content-center align-items-center">
              <b class="h5 mb-4">$</b><b class="h5">80</b>/Monthly
            </div> -->
          </th>
          <th class="paid border-0" *ngIf="roles === 'C'">
            <h6 class="text-primary mb-2">Premium <span class="badge badge-danger ml-1">50% off</span></h6>
            <div class="d-inline-flex">
              <label class="mr-1">Monthly</label>
              <ui-switch size="small" [(ngModel)]="centreYearly"></ui-switch>
              <label class="ml-1">Yearly</label>
            </div>
            <div class="text-center d-flex justify-content-center align-items-center">
              <b class="h5 mb-2">$</b><span *ngIf="!centreYearly"><b class="h5">{{cPlan?.price}}</b>/Monthly</span>
              <span *ngIf="centreYearly"><b class="h5">{{cPlan?.yearlyPrice}}</b>/Yearly</span>
            </div>

            <div *ngIf="profile?.refererencePointEarned > 0">
              You have earned points you will get {{profile.refererencePointEarned}} % discount
            </div>
          </th>
          <th class="free border-0">
            <h6 class="text-primary mb-2">Enterprise</h6>
            <div class="text-center d-flex justify-content-center align-items-center">
              <b class="h5 mb-3">Get a Quote</b>
            </div>
            <!-- <div class="text-center d-flex justify-content-center align-items-center">
              <b class="h5 mb-4">$</b><b class="h5">80</b>/Monthly
            </div> -->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-left" width="15%">Your Professional Profile</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.professionalProfile"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.professionalProfile"></i>
          </td>

          <td *ngIf="roles === 'SP'">
            <i class="fa fa-check text-success" *ngIf="spPlan?.professionalProfile"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.professionalProfile"></i>
          </td>
          <td *ngIf="roles === 'C'">
            <i class="fa fa-check text-success" *ngIf="cPlan?.professionalProfile"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.professionalProfile"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">Your marketing portal where we advertise you</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.addressURLLogoPicture"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.addressURLLogoPicture"></i>
          </td>
          <td *ngIf="roles === 'SP'">
            <i class="fa fa-check text-success" *ngIf="spPlan?.addressURLLogoPicture"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.addressURLLogoPicture"></i>
          </td>
          <td *ngIf="roles === 'C'">
            <i class="fa fa-check text-success" *ngIf="cPlan?.addressURLLogoPicture"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.addressURLLogoPicture"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">Video Upload</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.videoUpload"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.videoUpload"></i>
          </td>
          <td *ngIf="roles === 'SP'">
            <i class="fa fa-check text-success" *ngIf="spPlan?.videoUpload"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.videoUpload"></i>
          </td>
          <td *ngIf="roles === 'C'">
            <i class="fa fa-check text-success" *ngIf="cPlan?.videoUpload"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.videoUpload"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>

        <tr>
          <th class="text-left">Differentiate yourself by side-by-side comparisons</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.sideBySideComparisons"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.sideBySideComparisons"></i>
          </td>
          <td *ngIf="roles === 'SP'">
            <i class="fa fa-check text-success" *ngIf="spPlan?.sideBySideComparisons"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.sideBySideComparisons"></i>
          </td>
          <td *ngIf="roles === 'C'">
            <i class="fa fa-check text-success" *ngIf="cPlan?.sideBySideComparisons"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.sideBySideComparisons"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">Performance Dashboard</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.performanceDashboard"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.performanceDashboard"></i>
          </td>
          <td *ngIf="roles === 'SP'">
            <i class="fa fa-check text-success" *ngIf="spPlan?.performanceDashboard"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.performanceDashboard"></i>
          </td>
          <td *ngIf="roles === 'C'">
            <i class="fa fa-check text-success" *ngIf="cPlan?.performanceDashboard"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.performanceDashboard"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">Real Reviews And Feedback</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.reviewsAndFeedback"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.reviewsAndFeedback"></i>
          </td>

          <td *ngIf="roles === 'SP'">
            <i class="fa fa-check text-success" *ngIf="spPlan?.reviewsAndFeedback"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.reviewsAndFeedback"></i>
          </td>
          <td *ngIf="roles === 'C'">
            <i class="fa fa-check text-success" *ngIf="cPlan?.reviewsAndFeedback"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.reviewsAndFeedback"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">Receive Messages For Booking</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.receiveMessagesForBooking"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.receiveMessagesForBooking"></i>
          </td>
          <td *ngIf="roles === 'SP'">
            <i class="fa fa-check text-success" *ngIf="spPlan?.receiveMessagesForBooking"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.receiveMessagesForBooking"></i>
          </td>
          <td *ngIf="roles === 'C'">
            <i class="fa fa-check text-success" *ngIf="cPlan?.receiveMessagesForBooking"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.receiveMessagesForBooking"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">Advertise your saleable product</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.ListProductsOption"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.ListProductsOption"></i>
          </td>
          <td *ngIf="roles === 'SP'">
            <i class="fa fa-check text-success" *ngIf="spPlan?.ListProductsOption"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.ListProductsOption"></i>
          </td>
          <td *ngIf="roles === 'C'">
            <i class="fa fa-check text-success" *ngIf="cPlan?.ListProductsOption"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.ListProductsOption"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">List Special Amenities</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.ListAmenities"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.ListAmenities"></i>
          </td>
          <td *ngIf="roles === 'SP'">
            <i class="fa fa-check text-success" *ngIf="spPlan?.ListAmenities"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.ListAmenities"></i>
          </td>
          <td *ngIf="roles === 'C'">
            <i class="fa fa-check text-success" *ngIf="cPlan?.ListAmenities"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.ListAmenities"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
        <tr>
          <th class="text-left">List Of Providers</th>
          <td>
            <i class="fa fa-check text-success" *ngIf="basicPlan?.ListOfProviders"></i>
            <i class="fa fa-times text-danger" *ngIf="!basicPlan?.ListOfProviders"></i>
          </td>
          <td *ngIf="roles === 'SP'">
            <i class="fa fa-check text-success" *ngIf="spPlan?.ListOfProviders"></i>
            <i class="fa fa-times text-danger" *ngIf="!spPlan?.ListOfProviders"></i>
          </td>
          <td *ngIf="roles === 'C'">
            <i class="fa fa-check text-success" *ngIf="cPlan?.ListOfProviders"></i>
            <i class="fa fa-times text-danger" *ngIf="!cPlan?.ListOfProviders"></i>
          </td>
          <td><i class="fa fa-check text-success"></i></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>
            <a *ngIf="isLoggedIn" class="btn btn-primary rounded-pill scaleup w-100 ml-2"
              (click)="setSelectedFreePlan(basicPlan)" style="max-width: 175px;" aria-label="Close">Explore</a>
          </td>
          <td *ngIf="roles === 'SP'">
            <a *ngIf="isLoggedIn" class="btn btn-primary rounded-pill scaleup w-100 ml-2"
              (click)="setSelectedPlan(spPlan)" style="max-width: 175px;" aria-label="Close">Buy</a>
          </td>
          <td *ngIf="roles === 'C'">
            <a *ngIf="isLoggedIn" class="btn btn-primary rounded-pill scaleup w-100 ml-2"
              (click)="setSelectedPlan(cPlan)" style="max-width: 175px;" aria-label="Close">Buy</a>
            <!-- <a href=""  *ngIf="!isLoggedIn" class="btn btn-primary w-100 text-center rounded-pill shadow scaleup" data-toggle="modal"
            data-target="#loginmodal">Buy</a> -->
          </td>

          <td><a class="btn btn-primary rounded-pill scaleup w-100 ml-2" style="max-width: 175px;"
              [routerLink]="['/auth/get-in-touch']">Get In Touch</a></td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<hr>
<p class="text-center font-weight-bold">Fees are in $CAD and are subject to 5% GST.</p>

<!-- add-on section -->
<!-- <div class="container">
  <div class="row">
    <div class="col">
      <h2>
        Add-On Products
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-add-on-card></app-add-on-card>
    </div>
  </div>
</div> -->

<!-- Modal Questionnaire -->
<div class="modal fade" id="questionnaire" tabindex="-1" role="dialog" aria-labelledby="questionnaire"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin: auto !important;width:100%">
    <div class="modal-content mk-border">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="exampleModalLabel" style="text-indent: 56px;">
          Questionnaire
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center pb-4">
        <div class="text-center">
          <img src="assets/img/logo.png" class="mb-3" style="max-width: 220px;" />
        </div>
        <div class="text-secondary font-weight-bold mb-3">Are You A</div>
        <a class="btn btn-primary w-100 mr-2" [routerLink]="['/dashboard/questionnaire/SP']" data-dismiss="modal"
          aria-label="Close" style="max-width: 175px;">PROFESSIONAL</a>
        or
        <a class="btn btn-secondary w-100 ml-2" [routerLink]="['/dashboard/questions/User']" data-dismiss="modal"
          style="max-width: 175px;" aria-label="Close">USER</a>
      </div>
    </div>
  </div>
</div>


<!-- Modal login -->
<div class="modal fade" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
  <div class="modal-dialog" role="document" style="margin: auto !important;width:100%">
    <div class="modal-content mk-border">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center" id="exampleModalLabel" style="text-indent: 56px;">
          Login
        </h5>
        <button #signin type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center pb-4">
        <div class="text-center">
          <img src="assets/img/logo.png" class="mb-3" style="max-width: 220px;" />
        </div>
        <div class="text-secondary font-weight-bold mb-3">Are You A</div>
        <a class="btn btn-primary w-100 mr-2" (click)="professionalOption = !professionalOption"
          style="max-width: 175px;">PROFESSIONAL</a>
        or
        <a class="btn btn-secondary w-100 ml-2" [routerLink]="['/auth/login', 'u']" data-dismiss="modal"
          style="max-width: 175px;" aria-label="Close">USER</a>
      </div>
      <div class="mb-3" *ngIf="professionalOption">
        <div class="radio">
          <input type="radio" name="userTypeLogin" (change)="handleChange('/auth/login', 'sp')" />
          <span>Service Provider</span>
        </div>
        <div class="radio">
          <input type="radio" name="userTypeLogin" (change)="handleChange('/auth/login', 'c')" />
          <span>Center</span>
        </div>
      </div>
    </div>
  </div>
</div>