.max-w-1200{ max-width: 1200px; }
.text-blue{ color: #3377C5; }
.text-pink{ color: #A759B3; }
.font-bigger{ font-size: 1.2em; }

:host{
  font-size: 16px;
}

.hero{ 
  background-image: url('/assets/img/hero-subscription-plan-s.png');
  h2{ font-size: 20px; }

  @media screen and (min-width: 768px){
    background-image: url("/assets/img/hero-subscription-plan.png");
    h2{ font-size: 35px; }
  }
}

