<section class="container mt-70p mt-md-100p pb-35p pb-md-65p border-bottom border-line">

  <div class="d-flex">
    <i *ngIf="taxonomyType == 'tag'" class="h4-temp h2-temp-md fas fa-tag text-placeholder mr-3"></i>
    <i *ngIf="taxonomyType == 'category'" class="far fa-folder h4-temp h2-temp-md text-placeholder mr-3"></i>
    <i *ngIf="taxonomyType == 'video'" class="fas fa-video h4-temp h2-temp-md text-placeholder mr-3"></i>
    <i *ngIf="taxonomyType == 'podcast'" class="fas fa-headphones-alt h4-temp h2-temp-md text-placeholder mr-3"></i>
    <div>
      <h2 class="h4-temp h2-temp-md">{{taxonomyName | titlecase}}</h2>
      <p class="subtitle1-temp mb-0">
        A collection of 
        <span>
          <span>{{postTotal}} {{postType}}</span>
          <span *ngIf="postTotal > 1 && postType !== 'news'">s</span>
        </span>
      </p>
    </div>
  </div>
</section>

<list-general
*ngIf="!isEvent"
[latest]="latest"
[archive]="archive"
></list-general>

<list-event
*ngIf="isEvent"
[latest]="latest"
[archive]="archive"
></list-event>

<div class="d-flex align-items-center justify-content-center paginators mb-100p">
  <ng-container *ngFor="let paginatorGroup of paginators; let i = index;">
    <ng-container *ngFor="let page of paginatorGroup; let j = index">
      <a 
      [routerLink]="[(page == 1) ? '../' : './' + page]"
      class="btn bg-primary-light mx-2"
      [ngClass]=" {'bg-primary text-white': (pageCurrent == page), 'bg-primary-light text-primary-dark': (pageCurrent != page)}"
      >
        <span>{{page}}</span>
    </a>  
    </ng-container>
    <i class="fas fa-ellipsis-h text-primary-dark" *ngIf="paginators.length - 1 > i"></i>
  </ng-container>
</div>

<section>
  <section-signup></section-signup>
</section>