@use 'sass:map';

$green: ('text': #95C38B, 'bg': #95C38B);
$red: ('text': #F25249, 'bg': #F25249);
$blue: ('text': #3377C5, 'bg': #3377C5);

@mixin theme($color){
  .title,
  .feature i{
    color: map.get($color, 'text');
  }
  
  .text-colored{ 
    color: map.get($color, 'text'); 
  }

  .tab,
  .btn-more,
  .separator{
    color: white;
    background: map.get($color, 'bg');
  }
}

:host.theme-green::ng-deep{ @include theme($green); }
:host.theme-blue::ng-deep{ @include theme($blue); }
:host.theme-red::ng-deep{ @include theme($red); }

:host{
    position: relative;
    padding-top: 50px;
    font-size: 16px;
    line-height: 1.5em;
}

.tab{
    position: absolute;
    z-index: 1;
    width: 80%;
    max-width: 250px;
    box-sizing: border-box;
    padding: 15px 25px 35px;
    top: 50px;
    font-size: 1.2em;
    border-radius: 10px;
    transform: translateY(calc(-100% + 20px));


    .save-annualy{
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(calc(-50% - 10px));
        font-size: 0.8em;
    }
    
}

.plan-card{
    position: relative;
    z-index: 2;
    padding: 20px 10px 60px; 
    border-radius: 10px;
    background: white;
}

.title{
    padding: 0 20px 5px;
    font-size: 2.3em;
}

.separator{
  width: 50%;
  height: 1px;
  margin: auto;
  border: none;
}

.feature{
    list-style: none;

    li:not(:last-child){ margin-bottom: 10px; }
}

.btn-more{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}