<div class="tab shadow font-weight-bold d-flex align-items-center flex-nowrap"
    [class]="isPriceMonthly? 'colorset-' + color : 'colorset-' + color + '-yearly'">

    <ng-container *ngIf="type != 'partnerEnterprise'; else tabPartnerEnterprise">
        <div>
            <div *ngIf="price != 0">{{price | currency : 'CAD' : 'symbol-narrow' : '2.0'}}</div>
            <div *ngIf="price == 0">Free</div>
            <div class="font-small font-weight-normal" *ngIf="discounted"><s>${{priceOriginal}}</s></div>
        </div>
        <ng-container *ngIf="price != 0">
            <div class="mx-2">/</div>
            <div>
                <div *ngIf="monthly">Monthly</div>
                <div *ngIf="!monthly">Yearly</div>
            </div>
        </ng-container>
        <span class="save-annualy font-weight-normal text-center d-inline-block font-italic"
            *ngIf="!monthly && type != 'basic' && type != 'partner'">save<br>20%</span>
    </ng-container>
    <ng-template #tabPartnerEnterprise>
        Contact Us
    </ng-template>
</div>

<div class="plan-card h-100 shadow text-center" [class]="'colorset-' + color">

    <ng-container *ngIf="!showFeatureOnly">
        <h3 class="title d-inline-block m-0">{{title}}</h3>
        <div class="separator"></div>
    
        <p class="my-4">
            <span *ngIf="type == 'basic'">Get listed with us for free so that the clients can find you.</span>
            <span *ngIf="type == 'provider'">This is for a solo health and wellness professional looking to boost their
                online presence and acquire and retain more clients.
            </span>
            <span *ngIf="type == 'centre'">This is for a centre in any area of health and wellness with multiple
                professionals or products
                looking to showcase their facility and offerings. There is no limit to how many you can list, but
                you must have at least one professional.
            </span>
            <span *ngIf="type == 'partner'">This is for an enterprise in any area of health and wellness looking to
                showcase their product or service to clients and get exposure and endorsement by heath
                professionals.
            </span>
            <span *ngIf="type == 'partnerBasic'">For health and wellness companies looking to showcase their products
                orservices to clients. Get exposure and have the opportunity to be endorsed bythe health professionals on
                our network, further increasing your visibility.
            </span>
            <span *ngIf="type == 'partnerEnterprise'">For large enterprises who believe in unlocking the power of true
                personalizedhealth and wellness. Partner and collaborate with us to help your users access suitable solutions
                anytime, anywhere from the palm of your hand
            </span>
        </p>    
    </ng-container>

    <ng-container *ngIf="showFeatureOnly">
        <h3 class="my-3 text-colored">What you will get</h3>
    </ng-container>

    <ul class="feature text-left fa-ul my-4">

        <!-- only for partnerBasic -->
        <ng-container *ngIf="type == 'partnerBasic'">
            <li>
                <span class="fa-li"><i class="far fa-check-circle"></i></span>
                <div class="font-weight-400">Be Visible</div>
                <p>Get in front of all Canadians with a professional profile on our platform + app homepage.</p>
            </li>
            <li>
                <span class="fa-li"><i class="far fa-check-circle"></i></span>
                <div class="font-weight-400">Be Recognized</div>
                <p>Photo gallery for your clients to get to know you.</p>
            </li>
            <li>
                <span class="fa-li"><i class="far fa-check-circle"></i></span>
                <div class="font-weight-400">Share</div>
                <p>Tell clients about yourself, link contact info, social media,promotions, and more</p>
            </li>
            <li>
                <span class="fa-li"><i class="far fa-check-circle"></i></span>
                <div class="font-weight-400">
                    Be Trusted
                    <span class="badge badge-info">Coming Soon!</span>
                </div>
                <p>Endorsement from health professionals</p>
            </li>
        </ng-container>

        <ng-container *ngIf="type == 'partnerEnterprise'">
            <li>
              <span class="fa-li"><i class="far fa-check-circle"></i></span>
              <p>Get featured on the homepage of our website and app</p>
            </li>
            <li>
              <span class="fa-li"><i class="far fa-check-circle"></i></span>
              <div class="font-weight-400">
                Analytics
                <span class="badge badge-info">Coming Soon!</span>
              </div>
              <p>Custom solutions that provide insight into your organization</p>
            </li>
        </ng-container>

        <!-- only for centre -->
        <li *ngIf="type == 'centre'">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            All the provider benefits
        </li>

        <!-- except centre and depend on data-->
        <li *ngIf="type != 'centre' && data?.professionalProfile">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            Your professional profile
        </li>
        <li *ngIf="type != 'centre' && data?.sideBySideComparisons">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            Differentiate yourself with side-by-side comparisons
        </li>
        <li *ngIf="type != 'centre' && data?.videoUpload">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            Showcase yourself with a video introduction
        </li>
        <li *ngIf="type != 'centre' && data?.reviewsAndFeedback">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            Genuine reviews and feedback
        </li>
        <li *ngIf="type != 'centre' && data?.receiveMessagesForBooking">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            Receive requests for booking /integration with your own booking system option
        </li>
        <li *ngIf="type != 'centre' && data?.performanceDashboard">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            <span class="badge badge-info">NEW</span>

            Performance dashboard
        </li>
        <li *ngIf="type != 'centre' && data?.socialMediaLink">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            <span class="badge badge-info">NEW</span>

            Link your social media accounts on your Prompthealth profile page
        </li>
        <li *ngIf="type != 'centre' && data?.verifiedBadge">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            <span class="badge badge-info">NEW</span>
            Apply for a verified badge and rank before everyone else in search results
        </li>


        <!-- depend on data -->
        <li *ngIf="data?.ListOfProviders">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            List special amenities
        </li>
        <li *ngIf="data?.ListOfProviders">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            List of providers
        </li>

        <!-- <li *ngIf="data?.featuredOnHomePage">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            <span class="badge badge-info">NEW</span>
            Get featured on the homepage of our web and App
        </li> -->

        <li *ngIf="type == 'provider' || type == 'centre'">
            <span class="fa-li"><i class="far fa-check-circle"></i></span>
            <span class="badge badge-info">NEW</span>
            Exciting features & benefits coming every month
        </li>
    </ul>

    <!-- if user is not loggedin, go to signin / login page -->
    <ng-container *ngIf="type != 'partnerEnterprise'; else buttonPartnerEnterPrise">
        <a *ngIf="!isLoggedIn" class="btn btn-more" [routerLink]="linkToRegistration">
            <span *ngIf="type == 'basic'">Explore</span>
            <span *ngIf="type != 'basic'">Get Started</span>
            <!-- <span *ngIf="type == 'partner'">Get in touch</span> -->
        </a>

        <button *ngIf="isLoggedIn && !hideButton" class="btn btn-more" (click)="triggerButtonClick()">
            <span *ngIf="type == 'basic'">Explore</span>
            <span *ngIf="type != 'basic'">Get Started</span>
            <!-- <span *ngIf="type == 'partner'">Get in touch</span> -->
        </button>
    </ng-container>
    <ng-template #buttonPartnerEnterPrise>
        <a class="btn btn-more" [routerLink]="['/contact-us']">Get in touch</a>
    </ng-template>

</div>