<h4 class="mb-4">Your Performance on PromptHealth</h4>
<ng-container *ngIf="user">
  <section class="mb-80p">
    <ul class="list-unstyled flex-container col-1-2-2">
      <li class="rounded-lg">
        <div class="py-3 bg-primary text-white subtitle1 text-center">
          <i iconPh="thumbs-up" class="large"></i>
          <span class="ml-2">Your Profile View</span>
        </div>
        <div class="py-4 text-center">{{user.viewCount || 0}}</div>
      </li>
    </ul>
  </section>

  <!-- <section class="mb-80p">
    <h5>Your Bookings</h5>
    <p *ngIf="!countBooking">You have no booking in our system yet</p>
    <ng-container *ngIf="countBooking">
      <ul class="list-unstyled flex-container col-2-3-3" *ngIf="countBooking">
        <li class="rounded-lg">
          <div class="py-3 bg-primary text-white subtitle1 text-center">
            <i iconPh="briefcase-doctor" class="large"></i>
            <span class="ml-2">Total</span>
          </div>
          <div class="py-4 text-center">{{countBooking.pending + countBooking.approved + countBooking.completed +
            countBooking.rescheduled}}</div>
        </li>

        <li class="rounded-lg">
          <div class="py-3 bg-primary text-white subtitle1 text-center">
            <i iconPh="calendar" class="large"></i>          
            <span class="ml-2">Upcoming</span>
          </div>
          <div class="py-4 text-center">{{countBooking.pending + countBooking.approved + countBooking.rescheduled}}
          </div>
        </li>

        <li class="rounded-lg">
          <div class="py-3 bg-primary text-white subtitle1 text-center">
            <i iconPh="checkbox-circle" class="large"></i>
            <span class="ml-2">Done</span>
          </div>
          <div class="py-4 text-center">{{countBooking.completed}}</div>
        </li>

        <li class="rounded-lg">
          <div class="py-3 bg-primary text-white subtitle1 text-center">
            <i iconPh="thumbs-up"></i>
            <span class="ml-2">Booking Link clicked</span>
          </div>
          <div class="py-4 text-center">{{user.bookingCount}}</div>
        </li>
      </ul>
    </ng-container>
  </section> -->

  <section class="mb-80p">
    <h5>Social Media Profile View Count</h5>
    <ul class="list-unstyled flex-container col-2-3-3">
      <ng-container *ngFor="let type of ['facebook', 'twitter', 'linkedin', 'instagram', 'tiktok', 'youtube']">
        <li class="rounded-lg">
          <div class="py-3 text-white text-center subtitle1" [ngClass]="'bg-' + type">
            <span>
              <i *ngIf="type != 'instagram'" [iconPh]="type"></i>
              <i *ngIf="type == 'instagram'" iconPh="insta"></i>
              <span class="ml-2">{{type | titlecase}}</span>  
            </span>
          </div>
          <div class="py-4 text-center">{{user[type + 'ClickCount'] || 0}}</div>
        </li>
      </ng-container>
    </ul>
  </section>

</ng-container>