<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <div class="row mb-4">
    <div class="col-md-4">
      <label>
        Profile image
        <span class="text-danger">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <form-item-upload-image-button
      [userid]="data?._id"
      label="Profile image"
      [disabled]="disabled"
      [submitted]="isSubmitted"
      [controller]="f.profileImage"
      (changeImage)="onChangeImage($event)"
      ></form-item-upload-image-button>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-4">
      <label for="firstName">
        First Name
        <span class="text-danger">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <form-item-input 
      name="firstName"
      label="First name"
      type="text"
      [controller]="f.firstName"
      [max]="maxName"
      [disabled]="disabled"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-4">
      <label for="lastName">
        Last Name
        <span class="text-danger">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <form-item-input 
      name="lastName"
      label="Last name"
      type="text"
      [controller]="f.lastName"
      [max]="maxName"
      [disabled]="disabled"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
  </div>
  
  <div class="row mb-4">
    <label class="col-md-4" for="userType">
      Membership Type 
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="userType"
      label="Membership type"
      type="text"
      [controller]="f.userType"
      [disabled]="true"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="email">
      Email<br>
      (No one will see)
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-input 
      label="Email Address"
      name="email"
      type="email"
      autocomplete="email"
      autocapitalize="off"
      [controller]="f.email"
      [disabled]="true"
      ></form-item-input>
    </div>
  </div>

  <!-- <div class="row mb-4">
    <label class="col-md-4" for="email">
      Email to display
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="displayEmail"
      label="Email to display" 
      type="email"
      [controller]="f.displayEmail"
      [submitted]="isSubmitted" 
      [disabled]="disabled"
      autocapitalize="off"
      autocomplete="email"
      ></form-item-input>
    </div>
  </div> -->

  <div class="row mb-4">
    <label class="col-md-4" for="phone">
      Phone Number 
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="phone"
      label="Phone number"
      type="tel"
      [controller]="f.phone"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-4 pt-2">
    <label class="col-md-4 mt-0">
      Gender
      <span class="text-danger">*</span>
    </label>
    <div class="col-md-8">
      <form-item-checkbox-group
      id="gender"
      type="radio"
      label="Gender"
      [data]="data?.gender"
      [controller]="f.gender"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-checkbox-group>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="address">
      Location 
      <span class="text-danger">*</span>
    </label>
    <div class="col-md-8">
      <form-item-address
      name="address"
      label="Location" 
      [controllerGroup]="form"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-address>
      <div class="mt-2">
        <form-item-checkbox
        *ngIf="!disabled"
        name="hideAddress"
        label="Do not show address"
        [controller]="f.hideAddress"
        ></form-item-checkbox>
      </div>
      <div *ngIf="f.hideAddress.value" class="mt-2 mb-3 font-italic">You'll not be shown on the location based listing page</div>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="website">
      Website 
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-input 
      label="Website"
      name="website"
      type="url"
      autocomplete="url"
      autocapitalize="off"
      [controller]="f.website"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="bookingURL">
      Booking URL 
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="bookingURL"
      label="Booking URL"
      type="url"
      autocomplete="url"
      autocapitalize="off"
      [controller]="f.bookingURL"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="professionalTitle">
      Professional Title 
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="professionalTitle"
      label="Professional title"
      type="text"
      [max]="maxProfessionalTitle"
      [controller]="f.professional_title"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="professionalTitle">
      Professional Association 
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="professionalAssociation"
      label="Professional association"
      type="text"
      [max]="maxProfessionalOrganization"
      [controller]="f.professional_organization"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="professionalTitle">
      Certification
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="Certification"
      label="Certification"
      type="text"
      [max]="maxCertification"
      [controller]="f.certification"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-4 pt-2">
    <label class="col-md-4 mt-0">
      Available Time
      <span class="text-danger">*</span>
    </label>
    <div class="col-md-8">
      <form-item-checkbox-group
      id="typical_hours"
      label="Available time"
      [data]="data?.typical_hours"
      [controller]="f.typical_hours"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      [selections]="typicalHourList"
      ></form-item-checkbox-group>
    </div>
  </div>

  <div class="row mb-4 pt-2">
    <label class="col-md-4 mt-0">
      Languages
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-checkbox-group
      id="languages"
      label="Languages"
      [data]="data?.languages"
      [controller]="f.languages"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      [selections]="languageList"
      ></form-item-checkbox-group>
    </div>
  </div>

  <div class="row mb-4 pt-2">
    <label class="col-md-4 mt-0">
      Service Type
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-checkbox-group
      id="serviceOfferIds"
      label="Service type"
      [data]="data?.serviceOfferIds"
      [controller]="f.serviceOfferIds"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      [selections]="serviceOfferList"
      ></form-item-checkbox-group>
    </div>
  </div>


  <div class="row mb-4 pt-2">
    <label class="col-md-4 mt-0">
      Age Range of Your Clients
      <span class="text-danger">*</span>
    </label>
    <div class="col-md-8">
      <form-item-checkbox-group
      id="age_range"
      label="Age range"
      [data]="data?.age_range"
      [controller]="f.age_range"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-checkbox-group>
    </div>
  </div>

  <div class="row mb-4 pt-2">
    <label class="col-md-4 mt-0">
      Total Years of Experience
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-checkbox-group
      id="years_of_experience"
      type="radio"
      label="Years of experience"
      [data]="data?.years_of_experience"
      [controller]="f.years_of_experience"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-checkbox-group>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" [ngClass]="{'mt-0': (f.priceMode.value == 'select' && disabled)}">
      Price Range Per Hour
      <span class="text-danger">*</span>
    </label>
    <div class="col-md-8">
      <form-item-pricing
      [data]="data" 
      [formGroup]="form"
      [disabled]="disabled"
      [submitted]="isSubmitted"
      ></form-item-pricing>
    </div>
  </div>
  
  <div class="row mb-4">
    <label class="col-md-4" for="productDescription">
      Practice Philosophy 
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-textarea 
      name="productDescription"
      label="Practice philosophy"
      placeholder="Tell us more about you in paragraph"
      [max]="maxTextarea"
      [controller]="f.product_description"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-textarea>
    </div>
  </div>

  <div class="row" *ngIf="!disabled" [ngClass]="{'d-none': hideSubmit}">
    <div class="col text-right">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>