<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <div class="text-center mb-40p">
    <form-item-profile-image
    [controller]="f.profileImage"
    (onStartUploading)="onStartUploadingProfileImage()"
    (onFailUploading)="onDoneUploadingProfileImage()"
    (onDoneUploading)="onDoneUploadingProfileImage()"
    ></form-item-profile-image>  
  </div>

  <div class="mb-40p row">
    <div class="col-12 col-lg-6 mb-40p mb-lg-0p">
      <label for="firstName" class="subtitle2">First name</label>      
      <form-item-input 
      name="firstName"
      label="First name"
      type="text"
      [controller]="f.firstName"
      [max]="maxName"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>

    <div class="col-12 col-lg-6">
      <label for="lastName" class="subtitle2">Last name</label>
      <form-item-input 
      name="lastName"
      label="Last name"
      type="text"
      [controller]="f.lastName"
      [max]="maxName"
      [submitted]="isSubmitted"
      ></form-item-input>      
    </div>
  </div>

  <div class="mb-40p row">
    <div class="col-12 col-lg-6 mb-40p mb-lg-0p">
      <label class="subtitle2">Membership type</label>
      <form-item-input 
      name="userType"
      label="Membership type"
      type="text"
      [controller]="f.userType"
      [disabled]="true"
      ></form-item-input>
    </div>

    <div class="col-12 col-lg-6">
      <label class="subtitle2">Email</label>
      <form-item-input 
      label="Email Address"
      name="email"
      type="email"
      autocomplete="email"
      autocapitalize="off"
      [controller]="f.email"
      [disabled]="true"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-40p">
    <div class="col-12 col-lg-6 mb-40p mb-lg-0p">
      <label for="phone" class="subtitle2">Phone (optional)</label>
      <form-item-input 
      name="phone"
      label="Phone number"
      type="tel"
      [controller]="f.phone"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>

    <div class="col-12 col-lg-6 mb-40p mb-lg-0p">
      <label for="professionalTitle" class="subtitle2">Professional title</label>      
      <form-item-input 
      name="professionalTitle"
      label="Professional title"
      type="text"
      [max]="maxProfessionalTitle"
      [controller]="f.professional_title"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
  </div>

  <div class="mb-40p">
    <label for="address" class="subtitle2">Location</label>
    <form-item-address
    name="address"
    label="Location" 
    [controllerGroup]="form"
    [submitted]="isSubmitted"
    ></form-item-address>
    <div class="mt-10p">
      <form-item-checkbox
      *ngIf="!disabled"
      name="hideAddress"
      label="Do not show address"
      [controller]="f.hideAddress"
      ></form-item-checkbox>
    </div>

    <div 
    *ngIf="f.hideAddress.value" 
    class="mt-10p py-10p px-20p bg-yellow-light text-yellow-dark border-left border-yellow-dark rounded-4p d-flex flex-nowrap"
    style="border-width: 5px!important;"
    >
      <i iconPh="info" class="mr-5p"></i>
      <div class="flex-grow-1 body2">You'll not be shown on the location based listing page</div>
    </div>
  </div>

  <div class="mb-40p">
    <label class="subtitle2">Gender</label>
    <form-item-checkbox-group
    id="gender"
    type="radio"
    label="Gender"
    [data]="data?.gender"
    [controller]="f.gender"
    [submitted]="isSubmitted"
    [option]="{showInlineWhenEnabled: true}"
    ></form-item-checkbox-group>
  </div>

  <div class="mb-40p row">
    <div class="col-12 col-lg-6 mb-40p mb-lg-0p">
      <label for="website" class="subtitle2">Website (optional)</label>
      <form-item-input 
      label="Website"
      name="website"
      type="url"
      autocomplete="url"
      autocapitalize="off"
      [controller]="f.website"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>

    <div class="col-12 col-lg-6">
      <label for="bookingURL" class="subtitle2">Booking URL (optional)</label>
      <form-item-input 
      name="bookingURL"
      label="Booking URL"
      type="url"
      autocomplete="url"
      autocapitalize="off"
      [controller]="f.bookingURL"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-40p">
    <div class="col-12 col-lg-6 mb-40p mb-lg-0p">
      <label for="professionalAssociation" class="subtitle2">Professional association (optional)</label>
      <form-item-input 
      name="professionalAssociation"
      label="Professional association"
      type="text"
      [max]="maxProfessionalOrganization"
      [controller]="f.professional_organization"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>

    <div class="col-12 col-lg-6">
      <label class="subtitle2" for="professionalTitle">Certification (optional)</label>
      <form-item-input 
      name="Certification"
      label="Certification"
      type="text"
      [max]="maxCertification"
      [controller]="f.certification"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
  </div>
  
  <div class="mb-40p">
    <label class="subtitle2" for="productDescription">Practice Philosophy (optional)</label>
    <form-item-textarea 
    name="productDescription"
    label="Practice philosophy"
    placeholder="Tell us more about you in paragraph"
    [max]="maxTextarea"
    [controller]="f.product_description"
    [submitted]="isSubmitted"
    [option]="{rows: 10}"
    ></form-item-textarea>
  </div>

  <hr class="my-40p">
  <div class="mb-40p">
    <label class="subtitle2">Available Time</label>
    <form-item-checkbox-group
    id="typical_hours"
    label="Available time"
    [data]="data?.typical_hours"
    [controller]="f.typical_hours"
    [submitted]="isSubmitted"
    [selections]="typicalHourList"
    [option]="{showInlineWhenEnabled: true}"
    ></form-item-checkbox-group>
  </div>

  <div class="mb-40p">
    <label class="subtitle2">Age Range of Your Clients</label>
    <form-item-checkbox-group
    id="age_range"
    label="Age range"
    [data]="data?.age_range"
    [controller]="f.age_range"
    [submitted]="isSubmitted"
    [option]="{showInlineWhenEnabled: true}"
    ></form-item-checkbox-group>
  </div>

  <div class="mb-40p">
    <label class="subtitle2">Price Range Per Hour</label>
    <div>
      <form-item-pricing
      [data]="data" 
      [formGroup]="form"
      [submitted]="isSubmitted"
      ></form-item-pricing>  
    </div>
  </div>

  <div class="mb-40p">
    <label class="subtitle2">Languages (optional)</label>
    <form-item-checkbox-group
    id="languages"
    label="Languages"
    [data]="data?.languages"
    [controller]="f.languages"
    [submitted]="isSubmitted"
    [selections]="languageList"
    [option]="{showInlineWhenEnabled: true}"
    ></form-item-checkbox-group>
  </div>

  <div class="mb-40p">
    <label class="subtitle2">Service Type (optional)</label>
    <form-item-checkbox-group
    id="serviceOfferIds"
    label="Service type"
    [data]="data?.serviceOfferIds"
    [controller]="f.serviceOfferIds"
    [submitted]="isSubmitted"
    [selections]="serviceOfferList"
    [option]="{showInlineWhenEnabled: true}"
    ></form-item-checkbox-group>
  </div>

  <div class="mb-40p">
    <label class="subtitle2">Total Years of Experience (optional)</label>
    <form-item-checkbox-group
    id="years_of_experience"
    type="radio"
    label="Years of experience"
    [data]="data?.years_of_experience"
    [controller]="f.years_of_experience"
    [submitted]="isSubmitted"
    [option]="{showInlineWhenEnabled: true}"
    ></form-item-checkbox-group>
  </div>

  <div 
  class="text-right" 
  [ngClass]="{'d-none': hideSubmit}"
  >
    <input 
    class="btn btn-primary"
    type="submit" 
    value="Submit"
    [disabled]="isUploadingProfileImage || disabled"
    >
  </div>
</form>