<div class="menu-sm bg-background">
  <div class="menu-top py-10p py-md-15p container text-right">
    <div class="d-inline-flex">
      <div class="ml-10p ml-md-30p">
        <a routerLink="/practitioners" class="btn btn-primary">Find practitioners</a>
      </div>
      <div class="ml-15p">
        <a class="btn btn-close small pr-0" (click)="goback()">
          <!-- <i iconPh="menu" class="large"></i> -->
          <i class="fas fa-times"></i>
        </a>
      </div>
  
    </div>
  </div>

  <div class="d-flex flex-nowrap overflow-hidden mt-60p" #menuSm>
    <div class="menu-inner">
      <ul class="list-unstyled mb-0 container">
        <li class="py-2">
          <a class="py-2 text-body subtitle1-temp d-block" routerLink="/magazines/category/test" (click)="gonext(['/magazines/category/test'])">News</a>
        </li>
        <li class="py-2">
          <a class="py-2 text-body subtitle1-temp d-block" routerLink="/magazines/category/test" (click)="gonext(['/magazines/category/test'])">Event</a>
        </li>
        <li class="py-2">
          <a class="py-2 text-body subtitle1-temp d-block" routerLink="/magazines/category/test" (click)="gonext(['/magazines/category/test'])">Videos</a>
        </li>
        <li class="py-2">
          <a class="py-2 text-body subtitle1-temp d-block" (click)="gonext(['/magazines/category/test'])">Podcasts</a>
        </li>
        <li class="py-2">
          <a class="py-2 text-body subtitle1-temp d-flex justify-content-between align-items-center" (click)="changeMenuTo(0, 1)">
            All categories
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-inner">
      <ul class="list-unstyled mb-0 container">
        <li class="py-2">
          <button class="btn pl-0 text-placeholder" (click)="changeMenuTo(1, 0)">
            <i class="fas fa-chevron-left mr-2"></i>
            <span>Back</span>  
          </button>
        </li>

        <li class="py-2" *ngFor="let cat of [0,1,2,3,4,5,6,7,8]">
          <a class="py-2 text-body subtitle1-temp d-block" (click)="gonext(['/magazines/category/test'])">Hormonal Health</a>
        </li>  
      </ul>
    </div>
  </div>
</div>
