<div class="d-flex align-items-start">
  <profile-image size="42"></profile-image>

  <div class="ml-10p flex-grow-1">
    <div
    class="contenteditable bg-background px-15p py-5p"
    contenteditable
    data-placeholder="Write your thought..."
    [formControl]="controller"
    (click)="stopPropagation($event)"
    (beforeinput)="onBeforeInput($event)"
    (input)="onInput($event)"
    ></div>

    <div class="mt-10p d-flex">
      <button 
      class="btn btn-text-grey small px-0 mr-20p"
      (click)="onClickCancel($event)"
      >Cancel</button>
      
      <input #submit
      type="submit"
      class="btn btn-text-grey small px-0"
      value="Send"
      (click)="stopPropagation($event)"
      [disabled]="controller.invalid"
      >
    </div>
  </div>
</div>