<div class="d-flex">
  <profile-image size="42"></profile-image>
  <div class="ml-10p flex-grow-1">
    <form-item-input
    (click)="stopPropagation($event)"
    [controller]="form"
    placeholder="Write a comment..."
    ></form-item-input>

    <div class="mt-10p d-flex">
      <button 
      class="btn btn-text-grey small px-0 mr-20p"
      (click)="onClickCancel($event)"
      >Cancel</button>
      
      <button class="btn btn-text-grey small px-0">Reply</button>
    </div>
  </div>
</div>