<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>
<h3 class="mb-3">
  Profile
  <button 
  *ngIf="profile"
  class="btn btn-primary pull-right" 
  (click)="toggleEdit()"
  >Edit</button>
</h3>

<div class="mt-5" *ngIf="profile">
  <form-partner-general
  [data]="profile"
  [disabled]="!isEditing"
  (changeImage)="onChangeImage($event)"
  (submitText)="update($event)"
  ></form-partner-general>

  <div class="mt-3 text-right" *ngIf="isEditing">
    <form (ngSubmit)="onSubmit()">
      <input class="btn btn-ph-blue" type="submit" value="Update">
    </form>
  </div>
</div>