<button 
type="button" 
class="btn"
[ngClass]="buttonClass"
(click)="tutorialModal.show()"
>
  <i iconPh="video-camera"></i>
  <span>{{label}}</span>
</button>

<!-- Modal tutorial -->
<div
class="modal fade" 
bsModal
#tutorialModal="bs-modal"
tabindex="-1" 
role="dialog"
aria-labelledby="tutorialmodal" 
aria-hidden="true"
(onShown)="playVideo()"
(onHidden)="pauseVideo()"
>
  <div 
  class="modal-dialog modal-dialog-centered" 
  role="document" 
  style="margin: auto !important; max-width: 800px;"
  >
    <div class="modal-content mk-border">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center text-dark" style="text-indent: 56px;">
          {{title}}
        </h5>
        <button 
        type="button" 
        class="close btn btn-icon" 
        aria-label="Close" 
        (click)="tutorialModal.hide()"
        >
          <i iconPh="cross" class="large"></i>
        </button>
      </div>
      <div class="modal-body text-center pb-4">
          <video class="w-100" [src]="videoUrl" controls #videoPlayer></video>
      </div>
    </div>
  </div>
</div>