<div 
class="bg-background"
style="min-height: 100vh;"
>
  <div class="sticky-top" style="z-index: 90;">
    <header-social></header-social>
    <alert-not-approved></alert-not-approved>
  </div>

  <div class="container pt-30p pb-100p">
    <div class="row justify-content-center">
      <div 
      class="d-md-block col-12 col-md-5 col-lg-4 col-xl-3"
      [ngClass]="isRoot ? 'd-block' : 'd-none'"
      >
        <menu-dashboard></menu-dashboard>
      </div>
      <div 
      class="col-12 col-md-7 col-lg-8 col-xl-7"
      [ngClass]="isRoot ? 'd-none' : 'd-block'"
      >
        <div *ngIf="!isRoot && this.sizeS">
          <button-goback 
          buttonClass="pl-0" 
          [link]="['dashboard']"
          ></button-goback>
        </div>
        <router-outlet></router-outlet>        
      </div>
    </div>
  </div>
</div>



<modal-user-menu></modal-user-menu>