:host {
  font-size: 16px;
  line-height: 1.5em;
}

.card-coupon {
  .card-left{ flex: 0 0 35% }
  .card-right{ flex: 0 1 65%; }

  .card-left{
    position: relative;
    padding: 10px;

    .circle{
      margin: auto;
      width: 4.6em;
      height: 4.6em;
      border-radius: 100px;
      border: solid 2px white;
    }
  
    .description {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1.3em;
    }
  }
}