<div class="card card-coupon overflow-hidden" *ngIf="couponData">
  <div class="d-flex align-items-center">
    <div class="bg-ph-blue text-light font-bigger card-left">
      <div class="circle"></div>
      <div class="description text-center">
        SAVE <br>
        {{couponData.percent_off}}%!
      </div>
    </div>
    <div class="bg-white text-center card-right">
      <div class="font-weight-400 font-big mb-1">COUPON</div>
      <div>{{couponData.id}}</div>
      <div class="font-smaller font-weight-bold font-weight-300">{{couponData.metadata.message}}</div>
    </div>
  </div>
</div>