<form (submit)="save()">
  <div class="p-3 form-group">
    <p>Address</p>
    <form-item-address
    name="address"
    label="Address"
    placeholder="Please enter address"
    [controllerGroup]="form"
    ></form-item-address>
  </div>

  <!-- <div class="px-3 pt-0 pb-4 borderb-grey">
    <p>Distance: {{form.controls.distance.value}} KM</p>
    <input type="range" name="range" class="form-range" [min]="data.distanceMin" [max]="data.distanceMax" [formControl]="form.controls.distance">
  </div> -->

  <div class="p-3 d-flex align-items-center justify-content-between">
    <button class="btn btn-text text-body pl-0" type="button" (click)="reset()"><u>Clear</u></button>
    <button class="btn btn-primary" type="button" (click)="save()">Save</button>
  </div>
</form>