@import '../../../assets/scss/responsive_variables';
.user-input-wrapper{
    min-height: calc(100vh - #{ 172 + $headerHeight});
    @media screen and (min-width: 768px){
        min-height: 350px;
    }
}

.question{ 
    font-size: 1.2em;
    line-height: 1.5em;
    color: #20477A;
}

div.block{ flex: 0 0 100%; }
div.inline{ flex: 0 0 50%; }

.form-check{
    font-size: 1em;
    line-height: 1.5em;
}
.form-check-input{ 
    margin-top: 0.3em; 
    transform: scale(1.4);
    transform-origin: left;
}
.form-check-label{
    font-size: 1em;
    margin-left: 0.4em;
}

.button-group{
    position: sticky;
    bottom: 0;
    width: 100%;
    padding-bottom: 60px;
    padding-top: 10px;
    background: white;
    backdrop-filter: blur(10px);

    .btn{
        color: #3377C5;
        border: solid 1px #3377C5;
        background: white;
    }
}

.image-questionnaire{
    position: absolute;
    bottom: 120%;
    right: 0;
    height: auto;
    width: 35%;
}
.error{ color: red; }
