<form [formGroup]="form" (submit)="submit()">
  <div class="user-input-wrapper position-relative">
    <div class="row">
      <div class="col-12 col-md-8">
        <p class="question font-weight-bold">{{questionnaire?.c_question}}</p>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12 col-md-9 col-lg-8 d-md-flex flex-wrap position-relative">

        <!-- root category -->
        <div *ngFor="let option of questionnaire?.answers; let i = index;" 
          class="mt-4 mt-mb-3" 
          [class]="optionStyle"
        >
          <div class="form-check" 
            formArrayName="root"
          >
            <input type="checkbox" class="form-check-input" [formControlName]="i" [id]="option._id"
              (change)="changeCheck(option, 'root', i)">
            <label class="form-check-label" [for]="option._id">{{option.item_text}}</label>
          </div>

          <!--  sub category start -->
          <div *ngIf="getFormArray('root').controls[i].value && option.subansData" class="d-md-flex flex-wrap mb-5 mb-md-0 ml-4 ml-mb-3 ">
            <div class="form-check inline mt-4 mt-md-3"
              *ngFor="let optionSub of option.subansData; let j = index;"
              [formArrayName]="option._id"
            >
              <input type="checkbox" class="form-check-input" [formControlName]="j" [id]="optionSub._id"
                (change)="changeCheck(optionSub, option._id, j)">
              <label class="form-check-label pr-md-2" [for]="optionSub._id">{{optionSub.item_text}}</label>
            </div>
          </div>  
          <!-- sub category end -->

        </div>
      </div>
    </div>
  </div>

  <div class="button-group">
    <img class="d-none d-md-block image-questionnaire" src="/assets/img/user-questionnaire.png" alt="questionnaire">
    <div class="row justify-content-between">
      <div class="col-5 col-md-3">
        <button class="btn rounded btn-lg btn-block" *ngIf="!isFirstQuestion" type="button"
          (click)="cancel()">Back</button>
      </div>
      <div class="d-none d-md-block col-md-1"></div>
      <div class="col-5 col-md-3"><button class="btn rounded btn-lg btn-block" type="submit">
        <span *ngIf="isLastQuestion">Submit</span>
        <span *ngIf="!isLastQuestion">Next</span>
      </button></div>
      <div class="d-none d-md-block col-md-5"></div>
    </div>
    <p class="error d-none d-md-block mt-3 position-absolute" *ngIf="isInvalid">Please check at least one option</p>
  </div>
</form>