<section
  class="pt-5 pb-5 text-center bg-cover bg-overlay bg-border text-light"
  style="background-image: url(assets/img/question3.png);"
>
  <div class="container" style="max-width: 700px !important">
    <h2 class="mb-4 ttle-bott-bor text-center text-uppercase">Find a health-care provider that you love.
    </h2>
    <p class="h4 font-weight-normal">
      Your next dentist, chiropractor or specialty therapist is one search away – with location, cost information and ratings to help you choose.
    </p>
  </div>
</section>
<section class="bg-secondary mb-3">
    <agm-map [latitude]="lat" [longitude]="long" [scrollwheel]="true" [fullscreenControl]="true"        [mapTypeId]="'hybrid'" >
    <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
    </agm-map>
    <div class="container">
      <div class="pt-4 pb-2">
        <div class="row">
          <div class="col-md-4 mb-3">
          <label class="font-weight-bold text-light">Near</label>
          <input 
            id="address"
            name="address" 
            type="text"
            class="form-control w-100 text-center"
            placeholder="Search by address"
            #searchGlobal
          />
          </div>
  
          <div class="col-md-4 mb-3">
           <label class="font-weight-bold text-light">Search for a provider:</label>
            <div class="ng-autocomplete">
                <ng-autocomplete 
                  [data]="allDoctorList"
                  placeHolder="Enter the Service Provider Name"
                  [searchKeyword]="keyword"
                  (selected)='selectEvent($event)'
                  [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">                                 
                </ng-autocomplete>
                 
                <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
                </ng-template>
                 
                <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
                </div>
          </div>
          <div class="col-md-4 mb-3">
            <label class="font-weight-bold text-light"></label>
            <div class="dropdown">
            <a href="#" class="dropdown-toggle nav-link form-control" data-toggle="dropdown">By Srevice <b class="caret"></b></a>
            <ul class="dropdown-menu shadow rounded-0 border-0 multi-level service-lists">
              <li class="dropdown-submenu" *ngFor="let cat of categoryList[0]?.Ans">
                <a  class="service-list nav-link" [id] = "cat._id" (click)="serviceFilter($event)">{{ cat.item_text }}</a>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<div class="container">
<div class="mb-3">
    <button class="btn btn-primary mr-2" data-toggle="modal" data-target="#filterModal">
    <i class="fa fa-sliders-h mr-2"></i> Filters
    </button>
</div>
<div class="row" *ngIf="doctorList.length; else noRecord">
    <div class="col-md-7 mapfilteroverflow pr-2">
        <div class="">
            <div class="row m-0 shadow-sm overflow-hidden profileBox mb-4" 
            *ngFor="let doc of doctorList">
                <div class="col-12 col-lg-3 p-0">
                <div
                    class="bg-cover w-100 h-100 profileimg"
                    [ngStyle]="{'background-image': 'url(http://3.12.81.245:3000/public/images/users/'+doc?.profileImage+')'}"
                ></div>
                </div>
                <div class="col-12 col-lg-9 p-3">
                <div
                    class="d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap"
                >
                    <div class="text-primary">
                    <a
                        href="/dashboard/detail"
                        [routerLink]="['/dashboard/detail', doc.userId]"
                        class="d-block h5 text-uppercase mb-0"
                        >{{ doc?.firstName }}</a
                    >
                    <div class="mb-2 font-weight-normal">{{doc?.email}}</div>
                    </div>
                    <a
                    [routerLink]="['/dashboard/detail', doc.userId]"
                    class="btn btn-primary pull-right"
                    >Request Appointment</a>
                    <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#appointmentModal">Request Appointment</button> -->
                </div>

                <div class="font-weight-normal mb-2">
                    <a
                    class="fa fa-phone-square text-secondary d-inline-block mr-2"
                    href="tel:{{doc?.phone}}"
                    >
                    <span>{{doc?.phone}}</span>
                    </a>
                    <a
                    class="fa fa-envelope text-secondary d-inline-block mr-2"
                    href="mailto:{{doc?.address}}"
                    >
                    <span>{{doc?.email}}</span>
                    </a>
                </div>
                <div class="mb-2">Address</div>
                <div class="desciption text-truncate">
                    {{doc?.address}}
                </div>
                <!-- <div class="text-right">
                    <a 
                    [routerLink]="['/dashboard/detail', doc.userId]"
                    class="text-primary font-weight-normal"
                    >Go To Profile <i class="fa fa-chevron-right"></i
                    ></a>
                </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Map start -->
    <div class="col-md-5 map-height">
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d66133.8256631544!2d76.73696339304699!3d30.36712905788227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fb62a421e6f11%3A0xebd28a29f7258d14!2sAmbala%2C%20Haryana!5e0!3m2!1sen!2sin!4v1589202336650!5m2!1sen!2sin" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>   -->
        <agm-map 
        [latitude]="location.lati"
        [longitude]="location.lng"
        [zoom]="location.zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false">

        <agm-marker 
            *ngFor="let m of location.markers; let i = index"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [label]="m.label">
            
            <agm-info-window>
            <strong>{{ m.infoContent }}</strong>
            </agm-info-window>
            
        </agm-marker>
        
        <!-- <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
            [radius]="5000"
            [fillColor]="'red'"
            [circleDraggable]="true"
            [editable]="true">
        </agm-circle> -->

        </agm-map>
    </div>
    <!-- Map end -->
</div>

<ng-template #noRecord>
    <h3>No Record found..</h3>
</ng-template>
</div>
<!-- Filter Modal -->
<!-- Modal -->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-light border-primary">
          <h5 class="modal-title" id="filterModalLabel">Filter your search results</h5>
          <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
          <div class="mb-3">
              Get the results that fit your needs — filtering will narrow and customize your search results.
          </div>  
          <h5>Minimum rating</h5>       
          <div class="d-flex rating-row mb-2">
            <div class="position-relative w-100">
              <input type="radio" name="rating" value='all'  (change)="handleRatingChange($event)">
              <span class="w-100 px-3 py-2 font-weight-normal">
                All
              </span>
            </div>
            <div class="position-relative w-100">
                <input type="radio" name="rating"  (change)="handleRatingChange($event)" value="3">
                <span class="w-100 px-3 py-2 font-weight-normal">
                    3 starts + <i class="fa fa-star text-yellow"></i>
                  <i class="fa fa-star text-yellow"></i>
                  <i class="fa fa-star text-yellow"></i>
                  <i class="far fa-star text-yellow"></i>
                  <i class="far fa-star text-yellow"></i>
                </span>
            </div>
            <div class="position-relative w-100">
                  <input type="radio" name="rating" (change)="handleRatingChange($event)" value="4">
                  <span class="w-100 px-3 py-2 font-weight-normal">
                    4 starts + <i class="fa fa-star text-yellow"></i>
                    <i class="fa fa-star text-yellow"></i>
                    <i class="fa fa-star text-yellow"></i>
                    <i class="fa fa-star text-yellow"></i>
                    <i class="far fa-star text-yellow"></i>
                  </span>
            </div>
            <div class="position-relative w-100">
                <input type="radio" name="rating" (change)="handleRatingChange($event)" value="5">
                <span class="w-100 px-3 py-2 font-weight-normal">
                    5 starts + <i class="fa fa-star text-yellow"></i>
                    <i class="fa fa-star text-yellow"></i>
                    <i class="fa fa-star text-yellow"></i>
                    <i class="fa fa-star text-yellow"></i>
                    <i class="fa fa-star text-yellow"></i>
                </span>
            </div>
          </div>
          <!-- <div class="mb-3 font-weight-bold">
              <input type="checkbox" class="mr-2"><i class="fas fa-notes-medical mr-2"></i> Online appointments
          </div> -->
          <div class="row">
            <div class="col-md-6 mb-3" >
              <label>Hours of Availability</label>
              <select class="form-control"  #hours (change)="onOptionsSelected(hours.value, 'hours')">
                <option *ngFor="let opt of profileQuestions[0]?.answers" [value] = "opt._id" [id]="opt._id">{{opt.item_text}}</option>
              </select>
            </div>
            <div class="col-md-6 mb-3">
                <label>Provider language</label>
                <select class="form-control"  #language (change)="onOptionsSelected(language.value, 'language')">
                  <option *ngFor="let opt of profileQuestions[1]?.answers" [value] = "opt._id" [id]="opt._id">{{opt.item_text}}</option>
                </select>
            </div>
          </div>    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click) = "applyFilter()">Apply</button>
        </div>
      </div>
    </div>
</div>
<!-- Filter Modal -->