@import "../../../assets/scss/mixins";

.text-yellow{
  color:#ffb328;
}

.mapsearch{
  position: relative;
  .btn{
    position: absolute;
    right:0;
    top:0;
    padding: 13px 13px;
    background-color: transparent;
    border:0;
  }
}

.profileBox {
  h5.text-uppercase {
    font-size: 16px !important;
    line-height: 22px !important;
  }
  .profileimg {
    border: 1px solid $secondaryColor;
    min-height: 185px;
    border-bottom: 5px solid $primaryColor;
  }
  .desciption.text-truncate {
    height: 40px;
    white-space: pre-wrap;
  }
  > *:nth-child(2) {
    border-bottom: 5px solid #c2c3c5;
    border-right: 7px solid $secondaryColor;
  }
}

.checkboxBtn {
  display: inline-block;
  position: relative;
 
  .fa-check-square {
    display: none;
  }
  > input {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      opacity:0;
      cursor: pointer;
    &:checked {
      + * {
        .fa-square {
          display: none;
        }
        .fa-check-square {
          display: inline-block;
        }
        background-color: $primaryColor !important;
        color: #fff !important;
      }
    }
  }
}

.map-height{
  min-height: 500px;
}

.mapfilteroverflow{
  overflow:auto;
  max-height: 630px;
}

.rating-row{
  input{
    position: absolute;
    height: 100%;
    width:100%;
    left:0;
    top:0;
    opacity: 0;
    +span{
      width:100%;
      display: block;
      font-size: 12px;
      text-align: center;
      border:1px solid #c7c7c7;
    }
    &:checked + span{
      border-color: #000;
    }
  }
}

div#filterModal>div {
  max-width: 740px;
}

.termheading{
  .fa-plus-circle{
    display: none;
  }
  &.collapsed{
  .fa-minus-circle{
    display: none;
  }
  .fa-plus-circle{
    display: inline-block;
  }
}
}

#appointmentModal >div{
max-width: 600px;
}
.dropdown-toggle.nav-link.form-control {
  margin-top: 8px;
  b {
    float: right;
  }
}
.dropdown-toggle::after {
  margin-top: 6px;
  float: right;
}
agm-map {
  height: 90%;
}

.ng-autocomplete {
  width:100%;
  max-width: 600px;
  display: table;
  margin: 0 auto;
}
