<ng-container *ngIf="mode == 'form'">
  <ul class="list-unstyled checkbox-group-root" *ngIf="disabled">
    <ng-container *ngFor="let item of selectionList; let i = index;">
      <li *ngIf="getFormArray('root').controls[i].value">
        {{item.label}}
  
        <ul 
        *ngIf="getFormArray('root').controls[i].value && item.child"
        class="checkbox-group-sub pl-3 list-unstyled"
        [ngClass]="{col2: col2}"
        >
          <ng-container *ngFor="let itemSub of item.child; let j = index;">
            <li *ngIf="getFormArray(item.id).controls[j].value">
              {{itemSub.label}}
            </li>
          </ng-container>
        </ul>
      </li>  
    </ng-container>
  </ul>
  
  <ul class="list-unstyled checkbox-group-root" *ngIf="!disabled">
    <ng-container *ngFor="let item of selectionList; let i = index;">
      <li>
        <form-item-checkbox 
        [name]="item.id"
        [controller]="getFormArray('root').controls[i]"
        [label]="item.label"
        (changeValue)="onChange()"
        ></form-item-checkbox>
  
        <ul 
        *ngIf="getFormArray('root').controls[i].value"
        class="checkbox-group-sub pl-3 list-unstyled"
        [ngClass]="{col2: col2}"
        >
          <ng-container *ngFor="let itemSub of item.child; let j = index;">
            <li>
              <form-item-checkbox 
              [name]="itemSub.id" 
              [controller]="getFormArray(item.id).controls[j]"
              [label]="itemSub.label"
              (changeValue)="onChange()"
            ></form-item-checkbox>
            </li>
          </ng-container>
        </ul>
      </li>  
    </ng-container>
  </ul>
  <form-item-errors
  label="Health status"
  [submitted]="submitted"
  [controller]="controller"
  ></form-item-errors>
</ng-container>

<ul class="tags-horizontal m-0 list-unstyled d-flex flex-nowrap" *ngIf="mode == 'tag' && data && data.length > 0">
  <ng-container *ngFor="let item of selectionList; let i = index;">
    <li *ngIf="getFormArray('root').controls[i].value"
    class="main text-nowrap rounded mr-3 position-relative border-primary"
    >
      <span class="px-2 body-small">{{item.label}}</span>
      <label class="btn btn-icon small py-1 m-0 text-primary-dark bg-primary-light" [for]="item.id">
        <i iconPh="cross"></i>
      </label>
      <input [id]="item.id" type="checkbox" class="d-none" [formControl]="getFormArray('root').controls[i]" (change)="onChange()">
    </li>
    <ng-container *ngIf="item.child">
      <ng-container *ngFor="let itemSub of item.child; let j = index">
        <li *ngIf="getFormArray(item.id).controls[j].value"
        class="main text-nowrap rounded mr-3 position-relative border-primary"
        >
          <span class="px-2 body-small">{{itemSub.label}}</span>
          <label class="btn btn-icon small py-1 m-0 text-primary-dark bg-primary-light" [for]="itemSub.id">
            <i iconPh="cross"></i>
          </label>
          <input [id]="itemSub.id" type="checkbox" class="d-none" [formControl]="getFormArray(item.id).controls[j]" (change)="onChange()">
        </li>
      </ng-container>
    </ng-container>
  </ng-container>
</ul>
