<section class="main-footer pt-5 pb-5 bg-primary text-light">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12 mb-4 mb-md-0">
            <h5 class="mb-3 text-center text-md-left">PromptHealth</h5>
            <div class="row">
              <nav
                class="nav w-100 justify-content-center justify-content-md-start font-weight-normal"
              >
                <a class="nav-link text-light" [routerLink]="['/faq']">FAQ</a>
                <a
                  class="nav-link text-light"
                  [routerLink]="['/affiliate']"
                  >Affiliate</a
                >
                <a class="nav-link text-light" [routerLink]="['/contact-us']"
                  >Contact us</a
                >
                <a class="nav-link text-light" [routerLink]="['/policy']"
                  >Privacy Policy</a
                >
                <a
                  class="nav-link text-light"
                  [routerLink]="['/termConditions']"
                  >Terms & Condition</a
                >
              </nav>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12 text-center text-md-right">
            <p class="mb-3">© 2020 Prompthealth</p>
            <div class="social-links d-inline-block">
              <a href="https://www.facebook.com/PromptHealth/?modal=admin_todo_tour" class="btn btn-light mr-2"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <a href="https://www.linkedin.com/company/52172152/admin/" class="btn btn-light mr-2"
                ><i class="fab fa-linkedin"></i></a>
              <a href="https://www.instagram.com/prompthealth/" class="btn btn-light"
                ><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
