<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" loading="lazy" />
  </p>
</ngx-spinner>
<section class="heightHF-100 pt-4 pb-4 d-flex justify-content-center align-items-center bg-primary-light">
  <div class="container">
    <div class="intersection-observer" intersectionObserver rootMargin="-80px 0px 10000px 0px" (changeStatus)="changeHeaderShadowStatus($event)"></div>
    <div class="row m-0 justify-content-between bg-white rounded-lg overflow-hidden">
      <div class="py-4 px-2 col-md-4 order-md-2 py-md-5 pr-md-3 pl-md-0">
        <h5 class="mb-4">Create An Account</h5>
        <form-auth authType="signup" [userRole]="userRole"></form-auth>
      </div>
      <div class="col-md-8 order-md-1 pt-5 pb-0 px-2 px-md-5 bg"
        [ngClass]="{ 'bg-user': (!partnerSignup && !professionalSignup), 'bg-professional': (!partnerSignup && professionalSignup), 'bg-partner': !!partnerSignup }">
        <div class="h-100">
          <div class="w-100" *ngIf="!partnerSignup && professionalSignup">
            <h3>Join Our Canadian Network </h3>
            <p class="p-sd-for-image pb-md-0">
              Join the growing network of Canadian health and wellness professionals.
              Together, we will change the health and wellness experience.<br><br>

              PromptHealth for every practice:
              Medical / Dental / Allied Health / Holistic / Wellness / Nutrition / Fitness
            </p>
          </div>
          <div class="w-100" *ngIf="!partnerSignup && !professionalSignup">
            <h3>Find The Right Care For You </h3>
            <p class="p-sd-for-image pb-md-0">
              PromptHealth empowers you with the convenience and accessibility you need to better manage
              your health and the health of your family.<br><br>
              No more guesswork. We’ve got you!
            </p>
          </div>
          <div class="w-100" *ngIf="partnerSignup">
            <h3>Join Our Canadian Network </h3>
            <p class="p-sd-for-image pb-md-0 partner">
              Do you want your current clients to have access to more individualized options for their health?
              <br><br>
              Showcase with Prompt Health to extend the reach of both parties via cross-platform visibility to get in
              front
              of both clients and health and wellness providers.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="text-center text-light pt-3">
      <span class="mr-2">Forget your password?</span>
      <a href="" [routerLink]="['/auth/forgot-password']" class="text-light"
        >Get a new password</a
      >
    </div> -->
  </div>
</section>