

.bg{
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
 
    &.bg-user{ 
        background-image: url(/assets/img/login-client-s.png); 
        @media screen and (min-width: 768px){
            background-size: 95%;
            background-image: url(/assets/img/login-client.png);
        }
    }
    &.bg-professional { 
        background-image: url(/assets/img/login-professional-s.png); 
        @media screen and (min-width: 768px){ 
            background-image: url(/assets/img/login-professional.png); 
            background-size: 110%;
        }
        @media screen and (min-width: 992px){ background-size: 100%; }
    }
    &.bg-partner{ 
        background-image: url(/assets/img/login-partner.png); 
        @media screen and (min-width: 768px){
            background-size: 120%;
            background-image: url(/assets/img/login-partner.png);
        }
    }
}

.p-sd-for-image::after{
    content: '';
    display: block;
    padding-top: 55%;
    @media screen and (min-width: 768px){ content: none; }
}

.p-sd-for-image.partner::after{
    padding-top: 65%;
}


// .register-user {
//     background-image: url(../../../assets/img/bg.jpg);
// }
// .professional {
//     background-image: url(../../../assets/img/professional.jpg);
// }