<div class="card rounded-8p bg-white shadow body1 text-body mb-15p">
  <div class="d-flex p-20p border-bottom border-line">
    <profile-image></profile-image>
    <div
    class="contenteditable px-15p py-10p rounded-8p"
    contenteditable
    data-placeholder="What's on your mind"
    ></div>
  </div>

  <div class="d-flex px-20p pt-10p justify-content-between">
    <div class="d-flex flex-wrap">
      <button class="btn btn-text-grey border-lg-line small mr-20p mr-lg-10p mb-10p px-0 px-lg-10p">
        <i iconPh="image-3"></i>
        <span class="d-none d-lg-inline">Media</span>
      </button>
  
      <button class="btn btn-text-grey border-lg-line small mr-20p mr-lg-10p mb-10p px-0 px-lg-10p">
        <i iconPh="mic"></i>
        <span class="d-none d-lg-inline">Voice</span>
      </button>
  
      <button class="btn btn-text-grey border-lg-line small mr-20p mr-lg-10p mb-10p px-0 px-lg-10p">
        <i iconPh="calendar"></i>
        <span class="d-none d-lg-inline">Event</span>
      </button>
  
      <button class="btn btn-text-grey border-lg-line small mb-10p px-0 px-lg-10p">
        <i iconPh="note-text"></i>
        <span class="d-none d-lg-inline">Article</span>
      </button>  
    </div>

    <div>
      <button class="btn btn-primary small">Share</button>
    </div>

  </div>
</div>