<div class="card rounded-8p bg-white shadow body1 text-body mb-15p">
  <div class="d-flex p-20p border-bottom border-line">
    <profile-image></profile-image>
    <div class="flex-grow-1">
      <quill-editor
      [styles]="{minHeight: '48px', border: 'none'}"
      placeholder="What's on your mind"
      ></quill-editor>  
    </div>
  </div>

  <div *ngIf="imagePreview || audioSaved" class="p-20p d-flex">
    <div 
    *ngIf="imagePreview" 
    class="position-relative d-inline-block overflow-hidden rounded-4p mr-10p"
    >
      <img [src]="imagePreview" alt="" height="100" width="auto">
      <button 
      class="btn btn-icon-body small blur p-5p btn-remove-media"
      (click)="onClickButtonRemoveMedia()"
      >
        <i iconPh="cross"></i>
      </button>  
    </div>
    <div *ngIf="audioSaved"
    class="position-relative d-inline-block border border-line rounded-4p preview-file"
    >
      <i iconPh="mic" class="icon-file-type"></i>
      <button 
      class="btn btn-icon-body small blur p-5p btn-remove-media"
      (click)="onClickButtonRemoveAudio()"
      >
        <i iconPh="cross"></i>
      </button>  
    </div>
  </div>


  <div class="d-flex px-20p pt-10p justify-content-between">
    <div class="d-lg-flex">
      <div class="d-flex">
        <div>
          <button 
          class="btn btn-text-grey border-lg-line small mr-20p mr-lg-10p mb-10p px-0 px-lg-10p"
          (click)="onClickButtonMedia()"
          >
            <i iconPh="image-3"></i>
            <span class="d-none d-lg-inline">Media</span>
          </button>
          <input #inputMedia
          class="position-absolute d-none"
          type="file" 
          accept="image/jpeg, image/png" 
          (change)="onSelectMedia($event)"
          >
        </div>     
    
        <button 
        class="btn btn-text-grey border-lg-line small mr-20p mr-lg-10p mb-10p px-0 px-lg-10p"
        (click)="onClickButtonAudio()"
        >
          <i iconPh="mic"></i>
          <span class="d-none d-lg-inline">Voice</span>
        </button>

        <button 
        class="btn small d-lg-none mb-10p"
        [ngClass]="{'btn-text-grey': !isMoreShown, 'btn-grey': isMoreShown}"
        (click)="onClickButtonMore()"
        >
        <i iconPh="more-horiz"></i>
        <span>More</span>
        </button>  
      </div>

      <div class="d-lg-flex" [ngClass]="{'d-none': !isMoreShown, 'd-flex': isMoreShown}">
        <a 
        class="btn btn-text-grey border-lg-line small mr-20p mr-lg-10p mb-10p px-0 px-lg-10p"
        routerLink="/community/create/event"
        >
          <i iconPh="calendar"></i>
          <span>Event</span>
        </a>
      
        <a 
        class="btn btn-text-grey border-lg-line small mb-10p px-0 px-lg-10p"
        routerLink="/community/create/article"
        >
          <i iconPh="note-text"></i>
          <span>Article</span>
        </a>  
      </div>
    </div>

    <div>
      <button class="btn btn-primary small">Share</button>
    </div>

  </div>
</div>

<modal
id="audio-recorder"
[option]="{disableCloseByClickingDrop: true}"
#modalAudioRecorder
>
  <div class="title-container d-flex justify-content-between align-items-center">
    <button class="btn pl-0 btn-icon-grey" (click)="cancelAudioRecord()">
      <i iconPh="chevron-left" class="large"></i>
    </button>  
  </div>

  <div class="content-container">
    <div class="mb-60p d-flex justify-content-center">
      <profile-image size="80" class="inline-block"></profile-image>
    </div>

    <div class="d-flex align-items-center">
      <button 
      *ngIf="!!audioData" 
      class="btn btn-play-control"
      (click)="toggleAudioPlayerState()"
      >
        <i [iconPh]="isAudioPlaying ? 'pause' : 'play'"></i>
      </button>
      <div
      class="audio-progress-bar flex-grow-1 mx-15p"
      [ngClass]="{recording: isAudioRecording}"
      >
        <div class="audio-progress"></div>
        <div class="audio-progress done"
        [ngStyle]="{width: percentAudioPlayCurrent + '%'}"
        ></div>
        <ng-container *ngIf="audioData">
          <span class="label-audio-duration-current subtitle2 text-label">{{timeAudioPlayCurrent / 1000 | duration}}</span>
          <span class="label-audio-duration subtitle2 text-label">{{audioData.duration | duration}}</span>
          <audio 
          #audioPlayer
          class="d-none"
          >
            <source [src]="safeResourceUrlOf(audioData.url)" type="audio/wav">
          </audio>      
        </ng-container>
        <ng-container *ngIf="isAudioRecording">
          <span 
            class="label-audio-duration subtitle2"
            [ngClass]="(timeAudioRecordingRemaining > 60 ? 'text-label' : 'text-error')"
          >
            {{timeAudioRecordingRemaining | duration}}
          </span>
        </ng-container>
      </div>
      <button
      *ngIf="audioData"
      class="btn btn-icon-error small"
      (click)="disposeAudio()"
      >
        <i iconPh="trash" class="large"></i>
      </button>
    </div>

    <div class="mt-80p text-right position-relative">
      <button
      class="btn btn-record-control" 
      (click)="toggleAudioRecorderState()"
      [ngClass]="{disabled: audioData}"
      >
        <i *ngIf="!isAudioRecording" iconPh="play"></i>
        <i *ngIf="isAudioRecording" iconPh="stop"></i>
      </button>
      <button class="btn btn-primary small">Done</button>
    </div>
  </div>



</modal>
