@import "../../../assets/scss/mixins";

@include Solutions;

.card-header {
  font-weight: bold;
  &.collapsed {
    .fa-minus {
      display: none;
    }
    .fa-plus {
      display: inline-block;
    }
  }
  .fa {
    float: right;
  }
  .fa-minus {
    display: inline-block;
  }
  .fa-plus {
    display: none;
  }
}

// bg border
.bg-border {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    display: block;
    left: 15px;
    top: 15px;
    border: 3px solid #fff;
    height: calc(100% - 30px);
    width: calc(100% - 30px);
  }
}
// bg border end
