<h6 class="mb-40p">Payment history</h6>

<div
*ngIf="transactions?.length == 0" 
class="container"
>
  <card-no-content label="No transactions yet!"></card-no-content>
</div>  

<ul
*ngIf="transactions?.length > 0"
class="list-unstyled"
>
  
  <li 
  *ngFor="let t of transactions"
  class="p-20p bg-background border border-line rounded-8p mb-25p"
  >
    <div class="subtitle1">{{t.createdAt | date:'yyyy/MM/dd hh:mm a'}}</div>
    <div class="body1 mb-10p">{{t.amount | currency:'CAD'}} </div>
    <div class="body-small text-label">
      Reference: <br>
      {{t.stripeChargeId}}
    </div>
  </li>
</ul>

<div 
*ngIf="isLoading"
class="mt-30p text-center"
>
  <loader></loader>
</div>