<ul 
*ngIf="disabled"
class="list-unstyled checkbox-group-root"
[ngClass]="{inline: _option.showInlineWhenDisabled, 'block-with-zero-margin': _option.showBlockWithZeroMarginWhenDisabled}"
>
  <ng-container *ngFor="let cat of categories; let i = index;">
    <li 
    *ngIf="getFormArray('root').controls[i].value"
    class="root"
    [attr.data-separator]="_option.inlineSeparator"
    >
      <span>{{cat.item_text}}</span>

      <ul 
      *ngIf="getFormArray('root').controls[i].value"
      class="checkbox-group-sub list-unstyled"
      [ngClass]="{col2: col2, inline: _option.showInlineSubWhenDisabled, 'block-with-zero-margin': _option.showBlockSubWithZeroMarginWhenDisabled, 'pl-3': !_option.removeIndentSub, 'body2': _option.fontSmallSub}"
      >
        <ng-container *ngFor="let sub of cat.subCategory; let j = index;">
          <li 
          *ngIf="getFormArray(cat._id).controls[j].value"
          class="sub" 
          [ngClass]="{col2: col2}" 
          [attr.data-separator]="_option.inlineSeparator"
          >
            <span>{{sub.item_text}}</span>
          </li>
        </ng-container>
      </ul>
    </li>  
  </ng-container>
</ul>

<ul class="list-unstyled checkbox-group-root" *ngIf="!disabled">
  <ng-container *ngFor="let cat of categories; let i = index;">
    <li>
      <form-item-checkbox 
      [name]="cat._id" 
      [controller]="getFormArray('root').controls[i]"
      [label]="cat.item_text"
      ></form-item-checkbox>

      <ul 
      *ngIf="getFormArray('root').controls[i].value"
      class="checkbox-group mt-3 pl-3 list-unstyled"
      [ngClass]="{col2: col2}"
      >
        <ng-container *ngFor="let sub of cat.subCategory; let j = index;">
          <li>
            <form-item-checkbox 
            [name]="sub._id" 
            [controller]="getFormArray(cat._id).controls[j]"
            [label]="sub.item_text"
            ></form-item-checkbox>
          </li>
        </ng-container>
      </ul>
    </li>  
  </ng-container>
</ul>

<form-item-errors
label="Service"
[controller]="controller"
[submitted]="submitted"
></form-item-errors>