:host {
  font-size: 16px; 
}


.checkbox-group{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;

  li{
    margin-bottom: 1em;
    flex: 1 0 100%;
    white-space: normal;

    &.root{
      font-weight: 500;
      &:not(:first-child){
        margin-top: 1.5em;
      }
    }
    &.sub{ 
      font-weight: 300;

      &.col2{
        flex: 1 0 50%;
        white-space: nowrap;
      }
    }
  }
}