.checkbox-group-root {
  >li {
    white-space: pre-wrap;
    flex: 1 0 100%;

    &:not(:first-child){
      margin-top: 1em;
    }
  }

  &.inline {
    display: block;
    >li {
      display: inline-block;
      margin: 0;
      white-space: pre-wrap;
      word-break: break-word;

      &:not(:last-child)::after {
        content: attr(data-separator);
        white-space: pre;
      }
    }
  }

  &.block-with-zero-margin {
    >li {
      margin: 0;
    }
  }
}

.checkbox-group-sub {
  margin-top: 1em;
  white-space: pre-wrap;

  &.col2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 0; 
    li {
      flex: 1 0 50%;
      white-space: nowrap;

    } 
  }

  >li {
    margin-bottom: 1em;
  }

  &.inline {
    display: block;
    margin: 0;
    >li {
      display: inline-block;
      margin: 0;
      white-space: pre-wrap;
      word-break: break-word;
      &:not(:last-child)::after {
        content: attr(data-separator);
        white-space: pre;
      }
    }
  }

  &.block-with-zero-margin {
    margin: 0;
    >li {
      margin: 0;
    }
  }
}