<ul class="list-unstyled checkbox-group-root" *ngIf="disabled">
  <ng-container *ngFor="let cat of categories; let i = index;">
    <li class="root" *ngIf="getFormArray('root').controls[i].value">
      <span>{{cat.item_text}}</span>

      <ul 
      *ngIf="getFormArray('root').controls[i].value"
      class="checkbox-group-sub pl-3 list-unstyled"
      [ngClass]="{col2: col2}"
      >
        <ng-container *ngFor="let sub of cat.subCategory; let j = index;">
          <li class="sub" [ngClass]="{col2: col2}" *ngIf="getFormArray(cat._id).controls[j].value">
            <span>{{sub.item_text}}</span>
          </li>
        </ng-container>
      </ul>
    </li>  
  </ng-container>
</ul>

<ul class="list-unstyled checkbox-group-root" *ngIf="!disabled">
  <ng-container *ngFor="let cat of categories; let i = index;">
    <li>
      <form-item-checkbox 
      [name]="cat._id" 
      [controller]="getFormArray('root').controls[i]"
      [label]="cat.item_text"
      ></form-item-checkbox>

      <ul 
      *ngIf="getFormArray('root').controls[i].value"
      class="checkbox-group mt-3 pl-3 list-unstyled"
      [ngClass]="{col2: col2}"
      >
        <ng-container *ngFor="let sub of cat.subCategory; let j = index;">
          <li>
            <form-item-checkbox 
            [name]="sub._id" 
            [controller]="getFormArray(cat._id).controls[j]"
            [label]="sub.item_text"
            ></form-item-checkbox>
          </li>
        </ng-container>
      </ul>
    </li>  
  </ng-container>
</ul>

<form-item-errors
label="Service"
[controller]="controller"
[submitted]="submitted"
></form-item-errors>