<div class="container">
  <div class="row align-items-start justify-content-center">
    <section class="col-12 col-md-2 col-xl-2">
      <div class="text-md-right">
        <button-goback 
        buttonClass="pl-0" 
        [link]="['/community', 'feed']"
        ></button-goback>
      </div>
    </section>
    <section class="col-12 col-md-10 col-lg-8 col-xl-7">
      <ng-container *ngIf="drafts">
          <card-no-content 
          *ngIf="drafts.length == 0"
          label="No drafts yet!"
          ></card-no-content>


        <div *ngIf="drafts.length > 0">
          <h4>Saved as Draft</h4>
          <ul class="list-unstyled">
            <li 
            *ngFor="let d of drafts"
            class="mb-15p"
            >
              <card-post-draft [post]="d"></card-post-draft>
            </li>
          </ul>

          <div class="text-center">
            <button 
            *ngIf="!isLoading && existsMore"
            class="btn btn-text-body small"
            (click)="fetchDrafts()"
            >Load more</button>  
          </div>
        </div>
      </ng-container>

      <div 
      *ngIf="isLoading"
      class="text-center mt-30p"
      >
        <loader></loader>
      </div>
    </section>        
  </div>
</div>
