<section class="heightHF-100 pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="ttle-bott-bor">Contact us</h2>
        <p class="h5 font-weight-normal mb-4">
          Please complete and submit the form below to contact us with your
          questions, comments or requests.
        </p>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label>Name <span class="text-danger">*</span></label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-md-6 mb-3">
            <label>Email <span class="text-danger">*</span></label>
            <input type="email" class="form-control" />
          </div>
          <div class="col-md-12 mb-3">
            <label>Message <span class="text-danger">*</span></label>
            <textarea
              class="form-control"
              style="min-height: 150px;"
            ></textarea>
          </div>
          <div class="col-md-12 text-right mb-3">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="check_ul h5 font-weight-normal">
          <div class="mb-3  fa-map-marker">
            <b>Lorem ipsum dolor</b><br />
            sit amet, consectetur adipiscing elit.
          </div>

          <div class="mb-3 fa-phone">
            <a href="tel:1234567890" class="text-primary"> 1234567890</a>
          </div>
          <div class="mb-3 fa-envelope">
            <a href="mailto:info@prompthealth.ca" class="text-primary"
              >info@prompthealth.ca</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
