<section
  class="pt-6 pb-6 text-center bg-cover bg-overlay text-light"
  style="background-image: url(assets/img/background3.jpg);"
>
  <div class="container">
    <h2 class="text-uppercase mb-3">Get in Touch</h2>
    <p class="h4 font-weight-normal">
      Please complete and submit the form below to contact us with your
      questions, comments or requests.
    </p>
  </div>
</section>

<section class="pt-4 pb-4 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h4 class="text-uppercase font-weight-bold">Contact Us</h4>
        <hr />
        <form (ngSubmit)="submit()" [formGroup]="contactForm">
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label>Name <span class="text-danger">*</span></label>
              <input
                type="text"
                class="form-control"
                id="name"
                formControlName="name"
                name="name"
                [ngClass]="{ 'is-invalid': submitted && ff.name.errors }"
              />
              <div *ngIf="ff.name.errors" class="invalid-feedback">
                <div *ngIf="ff.name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label>Email <span class="text-danger">*</span></label>
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                name="email"
                [ngClass]="{ 'is-invalid': submitted && ff.email.errors }"
              />
              <div *ngIf="ff.email.errors" class="invalid-feedback">
                <div *ngIf="ff.email.errors.required">Email is required</div>
                <div *ngIf="ff.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label>Message <span class="text-danger">*</span></label>
              <textarea
                class="form-control"
                id="message"
                formControlName="message"
                name="message"
                [ngClass]="{ 'is-invalid': submitted && ff.message.errors }"
                style="min-height: 150px;"
              ></textarea>
              <div *ngIf="ff.message.errors" class="invalid-feedback">
                <div *ngIf="ff.message.errors.required">
                  Message is required
                </div>
              </div>
            </div>
            <div class="col-md-12 text-right mb-3">
              <a [routerLink]="['/home']" class="btn btn-secondary mr-2">
                Back
              </a>
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-5">
        <h4 class="text-uppercase font-weight-bold">Contact Detail</h4>
        <hr />
        <div class="check_ul1 h6 font-weight-normal">
          <!-- <div class="mb-4 fa fa-map-marker">
            <span><b>Lorem ipsum dolor</b><br />
            sit amet, consectetur adipiscing elit.</span>
          </div> -->

          <!-- <div class="mb-4 fa fa-phone">
            <span><a href="tel:1234567890" class="text-primary"> 1234567890</a></span>
          </div> -->

          <div class="mb-4 fa fa-envelope">
            <span><a href="mailto:info@prompthealth.ca" class="text-primary"
              >info@prompthealth.ca</a
            ></span>
          </div>
        </div>

        <hr />
        <div class="mb-3 h4">
          <a href="" target="new" class="text-facebook mr-2"
            ><i class="fab fa-facebook-square"></i
          ></a>
          <a href="" target="new" class="text-google"
            ><i class="fab fa-google"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
