<h3 class="mb-4">General Information</h3>

<div class="d-md-flex align-items-center mb-5">
  <p class="mb-3 mb-md-0">Please read profile guidelines before entering your profile.</p>
  <button-guideline
  class="ml-md-4"
  label="See Profile Guidelines"
  buttonClass="btn btn-outline-ph-blue text-nowrap"
  ></button-guideline>  
</div>

<form-centre-general
*ngIf="user?.roles == 'C'"
[data]="user"
[hideSubmit]="true"
(changeImage)="onChangeImage($event)"
(submitForm)="update($event)"
></form-centre-general>

<form-provider-general
*ngIf="user?.roles == 'SP'"
[data]="user"
[hideSubmit]="true"
(changeImage)="onChangeImage($event)"
(submitForm)="update($event)"
></form-provider-general>

<div class="mb-25p">
  <form-item-checkbox
  type="checkbox"
  name="accreditInCanada"
  label="I verify that all information provided by me is accurate"
  [controller]="fAccredit"
  ></form-item-checkbox>
  <form-item-errors
  label="This item"
  [submitted]="isSubmitted"
  [controller]="fAccredit"
  ></form-item-errors>
</div>