<section
  class="pt-6 pb-6 text-center bg-cover bg-overlay bg-border text-light"
  style="background-image: url(assets/img/question3.png);"
>
  <div class="container" style="max-width: 700px !important">
    <h2 class="mb-4 ttle-bott-bor text-center text-uppercase">Find a health-care provider that you love.
    </h2>
    <p class="h4 font-weight-normal">
      Your next dentist, chiropractor or specialty therapist is one search away – with location, cost information and ratings to help you choose.
    </p>
  </div>
</section>

<div class="container">
<div class="p-4">
<div class="row">
<div class="col-md-6 mb-3">
<label>Near</label>
<form class="mapsearch">
<input type="text" class="form-control" placeholder="Enter Address or Postal Code">
<button class="btn"><i class="fa fa-crosshairs"></i></button>
</form>
</div>

<div class="col-md-6 mb-3">
  <label>Search for a provider or specialty:</label>
  <form class="mapsearch">
  <input type="text" class="form-control" placeholder="Enter provider name or pick a specialty">
  <button class="btn"><i class="fa fa-search"></i></button>
  </form>
  </div>
</div>
</div>
</div>


<div class="container">
  <div class="mb-3">
    <button class="btn btn-primary mr-2">
      <i class="fa fa-sliders-h mr-2"></i> Filters
    </button>
    <button class="btn btn-primary">
      <i class="fa fa-long-arrow-alt-up"></i>
      <i class="fa fa-long-arrow-alt-down mr-2"></i>
      Sort by: <b>Last Name</b> <i class="fa fa-chavron-down ml-2"></i>
    </button>
  </div>
<div class="row">
  <div class="col-md-7">

  </div>
</div>
</div>