<div class="container mt-5 text-dark">
  <h2 class="mb-4">Find Health Care Provider</h2>
  <section class="mb-3">
    <h3 class="mb-3">Search By City</h3>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <h4>British Colombia</h4>
        <ul class="list-unstyled">
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/vancouver']">Vancouver</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/burnaby']">Burnaby</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/richmond']">Richmond</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/coquitlam']">Coquitlam</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/surrey']">Surrey</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/white_rock']">White Rock</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/abbotsford']">Abbotsford</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/kelowna']">Kelowna</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/victoria']">Victoria</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/duncan']">Duncan</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/comox']">Comox</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <h4>Ontario</h4>
        <ul class="list-unstyled">
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/toronto']">Toronto</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/mississauga']">Mississauga</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/hamilton']">Hamilton</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/vaughan']">Vaughan</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/kitchener']">Kitchener</a></li>
          <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/ottawa']">Ottawa</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-12">
            <h4>Alberta</h4>
            <ul class="list-unstyled">
              <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/edmonton']">Edmonton</a></li>
              <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/calgary']">Calgary</a></li>
            </ul>
          </div>
    
          <div class="col-12 col-sm-6 col-md-12">
            <h4>Manitoba</h4>
            <ul class="list-unstyled">
              <li class="mb-2"><a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/area/winnipeg']">Winnipeg</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <a #typeOfProvider class="margin-top: -80px;"></a>
    <h3 class="mb-3">Search By Provider Type</h3>
    <ul class="list-unstyled row" *ngIf="typeOfProviderList">
      <li *ngFor="let a of typeOfProviderList;" class="mb-2 col-12 colsm-6 col-md-4">
        <a class="text-dark py-2 d-inline-block" [routerLink]="['/practitioners/type', a._id]">{{a.item_text}}</a>
      </li>
    </ul>
  </section>
</div>