/// TEMPORARY TODO: REMOVE LATER
.text-placeholder {
  color: rgba(160, 163, 189, 1);
}
.bg-placeholder {
  background-color: rgba(160, 163, 189, 1);
}
/// TEMPORARY END

.card-post {
  &.large {
    display: flex;
    flex-wrap: wrap;

    .eyecatch-container,
    .info-container {
      flex: 0 0 100%;
    }

    @media (min-width: 992px) {
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: stretch;
      .eyecatch-container { flex: 0 0 50%; }
      .info-container {flex: 0 0 45%; }
    }

    .info-container {
      display: flex;
      flex-direction: column;
      .content-container { order: 1; }
      .stat-container { order: 2; }
      .author-container { order: 3; }
    }

  }
}

.card-post {
  .eyecatch-container::after {
    content: '';
    display: block;
    padding-top: 66%;
  }

  .eyecatch,
  .eyecatch-dummy{    
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
  }

  .author,
  .author-dummy {
    width: 35px;
    height: 35px;
    border-radius: 10px;
  }

  &.large {
    .eyecatch-container::after {
      @media (min-width: 992px) {
        content: none;
      }
    }

    .author,
    .author-dummy {
      @media (min-width: 768px) {
        width: 42px;
        height: 42px;
      }
    }
  }
}


[class^='loading']{
  position: absolute;
  top: 50%;
  left: 0%;
  width: 25%;
  height: 150%;
  background: white;
  opacity: 0;
}
.loading-1{ animation: 2s linear infinite running slidein1 }
.loading-2{ animation: 2s 1s linear infinite running slidein2 }

@keyframes slidein1 {
  from{ transform: translate(-150%, -50%) rotate(-20deg); opacity: 0.4; }
  to{ transform: translate(550%, -50%) rotate(-20deg); opacity: 0.4;}
}
@keyframes slidein2 {
  from{ transform: translate(-150%, -50%) rotate(-20deg); opacity: 0.4;}
  to{ transform: translate(550%, -50%) rotate(-20deg); opacity: 0.4;}
}