<a [routerLink]="['/magazines/' + (data ? data.slug : '')]">
  <div 
  class="card-post text-body overflow-hidden position-relative"
  [ngClass]="size"
  >
    <div 
    class="eyecatch-container position-relative mb-20p"
    [ngClass]="{'mb-lg-0': sizeL}"
    >
      <div *ngIf="!data" class="eyecatch-dummy color-dummy"></div>
      <img *ngIf="data && !data.isVideo" class="eyecatch" [src]="data.image" alt="">
      <div *ngIf="data && data.isVideo" class="eyecatch eyecatch-video overflow-hidden" [innerHTML]="data.videoAsThumbnail"></div>

    </div>

    <div class="info-container">
      <div 
      class="stat-container  body2 opacity-70pc"
      [ngClass]="{'mb-5p mb-md-25p': sizeL, 'mb-10p': (sizeM || sizeS) }"
      >
        <div class="d-flex align-items-center flex-wrap">
          <div class="mb-10p mr-2" *ngIf="sizeS">
            <div *ngIf="!data" class="author-dummy color-dummy"></div>
            <a
            *ngIf="data"
            [ngStyle]="{'pointer-events': (data.authorRole == 'SA' ? 'none' : 'inherit') }"
            [routerLink]="['/',(data.authorRole == 'P' ? 'products' : 'practitioners'), data.authorId]"
            >
              <img [src]="data.authorImage" alt="" class="author">
            </a>
          </div>
          <span class="mb-10p text-nowrap">
            <i iconPh="calendar" class="mr-1"></i>
            <span *ngIf="!data" class="color-dummy">Apr 22, 2035</span>
            <span *ngIf="data">{{data.createdAt | date}}</span>
          </span>
          <span class="ml-2 mb-10p text-nowrap">
            <i iconPh="timer" class="mr-1"></i>
            <span *ngIf="!data" class="color-dummy">
              10 min
            </span>
            <span *ngIf="data">
              <span>{{data.readLengthFormatted}}</span>
              <span [ngClass]="{'d-lg-none d-xl-inline': sizeS}"> read</span>            
            </span>
          </span>
          <span class="ml-2 mb-10p text-nowrap" *ngIf="showCategory && (!data || data.category)">
            <i iconPh="folder" class="mr-1"></i>
            <span *ngIf="!data" class="color-dummy">News</span>
            <span *ngIf="data">{{data.catTitle}}</span>
          </span>
        </div>
      </div>

      <div 
      class="content-container"
      [ngClass]="{'mb-20p mb-md-35p': sizeL }"
      >
        <h3 
        class="mb-10p clamp-2line" 
        [ngClass]="{'h4 h2-md clamp-md-3line mb-md-20p': sizeL, 'h5': sizeM, 'h6': sizeS}"
        >
          <div *ngIf="!data">
            <div><div class="color-dummy" style="height: 0.95em;"></div></div>
            <div class="mt-2"><div class="color-dummy" style="height: 0.95em;"></div></div>
          </div>
          
          <span *ngIf="data">
            {{data.title}}
          </span>
        </h3>
        
        <div class="body1 mb-20p" [ngClass]="{'clamp-5line': sizeL, 'clamp-3line opacity-80pc': sizeM, 'd-none': sizeS}">
          <div *ngIf="!data">
            <div class="color-dummy" style="height: 1em;"></div>
            <div class="mt-1"><div class="color-dummy" style="height: 1em;"></div></div>
            <div class="mt-1"><div class="color-dummy" style="height: 1em;"></div></div>
            <div *ngIf="sizeL" class="d-none d-md-block mt-1"><div class="color-dummy" style="height: 1em;"></div></div>
            <div *ngIf="sizeL" class="d-none d-md-block mt-1"><div class="color-dummy" style="height: 1em;"></div></div>
          </div>
          
          <p *ngIf="data" class="body1 mb-0" [innerHTML]="data.summary"></p>
        </div>  
      </div>

      <a
      [ngStyle]="{'pointer-events': (!data || data.authorRole == 'SA' ? 'none' : 'inherit') }"
      [routerLink]="['/',(data?.authorRole == 'P' ? 'products' : 'practitioners'), (data ? data.authorId : '')]"
      >
        <div class="author-container d-flex align-items-center text-body mb-5p" *ngIf="!sizeS">
          <div *ngIf="!data" class="author-dummy color-dummy mr-2"></div>
          <img *ngIf="data" [src]="data.authorImage" alt="" class="author mr-2">
          <p class="m-0 opacity-70pc body1 clamp-1line">
            <span *ngIf="!data" class="color-dummy">By author name</span>
            <span *ngIf="data">{{data.author}}</span>
          </p>
        </div>
      </a>
    </div>
    <div *ngIf="!data" class="loading-1" [ngStyle]="{backgroundColor: _option.colorLightForDummy}"></div>
    <div *ngIf="!data" class="loading-2" [ngStyle]="{backgroundColor: _option.colorLightForDummy}"></div>
  </div>
</a>