@import "../../../assets/scss/style";

.alert.alert-dangers {
  color: red;
  font-size: 14px;
  padding: 0px;
}

button.btn.btn-primaryc {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
  opacity: 1 !important;
  display: inline-block;
  box-shadow: 0 0 5px 1px #0000004d;
  margin-right: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  line-height: 32px;
  border-radius: 50px;
  transition: all 0.3s;
}

.triangle {
  position: absolute;
  left: 47.5%;
  top: 55px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid $primaryColor;
}

img.position-absolute {
  position: absolute;
  height: 150%;
  top: -25%;
  right: 0;
}
.form-card {
  box-shadow: 0 0 10px 3px #8a88888c;
  border-radius: 7px;
  overflow: hidden;
}
.form-control {
  padding: 10px 15px;
  font-size: 14px;
  line-height: normal;
}
