<div class="position-relative">
  <button 
  type="button"
  [ngClass]="btnClass"
  (click)="onClickButton()"
  >
    <i class="fas fa-share-alt"></i>
    <span *ngIf="label" class="pl-2">{{label}}</span>
  </button>

  <ul 
  *ngIf="isMenuShown" 
  class="share-menu list-unstyled p-4 blur rounded-10p position-absolute mt-3" 
  [@expandVertical]
  [scrollDetector]="isMenuShown"
  [offset]="20"
  (detect)="closeMenu()"
  >
    <ng-container *ngFor="let social of socials">
      <li>
        <a class="d-flex flex-nowrap align-items-center justify-content-start py-3 px-2"
        target="_blank"
        [href]="socialLink(social.id)"
        >
          <i class="fab font-big" [ngClass]="'fa-' + social.id"></i>
          <span class="ml-2">{{social.label}}</span>
        </a>
      </li>
    </ng-container>
    <li *ngIf="!hideCopy">
      <a class="d-flex flex-nowrap align-items-center justify-content-start py-3 px-2" (click)="copyLink()">
        <i class="fas fa-link"></i>
        <span class="ml-2" *ngIf="!isLinkCopied">Copy link</span>
        <span class="ml-2" *ngIf="isLinkCopied">Link copied!</span>
      </a>
    </li>  
  </ul>
</div>
