<div class="container my-30p">
  <h3>Wellness Companies</h3>
</div>

<ng-template #filterTop>
  <div class="pt-3 px-3 pb-2 position-relative bg-primary-light">
    <h5 class="text-primary-dark mb-3">Filter Categories</h5>
    <div class="d-flex justify-content-between align-items-center">
      <button class="btn btn-primary small" (click)="onApplyFilter()">Apply</button>
      <button class='btn btn-text small text-body' (click)="onResetFilter()">Clear</button>
    </div>
    <button class="btn btn-icon btn-close small d-lg-none" (click)="hideFilter()"><i class="large" iconPh="cross"></i></button>
  </div>    
</ng-template>

<div class="container">
  <div class="intersection-observer" intersectionObserver (changeStatus)="onChangeStickyStatus($event)"></div>
  <div class="row">
    <section class="col-12 col-lg-4 d-none d-lg-block">
      <div class="sticky-top py-3">
        <form-item-input 
        name="search"
        label="search"
        placeholder="What area are you looking for?"
        prependIcon="search"
        [controller]="formSearch"
        (keyup.enter)="onSearchSet()"
        ></form-item-input>

        <div class="bg-primary-light mt-2 rounded-4p">
          <ng-container *ngTemplateOutlet="filterTop"></ng-container>
          <div class="pb-3 px-3 pt-3" *ngIf="!isViewSmall">
            <form-item-service 
            [col2]="false" 
            [data]="filterServices"
            ></form-item-service>
          </div>      
        </div>
      </div>
    </section>

    <section class="col-12 col-lg-8">
      <div class="mb-3 sticky-top pt-3 pb-2 blur" (clickOutside)="hideFilter()">
        <div class="position-relative d-lg-none">
          <form-item-input 
          name="search"
          label="search"
          placeholder="What area are you looking for?"
          prependIcon="search"
          [controller]="formSearch"
          (click)="showFilter()"
          (keyup.enter)="onSearchSet()"
          ></form-item-input>  
          <div class="position-absolute w-100 px-3 mt-2 bg-primary-light z-index-10 rounded-4p pb-2" *ngIf="isFilterShown && isViewSmall">
            <div class="pb-4">
              <ng-container *ngTemplateOutlet="filterTop"></ng-container>
            </div>
            <div class="form-item-service-sm">
              <form-item-service 
              class="form-item-service-sm" 
              [data]="filterServices"
              ></form-item-service>  
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end pt-3">
          <div class="d-flex align-items-center">
            <div class="mr-3 text-nowrap body1">Sort by:</div>
            <ul class="d-flex flex-nowrap sorts list-unstyled p-0 m-0">
              <li *ngFor="let data of sortData" class="position-relative text-nowrap">
                <button class="btn btn-text small text-body" 
                [ngClass]="{active: (currentSortTarget == data.id)}" 
                (click)="sortProducts(data)"
                >{{data.label}}</button>
              </li>
            </ul>
          </div>  
        </div>
      </div>

      <ul class="row list-unstyled products" *ngIf="!products">
        <li class="col-12 col-md-6 mb-30p" *ngFor="let i of [0,1,2,3]">
          <card-dummy class="rounded-12p border"></card-dummy>
        </li>
      </ul>

      <ul class="products list-unstyled row" *ngIf="products && products.length > 0">
        <li *ngFor="let p of products;" class="col-12 col-md-6 mb-30p">
          <div class="partner">
            <card-product [data]='p'></card-product>
          </div>
        </li>
      </ul>

      <p *ngIf="products && products.length == 0" class="font-italic">
        There is no one available with your search criteria right now.
        <br><br>
        Be sure to check back as our network is growing everyday!
      </p>

      <div class="text-center" *ngIf="countPageTotal > 1">
        <ul class="paginator list-unstyled d-inline-flex flex-nowrap align-items-center">
          <li>
            <button class="btn btn-icon small" (click)="backPage()">
              <i iconPh="chevron-left" class="large"></i>
            </button>
         </li>
          <li *ngFor="let i of paginator;">
            <button class="btn btn-icon small" (click)="changePage(i)">
              <div class="btn-circle" [ngClass]="{active: (currentPage == i) }"></div>
            </button>
          </li>
          <li><button class="btn btn-icon small" (click)="nextPage()">
            <i iconPh="chevron-right" class="large"></i>
          </button></li>
        </ul>
      </div>
    </section>
  </div>
</div>