<section
  class="pt-6 pb-6 text-center bg-cover bg-overlay bg-border text-light"
  style="background-image: url(assets/img/client.jpg);"
>
  <div class="container pl-4 pr-4">
    <h2 class="mb-5 ttle-bott-bor td text-center">
      PromptHealth empowers you with the convenience and accessibility you need
      to better manage your health and the health of your family.
    </h2>
    <h3 class="font-weight-normal mt-5">No more guesswork. We’ve got you!</h3>
  </div>
</section>

<section class="pt-5 pb-5 text-center bg-light">
  <div class="container" style="max-width:725px">
    <h2 class="ttle-bott-bor text-center mb-5">
      PromptHealth for you and your loved ones
    </h2>
    <h4 class="font-weight-normal text">
      You can browse through your options and view suggestions
       as a Guest. You need to sign up if you like access 
       to a messaging option, rewards and more.
    </h4>
  </div>
</section>

<section class="pt-5 pb-5">
  <div class="container">
    <h3 class="ttle-bott-bor text-center mb-5">Benefits and Features</h3>
    <div class="row mt-4">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="hoverEffectBox shadow">
          <div class="font-weight-bold text-center">
            <img src="assets/img/approach.png" class="w-100 mb-3 icon1" />
            Personalized approach
          </div>

          <div class="position-absolute text-center bg-primary text-light">
            <div class="card-body">
              <h6>Personalized approach</h6>
              Search for your need and receive tailored matches based on your
              age, health status, and lifestyle
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="hoverEffectBox shadow">
          <div class="font-weight-bold text-center">
            <img src="assets/img/choose.png" class="w-100 mb-3 icon1" />
            Choose with confidence
          </div>

          <div class="position-absolute text-center bg-primary text-light">
            <div class="card-body">
              <h6>Choose with confidence</h6>
              Connect with a network of suggested providers and get to know them
              better by video and comparison option
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="hoverEffectBox shadow">
          <div class="font-weight-bold text-center">
            <img src="assets/img/assess.png" class="w-100 mb-3 icon1" />
            Convenient access
          </div>

          <div class="position-absolute text-center bg-primary text-light">
            <div class="card-body">
              <h6>Convenient access</h6>
              Use our interactive map and messaging option to find a solution
              anytime anywhere
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
        <div class="hoverEffectBox shadow">
          <div class="font-weight-bold text-center">
            <img src="assets/img/savemonytime.png" class="w-100 mb-3 icon1" />
            Save time and money
          </div>

          <div class="position-absolute text-center bg-primary text-light">
            <div class="card-body">
              <h6>Save time and money</h6>
              Get connected fast and easy from your desktop or mobile, and receive points for your rating and reviews
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
