.whitespace-pre{ white-space: pre; }

:host{
  z-index: 100000;
  display: block;
  position: fixed;
  top:0; 
  left: 0;
  width: 100%;
  height: 100%;
}

.blur{
  position: absolute;
  width: 100%;
  height: 100%;
}

.icon-clear{
  position: absolute;
  top: 15px;
  right: 0;
  font-size: 24px;
}

.viewer{
  position: absolute;
  width: 100%;
  height: calc(100% - 100px);
  top: 75px;
  padding: 15px;
  box-sizing: border-box;
  background: rgb(233 243 255);
}

.main{
  width: 100%;
  height: calc(100% - 120px);
}
h3{
  color: #3377C5;
}

.price{ 
  color: #3377C5;;
  border: solid 1px #3375C5; 
}

.images{
  padding-bottom: 15px;
  overflow: hidden;
  li{
    position: relative;
    flex: 0 0 100%;
    // &:not(:last-child){margin-right: 15px;}
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }  
}

.navigator{
  .go-back{ left: 0; }
  .go-next{ right: 0; }
  .go-back, .go-next{
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;

    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      color: white;
      padding: 5px 12px;
      border: solid 2px white;
      border-radius: 100px;
    }
  }
}

.thumbnails-small {
  li{
    border: solid 2px white;  
    overflow: hidden;
    margin: 5px;

    transition: all 200ms;

    width: 30px;
    height: 30px;
    border-radius: 30px;
    @media (min-width){
      width: 50px;
      height: 50px;
      border-radius: 50px;  
    }

    &.selected{
      transform: scale(1.1);
      border-radius: 5px;
    }
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

app-image-row.thumbnails{
  position: absolute;
  bottom: 0;
  display: block;
  height: 100px;
  width: calc(100% - 30px);
}
