<div class="bg-white rounded-8p position-relative">
  <div class="d-flex justify-content-between align-items-center border-bottom border-line flex-nowrap py-10p px-20p">
    <div class="subtitle2 text-placeholder">Notification</div>
    <button 
    class="btn btn-text small px-0 text-nowrap"
    (click)="markAllAsRead()"
    [disabled]="isUploading || numUnreadNotifications == 0"
    >Mark all as read</button>
  </div>

  <ng-container *ngIf="notifications.length > 0">
    <ul class="list-unstyled py-5p px-20p my-0">
      <li
      *ngFor="let n of notifications;"
      class="my-15p d-flex align-items-start justify-content-between"
      >
        <div 
        class="d-inline-flex align-items-start cursor-pointer"
        (click)="onClickNotificationItem(n)"
        >

          <profile-image [size]="42" [image]="n.image"></profile-image>
          <div class="mx-10p">
            <div class="subtitle2 clamp-1line">{{n.title}}</div>
            <div class="body2 text-label">{{n.body}}</div>
          </div>
        </div>
        <div>
          <div class="d-flex align-items-center">
            <span class="body-small text-label text-nowrap" style="line-height: 18px;">{{n.createdAt | timeago}}</span>
            <div 
            *ngIf="!n.isRead"
            class="indicator ml-10p"
            ></div>
          </div>
        </div>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="doneInitNotification && notifications.length == 0">
    <div 
    class="p-20p subtitle1"
    style="width: 250px;"
    >You have no notification.</div>
  </ng-container>

  <ng-container *ngIf="!doneInitNotification">
    <div class="py-50p text-center">
      <loader></loader>
    </div>
  </ng-container>

  <ng-content></ng-content>

</div>