<ul class="dashboard-ul">
  <li routerLinkActive="active" [routerLink]="['/dashboard/edit-profile']">
    <a>My Profile</a>
  </li>
  <li routerLinkActive="active" [routerLink]="['/dashboard/promotion/list_promotion']">
    <a>My Promotion</a>
  </li>
  <li routerLinkActive="active" [routerLink]="['/dashboard/my-business/list_buisness']">
    <a>My Business</a>
  </li>
  <li routerLinkActive="active" [routerLink]="['/dashboard/changepassword']">
    <a>Change Password</a>
  </li>
</ul>