th.Reschedule {
  min-width: 270px;
}

th.status,
th.note {
  min-width: 270px;
}


.bookingtable {
  td,
  th {
    padding-left: 5px;
    padding-right: 5px;
    width:100%;
    vertical-align: middle;
  }
  thead {
    th {
      font-size: 18px;
      font-weight: 500;
      width:100%;
    }
  }
  tr.disabled {
    color: #fff;
    background-color: #f2dede;
    td {
      color: #a94442;
    }
  }
}

.text-rating {
  color: #ffc91d;
}
.mt-3 {
  float: left;
  width: 100%;
}
.mx-2 {
  float: left;
  margin-top: 10px;
}
.bg-gray {
  background-color: #e7e7e7 !important;
  float: left;
  width: 100%;

  > div {
    float: left;
    width: 100%;
  }

  app-ratings {
    float: right
  }
}
