<h3 class="mb-3">My Bookings</h3>
<div class="table-responsive"  *ngIf="bookingList && bookingList.length">
    <table class="table table-hover comparetable" *ngIf="this.roles === 'U'">
        <thead>
            <tr>
                <th>
                    <h5>Name</h5>
                </th>
                <th>
                    <h5>Contact Info</h5>
                </th>
                <th>
                    <h5>Date/Slot</h5>
                </th>
                <th>
                    <h5>Notes</h5>
                </th>
                <th>
                    <h5>Status</h5>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of bookingList">
                <td>
                    {{ book.drId.firstName }} - {{ book.drId.lastName }}
                </td>
                <td>
                    {{ book.drId.email }}
                </td>
                <td>
                    {{ book.bookingDateTime }} - {{ book.timing }}
                </td>
                <td>
                    {{ book.note }}
                </td>
                <td>
                    <div class='row' [ngSwitch]="book.status">  
                        <div *ngSwitchCase="0"><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>Pending</div>  
                        <div *ngSwitchCase="1"><i class="fa fa-check-circle-o" aria-hidden="true"></i>Approved</div>  
                        <div *ngSwitchCase="2"><i class="fa fa-times-circle-o" aria-hidden="true"></i>Rejected</div>  
                        <div *ngSwitchCase="3"><i class="fa fa-ban fa-2x" aria-hidden="true"></i>Canceled</div> 
                        <div *ngSwitchCase="4"><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i>Completed</div> 
                        <div *ngSwitchDefault></div>  
                    </div>  
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-hover bookingtable w-100" *ngIf="this.roles === 'C' || this.roles === 'SP'">
        <thead>
            <tr>
                <th>
                    Patient's Info
                </th>
                <th>
                    Date/Slot
                </th>
                <th>
                    Doctor's Info
                </th>
                <th class="Reschedule">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of bookingList" [ngClass]="{'disabled': book.status === 2}" >
                <td>
                    <p>{{ book.name }}</p>
                    {{ book.phone }} / {{ book.email }}
                </td>
                <td>
                    {{ book.bookingDateTime }} - {{ book.timing }}
                </td>
                <td>
                    {{ book.drId.firstName }} - {{ book.drId.lastName }}
                    {{ book.drId.email }}
                </td>
                <td>
                  <div class='row' [ngSwitch]="book.status">  
                    <div *ngSwitchCase="0">
                      <button (click)="updateBooking(book._id, 1)" class="btn btn-primary mr-1">Accept</button>
                      <button (click)="updateBooking(book._id, 2)" class="btn btn-danger mr-1">Reject</button>
                      <button (click)="rescheduleBooking(book._id)"  data-toggle="modal" data-target="#editbookingmodal" class="btn btn-success">Reschedule</button>
                    </div>  
                    <div *ngSwitchCase="1">
                      <span>Approved</span> <!--TODO: add green tick icon-->
                    </div>  
                    <div *ngSwitchCase="2">Rejected</div>  
                    <div *ngSwitchCase="3"><i class="fa fa-ban fa-2x" aria-hidden="true"></i>Canceled</div> <!--TODO: add red cross icon-->
                    <div *ngSwitchCase="4">Completed</div>  <!--TODO: add green tick icon different from approved-->
                    <div *ngSwitchDefault></div>  
                </div>  
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div
  class="modal fade"
  id="editbookingmodal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editbookingmodal"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
    style="margin: auto !important;width:100%"
  >
    <div class="modal-content mk-border position-relative">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center">
          Booking
        </h5>
        <button
          type="button"
          #closebutton
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pb-4">

        <form role="form" [formGroup]="bookingForm" (ngSubmit)="rescheduleBookingApi()">
          <div class="form-row">
            <div class="col-md-12 mb-3">
              <label>Timing <span class="text-danger">*</span></label>
              <div class="row">
                <div  class="col-md-6" *ngFor="let item of timingList; let i = index"> 
                  <label for="{{item.id}}">
                      <input class="radio mr-2" type="checkbox" value="{{item.name}}" required id="{{item.id}}" formControlName="timing" (change)="timingSelected($event)"/>
                      <span class="text-body">{{item.name}}</span>
                      
                  </label>
                </div>

                <div *ngIf="submitted" class="error-msg">
                    <small *ngIf="f.timing.errors"  class="text-danger">
                      Timing is required
                    </small>
                  </div>
              </div>
            </div>
            <div class="col-md-12 mb-3">
                <label>Date</label>
                <input 
                class="form-control" [owlDateTime]="dt1" [min]="minDate" [owlDateTimeTrigger]="dt1" placeholder="Date Time"
                formControlName="bookingDateTime">
                <owl-date-time #dt1 [startAt]="startDate"></owl-date-time>
                <div *ngIf="submitted" class="error-msg">
                  <small *ngIf="f.bookingDateTime.errors"  class="text-danger">
                    Booking Date is required
                  </small>
                </div>
              </div>
            <div class="col-md-12 text-right">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>