<ngx-spinner></ngx-spinner>
<div class="spc-top"></div>
<!-- This is a Mob-App -->
<section class="home-banner">
  <div class="container position-relative">
    <h1 class="text-light text-center mt-4">GAARRI CONSUMER</h1>
    <h2 class="text-light text-center mt-4">
      REAL DEALS FROM LOCAL BUSINESSES
    </h2>
    <h3 class="text-light text-center">BE AN EARLY ADOPTER</h3>
  </div>
</section>

<section class="container pt-3 pb-3">
  <h2>Gaari Consumer</h2>
  <h3>Lorem ipsum dolor sit amet,</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum
    convallis neque. Aliquam erat volutpat. Proin sollicitudin finibus felis, id
    aliquam arcu semper eu. Sed aliquet eleifend arcu eu suscipit.
  </p>

  <h3>Lorem ipsum dolor sit amet,</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum
    convallis neque. Aliquam erat volutpat. Proin sollicitudin finibus felis, id
    aliquam arcu semper eu. Sed aliquet eleifend arcu eu suscipit.
  </p>
  <h3>Lorem ipsum dolor sit amet,</h3>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vestibulum
    convallis neque. Aliquam erat volutpat. Proin sollicitudin finibus felis, id
    aliquam arcu semper eu. Sed aliquet eleifend arcu eu suscipit.
  </p>
</section>

<section
  class="bg-cover mob-app"
  style="background-image: url('assets/img/banner3.jpg');"
>
  <img src="assets/img/homescreenappmobile.PNG" class="position-absolute" />
  <div class="container position-relative">
    <h2 class="text-light text-center">Get The Gaarri App Now..!</h2>
    <div class="app-imgs">
      <a href=""><img src="assets/img/google-play1.png"/></a>
      <a href=""><img src="assets/img/app-store.png"/></a>
    </div>
  </div>
</section>
