<div class="menu-button d-flex align-items-center"
  *ngIf="ui == 'button'"
  [ngClass]="[buttonDirection]"
  [ngStyle]="styleButton"
>
  <user-image
  [verified]="false"
  [image]="getImage()"
  [alt]="getName()"
  [borderWidthVerified]="2"
  [shadowVerified]="null"
  ></user-image>  
  <div class="user-info max-w-150p text-ellipsis subtitle2">
    <span class="text-nowrap">{{getName()}}</span>
  </div>
</div>

<div class="menu text-left"
  *ngIf="ui == 'menu'"
  [ngStyle]="styleMenu"
>
  <div class="menu-header d-flex align-item-center blur-blue text-white"
    [ngStyle]="styleHeader"
  >
    <user-image
    [verified]="false"
    [image]="getImage()"
    [alt]="getName()"
    [borderWidthVerified]="0"
    [shadowVerified]="null"
    ></user-image>

    <div class="user-info">
      <div class="text-nowrap mb-1 subtitle1">
        <i iconPh="verified" class="mr-2" *ngIf="isVerified()"></i>
        {{getName()}}
      </div>
      <div class="text-nowrap body2 m-0">{{getEmail()}}</div>
    </div>  
  </div>

  <div class="menu-body blur"
    [ngStyle]="styleBody"
  >
    <div>
      <a *ngIf="hasProfile()" 
        (click)="onClickMenuItem((user.roles == 'P' ? '/products/' : '/practitioners/') + getId())"
        class="btn btn-text small pl-0 text-nowrap text-body" 
      >See my profile</a>
    </div>
    <div>
      <a class="btn btn-text small pl-0 text-nowrap text-body" 
        (click)="onClickMenuItem('/dashboard/profilemanagement/' + (user.roles == 'P' ? 'partner-profile' : 'my-profile'))"  
      >My Dashboard</a>
    </div>
    <div>
      <a *ngIf="hasProfile()"
      class="btn btn-text small pl-0 py-2 text-nowrap text-body" 
      (click)="onClickMenuItem('/dashboard/profilemanagement/my-posts')"  
      >See my posts</a>
    </div>
    <div>
      <button class="btn btn-text-error small pl-0 py-2 text-nowrap" (click)="onClickLogout();">Logout</button>
    </div>  
  </div>
</div>
