:host{ 
  display: block;
  position: relative;
  font-size: 16px;
}

.user-image{
  flex: 0 0 35px; 
  height: 35px;
  width: 35px;
  object-fit: cover;  
  border-radius: 35px;
  overflow: hidden;
}

.user-info{ 
  flex: 1 1 auto;
  padding: 0 15px;
}

.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-button{
  user-select: none;
  cursor: pointer;
  border-radius: 50px;
  border: solid 1px #d6d6d6;

  padding: 4px;

  &.right{
    .user-image{ order: 2; }
    .user-info{ order: 1; }
  }
}

.menu{
  overflow: auto;
  min-width: 300px;

  &.expandable{
    border-radius: 15px;
    margin-top: 10px;
    position: absolute;
    border: solid 1px #d6d6d6;
  }

  &.expandable.right{ right: 0; }
  
  .menu-header{
    padding: 22px 16px;
    background: #c2e59c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
  }

  .menu-body{
    padding: 16px;
  }
}


.btn{ color: inherit; }
.btn.logout{ color: #f08580; }