<div class="input-group">
  <input [type]="type" [id]="name" class="form-control" 
  [formControl]="controller"
  >
</div>
<div class="d-flex justify-content-end mt-1 font-small">
  <ul class="errors text-danger flex-grow-1" *ngIf="controller.invalid && submitted">
    <li *ngIf="controller.errors.required">{{label}} is required.</li>
    <li *ngIf="controller.errors.minlength">{{label}} too short.</li>
    <li *ngIf="controller.errors.maxlength">{{label}} too long.</li>
    <li *ngIf="controller.errors.email">{{label}} is invalid.</li>
    <li *ngIf="controller.errors.pattern">{{label}} is invalid.</li>
  </ul> 

  <span *ngIf="max > 0" class="flex-grow-0" 
  [ngClass]="!controller.dirty ? 'text-secondary' : controller.errors ? 'text-danger' : 'text-success'"
  >{{controller.value.length}}/{{max}}</span>
</div>