<div class="bg-primary-dark pt-30p pb-40p pt-md-50p pb-md-70p">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <h5 class="h5-temp h3-temp-md text-white mb-30p mb-md-40p">
          We are a community of health and wellness practitioners providing you with the services and resources you need to thrive! 
        </h5>
        <button class="btn btn-secondary subtitle1-temp">Sign up FREE</button>
        <p class="d-none d-md-block text-primary-light mt-40p mb-0 body1-temp">Sign up to stay connected with the accredited health providers and resources, all in one place. </p>
      </div>
    </div>
  
  </div>
</div>