<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>

<div
  class="heightHF-100 bg-cover pt-4 pb-4"
  style="background-image: url(assets/img/blog1.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="rounded overflow-hidden card border-0">
          <nav>
            <div
              class="nav nav-tabs nav-fill border-0"
              id="nav-tab"
              role="tablist"
            >
              <a
                class="nav-item nav-link active"
                id="nav-login-tab"
                data-toggle="tab"
                href="#nav-login"
                role="tab"
                aria-controls="nav-login"
                aria-selected="true"
                >Login</a
              >
              <a
                class="nav-item nav-link"
                id="nav-signup-tab"
                data-toggle="tab"
                href="#nav-signup"
                role="tab"
                aria-controls="nav-signup"
                aria-selected="false"
                >Signup</a
              >
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <!-- Login Tab -->
            <div
              class="tab-pane fade show active"
              id="nav-login"
              role="tabpanel"
              aria-labelledby="nav-login-tab"
            >
              <form
                class="form-row"
                (ngSubmit)="loginUser()"
                [formGroup]="loginForm"
              >
                <div class="col-md-12 mb-3">
                  <!-- <label>Email <span class="text-danger">*</span></label> -->
                  <input
                    type="email"
                    class="form-control"
                    placeholder="Email *"
                    id="email"
                    formControlName="email"
                    name="email"
                    [ngClass]="{ 'is-invalid': submitted1 && ff.email.errors }"
                  />
                  <div *ngIf="ff.email.errors" class="invalid-feedback">
                    <div *ngIf="ff.email.errors.required">
                      Email is required
                    </div>
                    <div *ngIf="ff.email.errors.email">
                      Email must be a valid email address
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <!-- <label>Password <span class="text-danger">*</span></label> -->
                  <input
                    type="password"
                    placeholder="Password *"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted1 && ff.password.errors
                    }"
                  />
                  <div
                    *ngIf="submitted1 && ff.password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ff.password.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="ff.password.errors.minlength">
                      Password must be at least 8 characters
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div
                  class="col-md-12 d-flex justify-content-between align-items-center"
                >
                  <a class="text-light" [routerLink]="['/auth/forgot-password']"
                    >Forgot Password</a
                  >
                  <input type="submit" class="btn btn-light" />
                </div>
              </form>
            </div>
            <!-- Signup Tab -->
            <div
              class="tab-pane fade"
              id="nav-signup"
              role="tabpanel"
              aria-labelledby="nav-signup-tab"
            >
              <form
                class="form-row"
                (ngSubmit)="registerUser()"
                [formGroup]="registerForm"
              >
                <div class="col-md-6 mb-3">
                  <!-- <label>First name <span class="text-danger">*</span></label> -->
                  <input
                    type="text"
                    formControlName="firstName"
                    placeholder="First Name *"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.firstName.errors
                    }"
                  />

                  <div
                    *ngIf="submitted && f.firstName.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.firstName.errors.required">
                      First name is required
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-6 mb-3">
                  <!-- <label>Last name <span class="text-danger">*</span></label> -->
                  <input
                    type="text"
                    formControlName="lastName"
                    placeholder="Last Name *"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.lastName.errors
                    }"
                  />

                  <div
                    *ngIf="submitted && f.lastName.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.lastName.errors.required">
                      Last name is required
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <!-- <label>Company <span class="text-danger">*</span></label> -->
                  <input
                    type="text"
                    formControlName="company"
                    placeholder="Company *"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.company.errors
                    }"
                  />

                  <div
                    *ngIf="submitted && f.company.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.lastName.errors.required">
                      Company name is required
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <!-- <label>URL <span class="text-danger">*</span></label> -->
                  <input
                    type="text"
                    formControlName="url"
                    placeholder="URL *"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.url.errors
                    }"
                  />

                  <div
                    *ngIf="submitted && f.url.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.url.errors.required">
                      URL is required
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <!-- <label
                    >Canadian Address <span class="text-danger">*</span></label
                  > -->
                  <input
                    type="text"
                    formControlName="cAdd"
                    placeholder="Canadian Address *"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.cAdd.errors
                    }"
                  />

                  <div
                    *ngIf="submitted && f.cAdd.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.cAdd.errors.required">
                      Address is required
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <!-- <label>Phone <span class="text-danger">*</span></label> -->
                  <input
                    type="text"
                    placeholder="Phone *"
                    formControlName="phone"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.phone.errors
                    }"
                  />

                  <div
                    *ngIf="submitted && f.phone.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.phone.errors.required">
                      Phone number is required
                    </div>
                    <div *ngIf="f.phone.errors.minLength">
                      Phone number must be 10 characters
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <!-- <label>Email <span class="text-danger">*</span></label> -->
                  <input
                    type="text"
                    placeholder="Email *"
                    formControlName="email"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  />
                  <div
                    *ngIf="submitted && f.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.email.errors.required">
                      Email is required
                    </div>
                    <div *ngIf="f.email.errors.email">
                      Email must be a valid email address
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <!-- <label>Password <span class="text-danger">*</span></label> -->
                  <input
                    type="password"
                    placeholder="Password *"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.password.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.password.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="f.password.errors.minlength">
                      Password must be at least 8 characters
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <!-- <label
                    >Confirm Password <span class="text-danger">*</span></label
                  > -->
                  <input
                    type="password"
                    placeholder="Confirm Password *"
                    formControlName="confirm_password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.confirm_password.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.confirm_password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.confirm_password.errors.required">
                      Confirm Password is required
                    </div>
                    <div *ngIf="f.confirm_password.errors.mustMatch">
                      Passwords must match
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12 text-light small mb-3">
                  <input type="checkbox" class="" /> I agree to the terms of
                  service and privacy policy
                </div>
                <div class="col-md-12 text-right">
                  <input type="submit" class="btn btn-light" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- verification modal -->
<div
  class="modal fade product-modal in"
  id="verifyDialog"
  role="dialog"
  data-keyboard="false"
  data-backdrop="static"
>
  <div class="modal-dialog" style="width: 379px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          id="closeVerifyModal"
          class="close"
          data-dismiss="modal"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="model-review-tit">
            You have not yet verified your email <br />
            sent to "<b>{{ userEmail }}</b
            >"<br /><br />
            Would you like us to send another ?<br />
            <div class="text-center">
              <a
                class="pointer"
                style="position: relative;top: 25px; right: 25px;position: relative;
						top: 25px;right: 10px;background: #3db370;color: white;padding: 6px;"
                >Yes</a
              >
              <a
                style="position: relative;top: 25px;position: relative; top: 25px;left: 6px;
    background: #3db370;    color: white;    padding: 6px;    padding-left: 9px;    text-align: center;"
                data-dismiss="modal"
                >No</a
              >
              <!-- We have sent you the verification link please check you email. or if you want us to resend the email then <a class="pointer" (click)="resendEmail()">click here</a> -->
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer"></div>
    </div>
  </div>
</div>
