@import "../../../assets/scss/mixins";
@mixin customTab($color: #fff, $bg: #4274ba96, $activebg: #ffffff33) {
  .card {
    background-color: $bg;
  }
  .tab-content {
    padding: 15px !important;
    background-color: $activebg;
  }
  .nav-tabs {
    .nav-link {
      color: $color;
      margin: 0;
      border: 0;
      border-radius: 0;
      &.active,
      &:hover {
        color: $color;
      }
      &.active {
        background-color: $activebg;
      }
    }
  }
}

.btn {
  line-height: normal;
  padding: 8px 17px;
  font-size: 14px;
}

a {
  color: #4274ba;
  text-decoration: none;
}

label {
  color: #fff;
}

.form-control {
  background-color: #ffffff24 !important;
  border-radius: 20px;
  color: #fff;
  &::placeholder {
    color: #fff;
  }
}

@include customTab;
