@import "../../../assets/scss/mixins";
.btn {
  line-height: normal;
  padding: 8px 17px;
  font-size: 14px;
}

a {
  color: #4274ba;
  text-decoration: none;
}

label {
  color: #fff;
}

.form-control {
  background-color: #ffffff24 !important;
  border-radius: 20px;
  color: #fff;
}

@include customTab;
