<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/logo1.png" class="loader-logo" width="100" />
  </p>
</ngx-spinner>

<div
  class="heightHF-100 bg-cover pt-4 pb-4"
  style="background-image: url(assets/img/blog1.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="rounded overflow-hidden card">
          <nav>
            <div
              class="nav nav-tabs nav-fill border-0"
              id="nav-tab"
              role="tablist"
            >
              <a
                class="nav-item nav-link active"
                id="nav-login-tab"
                data-toggle="tab"
                href="#nav-login"
                role="tab"
                aria-controls="nav-login"
                aria-selected="true"
                >Login</a
              >
              <a
                class="nav-item nav-link"
                id="nav-signup-tab"
                data-toggle="tab"
                href="#nav-signup"
                role="tab"
                aria-controls="nav-signup"
                aria-selected="false"
                >Signup</a
              >
            </div>
          </nav>
          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
            <!-- Login Tab -->
            <div
              class="tab-pane fade show active"
              id="nav-login"
              role="tabpanel"
              aria-labelledby="nav-login-tab"
            >
              <form
                class="form-row"
                (ngSubmit)="loginUser()"
                [formGroup]="loginForm"
              >
                <div class="col-md-12 mb-3">
                  <label>Email <span class="text-danger">*</span></label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    name="email"
                    [ngClass]="{ 'is-invalid': submitted1 && ff.email.errors }"
                  />
                  <div *ngIf="ff.email.errors" class="invalid-feedback">
                    <div *ngIf="ff.email.errors.required">
                      Email is required
                    </div>
                    <div *ngIf="ff.email.errors.email">
                      Email must be a valid email address
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label>Password <span class="text-danger">*</span></label>
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted1 && ff.password.errors
                    }"
                  />
                  <div
                    *ngIf="submitted1 && ff.password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="ff.password.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="ff.password.errors.minlength">
                      Password must be at least 8 characters
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div
                  class="col-md-12 d-flex justify-content-between align-items-center"
                >
                  <a class="text-light" [routerLink]="['/auth/forgot-password']"
                    >Forgot Password</a
                  >
                  <input type="submit" class="btn btn-primary" />
                </div>
              </form>
            </div>
            <!-- Signup Tab -->
            <div
              class="tab-pane fade"
              id="nav-signup"
              role="tabpanel"
              aria-labelledby="nav-signup-tab"
            >
              <form
                class="form-row"
                (ngSubmit)="registerUser()"
                [formGroup]="registerForm"
              >
                <div class="col-md-12 mb-3">
                  <label>Name <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    formControlName="bus_name"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.bus_name.errors
                    }"
                  />

                  <div
                    *ngIf="submitted && f.bus_name.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.bus_name.errors.required">
                      Name is required
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label>Email <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    formControlName="email"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                  />
                  <div
                    *ngIf="submitted && f.email.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.email.errors.required">
                      Email is required
                    </div>
                    <div *ngIf="f.email.errors.email">
                      Email must be a valid email address
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label>Phone <span class="text-danger">*</span></label>
                  <input type="number" class="form-control" required />
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                  <div class="invalid-feedback">
                    Enter valid Number
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label>Password <span class="text-danger">*</span></label>
                  <input
                    type="password"
                    formControlName="password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.password.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.password.errors.required">
                      Password is required
                    </div>
                    <div *ngIf="f.password.errors.minlength">
                      Password must be at least 8 characters
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12 mb-3">
                  <label
                    >Confirm Password <span class="text-danger">*</span></label
                  >
                  <input
                    type="password"
                    formControlName="confirm_password"
                    class="form-control"
                    [ngClass]="{
                      'is-invalid': submitted && f.confirm_password.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && f.confirm_password.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.confirm_password.errors.required">
                      Confirm Password is required
                    </div>
                    <div *ngIf="f.confirm_password.errors.mustMatch">
                      Passwords must match
                    </div>
                  </div>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12 text-right">
                  <input type="submit" class="btn btn-primary" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- This is a Login Form -->
<!-- <section class="main-log-form">
  <div class="container pt-3">
    <div class="row m-0">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="form-card">
          <h2 class="dis-dash-title text-center">
            Login
            <div class="triangle"></div>
          </h2>
          <form
            class="card-body labeledform loginform"
            (ngSubmit)="loginUser()"
            [formGroup]="loginForm"
          >
            <div class="form-group">
              <label>Email <span class="text-danger">*</span></label>
              <div class="w-100">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  name="email"
                  [ngClass]="{ 'is-invalid': submitted1 && ff.email.errors }"
                />
                <div *ngIf="ff.email.errors" class="invalid-feedback">
                  <div *ngIf="ff.email.errors.required">Email is required</div>
                  <div *ngIf="ff.email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="password1"
                >password <span class="text-danger">*</span></label
              >
              <div class="w-100">
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted1 && ff.password.errors }"
                />
                <div
                  *ngIf="submitted1 && ff.password.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="ff.password.errors.required">
                    Password is required
                  </div>
                  <div *ngIf="ff.password.errors.minlength">
                    Password must be at least 8 characters
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="psw" [routerLink]="['/auth/forgot-password']"
                >Forgot password?</span
              >
              <button class="btn btn-primary">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-8" *ngIf="isSignup">
        <div class="form-card">
          <h2 class="dis-dash-title text-center">
            Signup
            <div class="triangle"></div>
          </h2>
          <form
            class="card-body labeledform"
            (ngSubmit)="registerUser()"
            [formGroup]="registerForm"
          >
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"
                    >Business Name <span class="text-danger">*</span></label
                  >
                  <div class="w-100">
                    <input
                      type="text"
                      formControlName="bus_name"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.bus_name.errors
                      }"
                    />

                    <div
                      *ngIf="submitted && f.bus_name.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.bus_name.errors.required">
                        Name is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"
                    >Business address <span class="text-danger">*</span></label
                  >
                  <div class="w-100">
                    <input
                      type="text"
                      formControlName="bus_addr"
                      autocomplete="off"
                      class="form-control"
                      (keydown.enter)="$event.preventDefault()"
                      name="bus_addr"
                      id="bus_addr"
                      autocorrect="off"
                      autocapitalize="off"
                      spellcheck="off"
                      type="text"
                      #search
                      [ngClass]="{
                        'is-invalid': submitted && f.bus_addr.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.bus_addr.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.bus_addr.errors.required">
                        Address is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"
                    >Number of employees
                    <span class="text-danger">*</span></label
                  >
                  <div class="w-100">
                    <select
                      class="form-control"
                      name="no_of_employees"
                      formControlName="no_of_employees"
                      id="no_of_employees"
                      [ngClass]="{
                        'is-invalid': submitted && f.no_of_employees.errors
                      }"
                    >
                      <option value="">Employees</option>
                      <option value="5">1-5 Employees</option>
                      <option value="15">6-15 Employees</option>
                      <option value="45">16-30 Employees</option>
                      <option value="35">31-50 Employees</option>
                      <option value="50">More than 50</option>
                    </select>
                    <div
                      *ngIf="submitted && f.no_of_employees.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.no_of_employees.errors.required">
                        Total number of employees is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"
                    >Business Category <span class="text-danger">*</span></label
                  >
                  <div class="w-100">
                    <select
                      class="form-control"
                      name="bus_type_other"
                      formControlName="bus_type_other"
                      id="bus_type_other"
                      [ngClass]="{
                        'is-invalid': submitted && f.bus_type_other.errors
                      }"
                    >
                      <option value="">Business type</option>
                      <option value="food and beverage"
                        >Food and beverage</option
                      >
                      <option value="apparel">Apparel</option>
                      <option value="household services"
                        >Household services</option
                      >
                      <option value="entertainment">Entertainment</option>
                      <option value="business services"
                        >Business services</option
                      >
                      <option value="health and wellness"
                        >Health and wellness</option
                      >
                      <option value="beauty">Beauty</option>
                      <option value="Other">Other</option>
                    </select>
                    <div
                      *ngIf="submitted && f.bus_type_other.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.bus_type_other.errors.required">
                        Business is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"
                    >Contact email <span class="text-danger">*</span></label
                  >
                  <div class="w-100">
                    <input
                      type="text"
                      formControlName="email"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    />
                    <div
                      *ngIf="submitted && f.email.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.email.errors.required">
                        Email is required
                      </div>
                      <div *ngIf="f.email.errors.email">
                        Email must be a valid email address
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"
                    >Contact First Name
                    <span class="text-danger">*</span></label
                  >
                  <div class="w-100">
                    <input
                      type="text"
                      formControlName="contact_firstName"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.contact_firstName.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.contact_firstName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.contact_firstName.errors.required">
                        First Name is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"
                    >Contact Last Name <span class="text-danger">*</span></label
                  >
                  <div class="w-100">
                    <input
                      type="text"
                      formControlName="contact_lastName"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.contact_lastName.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.contact_lastName.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.contact_lastName.errors.required">
                        Last Name is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"
                    >Contact mobile number
                    <span class="text-danger">*</span></label
                  >
                  <div class="w-100">
                    <div
                      *ngIf="submitted && f.contact_mobile.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.contact_mobile.errors.required">
                        Contact mobile number is required & must be valid
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"
                    >Password <span class="text-danger">*</span></label
                  >
                  <div class="w-100">
                    <input
                      type="password"
                      formControlName="password"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.password.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.password.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.password.errors.required">
                        Password is required
                      </div>
                      <div *ngIf="f.password.errors.minlength">
                        Password must be at least 8 characters
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email"
                    >Confirm password <span class="text-danger">*</span></label
                  >
                  <div class="w-100">
                    <input
                      type="password"
                      formControlName="confirm_password"
                      class="form-control"
                      [ngClass]="{
                        'is-invalid': submitted && f.confirm_password.errors
                      }"
                    />
                    <div
                      *ngIf="submitted && f.confirm_password.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.confirm_password.errors.required">
                        Confirm Password is required
                      </div>
                      <div *ngIf="f.confirm_password.errors.mustMatch">
                        Passwords must match
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">GAARRI Sales Rep ID (Optional)</label>
                  <div class="w-100">
                    <input
                      type="number"
                      (keypress)="salePerson($event)"
                      formControlName="sales_person_id"
                      class="form-control"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary">
                Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
      <br /><br />
      <div class="col-sm-12 text-center login-dtl" *ngIf="isSignup"></div>
    </div>
  </div>
</section> -->

<!-- End Login Form -->

<!-- verification modal -->
<div
  class="modal fade product-modal in"
  id="verifyDialog"
  role="dialog"
  data-keyboard="false"
  data-backdrop="static"
>
  <div class="modal-dialog" style="width: 379px;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          id="closeVerifyModal"
          class="close"
          data-dismiss="modal"
        >
          ×
        </button>
      </div>
      <div class="modal-body">
        <div class="">
          <div class="model-review-tit">
            You have not yet verified your email <br />
            sent to "<b>{{ userEmail }}</b
            >"<br /><br />
            Would you like us to send another ?<br />
            <div class="text-center">
              <a
                class="pointer"
                style="position: relative;top: 25px; right: 25px;position: relative;
						top: 25px;right: 10px;background: #3db370;color: white;padding: 6px;"
                >Yes</a
              >
              <a
                style="position: relative;top: 25px;position: relative; top: 25px;left: 6px;
    background: #3db370;    color: white;    padding: 6px;    padding-left: 9px;    text-align: center;"
                data-dismiss="modal"
                >No</a
              >
              <!-- We have sent you the verification link please check you email. or if you want us to resend the email then <a class="pointer" (click)="resendEmail()">click here</a> -->
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer"></div>
    </div>
  </div>
</div>
