<!-- <ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner> -->

<section class="container-fluid bg-primary py-3 py-md-4" [routerLink]="['./']"
  [queryParams]="{virtual: !isVirtual}" queryParamsHandling='merge' style="user-select: none">
  <div class="max-w-1200">
    <div class="d-flex flex-nowwrap align-items-center">

      <div class="text-light">
        <div class="banner d-flex flex-column flex-md-row flex-md-nowrap align-items-md-center"
          [ngClass]="{sticked: isFinderSticked}">
          <span *ngIf="!isVirtual" class="h5 mb-0 pr-3 pr-lg-5">We provide online/virtual services</span>
          <span *ngIf="isVirtual" class="h5 mb-0 pr-3 pr-lg-5">Showing services with virtual options only</span>
          <span class="bg-orange text-body px-3 py-2 mt-2 mt-md-0 rounded font-italic">
            Look for
            <i class="px-1 large text-green" iconPh="video-camera"></i>
            to find virtual services
          </span>
        </div>
        <p *ngIf="isVirtual" class="mt-2 mb-0">Go back to view all services</p>
        <p *ngIf="!isVirtual" class="mt-2 mb-0">Click to view Virtual options only</p>
      </div>

      <div class="arrow-right flex-shrink-0 flex-grow-0 ml-3 ml-lg-5"></div>
    </div>
  </div>
</section>

<div [scrollDetector]="!!filterTarget" [offset]="100" (detect)="setFilterTarget(null)"></div>
<div class="intersection-observer" intersectionObserver (changeStatus)="changeStickyStatus($event)"></div>
<section class="container-fluid mt-5 pt-2 sticky-top blur" id="expertFinder" #expertFinder>
  <div class="max-w-1200">
    <div class="d-flex align-items-center mb-3">
      <h2 class="text-blue-gradient font-weight-normal mb-0 expert-finder">Expert Finder</h2>
      <a class="btn btn-primary small ml-md-3" [routerLink]="['/personal-match']">Start <span class="text-nowrap">Personal Match</span></a>
    </div>
    <ul *ngIf="isMainFilterOn" class="filters m-0 d-flex flex-nowrap list-unstyled pt-2 pb-3">
      <li *ngIf="keyword && keyword.length > 0" class="main text-nowrap rounded mr-3 border-primary">
        <span class="px-2 body-small">{{keyword}}</span>
        <button class="btn btn-icon small py-1 text-primary-dark bg-primary-light" (click)="removeKeyword()">
          <i iconPh="cross"></i>
        </button>
      </li>

      <ng-container *ngFor="let id of listingPayload?.services; let i = index;">
        <li *ngIf="!!getServiceName(id)" class="main text-nowrap rounded mr-3 border-primary">
          <span class="px-2 body-small">{{getServiceName(id)}}</span>
          <button class="btn btn-icon small py-1 text-primary-dark bg-primary-light" (click)="removeService(i)">
            <i iconPh="cross"></i>
          </button>
        </li>  
      </ng-container>

      <li *ngIf="isCustomerHealthOn" class="text-nowrap mx-3 main-group">Health status:</li>
      <form-item-customer-health 
      *ngIf="customerHealthSet" 
      [selections]="customerHealthSet" 
      [data]="listingPayload?.services"
      [controller]=""
      mode="tag" 
      type="detail"
      (changeValue)="onChangeCustomerHealth($event)"
      ></form-item-customer-health>
    </ul>
    <div class="position-absolute tip-for-apply"
    *ngIf="isApplyFilterButtonShown && !isTipForApplyFilterHidden"
    (click)="isTipForApplyFilterHidden = true;"
    [ngStyle]="{right: styleRightTipForApplyFilter + 'px'}"
    [@fade]
    >To apply filter, please tap this button</div>

    <ul *ngIf="!isVirtual" class="filters pt-2 pb-3 m-0 d-flex flex-nowrap list-unstyled">
      <li *ngFor="let f of filters; let i = index;">
        <button [id]="'filter-' + f._id"
          class="btn btn-outline small text-nowrap rounded-pill mr-3"
          [ngClass]="{focus: (filterTarget && filterTarget._id == f._id), active: f.active}"
          (click)="setFilterTarget(i)">{{f.item_text}}</button>
      </li>
      <li>
        <button class="btn btn-text-black small text-nowrap" (click)="removeFilterAll()"><u>Clear All</u></button>
      </li>
      <li class="pl-4 sticky-right" *ngIf="isApplyFilterButtonShown"  [@fade]>
        <button class="btn btn-primary small button-filter-apply" (click)="updateFilterAll()" #buttonApplyFilter>Apply</button>
      </li>
    </ul>
    <ul *ngIf="!!isVirtual" class="filters pt-2 pb-3 m-0 d-flex flex-nowrap list-unstyled">
      <li *ngFor="let f of filters; let i = index;">
        <button [id]="'filter-' + f._id" *ngIf="f._id !== 'location'"
          class="btn btn-outline small text-nowrap rounded-pill mr-3"
          [ngClass]="{focus: (filterTarget && filterTarget._id == f._id), active: f.active}"
          (click)="setFilterTarget(i)">{{f.item_text}}</button>
      </li>
      <li>
        <button class="btn btn-text-black small text-nowrap" (click)="removeFilterAll()"><u>Clear All</u></button>
      </li>
      <li class="pl-3 sticky-right" *ngIf="isApplyFilterButtonShown"  [@fade] >
        <button class="btn btn-primary py-1 button-filter-apply" (click)="updateFilterAll()" #buttonApplyFilter>Apply</button>
      </li>
    </ul>


    <div class="overflow-hidden" [@expandVertical] *ngIf="compareList && compareList.length > 0">
      <div class="compare d-flex">
        <ul class="pt-2 pb-3 m-0 d-flex flex-nowrap list-unstyled">
          <li class="position-relative mr-3" *ngFor="let p of compareList">
            <img class="rounded" [src]="p.image" [alt]="p.name" crossorigin="anonymous">
            <button class="btn btn-icon small position-absolute" (click)="removeProfessionalFromCompare(p.id)">
              <i iconPh="cross" class="large"></i>
            </button>
          </li>
        </ul>
        <div class="flex-grow-0 gelx-shrink-0">
          <div><button class="btn" (click)="removeProfessionalFromCompareAll()">Clear All</button></div>
          <div><button class="btn font-weight-bold border-blue color-blue rounded"
              (click)="compareProfessionals()">Compare</button></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div (clickOutside)="onClickOutsideOfFilter($event)">

  <filter-dropdown-location class="position-fixed shadow rounded-15p blur filter-dropdown"
    *ngIf="filterTarget && (filterTarget._id == 'location')" [@slideVertical] [ngStyle]="getFilterDropdownPosition()"
    [data]="filterTarget.data" (changeValue)="updateFilterActiveStatus(filterTarget)"
    (changeState)="onChangeStateFilterMenu($event)"
  ></filter-dropdown-location>

  <filter-dropdown-select class="position-fixed shadow rounded-15p blur filter-dropdown"
    *ngIf="filterTarget && (filterTarget.type == 'radio' || filterTarget.type == 'checkbox')" [@slideVertical]
    [ngStyle]="getFilterDropdownPosition()" [target]="filterTarget._id"
    [multiple]="(filterTarget.type == 'checkbox')? true: false" [options]="filterTarget.options"
    (changeState)="onChangeStateFilterMenu($event)"
  ></filter-dropdown-select>
</div>

<section class="bg-primary-light">
  <div class="container py-3" *ngIf="isVirtual">
    <ng-container *ngIf="pages.data">
      <div>
        <p class="font-italic" *ngIf="pages.data.length > 0">Here are the options we found for you</p>
        <p class="font-italic no-one-found" *ngIf="pages.data.length == 0">
          There is no one available in your geographical area with your search criteria right now. <br>
          Be sure to check back as our network is growing everyday!
        </p>
      </div>            
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 py-3" *ngFor="let p of pages.data[pages.current - 1]">
          <card-practitioner
          [showDistance]="true"
          [data]="p"
          (changeCompareStatus)="updateCompareList()"
          ></card-practitioner>
        </div>
      </div>  
    </ng-container>
  </div>

  <div class="d-flex flex-nowrap align-items-start" *ngIf="!isVirtual">
    <div 
    id="practitionersContainer"
    class="d-flex flex-wrap justify-content-start align-items-start practitioners-container" 
    [ngClass]="{'hidden min-h-150': isMapSizeBig}"
    >
      <ng-container *ngIf="pages.data">
        <div class="w-100 container-fluid">
          <p class="font-italic" *ngIf="pages.data.length > 0">Here are the options we found for you</p>
          <p class="font-italic no-one-found" *ngIf="pages.data.length == 0">
            There is no one available in your geographical area with your search criteria right now. <br>
            Be sure to check back as our network is growing everyday!
          </p>
        </div>
        <div class="card-container" *ngFor="let p of pages.data[pages.current - 1]">
          <card-practitioner
          [showDistance]="true"
          [data]="p"
          (changeCompareStatus)="updateCompareList()"
          ></card-practitioner>
        </div>

        <div class="d-flex flex-nowrap justify-content-center pt-2 pb-5 w-100">
          <div class="paginator pre" (click)="changePage(pages.current - 1)"></div>
          <div *ngFor="let p of pages.data; let i = index" class="paginator point mr-1 active"
            [ngClass]="{active: (i == pages.current - 1)}" (click)="changePage(i + 1)"></div>
          <div *ngIf="pages.data && pages.data.length > 1" class="paginator next"
            (click)="changePage(pages.current + 1)"></div>
        </div>
      </ng-container>

      <ng-container *ngIf="!pages.data">
        <div class="w-100 container-fluid">
          <p class="opacity-0">Here are the options we found for you</p>
        </div>
        <div class="card-container" *ngFor="let i of [0,1,2,3,4,5]">
          <div class="card rounded-15p">
            <card-dummy></card-dummy>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="flex-grow-1 sticky-to-finder"
    [ngStyle]="{top: expertFinderHeight + 'px', height: mapHeight + 'px'}"
    >
      <div class="map-container" [ngClass]="{full: isMapSizeBig}">
        <agm-map
        [latitude]="mapdata.lat" [longitude]="mapdata.lng" [zoom]="mapdata.zoom" [disableDefaultUI]="false"
        [zoomControl]="false" (centerChange)="onChangeMapCenter($event)" (zoomChange)="onChangeMapZoom($event)"
        [gestureHandling]="'greedy'"
        (boundsChange)="onChangeMapBounds($event)"
        (click)="onClickMap($event)">
  
        <!-- <agm-marker [longitude]="mapdata.lng" [latitude]="mapdata.lat"></agm-marker> -->
        <!-- <agm-circle [radius]="searchCenter.radius" *ngIf="searchCenter.lng && searchCenter.lat"
          [longitude]="searchCenter.lng" [latitude]="searchCenter.lat" [fillColor]="'#3377C5'" [fillOpacity]="0.1"
          [strokeColor]="'#3377C5'" [strokeOpacity]="1" [strokeWeight]="1"></agm-circle> -->
 
        <agm-marker *ngFor="let p of (professionals? professionals : []); let i = index;" [longitude]="p.location[0]"
          [latitude]="p.location[1]" [iconUrl]="p.mapIconUrl" [title]="p.mapLabel"
          [zIndex]="(professionals? professionals.length : 100) - i" [visible]="p.isMapIconReady"
          (markerClick)="onClickMapMarker(infoWindow)">
          <agm-info-window #infoWindow>
            <div class="agm-info-window">
              <card-practitioner
              [showDistance]="true"
              [data]="p"
              (changeCompareStatus)="updateCompareList()"
              ></card-practitioner>
            </div>
          </agm-info-window>
        </agm-marker>
      </agm-map>
      <div class="map-controller d-flex justify-content-between">
        <button *ngIf="!isMapSizeBig" class="btn btn-icon small d-none d-lg-block bg-white rounded-12p bt-white shadow" (click)="toggleMapSize()">
          <i iconPh="arrow-left" class="text-body large"></i>
        </button>
        <button *ngIf="isMapSizeBig" class="btn btn-text small d-none d-lg-block bg-white rounded-12p text-nowrap shadow" (click)="toggleMapSize()">
          <i iconPh="arrow-right" class="text-body large"></i>
          <span class="text-body">Show list</span>
        </button>
        
        <button class="btn btn-text small text-body btn-search-in-this-area bg-white rounded-12p text-nowrap shadow" (click)="onClickSearchInThisArea()">
          <span class="body1">Search in this area</span>
        </button>

        <button class="btn btn-icon small rounded-12p bg-white shadow" [disabled]="isGettingCurrentLocation"
        (click)="onClickGetLocationButton()" [ngClass]="{active: isGettingCurrentLocation}">
          <i class="text-body large" iconPh="gps"></i>
        </button>

      </div>
    </div>
  </div>
</div>

</section>

<div class="ui-controller text-center d-lg-none">
  <button class="btn btn-primary rounded-pill shaddow" *ngIf="!isVirtual" (click)="toggleView()">
    <ng-container *ngIf="!isMapView">
      <i iconPh="map-view"></i>
      <span>Map</span>
    </ng-container>
  
    <ng-container *ngIf="isMapView">
      <i iconPh="layers"></i>
      <span>List</span>
    </ng-container>
  </button>
</div>
