@import "../../../assets/scss/mixins";

$colorBlueLight: #EDF4FF; 
$colorBlue: #3377C5;
$colorBlueDark: #00208F;
$colorBlueTag: #95B3EF;
$colorPaginator: #4A7FCA;
$colorPaginatorLight: #B7D3F3;

.bg-orange{ background: #FAE0B2; }

.text-blue{ color: $colorBlue;}
.bg-blue{ background: $colorBlue; }
.border-blue{ border: solid 1px $colorBlue; }

.bg-lightblue{ background: $colorBlueLight; }


.border-darkblue{ border: solid 1px $colorBlueDark; }
.text-darkblue{ color: $colorBlueDark; }

.bg-tagblue{ background: $colorBlueTag; }

.text-blue-gradient{
  color: $colorBlue;
  background: linear-gradient(90deg, #5D7DC1, #213F7A);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button-filter-apply {
  transform: scale(1.2);
  transform-origin: right;
}
.sticky-right{
  position: sticky;
  right: 0;
}

.fa-video{ color: #00D147; }

.practitioners-container{
  box-sizing: border-box;
  padding: 15px;
  transition: transform 500ms;

  @media (min-width: 768px) {  width: 100%;   }
  @media (min-width: 992px) {  width: 690px;  }
  @media (min-width: 1350px) { width: 1020px; }
  @media (min-width: 1700px) { width: 1350px; }

  &.hidden {
    transform: translateX(-100%);
  }

  .card-container {
    box-sizing: border-box;

    padding: 15px 0;
    width: 100%;
    @media (min-width: 768px) {
      padding: 15px;
      width: 50%;
    }

    @media (min-width: 1350px) {
      width: 33.3%;
    }
    
    @media (min-width: 1700px) {
      width: 25%;
    }
  }
  .card{
    max-width: 350px;
    min-width: 290px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 300px;
    }
  }
}

$heightFinder: 112px;
.sticky-to-finder{
  position: sticky;
  top: $heightFinder;
}

.h-100--finder{ height: calc(100vh - #{$heightFinder}); }
.min-h-100--finder{ min-height: calc(100vh - #{$heightFinder}); }
.min-h-150 { min-height: 150vh; }
.opacity-0 { opacity: 0; }

h2.expert-finder {
  @media (max-width: 767px) { 
    font-size: 25px;
    flex: 1 0 50%;
  }
  @media (max-width: 350px) {
    flex: 1 0 56%;
  }
}

a.link-to-personal-match {
  flex: 0 1 auto;
  border: solid 1px $colorBlueDark;
  color: $colorBlueDark!important;

  &:hover{
    background-color: $colorBlueDark;
    color: white!important;
  }
}

:host{ font-size: 16px; }


.arrow-right{
  border-top: solid 2px white;
  border-right: solid 2px white;
  transform: rotate(45deg);
  transform-origin: center;
  width: 1em;
  height: 1em;
}

a.link-to-personal-match {
  flex: 0 1 auto;
  border: solid 1px $colorBlueDark;
  color: $colorBlueDark!important;

  &:hover{
    background-color: $colorBlueDark;
    color: white!important;
  }
}


.filters{
  width: 100%;
  overflow: auto;

  li.main{
    border: solid 1px;
    font-size: 0.85em;
    color: #00208F;
    border-color: #00208F;
    overflow: hidden;
    flex: 0 0 auto;
    line-height: 1em;
    button{ 
      background: #cfdaff;
      color: #00208F;
      padding: 3px 10px; 
      border-radius: 0;
    }
  }
  li.main-group{
    align-self: center;
    line-height: 1em;
  }

  li button.active{
    background-color: #cee1ff;
    -webkit-text-stroke: 1px;
  }
  li button.focus{
    color: white;
    background-color: $colorBlueDark;
    -webkit-text-stroke: 0px;
  }
}

.tip-for-apply {
  transform: translateY(-100%);
  cursor: pointer;
  background: #293148;
  color: white;
  padding: 7px 10px;
  width: 200px;
  right: 15px;
  border-radius: 5px;
  font-size: 13px;
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 30px;
    width: 0;
    height: 0;
    border: solid 7px transparent;
    border-top-color: #293148;
  }
}

.compare{
  ul{
    width: 100%;
    overflow: auto;  
    img{
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
    .btn{
      top: -7px;
      right: -7px;
    }
  }
}

.filter-dropdown{
  z-index: 10;
  width: 96%;
  left: 2%;
  border: solid 1px #dcdcdc;
}

.map-controller-right{
  z-index: 10;
  position: absolute;
  top: 5px;
  right: 5px;
}

.no-one-found{
  line-height: 1.5em;
}
.btn-get-location.active{
  i{
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction:normal;
    transform-origin: center;  
  }
}

@keyframes rotate{
  0%{ transform: rotate(-360deg); }
  100%{ transform: rotate(0deg); }
}



.btn-search-in-this-area{
  // z-index: 9;
  // position: absolute;
  // top: 15px;
  // left: 15px;
  // border: solid 1px white;
}

// .professionals,
// .agm-info-window {
//   .card{ 
//     overflow: hidden; 
//     max-width: 350px;
//     margin: auto;
//   }

//   .title{ 
//     height: 38px;
//     overflow: hidden;
//   }

//   .img-wrapper{
//     $imageHeight: 100px;

//     position: relative;
//     height: $imageHeight;

//   }

//   .button-compare{
//     position: absolute;
//     display: block;
//     text-align: center;
//     padding: 0;

//     .form-check-input{
//       position: relative;
//       margin: 0 auto;
//       display: block;
//       transform: scale(1.4);
//     }
//     .form-check-label{
//       margin: 5px 0 0;
//     }    
//   }

//   .price-tag{
//     color: black;
//     position: absolute;
//     top: 0;
//     right: -100px;
//     width: 200px;
//     padding: 35px 0 10px;
//     transform-origin: 50% 0;
//     transform: rotate(45deg);
//   }

//   .indicators{
//     height: 20px;
//     i{ font-size: 20px; }
//   }
//   .address{
//     line-height: 1.5em;
//     height: 4.5em;
//   }
// }

.paginator{
  position: relative;
  width: 30px;
  height: 30px;

  &::after{
    content: '';
    position: absolute;
  }

  &.point::after{
    top: 10px;
    left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: $colorPaginatorLight;
  }
  &.point.active::after{ background: $colorPaginator; }

  &.next::after{
    top: 9px;
    left: 9px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-top: solid 2px $colorPaginator;
    border-right: solid 2px $colorPaginator;
  }
}

.map-container{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  transition: width 500ms;
  &.full{
    width: 100vw; /** 7px horizontally overflow in desktop (not mobile) because of scrollbar */
  }

  agm-map {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;  
  }
}

.map-controller {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);

  button {
    box-shadow: 0 0 5px #b9b9b9;
  }
}
.switch-ui{
  z-index: 5;
  position: fixed;
  bottom: 60px;
  left: 50%;
  width: 90px;
  text-align: center;
  transform: translateX(-50%);
  box-shadow: 1px 1px 2px #386ba7, -1px -1px 2px #9cb9dc;
}


.profileBox {
  h5.text-uppercase {
    font-size: 16px !important;
    line-height: 22px !important;
  }
  .profileimg {
    border: 1px solid $secondaryColor;
    min-height: 185px;
    // background-position: top center;
    background-size: cover;
    border-bottom: 5px solid $primaryColor;
  }
  > *:nth-child(2) {
    border-bottom: 5px solid #c2c3c5;
    border-right: 7px solid $secondaryColor;
  }
}

.compareprofilebox {
  position: relative;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
  vertical-align: middle;
  > .fa {
    position: absolute;
    right: -6px;
    top: -6px;
    color: #fff;
    font-size: 13px;
    padding: 2px;
    cursor: pointer;
    background-color: #f44336;
  }
  .compareprofileimg {
    max-width: 100px;
    border: 1px solid;
    height: 100px;
    object-position: top center;
    object-fit: cover;
    width: 100%;
  }
}

hr {
  margin: 22px 0;
}

.checkboxBtn {
  display: inline-block;
  position: relative;
  .fa-square {
    height: 12px;
  }
  .fa-check-square {
    display: none;
  }
  > input {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    &:checked {
      + * {
        .fa-square {
          display: none;
        }
        .fa-check-square {
          display: inline-block;
        }
        background-color: $primaryColor !important;
        color: #fff !important;
      }
    }
  }
}

.radio {
  position: relative;
  font-weight: 500;
  margin-bottom: 10px;
  > input {
    margin-right: 10px;
    &::after {
      content: "";
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      cursor: pointer;
    }
    &:checked {
      + * {
        color: $primaryColor;
      }
    }
  }
}

.filterOverflow {
  overflow: auto;
  max-height: 150px;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: #c2c3c5;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 50px;
  }
}

.text-review {
  color: #ffc91d;
}

.custom-range {
  direction: rtl
}

.like-input{
  position: relative;
  display: inline-block;
  font-size: 26px;
  padding: 6px;

  &:hover{
    transform: scale(1.2,1.2);
  }

  .fa{
    color: #4a86abd9;
  }

  >input{
    position: absolute;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    cursor: pointer;
    opacity: 0;

    &:checked ~ {
      .fa{
        color:#db4437db;
      }
    }
  }
}
