<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>

<section class="container-fluid bg-blue py-3 py-md-4" [routerLink]="['./']"
  [queryParams]="{virtual: !isVirtual}" queryParamsHandling='merge' style="user-select: none">
  <div class="max-w-1200">
    <div class="d-flex flex-nowwrap align-items-center">

      <div>
        <div class="banner d-flex flex-column flex-md-row flex-md-nowrap align-items-md-center"
          [ngClass]="{sticked: isFinderSticked}">
          <span *ngIf="!isVirtual" class="text-light font-mg-big pr-3 pr-lg-5">We provide online/virtual services</span>
          <span *ngIf="isVirtual" class="text-light font-mg-big pr-3 pr-lg-5">Showing services with virtual options
            only</span>
          <span class="bg-orange px-3 py-2 mt-2 mt-md-0 rounded font-italic">
            Look for
            <i class="fas fa-video px-1"></i>
            to find virtual services
          </span>
        </div>
        <p *ngIf="isVirtual" class="mt-2 mb-0 text-light">Go back to view all services</p>
        <p *ngIf="!isVirtual" class="mt-2 mb-0 text-light">Click to view Virtual options only</p>
      </div>

      <div class="arrow-right flex-shrink-0 flex-grow-0 ml-3 ml-lg-5"></div>
    </div>
  </div>
</section>

<div [scrollDetector]="!!filterTarget" [offset]="100" (detect)="setFilterTarget(null)"></div>
<div class="intersection-observer" intersectionObserver (changeStatus)="changeStickyStatus($event)"></div>
<section class="container-fluid mt-5 pt-2 sticky-top blur" id="expertFinder">
  <div class="max-w-1200">
    <div class="d-flex align-items-center mb-3">
      <h2 class="text-blue-gradient font-weight-normal mb-0 expert-finder">Expert Finder</h2>
      <a class="btn btn-outline-primary p-2 px-md-4 ml-md-3 rounded-10p link-to-personal-match" [routerLink]="['/personal-match']">Start <span class="text-nowrap">Personal Match</span></a>
    </div>
    <ul *ngIf="isMainFilterOn" class="filters m-0 d-flex flex-nowrap list-unstyled pt-2 pb-3">
      <li *ngIf="keyword && keyword.length > 0" class="main text-nowrap rounded mr-3">
        <span class="px-3">{{keyword}}</span>
        <button class="btn" (click)="removeKeyword()"><i class="fas fa-times"></i></button>
      </li>

      <li *ngFor="let id of listingPayload?.services; let i = index;" class="main text-nowrap rounded mr-3">
        <span class="px-2">{{getServiceName(id)}}</span>
        <button class="btn" (click)="removeService(i)"><i class="fas fa-times"></i></button>
      </li>

      <li *ngIf="isCustomerHealthOn" class="text-nowrap mx-3 main-group">Health status:</li>
      <form-item-customer-health 
      *ngIf="customerHealthSet" 
      [selections]="customerHealthSet" 
      [data]="listingPayload?.customer_health"
      [controller]=""
      mode="tag" 
      type="detail"
      (changeValue)="onChangeCustomerHealth($event)"
      ></form-item-customer-health>
    </ul>
    <ul *ngIf="!isVirtual" class="filters pt-2 pb-3 m-0 d-flex flex-nowrap list-unstyled">
      <li *ngFor="let f of filters; let i = index;">
        <button [id]="'filter-' + f._id"
          class="btn border-darkblue text-darkblue text-nowrap py-1 px-4 rounded-pill mr-3"
          [ngClass]="{focus: (filterTarget && filterTarget._id == f._id), active: f.active}"
          (click)="setFilterTarget(i)">{{f.item_text}}</button>
      </li>
      <li>
        <button class="btn text-under text-nowrap py-1" (click)="removeFilterAll()"><u>Clear All</u></button>
      </li>
      <li class="pl-3 sticky-right bg-white" *ngIf="isApplyFilterButtonShown"  [@slideHorizontal]>
        <button class="btn btn-primary py-1" (click)="updateFilterAll()">Apply</button>
      </li>
    </ul>
    <ul *ngIf="!!isVirtual" class="filters pt-2 pb-3 m-0 d-flex flex-nowrap list-unstyled">
      <li *ngFor="let f of filters; let i = index;">
        <button [id]="'filter-' + f._id" *ngIf="f._id !== 'location'"
          class="btn border-darkblue text-darkblue text-nowrap py-1 px-4 rounded-pill mr-3"
          [ngClass]="{focus: (filterTarget && filterTarget._id == f._id), active: f.active}"
          (click)="setFilterTarget(i)">{{f.item_text}}</button>
      </li>
      <li>
        <button class="btn text-under text-nowrap py-1" (click)="removeFilterAll()"><u>Clear All</u></button>
      </li>
      <li class="pl-3 sticky-right bg-white" *ngIf="isApplyFilterButtonShown"  [@slideHorizontal] >
        <button class="btn btn-primary py-1" (click)="updateFilterAll()">Apply</button>
      </li>
    </ul>


    <div class="overflow-hidden" [@expandVertical] *ngIf="compareList && compareList.length > 0">
      <div class="compare d-flex">
        <ul class="pt-2 pb-3 m-0 d-flex flex-nowrap list-unstyled">
          <li class="position-relative mr-3" *ngFor="let p of compareList">
            <img class="rounded" [src]="p.image" [alt]="p.name" crossorigin="anonymous">
            <button class="btn position-absolute" (click)="removeProfessionalFromCompare(p.id)"><i
                class="fas fa-times font-bigger"></i></button>
          </li>
        </ul>
        <div class="flex-grow-0 gelx-shrink-0">
          <div><button class="btn" (click)="removeProfessionalFromCompareAll()">Clear All</button></div>
          <div><button class="btn font-weight-bold border-blue color-blue rounded"
              (click)="compareProfessionals()">Compare</button></div>
        </div>
      </div>
    </div>
  </div>
</section>

<div (clickOutside)="onClickOutsideOfFilter($event)">

  <filter-dropdown-location class="position-fixed shadow rounded-15p blur filter-dropdown"
    *ngIf="filterTarget && (filterTarget._id == 'location')" [@slideVertical] [ngStyle]="getFilterDropdownPosition()"
    [data]="filterTarget.data" (changeValue)="updateFilterActiveStatus(filterTarget)"
    (changeState)="onChangeStateFilterMenu($event)"
  ></filter-dropdown-location>

  <filter-dropdown-select class="position-fixed shadow rounded-15p blur filter-dropdown"
    *ngIf="filterTarget && (filterTarget.type == 'radio' || filterTarget.type == 'checkbox')" [@slideVertical]
    [ngStyle]="getFilterDropdownPosition()" [target]="filterTarget._id"
    [multiple]="(filterTarget.type == 'checkbox')? true: false" [options]="filterTarget.options"
    (changeState)="onChangeStateFilterMenu($event)"
  ></filter-dropdown-select>

</div>

<section class="container-fluid bg-lightblue" id="professionalList">
  <div class="row align-items-start">
    <div class="col-12 d-md-block pt-5 min-h-100-finder" [ngClass]="listingContainerClass">
      <div class="container-fluid postiion-relative">
        <ng-container *ngIf="!pages.data">
          <p class="opacity-0">Here are the options we found for you</p>
          <ul class="professionals list-unstyled row">
            <li class="col-12 mb-3" *ngFor="let i of [0,1,2,3,4,5]" [ngClass]="listingItemClass">
              <div class="card p-1 border-blue rounded-15p">
                <card-dummy></card-dummy>
              </div>
            </li>
          </ul>
        </ng-container>

        <ng-container *ngIf="pages.data && pages.data.length == 0">
          <p class="font-italic font-big no-one-found">
            There is no one available in your geographical area with your search criteria right now. <br><br>
            Be sure to check back as our network is growing everyday!
          </p>
        </ng-container>

        <ng-container *ngIf="pages.data && pages.data.length > 0">
          <p class="font-italic">Here are the options we found for you</p>
          <ul class="professionals list-unstyled row" *ngIf="pages.data">
            <li class="col-12 mb-3" *ngFor="let p of pages.data[pages.current - 1]" [ngClass]="listingItemClass">
              <!-- todo: create component to reuse this card in google map -->
              <div class="card p-3 text-center border-blue rounded-15p font-small">
                <div class="img-wrapper mb-3" [ngClass]="{verified: p.isVerified}">
                  <user-image [verifiedUser]="p.isVerified" [image]="p.image" [alt]="p.name" [borderWidthVerified]="3">
                  </user-image>
                </div>
                <div class="price-tag bg-tagblue font-weight-bold" *ngIf="p.price">{{p.price}}</div>
                <div class="button-compare form-check">
                  <input type="checkbox" class="form-check-input" [id]="'compare-' + p.id"
                    [(ngModel)]="p.isCheckedForCompare" (change)="updateCompareList()">
                  <label class="form-check-label" [for]="'compare-' + p.id">Compare</label>
                </div>

                <p class="mb-1 clamp-1line font-weight-bold">{{p.title}}</p>
                <p class="font-weight-bold font-bigger mb-0 title">
                  <i class="fas fa-clinic-medical pr-1" *ngIf="p?.isCentre"></i>
                  {{p.name}}
                </p>
                <ul class="d-flex justify-content-center indicators list-unstyled p-0 mt-2 mb-3">
                  <li><i class="fas fa-video" *ngIf="p.provideVirtual"></i></li>
                </ul>
                <star-rate class="my-3" [rate]="p.rating" margin="small" size="small"></star-rate>
                <p class="mb-2 clamp-1line font-big" *ngIf="!p.isCentre">{{p.organization}}</p>
                <p class="mb-2 clamp-1line font-big" *ngIf="p.isCentre">{{p.phone}}</p>
                <p class="mb-2 address">{{p.address}}</p>
                <p class="mb-3" *ngIf="!isVirtual && (p.distance !== null || p.distance !== undefined)">
                  <b>
                    {{p.distance | number :
                    '1.1-2'}}
                    km away from you
                  </b>
                </p>
                <div>
                  <a class="btn border-darkblue text-darkblue rounded-10p" [routerLink]="['/practitioners/', p.id]">Check
                    Profile</a>
                </div>
              </div>
            </li>
          </ul>

          <div class="d-flex flex-nowrap justify-content-center pt-2 pb-5" *ngIf="pages.data">
            <div class="paginator pre" (click)="changePage(pages.current - 1)"></div>
            <div *ngFor="let p of pages.data; let i = index" class="paginator point mr-1 active"
              [ngClass]="{active: (i == pages.current - 1)}" (click)="changePage(i + 1)"></div>
            <div *ngIf="pages.data && pages.data.length > 1" class="paginator next"
              (click)="changePage(pages.current + 1)"></div>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="col-12 col-md-6 d-none d-md-block sticky-to-finder h-100--finder bg-white" *ngIf="!isVirtual"
      [ngClass]="{'d-none': !isMapView, 'col-lg-9': isMapSizeBig, 'col-lg-3': !isMapSizeBig}">
      <agm-map [latitude]="mapdata.lat" [longitude]="mapdata.lng" [zoom]="mapdata.zoom" [disableDefaultUI]="false"
        [zoomControl]="false" (centerChange)="onChangeMapCenter($event)" (zoomChange)="onChangeMapZoom($event)"
        (click)="onClickMap()">

        <!-- <agm-marker [longitude]="mapdata.lng" [latitude]="mapdata.lat"></agm-marker> -->
        <agm-circle [radius]="searchCenter.radius" *ngIf="searchCenter.lng && searchCenter.lat"
          [longitude]="searchCenter.lng" [latitude]="searchCenter.lat" [fillColor]="'#3377C5'" [fillOpacity]="0.1"
          [strokeColor]="'#3377C5'" [strokeOpacity]="1" [strokeWeight]="1"></agm-circle>

        <agm-marker *ngFor="let p of (professionals? professionals : []); let i = index;" [longitude]="p.location[0]"
          [latitude]="p.location[1]" [iconUrl]="p.mapIconUrl" [title]="p.mapLabel"
          [zIndex]="(professionals? professionals.length : 100) - i" [visible]="p.isMapIconReady"
          (markerClick)="onClickMapMarker(infoWindow)">
          <agm-info-window #infoWindow>
            <div class="agm-info-window">
              <div class="p-3 text-center">
                <div class="img-wrapper mb-3" [ngClass]="{verified: p.isVerified}">
                  <user-image [verifiedUser]="p.isVerified" [image]="p.image" [alt]="p.name" [borderWidthVerified]="3">
                  </user-image>
                </div>
                <div class="price-tag bg-tagblue font-weight-bold" *ngIf="p.price">{{p.price}}</div>
                <!-- <div class="button-compare form-check">
                  <input type="checkbox" class="form-check-input" [id]="'compare-' + p.id" [(ngModel)]="p.isCheckedForCompare" (change)="updateCompareList()">
                  <label class="form-check-label" [for]="'compare-' + p.id">Compare</label>
                </div> -->

                <p class="mb-1 clamp-1line font-weight-bold">{{p.title}}</p>
                <p class="font-weight-bold font-bigger mb-0 title">
                  <i class="fas fa-clinic-medical pr-1" *ngIf="p?.isCentre"></i>
                  {{p.name}}
                </p>
                <ul class="d-flex justify-content-center indicators list-unstyled p-0 mt-2 mb-3">
                  <li><i class="fas fa-video" *ngIf="p.provideVirtual"></i></li>
                </ul>
                <star-rate class="my-3" [rate]="p.rating" margin="small" size="small"></star-rate>
                <p class="mb-2 clamp-1line font-big" *ngIf="!p.isCentre">{{p.organization}}</p>
                <p class="mb-2 clamp-1line font-big" *ngIf="p.isCentre">{{p.phone}}</p>
                <p class="mb-3 address">{{p.address}}</p>
                <div>
                  <a class="btn border-darkblue text-darkblue rounded-10p" [routerLink]="['/practitioners', p.id]">Check
                    Profile</a>
                </div>
              </div>
            </div>
          </agm-info-window>
        </agm-marker>
      </agm-map>

      <ul class="map-controller-right list-unstyled mb-0">
        <li>
          <button class="btn d-none d-lg-block text-blue font-biggest" (click)="toggleMapSize()">
            <i *ngIf="!isMapSizeBig" class="fas fa-expand"></i>
            <i *ngIf="isMapSizeBig" class="fas fa-compress"></i>
          </button>
        </li>
        <li>
          <button class="btn text-blue font-biggest btn-get-location" [disabled]="isGettingCurrentLocation"
            (click)="onClickGetLocationButton()" [ngClass]="{active: isGettingCurrentLocation}"><i
              class="fas fa-crosshairs"></i></button>
        </li>
      </ul>

      <button class="btn btn-search-in-this-area bg-white font-small rounded-pill" (click)="searchInThisArea()">Search
        in this area</button>
    </div>
  </div>

</section>

<button class="btn switch-ui d-md-none font-biggest text-blue blur" *ngIf="!isVirtual" (click)="toggleView()">
  <i *ngIf="!isMapView" class="fas fa-map-marked-alt"></i>
  <i *ngIf="isMapView" class="fas fa-list"></i>
</button>