<h5 class="mb-3">Login</h5>

<section>
  <a class="btn btn-google w-100 mb-2 font-weight-bold"
  (click)="signinWith('google')"
  ><i class="fab fa-google"></i> Sign in with Google</a>

  <a class="btn btn-facebook w-100 mb-2 font-weight-bold" 
  (click)="signinWith('facebook')"
  ><i class="fab fa-facebook-square"></i> Sign in with Facebook</a>
  <hr />
</section>

<section>
  <!-- <form>
    <div>
      <label>Email Address <span class="text-danger">*</span></label>
      <form-input></form-input>
    </div>
  </form> -->
</section>


