<button 
type="button"
[ngClass]="buttonClass"
(click)="guidelineModal.show()"
>{{label}}</button>

<div 
class="modal fade" 
bsModal
id="guidelinemodal"
#guidelineModal="bs-modal"
tabindex="-1" 
role="dialog" 
aria-labelledby="guidelinemodal" 
aria-hidden="true"
>
  <div 
  class="modal-dialog modal-dialog-centered" 
  role="document" 
  style="margin: auto !important; max-width: 800px;"
  >
    <div class="modal-content mk-border">
      <div class="modal-header">
        <h5 class="modal-title w-100 text-center text-dark" id="guidelinemodal-label" style="text-indent: 56px;">
          Profile Guidelines
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="guidelineModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4 p-md-5">
        <p class="font-big">
          We want to ensure you receive the best experience being a registered member of
          PromptHealth. To do so, we are enforcing profile guidelines to ensure our network remains
          professional and suitable for our wide range of clients.<br><br>

          <b>Before setting up your profile, please take a moment to review these guidelines:</b>                    
        </p>
        <ul class="pb-4">
          <li class="mb-1">
            Ensure your real first and last names are entered correctly, with no nicknames or
            symbols.
          </li>
          <li class="mb-1">State your professional organization and any certification in order for us to verify you.</li>
          <li>Please ensure you are fully clothed in any images you upload.</li>
          <li class="mb-1">
            Please do not use any profanity or offensive language in your description. If found,
            PromptHealth reserves the right to suspend your profile.
          </li>
          <li class="mb-1">Do not advertise any third-party products. Your profile should only be used to showcase
          the services you provide as a professional.</li>                              
        </ul>
        <p class="font-big">
          <b>If you have any questions about creating your profile, please reach out to us at
          <a href="mailto:info@prompthealth.ca">info@prompthealth.ca</a> or at (778) 316-3124.</b>
        </p>
      </div>
    </div>
  </div>
</div>