<div class="hero-video overflow-hidden">
  <img src="/assets/img/about/top-partner.png" alt="">
</div>



<section class="container mt-100p">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-9 col-xl-8 text-center">
      <h3 class="h4 h3-md">PromptHealth strives to partner with health and wellness focused organizations who are making an impact on the community.</h3>
    </div>
  </div>
</section>

<section class="my-100p container">
  <div class="row justify-content-center pt-30p py-50p bg-background rounded-8p">
    <div class="col-12">
      <h3 class="h4 h3-md mb-30p mb-md-50p text-center">Our partners and friends</h3>
    </div>
  
    <div class="col-12 col-md-8 col-lg-7 col-xl-6">
      <div class="row align-items-center">
        <div class="col-6 text-center">
          <a href="https://purepharmacy.com/" target="_blank">
            <img src="/assets/img/partners/pure-pharmacy.png?ver=2.3" alt="" style="width: 90%; height: auto;" class="filter-black opacity-50pc">
          </a>
        </div>
        <div class="col-6 text-center">
          <a href="https://inbodycanada.ca/" target="_blank"> 
            <img src="/assets/img/partners/inbody-canada.jpeg?ver=2.3" alt="" style="width: 90%; height: auto;" class="filter-black opacity-50pc">
          </a>    

        </div>
      </div>
    </div>  
  </div>
</section>

<section class="text-center my-100p">
  <a
  class="btn btn-outline"
  routerLink="/contact"
  >Contact us</a>
</section>