<div class="hero-video overflow-hidden">
  <img src="/assets/img/about/top-partner.png" alt="" loading="lazy" />
</div>

<section class="container mt-100p">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-9 col-xl-8 text-center">
      <h3 class="h4 h3-md">
        PromptHealth strives to partner with health and wellness focused
        organizations who are making an impact on the community.
      </h3>
    </div>
  </div>
</section>

<section class="my-100p container">
  <div
    class="row justify-content-center py-25p pb-30p  bg-background rounded-8p"
  >
    <div class="col-12">
      <h3 class="h4 h3-md text-center">Trusted Companies</h3>
    </div>

    <div class="col-12">
      <div class="row align-items-center justify-content-center">
        <div class="col-10 col-md-2 mt-20p text-center">
          <img
            src="/assets/img/partners/mover.png?ver=2.3"
            alt=""
            style="width: 90%; height: auto"
            loading="lazy"
          />
        </div>
        <div class="col-10 col-md-2 mt-20p text-center">
          <a href="https://www.avogel.ca/" target="_blank">
            <img
              src="/assets/img/partners/avogel.png?ver=2.3"
              alt=""
              style="width: 90%; height: auto"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-10 col-md-2 mt-20p text-center">
          <a href="https://purepharmacy.com/" target="_blank">
            <img
              src="/assets/img/partners/pure-pharmacy.png?ver=2.3"
              alt=""
              style="width: 90%; height: auto"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-10 col-md-2 mt-20p text-center">
          <a href="https://inbodycanada.ca/" target="_blank">
            <img
              src="/assets/img/partners/inbody-canada.jpeg?ver=2.3"
              alt=""
              style="width: 90%; height: auto"
              loading="lazy"
            />
          </a>
        </div>
        <div class="col-10 col-md-2 mt-20p text-center">
          <img
            src="/assets/img/partners/aChampsCanada.png?ver=2.3"
            alt=""
            style="width: 90%; height: auto"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-center my-100p">
  <a class="btn btn-outline" routerLink="/contact-us">Contact us</a>
</section>
