@import '../../../assets/scss/variables';

.top-image-shadow {
  position: absolute;
  top: 10px; 
  left: 10px; 
  width: 100%; 
  height: 100%; 
  opacity: 30%;
  filter: brightness(0.3);
  object-fit: cover;
  @media (min-width: $breakpointMd) {
    top: 15px;
    left: 15px;
  }
}

p,
.body-ambassador {
  @media (min-width: $breakpointMd) {
    font-size: 18px;
    line-height: 30px;  
  }
}