:host{ font-size: 16px; }

button.submit{
  background: black;
  color: white;
}

button.cancel{
  color: grey;
  text-decoration: underline;
}

.borderb-grey{ border-bottom: solid 1px #dcdcdc; }

.form-check{ 
  flex: 1 0 50%;
  &.full{ flex: 0 0 100%;}
}
.form-check-input{ 
  margin-top: 0.2em;
  transform: scale(1.2); 
}
.form-check-label{ font-size: 1em; }
