<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>

<div class="container-fluid banner position-relative"
  [style]="(userInfo? 'background-image: url(' + userInfo?.banner + ')': '')"></div>
<div class='intersection-observer' intersectionObserver (changeStatus)="changeStickyStatusTabbar($event)"></div>
<div class="container-fluid border-bottom border-line bg-white sticky-top">
  <div class="max-w-1200 position-relative tabbar" [ngClass]="{sticked: isTabSticked}">
    <div class="d-flex-column d-wrap ml-for-avoid-image profile-info"
      [ngClass]="{sticked: isTabSticked}"
    >
      <p *ngIf="userInfo?.title" class="mb-2 overflow-hidden subtitle1 h6-md" [@expandSubtitle]="(isTabSticked? 'shrink' : 'expand')">{{userInfo?.title}} </p> 
      <div class="d-flex align-items-start title-wrapper">
        <h3 class='mb-0 overflow-hidden' [@expandTitle]="(isTabSticked? 'shrink' : 'expand')">
          <i class="pr-2" iconPh="home" *ngIf="userInfo?.isCentre"></i>
          <span>{{userInfo?.name | titlecase}}</span>
          <i iconPh="video-camera" class="color-video ml-10p" *ngIf="userInfo && userInfo.provideVirtual"></i>
      </h3>  
      </div>
    </div>

    <div class="profile-image rounded-circle" [ngClass]="{verified: userInfo?.isVerified}">
      <user-image
      [image]="userInfo?.image"
      [alt]="userInfo?.name"
      [verified]="userInfo?.isVerified"
      shadowVerified="0 0 5px #307dd6"
      badgeSize="35"
      ></user-image>
    </div>
    <ul class="p-0 mb-0 ml-for-avoid-image list-unstyled d-inline-flex align-items-center position-relative">
      <li class='text-primary text-center tab-item flex-grow-0 flex-shrink-0 py-3' 
        [ngClass]='{active: (indexTabItem == 0)}'
        (click)="changeTabTo(0)"
      >About</li>
      <li class='text-primary text-center tab-item flex-grow-0 flex-shrink-0 py-3' 
        [ngClass]='{active: (indexTabItem == 1)}'
        (click)='changeTabTo(1)'
      >Reviews</li>
  
      <li class='ml-2 ml-md-5'>
        <star-rate class="d-none d-md-block" [rate]="(userInfo? userInfo.rating : 0)"></star-rate>
        <star-rate class="d-md-none" [rate]="(userInfo? userInfo.rating : 0)" [simple]="true"></star-rate>
      </li>
      <li class="tab-item tab-highlighter bg-primary" [class]="'pos-' + indexTabItem"></li>
    </ul>
  </div>
</div>

<section *ngIf="userInfo && myId == userInfo?.id && userInfo.isApproved === false"
class="bg-background p-4"
>
  <p class="font-italic mb-0 container">
    Your profile is been reviewed by our administrator and won't be shown in listing just yet.
  </p>
</section>

<!-- section review -->
<section class="container bg-white my-50p my-md-100p" *ngIf="indexTabItem == 1">
  <div class="row justify-content-between my-5">
    <div class="col-12 col-md-6 col-lg-7">
      <div *ngIf="userInfo">
        <ng-container *ngIf="userInfo.reviews.length > 0">
          <star-rate [rate]="((userInfo)? userInfo.rating : 0)" margin='big'></star-rate>
          <span class='text-primary body1 pl-4'>({{userInfo.reviews.length}})</span>
        </ng-container>

        <span *ngIf="userInfo.reviews.length == 0 && !userInfo.detailByGoogle" class="text-primary pl-4 body1">No review yet</span>
      </div>

      <div *ngIf="userInfo && userInfo.reviews.length > 0">
        <div class="my-5">
          <ul class="review-controller list-unstyled d-inline-flex mb-3">
            <li class="btn btn-text small text-body mr-2 mr-md-4 "
              (click)="sortReviewsBy(0)" 
              [ngClass]="{active: indexSortReviews == 0}"
            >Highest Rated</li>
            <li class="btn btn-text small text-body mr-2 mr-md-4"
              (click)="sortReviewsBy(1)" 
              [ngClass]="{active: indexSortReviews == 1}" 
            >Lowest Rated</li>
            <li class="btn btn-text small text-body "
              (click)="sortReviewsBy(2)" 
              [ngClass]="{active: indexSortReviews == 2}"
            >Most Recent</li>
          </ul>
      
          <ul class="reviews p-0 m-0 list-unstyled">
            <li class="d-md-flex flex-md-nowrap p-3 p-md-4 mb-4 bg-background" *ngFor="let r of userInfo.reviews">
              <div class="mb-3 mb-md-0 col-md-5 col-lg-3 d-flex">
                <div class="review-image rounded-circle overflow-hidden mr-3">
                  <img [src]="r.image" [alt]="r.name">
                </div>
                <h6 class="mt-3 mb-0">{{r.name}}</h6>
              </div>
              <div class="col-md-7 col-lg-9">
                <star-rate [rate]="r.rate" margin='big'></star-rate>
                <div class="borderb-grey pt-2"></div>
                <p class='pt-3 pb-0'>{{r.review}}</p>
                <div>{{r.createdAt | date:'longDate'}}</div>
              </div>
              <p class="font-weight-bold mt-3 font-big mb-0">{{r.name}}</p>
              
              <div class="col-md-7 col-lg-9">
                <star-rate [rate]="r.rate" margin='big'></star-rate>
                <div class="borderb-grey pt-2"></div>
                <p class='pt-3 pb-0'>{{r.review}}</p>
                <div>{{r.createdAt | date:'longDate'}}</div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div *ngIf="userInfo?.detailByGoogle">
        <div class="mb-5">
          <ul class="list-unstyled reviews p-0 m-0">
            <li class="p-3 p-md-4 mb-4 bg-background" *ngFor="let r of userInfo.detailByGoogle.reviews">
              <div class="mb-3 d-flex">
                <div class="review-image rounded-circle overflow-hidden mr-3">
                  <img [src]="r.profile_photo_url" [alt]="r.author_name">
                </div>
                <div class="mt-3">
                  <h6>{{r.author_name}}</h6>
                  <star-rate [rate]="r.rating" size='regular' margin="regular"></star-rate>
                </div>
              </div>
              <div class="mt-3">
                <p class="font-weight-bold font-big">{{r.author_name}}</p>
                <star-rate [rate]="r.rating" size='regular' margin="regular"></star-rate>
              </div>
            
              <div class="">
                <div class="borderb-grey pt-2"></div>
                <p class='pt-3 pb-0'>{{r.text}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <span>{{r.relative_time_description}}</span>
                  <img class="badge-google" src="/assets/img/logo-google.png" alt="" width="30">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-md-5 col-lg-4">
        <div *ngIf="userInfo?.detailByGoogle">
          <!-- <h5 class="text-ph-blue">Google Review</h5> -->
          <div class="card card-google-place shadow overflow-hidden rounded-12p">
            <div class="image-container">
              <img class="atmosphere" [src]="userInfo?.detailByGoogle?.photos[0].getUrl()" alt="">
              <img class="badge-google" src="/assets/img/logo-google.png" alt="">
            </div>
            <div class="py-3 px-3 ">
              <h5>{{userInfo.name}}</h5>
              <div>
                <star-rate [rate]="userInfo.detailByGoogle.rating" size="small"></star-rate>
              </div>
            </div>
            <table class="table table-borderless table-hover px-2">
              <tbody>
                <tr>
                  <td class="pr-0"><i iconPh="pin" class="large"></i></td>
                  <td>{{userInfo.address}}</td>
                </tr>
                <tr>
                  <td class="pr-0"><i iconPh="smartphone" class="large"></i></td>
                  <td>{{userInfo.phone}}</td>
                </tr>
                <tr>
                  <td class="pr-0"><i iconPh="globe" class="large"></i></td>
                  <td><a class="url" [href]="userInfo.detailByGoogle.url" target="_blank">{{userInfo.getURLLabel(userInfo.detailByGoogle.url)}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section about -->

<section class="container bg-white my-50p my-md-100p" *ngIf="indexTabItem == 0">
  <div class="max-w-1200">
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
      <!-- main column -->
      <div class="col-md-6 col-lg-7">

        <!-- basic section -->
        <div class="row mb-5" *ngIf="userInfo && userInfo.description">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Practice Philosophy:</div>
          <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.description}}</p>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Specialty Age Group</div>
          <div class="col-12 col-lg-8">
            <form-item-checkbox-group id="age_range" label="Age range" [data]="userInfo?.age_range" [disabled]="true">
            </form-item-checkbox-group>
          </div>
          <!-- <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.ageRange.join(', ')}}</p> -->
        </div>
        <div class="row mb-5" *ngIf="!userInfo?.isCentre">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Professional organization</div>
          <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.organization}}</p>
        </div>
        <div class="row mb-5" *ngIf="!userInfo?.isCentre">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Certification</div>
          <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.certification}}</p>
        </div>
        <div class="row mb-5">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Language</div>
          <div class="col-12 col-lg-8">
            <form-item-checkbox-group *ngIf="questionnaires" id="languages" label="Languages"
              [data]="userInfo?.languagesId" [selectionsByQuestionnaire]="questionnaires.language" [disabled]="true">
            </form-item-checkbox-group>
          </div>
          <!-- <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.languages.join(', ')}}</p> -->
        </div>
        <div class="row mb-5">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Years Of Experience</div>
          <div class="col-12 col-lg-8">
            <form-item-checkbox-group *ngIf="userInfo" id="years_of_experience" label="Years of experience"
              [data]="userInfo.yearsOfExperience" [disabled]="true"></form-item-checkbox-group>
          </div>
          <!-- <p class="col-12 col-lg-8 mb-0 list-item">{{userInfo?.yearsOfExperience}}</p> -->
        </div>

        <div class="row mt-5" *ngIf="userInfo?.amenityPreview && userInfo.amenityPreview.length > 0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Amenity</div>
          <div class="col-12 col-lg-8">
            <image-row [images]="userInfo.amenityPreview" [option]="{col: 3}"></image-row>
            <button class="btn btn-outline" (click)="openAmenityViewer()">Show detail</button>
            <image-viewer
            *ngIf="isAmenityViewerShown"
            [data]="userInfo.amenity"
            (close)="closeAmenityViewer()"
            ></image-viewer>
          </div>
        </div>

        <div class="row mt-5" *ngIf="userInfo?.productPreview && userInfo.productPreview.length > 0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Product</div>
          <div class="col-12 col-lg-8">
            <image-row [images]="userInfo.productPreview" [option]="{col: 3}"></image-row>
            <button class="btn btn-outline" (click)="openProductViewer()">Show detail</button>
            <image-viewer
            *ngIf="isProductViewerShown"
            [data]="userInfo.product"
            (close)="closeProductViewer()"
            ></image-viewer>
          </div>
        </div>


        <!-- blue section -->
        <div class="row bg-primary-light rounded-top pt-5 pb-0 mt-5">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Type of Provider:</div>
          <div class="col-12 col-lg-8">
            <form-item-checkbox-group *ngIf="questionnaires" id="type_of_provider" label="Type of provider"
              [data]="userInfo?.allServiceId" [selectionsByQuestionnaire]="questionnaires.typeOfProvider"
              [disabled]="true"></form-item-checkbox-group>
          </div>
          <!-- <ul class="col-12 col-lg-8 mb-0 list-unstyled d-flex flex-wrap">
            <li class="mb-2 mb-md-3 pr-3 table-item" *ngFor="let item of userInfo?.typeOfProvider">{{item}}</li>
          </ul> -->
        </div>
        
        <div class="row bg-primary-light pt-5 pb-0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Treatment Modalities: </div>
          <div class="col-12 col-lg-8">
            <form-item-checkbox-group *ngIf="questionnaires" id="treatment_modality" label="Treatment modality"
              [data]="userInfo?.allServiceId" [selectionsByQuestionnaire]="questionnaires.treatmentModality"
              [disabled]="true"></form-item-checkbox-group>
          </div>
          <!-- <ul class="col-12 col-lg-8 mb-0 list-unstyled d-flex flex-wrap">
            <li class="mb-2 mb-md-3 pr-3 table-item" *ngFor="let item of userInfo?.treatmentModality">{{item}}</li>
          </ul> -->
        </div>

        <div class="row bg-primary-light pt-5 pb-0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Health Status: </div>
          <div class="col-12 col-lg-8">
            <form-item-customer-health *ngIf="questionnaires" type="detail" [data]="userInfo?.allServiceId"
              [selections]="questionnaires.customerHealth.answers" [disabled]="true"></form-item-customer-health>
          </div>
          <!-- <ul class="col-12 col-lg-8 mb-0 list-unstyled d-flex flex-wrap">
            <li class="mb-2 mb-md-3 pr-3 table-item" *ngFor="let item of userInfo?.healthStatus">{{item}}</li>
          </ul> -->
        </div>

        
        <div class="row bg-primary-light pt-5 pb-0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Service Delivery:</div>
          <div class="col-12 col-lg-8">
            <form-item-checkbox-group
            *ngIf="questionnaires"
            id="service_delivery"
            label="Service delivery"
            [data]="userInfo?.serviceOfferIds"
            [selectionsByQuestionnaire]="questionnaires.serviceDelivery"
            [disabled]="true"
            ></form-item-checkbox-group>  
            <p class="body-small mb-0 opacity-70pc" *ngIf="userInfo?.provideVirtual">**Virtual/Online services may not be available to all locations. Please inquire the service provider for confirmation.</p>
          </div>
          <!-- <ul class="col-12 col-lg-8 mb-0 list-unstyled d-flex flex-wrap">
            <li class="mb-2 mb-md-3 pr-3 table-item" *ngFor="let item of userInfo?.serviceDelivery">{{item}}</li>
          </ul> -->
          <p class="font-small col-12 mb-0 " *ngIf="!!userInfo?.seeOtherRegion">
            ** This practitioner can't see patients who are out of {{userInfo.state}}
          </p>
          <p class="font-small col-12 mt-2 " *ngIf="userInfo?.provideVirtual">
            ** Virtual/Online services may not be available to all locations. Please inquire the service provider for confirmation.
          </p>
        </div>

        <div class="row bg-primary-light pt-5 pb-0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Services:</div>
          <div class="col-12 col-lg-8">
            <form-item-service *ngIf="questionnaires" [data]="userInfo?.allServiceId" [disabled]="true">
            </form-item-service>
          </div>
        </div>

        <!-- <div class="row bg-primary-light pt-5 pb-0" *ngIf="userInfo?.availability && userInfo.availability.length>0">
          <div class="col-12 col-lg-4 mb-3 mb-lg-0 text-primary subtitle1">Availability:</div>
          <ul class="col-12 col-lg-8 mb-0 list-unstyled d-flex flex-wrap">
            <li class="mb-2 mb-md-3 pr-3 table-item" *ngFor="let item of userInfo?.availability">{{item}}</li>
          </ul>
        </div> -->
        
        <!-- <div class="row bg-primary-light rounded-bottom pt-5 pb-0" *ngIf="userInfo?.isCentre">
          <div class="col-12 col-lg-4 mb-2 mb-lg-0 text-primary subtitle1">Product:</div>
          <p class="col-12 col-lg-8 mb-0">{{userInfo?.product}}</p>
        </div> -->
        <div class="row bg-primary-light rounded-bottom pt-5 mb-5"></div>
  
        <!-- professionals at centre-->
        <div *ngIf="userInfo?.isCentre && userInfo.professionals && userInfo.professionals.length > 0">
          <div class="row bg-background rounded-top py-4 mt-5 justify-content-start justify-content-md-between align-items-center">
            <h4 class="col text-primary">Meet our professionals</h4>
          </div>
          <ul class='list-unstyled row text-center bg-background py-4 mb-0'>
            <li class='col-12 col-md-6 mb-5' *ngFor="let pro of userInfo.professionals; let i = index;">
              <img class="professional-image rounded-circle overflow-hidden" [src]="pro.image" [alt]="pro.name"
                crossorigin="anonymous">

              <p class="subtitle1 mb-3 clamp-2line">{{pro.name}}</p>
              <p class="professional-desc" [ngClass]="{'clamp-3line text-center': !isExpandProfessionals}">{{pro.description}}</p> 
              <button class="btn" style="color: inherit;" (click)="toggleExpandProfessionalDesc()">
                <span *ngIf="!isExpandProfessionals">- show more -</span>
                <span *ngIf="isExpandProfessionals">- show less -</span>
              </button>
            </li>
            <li class="col-12 col-md-6 mb-5" *ngIf="isGettingProfessional">
              <card-dummy class="bg-white"></card-dummy>
            </li>
            <li class="col-12 col-md-6 mb-5" *ngIf="isGettingProfessional">
              <card-dummy class="bg-white"></card-dummy>
            </li>
          </ul>
          <div class="bg-background row pb-4 rounded-bottom mb-5">
            <div class="col text-center">
              <button class="btn btn-outline"
              *ngIf="userInfo && userInfo.professionals && userInfo.professionals.length > 0 && isProfessionalsMoreExist"
              type="button"
              (click)="getProfessionals()"
              >Explore More</button>  
            </div>
          </div>
        </div>
      </div>

      <!-- side column -->
      <div class="col-md-5 col-lg-4">
        <div class="text-center mb-4" *ngIf="userInfo?.socialLink.isAvailable">
          <social-buttons class="d-inline-block" [data]="userInfo.socialLink.data" [size]="32" [margin]="'narrow'"
            (clickButton)="countupSocial($event)"></social-buttons>
        </div>
        <!-- contact info-->
        <div class="rounded shadow text-center pb-3 overflow-hidden mb-5">
          <h6 class="bg-primary text-center m-0 py-3 text-white">Contact Information</h6>
          <div class="position-relative">
            <table class="table table-borderless table-hover px-2">
              <tbody>
                <tr *ngIf="userInfo?.address">
                  <td class="pr-0"><i iconPh="pin" class="large"></i></td>
                  <td class="text-left">{{userInfo.address}}</td>
                </tr>
                <tr *ngIf="userInfo?.emailToDisplay">
                  <td class="pr-0"><i iconPh="email" class="large"></i></td>
                  <td class="text-left">
                    <a [href]="'mailto:' + userInfo.emailToDisplay">{{userInfo.emailToDisplay}}</a>
                  </td>
                </tr>
                <tr *ngIf="userInfo?.phone">
                  <td class="pr-0"><i iconPh="smartphone" class="large"></i></td>
                  <td class="text-left">{{userInfo.phone}}</td>
                </tr>
                <tr *ngIf="userInfo?.website">
                  <td class="pr-0"><i iconPh="globe" class="large"></i></td>
                  <td class="text-left">
                    <a class="url" [href]="userInfo.website" target="_blank">{{userInfo.websiteLabel}}</a>
                  </td>
                </tr>
                <tr>
                  <td class="pr-0"><i iconPh="dollar" class="large"></i></td>
                  <td class="text-left">Standard Hourly Fees: {{userInfo?.priceFull}}</td>
                </tr>
              </tbody>
            </table>
            <ng-container *ngIf="userInfo && isLoggedIn">
              <a *ngIf="userInfo.bookingUrl" class="btn btn-outline px-5" (click)="incBookingCount()">Book</a>
              <button *ngIf="!userInfo.bookingUrl" class="btn btn-outline px-5" type="button" (click)="showBookingMenu()" >Book</button>
            </ng-container>

            <div class="blur-contact" *ngIf="!isLoggedIn">
              <button class="btn btn-outline " type="button" (click)="showLoginMenu()">Login to See Information</button>  
            </div>
          </div>
        </div>

        <!-- videos-->
        <div class="rounded shadow overflow-hidden pb-3 mb-5">
          <div class="m-3 d-flex align-items-center justify-content-between">
            <h5 class='m-0 d-flex align-items-center'>
              <span class="text-primary">Video</span>
              <span class="ml-2 subtitle2" *ngIf="userInfo && userInfo.videos.length>0">{{userInfo.videos.length}}</span>
            </h5> 
            <div *ngIf="userInfo && userInfo.videos.length > 0" class="text-right">
              <button *ngIf="iframe.length > countVideoShown" 
                (click)="showMoreVideo()"
                class="btn btn-outline small" 
                type="button"
              >Load more videos</button>

              <button *ngIf="iframe.length <= countVideoShown && iframe.length > defaultVideoCount"
                (click)="showLessVideo()"
                class="btn btn-outline small" 
                type="button"
              >Show less videos</button>
            </div>
          </div>

          <card-dummy *ngIf="!userInfo"></card-dummy>

          <div *ngIf="userInfo" class="px-3">
            <ul *ngIf="userInfo.videos.length>0" class="list-unstyled m-0 p-0">
              <li *ngFor="let v of iframe; let i = index;" class="mb-3">
                <div class="video" *ngIf="i<countVideoShown" [innerHTML]="v"></div>
              </li>
            </ul>

            <p *ngIf="userInfo.videos.length == 0" class="m-0">No videos</p>
          </div>
        </div>

        <!-- endosements -->
        <div class="rounded shadow overflow-hidden mb-5">
          <h6 class="bg-primary text-center m-0 py-3 text-white">Endorsement</h6>
          <div class="px-3 py-5 font-italic coming-soon-gradient h6">Coming soon...</div>

          <!-- <card-dummy *ngIf="!userInfo ||!userInfo.endosements"></card-dummy>
          <div class="px-3">
            <div class="endosement-wrapper py-4" *ngFor="let endosement of userInfo?.endosements;">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="font-weight-bold m-0">
                  {{endosement.name}}
                  <star-rate class="ml-1 d-lg-display" [rate]="endosement.rate" size='small' margin="none"></star-rate>
                </p>
                <button class='btn' type='button'><i class="fas fa-share-alt text-blue font-big"></i></button>
              </div>
              <a class="btn border-blue text-blue mb-3" type="button">view website</a>
              <div class="endosement-images mb-3"></div>
              <p class="m-0">{{endosement.desc}}</p>  
            </div>
          </div>
          <div class="text-center my-3">
            <button class="btn text-blue border-blue">Load more</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- modal: login -->
<div 
*ngIf="isLoginMenuShown"
class="modal-view"
>
  <div class="modal-drop"
  (click)="hideLoginMenu()"
  ></div>
  <div class="modal-body">

    <div class="title-container d-flex justify-content-between align-items-center">
      <span class="h5 h4-md mr-3 mb-0 flex-grow-1">Login</span>
      <button class="btn pr-0 btn-icon" (click)="hideLoginMenu()">
        <i iconPh="cross"></i>
      </button>  
    </div>

    <div class="content-container">
      <form-auth [staySamePage]="true" (changeState)="onChangeLoginState($event)"></form-auth>
    </div>
  </div>
</div>


<!-- modal: booking -->
<div 
*ngIf="isBookingMenuShown"
class="modal-view"
>
  <div class="modal-drop"
  (click)="hideBookingMenu()"
  ></div>
  <div class="modal-body">

    <div class="title-container d-flex justify-content-between align-items-center">
      <span class="h5 h4-md mr-3 mb-0 flex-grow-1">Booking</span>
      <button class="btn pr-0 btn-icon" (click)="hideBookingMenu()">
        <i iconPh="cross"></i>
      </button>  
    </div>

    <div class="content-container">
      <form (ngSubmit)="onSubmitBooking()">
          <div class="mb-3">
            <label class="subtitle1">
              Name
              <span class="text-danger">*</span>
            </label>
            <form-item-input
            type="text"
            name="name"
            label="Name"
            placeholder="Patient name"
            [submitted]="submitted"
            [controller]="f.name"
            ></form-item-input>
          </div>

          <div class="mb-3">
            <label class="subtitle1">
              Email Address 
              <span class="text-danger">*</span>
            </label>
            <form-item-input
            type="email"
            name="email"
            label="Email"
            placeholder="Your email"
            [submitted]="submitted"
            [controller]="f.email"
            ></form-item-input>
          </div>

          <div class="mb-3">
            <label class="subtitle1">
              Phone 
              <span class="text-danger">*</span>
            </label>
            <form-item-input
            type="tel"
            name="phone"
            label="Phone number"
            placeholder="Your phone number"
            [submitted]="submitted"
            [controller]="f.phone"
            ></form-item-input>
          </div>

          <div class="mb-3">
            <label class="subtitle1">
              Date & Time
              <span class="text-danger">*</span>
            </label>
            <form-item-datetime 
            label="Date & time"
            [controller]="f.bookingDateTime" 
            [submitted]="submitted"
            [minDateTime]="minDateTime"
            ></form-item-datetime>
          </div>

          <div class="mb-3">
            <label class="subtitle1">
              Notes
            </label>
            <form-item-textarea
            name="note"
            label="Notes"
            placeholder="Your request"
            [controller]="f.note"
            [submitted]="submitted"
            [max]="maxBookingNote"
            ></form-item-textarea>
          </div>

          <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary" [disabled]="isBookingLoading">Save</button>
          </div>
      </form>
    </div>
  </div>
</div>