<router-outlet></router-outlet>

<div
*ngIf="isAlertUploadingInBackgroundShown"
[@slideVertical]
class="alert-uploading-background rounded-md-12p p-15p py-md-25p px-md-40p text-white"
[ngClass]="{'bg-body': isUploadingInBackground, 'bg-success': isUploadingDoneInBackground}"
(click)="onClickAlertUploadingInBackground()"
>
  <ng-container *ngIf="isUploadingInBackground">
    <div class="d-flex align-items-center">
      <loader color="white"></loader>
      <span class="subtitle1 ml-15p">Uploading...</span>    
    </div>
  </ng-container>

  <ng-container *ngIf="isUploadingDoneInBackground">
    <div class="subtitle1">
      <i iconPh="thumbs-up"></i>
      <span class="ml-5p">Well done!</span>
    </div>
  </ng-container>
</div>

<div 
*ngIf="isStaging"
class="position-fixed bg-yellow-light border border-yellow-dark text-yellow-dark rounded-8p p-10p text-center"
style="bottom: 10px; right: 10px;"
>
  <div class="subtitle2">DEVELOP MODE</div>
  <a href="https://prompthealth.ca" class="body2 text-yellow-dark"><u>Go Live</u></a>
</div>


<div
*ngIf="isModalRegionMenuShown" 
class="modal-view"
>
  <div 
  class="modal-drop"
  (click)="onRegionSelected(selectedRegion)"
  ></div>

  <div class="modal-body">
    <h4 class="mb-25p text-center pb-15p pb-md-25p border-bottom border-line">Select Country</h4>

    <div class="content-container">
      <ul class="list-unstyled mb-0">
        <li 
        *ngFor="let region of ['US', 'CA']"
        class="mb-15p d-flex cursor-pointer align-items-center"
        (click)="onRegionSelected(region)"
        >
          <i 
          *ngIf="selectedRegion == region" 
          iconPh="checkbox-circle" 
          style="font-size: 40px;"
          ></i>
          <img 
          *ngIf="selectedRegion != region" 
          [src]="'assets/img/general/region-' + region.toLowerCase() + '.png'" 
          alt="" 
          width="40px" 
          class="rounded-4p"
          loading="lazy"
          >
          <button class="btn flex-grow-1 ml-15p btn-text-body text-left pl-0" >
            {{regionFormatted(region)}}
          </button>
        </li>
      </ul>
      <div class="text-right mt-25p">
        <button 
        class="btn btn-text p-0"
        (click)="onRegionSelected(selectedRegion)"
        >Skip</button>
      </div>
    </div>
  </div>
</div>
