<div>
  <textarea 
  class="form-control" 
  [ngClass]="{error: (controller.errors && submitted), success: (!controller.errors && submitted)}"
  [id]="name"
  [formControl]="controller"
  [attr.disabled]="disabled ? 'disabled' : null"
  [placeholder]="placeholder"
  [rows]="rows"
  ></textarea>
</div>

<div 
class="d-flex justify-content-end mt-1 caption"
*ngIf="(max || controller.errors) && !disabled"
>
  <form-item-errors class="flex-grow-1" [controller]="controller" [submitted]="submitted" [label]="label"></form-item-errors>
  <span *ngIf="max > 0" class="flex-grow-0" 
  [ngClass]="!controller.dirty ? 'text-placeholder' : controller.errors ? 'text-danger' : 'text-success'"
  >
    {{controller.value.length}}/{{max}}
  </span>
</div>