<ng-container *ngFor="let p of posts; let i = index">
  <div *ngIf="!p" class="mb-15p">
    <card>
      <card-dummy [showImage]="false"></card-dummy>
    </card>  
  </div>

  <div *ngIf="p" class="mb-15p">
    <a [routerLink]="['/community', p.authorId, 'post', p._id]">
      <card [post]="p" (click)="onClickCardPost($event, p)" [shorten]="(targetPostId != p._id)"></card>
    </a>
  </div>

  <div *ngIf="p && i == 1" class="mb-15p">
    <card-subscribe></card-subscribe>
  </div>

</ng-container>        

<modal-event></modal-event>
