@use 'sass:map';

.text-blue{ color: #3377C5; }
.bg-blue{ background: #3377C5; }
.text-pink{ color: #A759B3; }

.text-md-nowrap{ @media screen and (min-width: 768px){ white-space: nowrap; } }
:host{
  font-size: 16px;
  line-height: 1.5em;
}

.hero{ 
    background-image: url('/assets/img/hero-subscription-plan-product-s.png');
    h2{ font-size: 25px; }
  
    @media screen and (min-width: 768px){
      background-image: url("/assets/img/hero-subscription-plan-product.png");
      h2{ font-size: 35px; }
    }
  }
  
.input-group{
  flex: 1 1 30%;
  &.email{ flex: 2 1 50%; }
}

.input-submit{ 
  flex: 0 0 auto;
  padding: 8px 35px;
}
.error{ 
  color: red; 
  position: absolute;
  top: 100%;
  @media screen and (min-width: 768px){
    right: 0;
  }
}


/** copied from subscriptionPlanItemCardScss */
/** start */
$green: ('text': #95C38B, 'bg': #95C38B);
@mixin theme($color){
  .title,
  .feature i{
    color: map.get($color, 'text');
  }

  .tab,
  .btn-more,
  .separator{
    color: white;
    background: map.get($color, 'bg');
  }
}
.theme-green{ @include theme($green); }
.title{
  font-size: 2.3em;
}

.separator{
  height: 1px;
  border: none;
}
/** end */

.message-coupon {
  z-index: 1000;
  position: fixed;
  bottom: 30px;
  right: 0;
  // background: white;
  width: 300px;
  padding: 20px 20px 20px 30px;
  border-radius: 10px 0 0 10px;
  // background: var(--ph-blue);
  border: solid 2px #ececec;
  border-right-width: 0;

  transition-duration: 300ms;
  transition-property: background-color, transform, border-color;

  &.shrink {
    transform: translateX(calc(100% - 30px));
    background: var(--ph-blue);
    border-color: transparent;
  }

  .btn-shrink {
    position: absolute;
    top: 0;
    right: 0;
  }
}