@import '../../../assets/scss/variables';

label.price-range{
  &:first-child{ padding-left: 0; }
  padding: 10px;
  margin-right: 10px;

  i{
    color: #B1B1B1;
    &.active{ 
      color: $colorPrimary;
      -webkit-text-stroke: 1px; 
    }
  }  
}