@import '../../../../assets/scss/variables';

.eyecatch {
  margin: -20px -20px 0;
  width: calc(100% + 40px);
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;

  &::after {
    content: '';
    display: block;
    padding-top: 35%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.status-indicator {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}

.btn-group { 
  @media (min-width: $breakpointLg) {
    button.btn, a.btn { 
      width: 200px!important; 
    }
  }
}