@import '../../../assets/scss/variables';

.text-blue{ color: #3377C5; }
.text-pink{ color: #A759B3; }

:host{
  font-size: 16px;
}

.hero{ 
  background-image: url('/assets/img/hero-subscription-plan-s.png');
  h2{ font-size: 20px; }

  @media screen and (min-width: 768px){
    background-image: url("/assets/img/hero-subscription-plan.png");
    h2{ font-size: 35px; }
  }
}

.message-coupon {
  z-index: 1000;
  position: fixed;
  bottom: 30px;
  right: 0;
  width: 300px;
  padding: 10px 20px 20px 30px;
  border-radius: 10px 0 0 10px;
  border: solid 2px #ececec;
  border-right-width: 0;

  transition-duration: 300ms;
  transition-property: background-color, transform, border-color;

  &.shrink {
    transform: translateX(calc(100% - 30px));
    background: $colorPrimary;
    border-color: transparent;
  }
}