@import "../../../../assets/scss/mixins";

:host{
  font-size: 16px;
}

.bg-lightgrey{ background: #efefef; }
.line-height-1_5{ line-height: 1.5em; }



.mrt{
  margin-top: 12px;
}

.profile-editbox {
  @include profileImageInput(150px);
  margin-bottom: 30px;
  // height: 10px;
  // width: 20px;
  // background-color: red;
}

.form-control:disabled {
  border-color: transparent;
  background-color: transparent;
}
label.col-md-4 {
  // align-self: center;
  // font-weight: 700;
  margin: 0;
}
.radio {
  margin-right: 5px;
}
p {

  color: #495057;
}

.pull-right {
  float: right;
}
.form-row.mb-3 {
  margin: 0 0 15px;
}
// .text-body {
//   font-weight: 400;
// }

.form-control.disable {
  border: 0;
}

// .form-container{
//   .form-row{
//     label.col-md-3{
//       margin-top: 12px;
//     }
//   }
// }

.checkbox-group{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;

  li{
    margin-bottom: 1em;
    flex: 1 0 50%;
    white-space: nowrap;

    &.root{
      flex: 1 0 100%;
      white-space: normal;
      font-weight: 500;
      &:not(:first-child){
        margin-top: 1.5em;
      }
    }
    &.sub{ 
      font-weight: 300;
    }
  }
}

.form-check{
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}
.form-check-input{ 
  margin-top: 0.3em; 
  transform: scale(1.4);
  transform-origin: left;
}
.form-check-label{
  font-size: 1em;
  margin-left: 0.4em;
}


@media(max-width:768px){
  .form-control:disabled, .form-control.disable{
    padding: 7px 5px !important;
  }
}