<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>

<h4 class="mb-3">
  My Service Information
  <button class="btn btn-primary pull-right" (click)="updateFields()">Edit</button>
</h4>
<div class="form-container mt-5">
  <form-practitioner-service
  *ngIf="profile"
  [data]="profile"
  [disabled]="isDisabled"
  (submitForm)="onSubmit($event)"
  ></form-practitioner-service>
</div>