///TEMPORARY TODO: DELETE LATER
:host {
  color: rgba(41, 49, 72, 1)!important;
}
.text-primary-dark {
  color: rgba(0, 85, 199, 1)!important;
}
.text-placeholder {
  color: rgba(160, 163, 189, 1)!important;
}
.border-line {
  border-color: rgba(214, 216, 231, 1)!important;
}
.bg-primary {
  background-color: rgba(12, 116, 255, 1)!important;
}
.bg-primary-light {
  background-color: rgba(233, 242, 255, 1)!important;
}
///TEMPORARY END

/** TEMPORARY?? TODO: REMOVE IF NEEDED */
.btn-filter {
  padding: 17px 25px;
  color: rgba(131, 135, 144, 1);
  background: rgba(239, 243, 247, 1);

  transition-property: color, background-color;
  transition-duration: .15s;

  &:hover {
    background: #e3ebf3;
  }
}
.btn.btn-primary {
  padding: 17px 25px;
  background: rgba(12, 116, 255, 1)!important;
  &:hover {
    background: rgba(0, 85, 199, 1)!important;
  }
}

.btn.btn-outline {
  padding: 17px 25px;
  border: solid 1px rgba(12, 116, 255, 1)!important;
  color: rgba(12, 116, 255, 1)!important;
  background-color: transparent!important;
  &:hover {
    background: rgba(12, 116, 255, 1)!important;
    color: white!important;
  }
}
/** TEMPORARY?? END */

.paginators {
  button {
    position: relative;
    padding: 0;
    width: 35px;
    height: 35px;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.modal-body {
  @media (min-width: 768px) {
    width: auto;
    max-width: none;
  }
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgba(12, 116, 255, 1);
  color: white;
}
.custom-day.faded {
  background-color: rgba(233, 242, 255, 1);
  color: inherit;
}

.custom-day.disabled {
  opacity: 0.5;
}