<div 
style="min-height: 100vh"
class="bg-primary-light pt-50p"
>
  <div class="container">
    <button (click)="generate()">Generate</button>
    <div class="row justify-content-center">
      <div class="col col-md-8 col-lg-6 col-xl-5">
        <div class="border border-line bg-white rounded-12p px-20p py-30p">
          <form class="text-body" (ngSubmit)="onSubmit()">
            <h4 class="mb-30p">Reset Password</h4>
            <label 
            class="subtitle2" 
            for="password"
            >
              New Password
            </label>
            <form-item-input
            name="password"
            label="New password"
            placeholder="Enter password..."
            type="password"
            [submitted]="isSubmitted"
            autocapitalize="off"
            [controller]="form"
            ></form-item-input>

            <div class="mt-30p">
              <input type="submit" class="btn btn-primary" value="Save">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>