<div 
style="min-height: 100vh"
class="bg-primary-light pt-50p"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 col-lg-6 col-xl-5">
        <div class="border border-line bg-white rounded-12p px-20p py-30p" *ngIf="!doneUpdate">
          <form class="text-body" (ngSubmit)="onSubmit()">
            <h4 class="mb-30p">Reset Password</h4>
            <label 
            class="subtitle2" 
            for="password"
            >
              New Password
            </label>
            <form-item-input
            name="password"
            label="New password"
            placeholder="Enter password..."
            type="password"
            [submitted]="isSubmitted"
            autocapitalize="off"
            [controller]="form"
            ></form-item-input>

            <div class="mt-30p">
              <input type="submit" class="btn btn-primary" value="Save">
            </div>
          </form>
        </div>

        <div class="border border-line bg-white rounded-12p px-20p py-30p text-center" *ngIf="doneUpdate">
          <h4 class="mb-50p">
            <i iconPh="checkbox-square" class="text-success"></i>
            <div class="mt-30p">Password Updated!</div>
          </h4>
          <a routerLink="/" class="btn btn-primary small">Go to PromptHealth</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div
[@slideVertical]
*ngIf="isAppAvailable && isAppNavigationShown"
class="position-fixed p-10p bg-background subtitle1 d-md-none"
style="z-index: 10; width: 100vw; bottom: 0;"
(click)="openApp()"
>
  <div class="d-flex justify-content-between align-items-center">
    Continue in app

    <button 
    class="btn btn-icon-body small"
    (click)="closeAppNavigation($event)"
    >
      <i iconPh="cross"></i>
    </button>  
  </div>
  
</div>