<div>
  <div *ngFor="let c of post.comments">
    <ng-container *ngTemplateOutlet="comment; context:{$implicit:c}"></ng-container>
  </div>
</div>

<ng-template #comment let-data>
  <div class="d-flex mt-20p" [ngClass]="{indent: data.level > 0}">
    <profile-image size="42" [image]="data.user.profileImage"></profile-image>
    <div class="ml-10p flex-grow-1">
      <div class="rounded-8p px-15p pt-15p pb-5p d-inline-block bg-background">
        <h6 class="subtitle2">{{data.user.firstName}} {{data.user.lastName}}</h6>
        <p class="body2 mb-5p">
          <b *ngIf="data.replyTo">@{{data.replyTo.firstName}} </b>
          <span>{{data.content}}</span>
        </p>
        <div class="d-flex">
          <button
          class="btn btn-text-grey small px-0"
          type="button"
          >
            <i [iconPh]="'heart'"></i>
            <span *ngIf="data.like > 0" class="ml-5p">{{data.like}}</span>
          </button>
          <button 
          class="ml-20p btn btn-text-grey small px-0"
          (click)="onClickReply(data)"
          >Reply</button>
        </div>
      </div>

      <div 
      *ngIf="targetCommentIdForReply == data._id"
      class="mt-10p"
      >
        <form-item-comment
        [controller]="form"
        (onCancel)="onCancelReply()"
        (onSubmit)="onSubmitReply()"
        ></form-item-comment>
      </div>

      <div *ngIf="data.hasChild">
        <button *ngIf="!isReplyOpened(data._id)"
        class="btn btn-text small px-0"
        (click)="onClickShowReply(data._id)"
        >
        <i iconPh="chevron-down"></i>
        <span>Show replies</span>
        </button>

        <button *ngIf="isReplyOpened(data._id)"
        class="btn btn-text small px-0"
        (click)="onClickHideReply(data._id)"
        >
        <i iconPh="chevron-up"></i>
        <span>Hide replies</span>
        </button>
      </div>
    </div>
  </div>
  <ng-container *ngIf="isReplyOpened(data._id)">
    <ng-container *ngFor="let c of data.comments">
      <ng-content *ngTemplateOutlet="comment; context:{$implicit:c}"></ng-content>
    </ng-container>  
  </ng-container>
</ng-template>