<header 
class="py-10p py-md-15p border-bottom border-line bg-background bg-lg-transparent"
(clickOutside)="hideCategory()"
>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <a routerLink="/magazines" class="d-flex flex-nowrap align-items-stretch">
        <img class="d-lg-none" src="assets/img/logo-sm.png" alt="PromptHealth" width="auto" height="20">
        <img class="d-none d-lg-block" src="assets/img/logo.png" alt="PromptHealth" width="auto" height="30">
        <div class="mx-1 mx-md-3 border-right border-body"></div>
        <span class="align-self-center text-dark subtitle2-temp">Magazine</span>
      </a>
      <nav class="d-flex align-items-center">
        <ul class="d-none d-lg-flex justify-content-between align-items-center list-unstyled mb-0 subtitle2-temp text-body">
          <li class="mx-10p">
            <a class="text-body" routerLink="/magazines/category/test">News</a>
          </li>
          <li class="mx-10p">
            <a class="text-body" routerLink="/magazines/category/test">Event</a>
          </li>
          <li class="mx-10p">
            <a class="text-body" routerLink="/magazines/category/test">Videos</a>
          </li>
          
          <li class="mx-10p">
            <a class="text-body" routerLink="/magazines/category/test">Podcasts</a>
          </li>

          <li class="mx-10p">
            <a class="text-body cursor-pointer" (click)="toggleCategory()">
              <span>All categories</span>
              <i class="fas fa-chevron-down icon-show-category ml-2" [ngClass]="{active: isCategoryShown}"></i>
            </a>
          </li>
        </ul>
        <div class="ml-10p ml-md-30p">
          <a routerLink="/practitioners" class="btn btn-primary">Find practitioners</a>
        </div>
        <div class="d-lg-none ml-15p">
          <!-- <a class="btn btn-icon small pr-0" (click)="showMenu()"> -->
          <a class="btn btn-icon small pr-0" routerLink="/magazines/menu">
            <!-- <i iconPh="menu" class="large"></i> -->
            <i class="fas fa-bars"></i>
          </a>
        </div>  
      </nav>
    </div>
  </div>
  <div class="container d-none d-lg-block overflow-hidden" *ngIf="isCategoryShown" [@expandVertical]>
    <ul class="row list-unstyled pt-20p mb-0">
      <li class="col-4 col-lg-3 py-2" *ngFor="let cat of [0,1,2,3,4,5,6,7,8]">
        <a 
        class="py-2 subtitle2-temp text-body" 
        [routerLink]="['/magazines/category', 'test']"
        (click)="hideCategory()" 
        >Hormonal Health</a>
      </li>
    </ul>
  </div>
</header>