.logo-lg {
  height: 20px;
  @media (min-width: 1200px) { height: 30px;}
}

.bg-lg-white {
  @media (min-width: 992px) {
    background-color: white!important;
  }
}

.icon-show-category {
  display: inline-block;
  transition: transform 200ms;
  transform: rotateX(0);
  &.active {
    transform: rotateX(180deg)
  }
}

.w-30p {
  width: 30px;
}