<header 
class="py-10p py-md-15p border-bottom border-line bg-background bg-lg-transparent" 
>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <a routerLink="/" class="d-flex flex-nowrap align-items-stretch">
        <img class="d-lg-none" src="assets/img/logo-sm.png" alt="PromptHealth" width="auto" height="20">
        <img class="d-none d-lg-block" src="assets/img/logo.png" alt="PromptHealth" width="auto" height="30">
        <div class="mx-1 mx-md-3 border-right border-body"></div>
        <span class="align-self-center text-dark subtitle2">Magazine</span>
      </a>
      <nav class="d-flex align-items-center">
        <ul class="d-none d-lg-flex justify-content-between align-items-center list-unstyled mb-0 subtitle2 text-body">
          <li class="mx-10p">
            <a routerLink="/practitioners" class="text-body">News</a>
          </li>
          <li class="mx-10p">
            <a routerLink="/products" class="text-body">Event</a>
          </li>
          <li class="mx-10p">
            <a href="" class="text-body">Videos</a>
          </li>
          
          <li class="mx-10p">
            <a routerLink="/blogs" class="text-body">Podcasts</a>
          </li>

          <li class="mx-10p">
            <a routerLink="/blogs" class="text-body">All categories</a>
          </li>
        </ul>
        <div class="ml-10p ml-md-30p">
          <a routerLink="/practitioners" class="btn btn-primary">Find practitioners</a>
        </div>
        <div class="d-lg-none ml-15p">
          <button class="btn btn-icon small pr-0" (click)="showMenu()">
            <!-- <i iconPh="menu" class="large"></i> -->
            <i class="fas fa-bars"></i>
          </button>
        </div>  
      </nav>
    </div>
  </div>
</header>

<div class="menu-sm bg-background" *ngIf="isMenuShown" [@fade]>
  <button class="btn btn-close pr-0 mr-15p mt-10p mt-mb-15p" (click)="hideMenu()">
    <i class="fas fa-times"></i>
  </button>

  <div class="d-flex flex-nowrap overflow-hidden" #menuSm>
    <div class="menu-inner py-5 p-3">
      <ul class="list-unstyled m-0 p-0">
        <li class="py-2">
          <a class="py-2 text-body subtitle1 d-block" routerLink="/magazines/category/news" (click)="hideMenu()">News</a>
        </li>
        <li class="py-2">
          <a class="py-2 text-body subtitle1 d-block" (click)="hideMenu()">Event</a>
        </li>
        <li class="py-2">
          <a class="py-2 text-body subtitle1 d-block" (click)="hideMenu()">Videos</a>
        </li>
        <li class="py-2">
          <a class="py-2 text-body subtitle1 d-block" (click)="hideMenu()">Podcasts</a>
        </li>
        <li class="py-2">
          <a class="py-2 text-body subtitle1 d-flex justify-content-between align-items-center" (click)="changeMenuTo(1)">
            All categories
            <i class="fas fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="menu-inner py-5 p-3">
      <button class="btn pl-0" (click)="changeMenuTo(0)">
        <i class="fas fa-chevron-left"></i>
      </button>
      <ul class="list-unstyled m-0 p-0">
        <li class="py-2">
          <a class="py-2 text-body subtitle1 d-block" routerLink="/magazines/category/news" (click)="hideMenu()">News</a>
        </li>
        <li class="py-2">
          <a class="py-2 text-body subtitle1 d-block" (click)="hideMenu()">Event</a>
        </li>
        <li class="py-2">
          <a class="py-2 text-body subtitle1 d-block" (click)="hideMenu()">Videos</a>
        </li>
        <li class="py-2">
          <a class="py-2 text-body subtitle1 d-block" (click)="hideMenu()">Podcasts</a>
        </li>
      </ul>
    </div>
  </div>
</div>
