<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <div class="row mb-4">
    <div class="col-md-4 mt-0">
      <label>
        Service
        <span class="text-danger">*</span>  
      </label>
    </div>
    <div class="col-md-8">
      <form-item-service
      [col2]="true"
      [disabled]="disabled"
      [data]="data.services"
      [controller]="f.service"
      [submitted]="isSubmitted"
      ></form-item-service>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-4 mt-0">
      <label>
        Status Of Customer's Health
        <span class="text-danger">*</span>
      </label>
    </div>
    <div class="col-md-8">
      <form-item-customer-health
      *ngIf="selectionsCustomerHealth"
      [col2]="true"
      [disabled]="disabled"
      [data]="data.services"
      type="detail"
      [selections]="selectionsCustomerHealth.answers"
      [controller]="f.customerHealth"
      [submitted]="isSubmitted"
      ></form-item-customer-health>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-4 mt-0">
      <label class="mb-4">
        Treatment Modality
        <!-- <span class="text-danger">*</span> -->
      </label>
    </div>
    <div class="col-md-8">
      <form-item-checkbox-group
      *ngIf="selectionsTreatmentModality"
      id="treatmentModality"
      type="checkbox"
      label="Treatment modality"
      [data]="data.services"
      [controller]="f.treatmentModality"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      [selections]="selectionsTreatmentModality"
      ></form-item-checkbox-group>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-4 mt-0">
      <label class="mb-4">
        Type Of Provider
        <!-- <span class="text-danger">*</span> -->
      </label>
    </div>
    <div class="col-md-8">
      <form-item-checkbox-group
      *ngIf="selectionsTypeOfProvider"
      id="typeOfProvider"
      type="checkbox"
      label="Type of provider"
      [data]="data.services"
      [controller]="f.typeOfProvider"
      [submitted]="isSubmitted"  
      [disabled]="disabled"
      [selections]="selectionsTypeOfProvider"
      ></form-item-checkbox-group>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-8">
      <p *ngIf="!disabled" class="font-italic bg-lightgrey p-3 line-height-1_5">
        Please only pick what's applicable to you to allow proper matching.
        We'll regularly review for inappropriate profiles
      </p>
    </div>
  </div>

  <div class="col-md-12 text-right" *ngIf="!disabled" [ngClass]="{'d-none': hideSubmit}">
    <button class="btn btn-primary">Submit</button>
  </div>
</form>