<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <div class="mb-40p">
    <h6>
      Are you a private provider or do you take insurance?
    </h6>
    <form-item-checkbox-group
    id="insurance"
    type="selectbox"
    label=""
    [controller]="f.acceptsInsurance"
    [submitted]="isSubmitted"
    [selections]="selectionsInsuranceType"
    ></form-item-checkbox-group>
  </div>

  <div class="mb-40p">
    <h6>
      Are you able to see people from other regions?
    </h6>
    <form-item-checkbox-group
    id="seeOtherRegion"
    type="selectbox"
    label=""
    [controller]="f.seeOtherRegion"
    [submitted]="isSubmitted"
    [selections]="selectionsSeeOtherRegion"
    ></form-item-checkbox-group>
  </div>

  <div class="mb-60p">
    <div class="mb-20p">
      <h6>Your specialities</h6>
      <div 
      class="py-10p px-20p bg-yellow-light border-left border-yellow text-yellow-dark mt-10p d-flex rounded-4p"
      style="border-width: 5px!important;"
      >
        <i iconPh="info" class="text-yellow-dark"></i>
        <span class="d-inline-block ml-5p body2">
          Please select only categories that you are well known.
        </span>
      </div>
    </div>
    <form-item-service
    [col2]="true"
    [data]="data.services"
    [requiredMainAtLeast]="1"
    [requiredMainAtMost]="3"
    [controller]="f.service"
    [submitted]="isSubmitted"
    ></form-item-service>
  </div>

  <div class="mb-60p">
    <h6 class="mb-20p">
      Status of customer's health
    </h6>
    <form-item-customer-health
    *ngIf="selectionsCustomerHealth"
    [col2]="true"
    [data]="data.services"
    type="detail"
    [selections]="selectionsCustomerHealth.answers"
    [controller]="f.customerHealth"
    [submitted]="isSubmitted"
    ></form-item-customer-health>
  </div>

  <div class="mb-60p">
    <h6 class="mb-20p">
      Type Of Provider (optional)
    </h6>
    <form-item-checkbox-group
    *ngIf="selectionsTypeOfProvider"
    id="typeOfProvider"
    type="checkbox"
    label="Type of provider"
    [data]="data.services"
    [controller]="f.typeOfProvider"
    [submitted]="isSubmitted"  
    [selections]="selectionsTypeOfProvider"
    ></form-item-checkbox-group>
  </div>

  <div class="mb-60p">
    <h6 class="mb-20p">
      Treatment Modality (optional)
    </h6>
    <form-item-checkbox-group
    *ngIf="selectionsTreatmentModality"
    id="treatmentModality"
    type="checkbox"
    label="Treatment modality"
    [data]="data.services"
    [controller]="f.treatmentModality"
    [submitted]="isSubmitted"
    [selections]="selectionsTreatmentModality"
    ></form-item-checkbox-group>
  </div>
  
  <div 
  class="text-right" 
  [ngClass]="{'d-none': hideSubmit}"
  >
    <input
    type="submit" 
    class="btn btn-primary"
    value="submit"
    [disabled]="disabled"
    >
  </div>
</form>