<div 
class="card position-relative rounded-8p bg-white body1 text-body px-20p pt-20p"
[ngClass]="{'shadow': !shorten}"
>
  <a 
  [id]="'card-' + post._id" 
  #anchor
  style="top: -100px; position: absolute;"
  ></a>

  <ng-container *ngIf="_option.showLinkToDetail">
    <a 
    [routerLink]="[post.linkToPost]" 
    class="text-body"
    (click)="markCurrentPosition()"
    >
      <ng-container *ngTemplateOutlet="clickableArea"></ng-container>
    </a>
  </ng-container>
  <ng-container *ngIf="!_option.showLinkToDetail">
    <ng-container *ngTemplateOutlet="clickableArea"></ng-container>
  </ng-container>

  <div class="py-10p border-top border-line">
    <card-item-toolbar #toolbar [post]="post"></card-item-toolbar>
  </div>    
</div>

<ng-template #clickableArea>
  <div>
    <ng-container *ngIf="post.isNote">
      <card-item-note  
      [post]="post" 
      [shorten]="shorten"
      ></card-item-note>
    </ng-container>

    <ng-container *ngIf="post.isEvent">
      <card-item-event 
      [post]="post" 
      [shorten]="shorten"
      ></card-item-event>  
    </ng-container>
    
    <ng-container *ngIf="post.isArticle">
      <card-item-article 
      [post]="post" 
      [shorten]="shorten"
      ></card-item-article>  
    </ng-container>

    <ng-container *ngIf="post.isPromo">
      <card-item-promo
      [post]="post" 
      [shorten]="shorten"
      ></card-item-promo>
    </ng-container>

    <!-- topics -->
    <div
    *ngIf="post.tags && topics"
    class="mt-20p mb-10p"
    >
      <div class="mb-0 list-unstyled topics">
        <ng-container *ngFor="let item of topics">
          <a
          *ngIf="post.tags.includes(item._id)" 
          [routerLink]="['/community/feed', item._id]"
          (click)="stopPropergation($event)"
          class="body2 text-body rounded-pill mr-10p mb-10p border d-inline-block text-body border-body"
          style="padding: 2px 8px"
          >{{item.item_text}}</a>
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>