.subscription-section{
    padding:100px 0;
    background-image: url("../../../assets/img/newslatter3.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;

> *{
    position: relative;
}

    &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left:0;
        background: #000;
        opacity: 0.3;
        top:0;
    }


h2{
    font-size: 28px;
    font-weight: 500;
}

h3{
    font-weight: 400;
}


.form-row{
    background-color: #4a86ab4d;
    padding: 25px;
    border-radius: 5px;
}

}

.form-control{
    border-radius: 0;
    line-height: initial;
    font-size: 14px;
    height: auto;
}