<ngx-spinner bdColor="#fff" size="medium" color="#fff">
    <p style="font-size: 20px; color: white" class="loaderbg">
        <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
    </p>
  </ngx-spinner>
<section class="subscription-section heightHF-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="mb-3">Subscribe to get notified of the latest updates</h2>
            </div>

            <div class="col-md-6">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <h3 class="mb-3 text-center">Subscription</h3>
                        <!-- <input type="name" placeholder="Your Name" class="form-control"> -->
                    </div>

                    <div class="col-md-12 mb-3">
                        <input type="email" placeholder="Your Email"  [(ngModel)]="email"  name="myEmail" #myEmail="ngModel" email pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" class="form-control">
                        <div  *ngIf="myEmail.errors && myEmail.errors.pattern">
                            Email is invalid
                        </div>
                    </div>

                    <!-- <div class="col-md-12 mb-2">
                        <label class="mb-0"><input type="checkbox" class="mr-2" /> I want to recieve newsletters</label>
                    </div> -->

                    <div class="col-md-12 mb-3 text-right">
                        <button class="btn btn-light rounded-0"[disabled]='myEmail.errors' (click)="Subscribe()">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
