savedAminities.amenity-options {
  margin: 10px auto;
  img {
    max-width: 60px;
  }
}
.img-list {
  width: 50px;
  border: 1px solid #bbb;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  height: 50px;
  background-color: #dededd;
  img {
    height: 48px;
    width: 100%;
    object-fit: contain;
  }
}

.multipleImage {
  border: 1px solid #bbb;
  margin: 5px;
  display: inline-block;
  height: 50px;
  width: 50px;
  text-align: center;
  position: relative;
  text-align: center;

  img {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    object-fit: cover;
  }
  a {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: #6d6e71;
    color: #fff;
    padding: 2px 3px 2px 4px;
  }
}

.add-more {
  float: right;
  margin-top: -5px;
}
.am-icons {
  max-width: 40px;
  max-height: 40px;
}

.upload-input {
  position: relative;
  > input {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    position: absolute;
  }
}

.amenityicon {
  position: relative;
  display: inline-block;
  padding: 6px;
  background-color: #6d6e711f;

  i.fa.fa-check {
    position: absolute;
    top: -6px;
    left: -2px;
    font-size: 13px;
    color: #4a86ab;
    display: none;
  }
  i.far.fa-square {
    position: absolute;
    top: -5px;
    left: -4px;
  }
  > input {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 1;
    &:checked {
      ~ img {
        opacity: 1;
      }
      ~ .fa.fa-check {
        display: inline-block;
      }
    }
  }
}
