<section class="container mt-100p">
  <div class="row">
    <ng-container *ngFor="let i of [0,1,2, 3]">
      <div 
      class="col-12 mb-md-100p"
      [ngClass]="{'col-md-12 mb-55p': (i == 0), 'col-lg-4 mb-30p': (i != 0)}"
      >
        <card-post [size]="(i == 0) ? 'large' : 'medium'"></card-post>
      </div>
  
    </ng-container>
  </div>
</section>

<div class="border-bottom"></div>

<section class="container my-100p">
  <div class="row justify-content-between align-items-center">
    <div class="d-none d-lg-block col-lg-4 col-xl-5">
      <p class="opacity-70pc">
        Want even more content to support you on your health and wellness journey? 
        Subscribe to the PromptHealth magazine to learn from our experts including fitness advice, recipes, mindfulness tips, and so much more. 
      </p>  
    </div>
    <div class="col-12 col-lg-7 col-xl-6 mb-30p">
      <h3 class="h4 h3-md text-center mb-15p mb-md-30p">
        Connect and stay engaged with your wellness community. 
      </h3>
      <div class="d-flex flex-column justify-content-stretch flex-md-row justify-content-md-between">
        <div class="flex-grow-1 mb-20p mb-md-0 mr-md-10p">
          <form-item-input 
          class="w-100"
          type="text"
          autocomplete="off"
          autocapitalize="off"
          placeholder="Your email address..."
          ></form-item-input>  
        </div>
        <button class="btn btn-primary">Subscribe</button>
      </div>
    </div>
  </div>
</section>

<section class="bg-body py-60p">
  <div class="container">
    <div class="col-12 col-md-7">

    </div>
    <div class="col-12 col-md-5">

    </div>
  </div>
</section>

<section class="mt-70p mb-100p">
  <div class="container">
    <div class="row">
      <h4 class="h4 h3-md mb-20p mb-md-30p">Categories</h4>
    </div>  
  </div>

  <div class="scroll-horizontal-container">
    <ul class="d-flex list-unstyled category-list">
      <li>Hormonal Health</li>
      <li>Hormonal Health</li>
      <li>Hormonal Health</li>
      <li>Hormonal Health</li>
      <li>Hormonal Health</li>
      <li>Hormonal Health</li>
      <li>Hormonal Health</li>
      <li>Hormonal Health</li>
      <li>Hormonal Health</li>
      <li>Hormonal Health</li>
    </ul>
  </div>
</section>