<section class="container mt-100p">
  <div class="row">
    <ng-container *ngFor="let p of latest; let i = index">
      <div 
      class="col-12 mb-md-100p"
      [ngClass]="{'col-md-12 mb-55p': (i == 0), 'col-lg-4 mb-30p': (i != 0)}"
      >
        <card-post [size]="(i == 0) ? 'large' : 'medium'" [data]="p"></card-post>
      </div>
  
    </ng-container>
  </div>
</section>

<div class="border-bottom"></div>

<section class="container my-100p">
  <section-subscription></section-subscription>
</section>

<section class="bg-body py-60p">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-7 d-flex flex-column">
        <div class="d-flex justify-content-between align-items-center mb-20p mb-md-30p">
          <h4 class="h4-temp h3-temp-md text-white mb-0">Videos</h4>
          <a class="text-white subtitle1-temp" routerLink="/magazines/media-type/video">All videos</a>
        </div>
        <ul class="mb-20p mb-md-30p p-0 list-unstyled videos flex-grow-1" #videosContainer>
          <li 
          *ngFor="let v of videos; let i = index" 
          class="card-video flex-grow-1 w-100 position-relative"
          >
            <a [routerLink]="['/magazines/' + (v ? v.slug : '') ]">
              <div class="position-relative eyecatch-container rounded-12p h-100">
                <div *ngIf="!v" class="eyecatch-dummy bg-dark"></div>
                <img *ngIf="v" class="eyecatch" [src]="v.image" alt="">
              </div>
              <h5
              class="title text-light h6-temp h5-temp-md clamp-2line px-15p mb-15p"
              [ngClass]="{'h5-temp-lg px-lg-30p': (i == 0), 'subtitle1-temp-lg px-lg-15p': (i > 0)}"
              >
                <span *ngIf="v">{{v.title}}</span>
              </h5>
            </a>
          </li>
        </ul>
        <div class="d-flex justify-content-center d-lg-none mb-30p">
          <div *ngFor="let v of videos; let i = index;">
            <button class="btn p-5p mx-2" (click)="moveVideoCarouselTo(i)">
              <div 
              class="paginator-circle" 
              [ngClass]="{'bg-primary': (idxCurrentCarouselVideo == i), 'bg-line opacity-30pc': (idxCurrentCarouselVideo != i)}"
              ></div>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-5">
        <h4 class="h4-temp h3-temp-md text-white mb-20p mb-md-30p">Podcast</h4>
        <ul class="mb-20p mb-md-30p p-0 list-unstyled">
          <li *ngFor="let p of podcasts" class="mb-20p">
            <a [routerLink]="['/magazines/' + (p ? p.slug : '')]" class="d-flex flex-nowrap align-items-stretch card-podcast">
              <div class="eyecatch-container position-relative">
                <img *ngIf="p" class="eyecatch" [src]="p.image">
              </div>
              <div class="info-container ml-3">
                <div class="mb-10p text-nowrap body2-temp text-placeholder">
                  <div *ngIf="p">
                    <i class="far fa-calendar mr-1"></i>
                    <span>{{p.createdAt | date:'longDate'}}</span>
                  </div>
                </div>
                <h5 class="body1-temp text-white mb-0 clamp-2line">{{p?.title}}</h5>
              </div>
            </a>
          </li>
        </ul>
        <div class="mb-30p">
          <a class="text-primary subtitle1-temp on-black" routerLink="/magazines/media-type/podcast">
            Browse all episodes
            <i class="fas fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-70p mb-100p">
  <div class="container">
    <h4 class="h4-temp h3-temp-md mb-20p mb-md-30p">Topics</h4>
  </div>

  <div class="scroll-horizontal-container border-bottom">
    <ul class="d-flex list-unstyled tag-list m-0">
      <li
      class="btn text-nowrap position-relative body1-temp"
      [ngClass]="{active: (idxTagActive === null)}"
      (click)="onTapTag()"
      >All</li>
      <li
      *ngFor="let tag of tags; let i = index"
      class="btn text-nowrap position-relative body1-temp"
      [ngClass]="{active: (i == idxTagActive)}"
      (click)="onTapTag(i)"
      >{{tag.title}}</li>
    </ul>
  </div>

  <div class="container mt-20p mt-lg-40p">
    <div class="row">
      <ng-container *ngIf="latestByTag && latestByTag.length == 0">
        <p class="subtitle1-temp">No posts found...</p>
      </ng-container>
      <ng-container *ngFor="let p of latestByTag; let i = index;">
        <div 
        class="col-12 col-lg-4 mb-30p mb-lg-50p"
        [ngClass]="{'col-lg-4': (i < 3), 'col-lg-3': (i>=3) }"
        >
          <div class="d-none d-lg-block">
            <card-post [size]="(i < 3) ? 'medium' : 'small'" [showCategory]="false" [data]="p"></card-post>
          </div>
          <div class="d-block d-lg-none">
            <card-post size="small" [showCategory]="false" [data]="p"></card-post>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>

<section>
  <section-signup></section-signup>
</section>