@import "../../../assets/scss/mixins";
@import "../../../assets/scss/variables";

$colorStepperInactive: #aacfff;

.bg-lightgrey{ background: #E5E5E5; }

:host{
    font-size: 16px;
}


@import '../../../assets/scss/responsive_variables';
.heightH-100 {
  min-height: calc(100vh - #{$headerHeight});
  @media (min-width: 768px){
    min-height: calc(100vh - #{$headerHeightMd});
  }
  @media (min-width: 992px){
    min-height: calc(100vh - #{$headerHeightLg});
  }
}

.user-input-wrapper{
    min-height: calc(100vh - #{ 172 + $headerHeight});
    @media screen and (min-width: 768px){
        min-height: 350px;
    }
}

.button-group{
  position: sticky;
  bottom: 0;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 10px;
  background: white;
}

.image-questionnaire{
  position: absolute;
  bottom: 120%;
  right: 0;
  height: auto;
  width: 35%;
}

.sticky-top-sm{
  @media screen and (max-width: 767px){
    position: sticky;
    top: $headerHeight;
  }
  z-index: 20;
  background: #ffffff80;
  backdrop-filter: blur(10px);
}

.stepper-road-sm{
  position: relative;
  width: 100%;
  height: 15px;
  background: $colorStepperInactive;

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $colorPrimary;
    transition: transform 300ms;
    transform-origin: left;
  }
  &.pos-0::after{ transform: scaleX(0.25); }
  &.pos-1::after{ transform: scaleX(0.50); }
  &.pos-2::after{ transform: scaleX(0.75); }
  &.pos-3::after{ transform: scaleX(1); }
}

.stepper-item-sm{
  color: $colorPrimary;
  font-size: 1.2em;
}

.stepper-road{
  position: absolute;
  width: 100%;
  height: 4px;
  top: 10px;
  background: $colorPrimary;
}
.stepper-item{
  position: relative;
  .point{
    width: 24px;
    height: 24px;
    margin: 0 auto 15px;
    background: $colorStepperInactive;
    transition: transform 200ms;
  }
  .label{ 
    color: $colorPrimary; 
    white-space: nowrap;
  }

  &.active{
    .point{ 
      background: $colorPrimary;
      transform: scale(1.1);
      transform-origin: center;
    }

    .label{
      -webkit-text-stroke: 1px; 
    }
  }
}