<section
  class="bg-cover detailbanner bg-overlay"
  style="background-image: url(assets/img/professional-banner.png);"
>
  <div class="container text-center text-light">
    <h2>Profile Management</h2>
  </div>
</section>

<div class="container pb-4 position-relative">
  <div class="shadow bg-white">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 px-3 px-sm-0">
          <!-- Nav tabs -->
          <ul
            class="nav h-100 flex-column bg-light font-weight-normal"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item">
              <a
                class="nav-link active"
                id="personal-information-tab"
                data-toggle="pill"
                href="#pills-personal-information"
                role="tab"
                aria-controls="pills-personal-information"
                aria-selected="true"
                >Personal Information</a
              >
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
                id="information-tab"
                data-toggle="pill"
                href="#pills-information"
                role="tab"
                aria-controls="pills-information"
                aria-selected="false"
                >Practice Information</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="service-tab"
                data-toggle="pill"
                href="#pills-service"
                role="tab"
                aria-controls="pills-service"
                aria-selected="false"
                >Service Information</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="professional-tab"
                data-toggle="pill"
                href="#pills-professional"
                role="tab"
                aria-controls="pills-professional"
                aria-selected="false"
                >Professional Background</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="Activity-tab"
                data-toggle="pill"
                href="#pills-Activity"
                role="tab"
                aria-controls="pills-Activity"
                aria-selected="false"
                >My Activity</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="blog-tab"
                data-toggle="pill"
                href="#pills-blog"
                role="tab"
                aria-controls="pills-blog"
                aria-selected="false"
                >Blogs</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="Videos-tab"
                data-toggle="pill"
                href="#pills-Videos"
                role="tab"
                aria-controls="pills-Videos"
                aria-selected="false"
                >Videos</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="Announcement-tab"
                data-toggle="pill"
                href="#pills-Announcement"
                role="tab"
                aria-controls="pills-Announcement"
                aria-selected="false"
                >Announcement</a
              >
            </li>
          </ul>
        </div>

        <div class="col-md-9">
          <!-- Tab panes -->
          <div class="tab-content py-3">
            <div
              class="tab-pane active"
              id="pills-personal-information"
              role="tabpanel"
              aria-labelledby="personal-information-tab"
            >
              <h4 class="mb-3">Personal Information</h4>
              <div class="form-row">
                <div class="col-md-3 mb-3">
                  <div class="d-inline-block profileeditbox">
                    <img src="assets/img/man-testimonial.jpg" />
                    <input type="file" />
                  </div>
                </div>

                <div class="col-md-9">
                  <div class="form-group mb-3">
                    <label>First Name <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      placeholder="Enter Your First Name"
                      class="form-control"
                    />
                  </div>

                  <div class="form-group mb-3">
                    <label>Last Name <span class="text-danger">*</span></label>
                    <input
                      type="text"
                      placeholder="Enter Your Last Name"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <label
                    >Email Address <span class="text-danger">*</span></label
                  >
                  <input
                    type="email"
                    placeholder="Enter Your Email Address"
                    class="form-control"
                  />
                </div>

                <div class="col-md-6 mb-3">
                  <label>Phone Number <span class="text-danger">*</span></label>
                  <input
                    type="number"
                    placeholder="Enter Your Phone Number"
                    class="form-control"
                  />
                </div>

                <div class="col-md-6 mb-3">
                  <label>Designation <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    placeholder="Enter Your Designation"
                    class="form-control"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>Address <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    placeholder="Enter Your Address"
                    class="form-control"
                  />
                </div>

                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
            <div
              class="tab-pane"
              id="pills-information"
              role="tabpanel"
              aria-labelledby="information-tab"
            >
              <h4 class="mb-3">Practice Information</h4>
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label>
                    Practice Philosophy
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Pratice Philosophy"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>Age Group <span class="text-danger">*</span></label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Age Group"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>Language Fluency</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Language Fluency"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>Practice / Cultural</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Practice / Cultural"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>Specialties</label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Specialties"
                  />
                </div>

                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
            <div
              class="tab-pane"
              id="pills-service"
              role="tabpanel"
              aria-labelledby="service-tab"
            >
              <h4 class="mb-3">Service Information</h4>
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label>
                    Problem Specialties
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Problem Specialties"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                    Problems Treated
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Problems Treated"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                    Treatment Approaches
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Treatment Approaches"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                    Insurance Accepted
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Insurance Accepted"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                    Standard Hourly Price
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Standard Hourly Price"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                    Service Types
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Service Types"
                  />
                </div>

                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
            <div
              class="tab-pane"
              id="pills-professional"
              role="tabpanel"
              aria-labelledby="professional-tab"
            >
              
            <h4 class="mb-3">Professional Background</h4>
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label>
                   Education
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Education"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                   Degree
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Degree"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                   State of Licensure
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter State of Licensure"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                   License Number
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter License Number"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                   Years of Experience
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Years of Experience"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                   Hospital Affiliation
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Hospital Affiliation"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                   Teaching Experience
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Teaching Experience"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                   Professional
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Professional"
                  />
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                   Organzation Affiliations
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Organzation Affiliations"
                  />
                </div>

                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

              </div>
            </div>
            <div
              class="tab-pane"
              id="pills-Activity"
              role="tabpanel"
              aria-labelledby="Activity-tab"
            >
              
               <h4 class="mb-3">My Activity</h4>

              <div class="form-row">
              <div class="col-md-12 mb-3">
              <h5 class="mb-2">Forms</h5>
              <hr class="mt-0"/>
                <label>Pdf Title <span class="text-danger">*</span></label>
                <input type="text" class="form-control" placeholder="Enter Pdf Title"/>
              </div>

              <div class="col-md-12 mb-3">
                <label>Pdf Descrption <span class="text-danger">*</span></label>
                <textarea class="form-control" placeholder="Enter Pdf Descrption"></textarea>
              </div>

              <div class="col-md-12 d-flex justify-content-between align-items-end">
                <div>
                <label>Upload Pdf <span class="text-danger">*</span></label><br/>
                <input type="file" class="btn pdffileinput"/>
                </div>
                <input type="submit" class="btn btn-primary" value="Add Video">
              </div>
              </div>

              <div class="mt-3 mb-4 formsoverflow">
            
              <div class="mb-3"  *ngFor="let pdf of pdfs">
              <a href="{{pdf.pdf}}" target="_new" class="d-block font-weight-bold mb-2 text-primary">
                {{pdf.title}}
              </a>
              <div class="d-flex">
                <a href="{{pdf.pdf}}" target="_new" class="faviconbox d-block"></a>
                <div class="p-2">
                  {{pdf.desc}}
                  <br />
                  <a href="" class="btn btn-danger mt-2 mr-2 p-2"><i class="fa fa-trash"></i></a>
                  <a href="" class="btn btn-primary mt-2 p-2" data-toggle="modal" data-target="#editpdfmodal"><i class="fa fa-edit"></i></a>
                </div>
              </div>
              </div>
              
              </div>

              <h5 class="mb-2">Groups and Seminars</h5>
              <hr class="mt-0"/>
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label>Seminars <span class="text-danger">*</span></label>
                  <textarea class="form-control" placeholder="Enter Your Seminars"></textarea>
                </div>
                <div class="col-md-12 text-right">
                  <input type="submit" class="btn btn-primary" />
                </div>
                </div>
            </div>
            <div
              class="tab-pane"
              id="pills-blog"
              role="tabpanel"
              aria-labelledby="blog-tab"
            >
              
              <h4 class="mb-3">Blogs</h4>

              <div class="form-row">
              <div class="col-md-12">

              <div class="form-row mb-4">
                <div class="col-md-12 mb-3">
                  <label>
                    Blog title
                    <span class="text-danger">*</span>
                  </label>
                  <input
                  type="text"
                    class="form-control"
                    placeholder="Enter Blog title"
                  >
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                    Blog Descrption
                    <span class="text-danger">*</span>
                  </label>
                  <textarea
                    class="form-control"
                    placeholder="Enter Blog Descrption"
                  ></textarea>
                </div>

                <div class="col-md-12 mb-3 d-flex justify-content-between align-items-end">
                  <div>
                  <label>
                    Blog image
                    <span class="text-danger">*</span>
                  </label><br/>
                  <input
                  type="file"
                    class="btn imagefileinput"
                  >
                  </div>
                  <button type="submit" class="btn btn-primary">Add Blog</button>
                </div>
                </div>

                </div>
                </div>

            <div class="mt-3">
            <div class="row mb-3" *ngFor="let blog of blogs">
            <div class="col-md-3">
              <img src="{{blog.img}}" class="blogimg w-100 rounded" />
            </div>
            <div class="col-md-9">
              <h5>{{blog.title}}</h5>
              <div class="mb-2 font-weight-normal">
                <i class="fa fa-edit"></i> Posted By
                <span class="text-primary"> Robert Kauffman, Lcsw </span>
                <i class="fa fa-calendar ml-2"></i> {{blog.date}}
              </div>
              {{blog.desc}}
              <div class="pull-right">
              <a href="" class="font-weight-normal text-danger"
                ><i class="fa fa-trash"></i> Delete</a>
                <a href="" class="font-weight-normal text-primary ml-2" data-toggle="modal" data-target="#editblogmodal"
                ><i class="fa fa-edit"></i> Edit</a>
                </div>
            </div>
          </div>
      
          </div>

            </div>
            <div
              class="tab-pane"
              id="pills-Videos"
              role="tabpanel"
              aria-labelledby="Videos-tab"
            >
              
              <h4 class="mb-3">Videos</h4>
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label>
                    Upload Video
                    <span class="text-danger">*</span>
                  </label><br/>
                  <input type="file" class="btn videofileinput"/>
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                    Video Descrption
                    <span class="text-danger">*</span>
                  </label>
                  <textarea class="form-control" placeholder="Enter Video Descrption"></textarea>
                </div>

                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

              </div>
            </div>
            <div
              class="tab-pane"
              id="pills-Announcement"
              role="tabpanel"
              aria-labelledby="Announcement-tab"
            >
              
              <h4 class="mb-3">Announcement</h4>
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label>
                    Announcement
                    <span class="text-danger">*</span>
                  </label>
                  <textarea
                    class="form-control"
                    placeholder="Enter Announcement"
                  ></textarea>
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                    Your Site Link
                  </label>
                  <input
                  type="text"
                    class="form-control"
                    placeholder="Enter Your Site Link"
                  >
                </div>

                <div class="col-md-12 mb-3">
                  <label>
                    Upload Logo
                  </label><br/>
                  <input
                  type="file"
                  class="btn imagefileinput"
                  >
                </div>

                <div class="col-md-12 text-right">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edit Blog -->
<div class="modal fade" id="editblogmodal" tabindex="-1" role="dialog" aria-labelledby="editblogmodalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editblogmodalTitle">Edit Blog</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <div class="d-inline-block blogimageeditbox">
                  <img src="{{blogs[0].img}}" />
                  <input type="file" />
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <label>Blog Title <span class="text-danger">*</span></label>
                <input type="text" class="form-control" value="{{blogs[0].title}}" placeholder="Enter Blog Title" />
            </div>

            <div class="col-md-12 mb-3">
                <label>Blog Description <span class="text-danger">*</span></label>
                <textarea class="form-control" value="{{blogs[0].desc}}" placeholder="Enter Blog Description"></textarea>
            </div>
            
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Edit Blog End -->


<!-- Modal Edit Pdf -->
<div class="modal fade" id="editpdfmodal" tabindex="-1" role="dialog" aria-labelledby="editpdfmodalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editpdfmodalTitle">Edit Pdf</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <div class="d-inline-block pdfimageeditbox">
                  <img src="assets/img/favicon.jpg" />
                  <input type="file" />
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <label>Pdf Title <span class="text-danger">*</span></label>
                <input type="text" class="form-control" value="{{pdfs[0].title}}" placeholder="Enter Blog Title" />
            </div>

            <div class="col-md-12 mb-3">
                <label>Pdf Description <span class="text-danger">*</span></label>
                <textarea class="form-control" value="{{pdfs[0].desc}}" placeholder="Enter Blog Description"></textarea>
            </div>
            
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Edit Pdf End -->