@import '../../../assets/scss/variables';

:host{ 
    white-space: nowrap; 
    color: $colorYellow;
}

.star-container{
    display: inline-block;
    height: 1em;
    
    font-size: 20px;
    &.simple{ font-size: 18px;}
    &.size-xs { font-size: 14px; }
    &.size-s{  font-size: 16px; }
    &.size-l{  font-size: 24px; }

    i:first-child {
        margin-left: 0!important;
    }
    i:last-child {
        margin-right: 0!important;
    }

    i.inactive {
        color: $colorGsPlaceholder;
    }
}
    
.icon-star-filled, .icon-dollar{
    font-size: 1em;    
}    

.rate{ font-size: 16px; }