<span *ngIf="!simple">
    <i class="fas fa-star"
        *ngIf="rate >= 1"
        [ngClass]="{'mr-2': (margin == 'regular'), 'mr-3': (margin == 'big'), 'mr-1': (margin == 'small'), 'size-s': (size == 'small'), 'size-l': (size == 'big')}"
    ></i>
    <i class="fas fa-star" 
        *ngIf="rate >= 2"
        [ngClass]="{'mr-2': (margin == 'regular'), 'mr-3': (margin == 'big'), 'mr-1': (margin == 'small'), 'size-s': (size == 'small'), 'size-l': (size == 'big')}"
    ></i>
    <i class="fas fa-star" 
        *ngIf="rate >= 3"
        [ngClass]="{'mr-2': (margin == 'regular'), 'mr-3': (margin == 'big'), 'mr-1': (margin == 'small'), 'size-s': (size == 'small'), 'size-l': (size == 'big')}"
    ></i>
    <i class="fas fa-star" 
        *ngIf="rate >= 4"
        [ngClass]="{'mr-2': (margin == 'regular'), 'mr-3': (margin == 'big'), 'mr-1': (margin == 'small'), 'size-s': (size == 'small'), 'size-l': (size == 'big')}"
    ></i>
    <i class="fas fa-star" 
        *ngIf="rate >= 5"
        [ngClass]="{'mr-2': (margin == 'regular'), 'mr-3': (margin == 'big'), 'mr-1': (margin == 'small'), 'size-s': (size == 'small'), 'size-l': (size == 'big')}"
    ></i>
</span>

<span *ngIf="simple">
    <i class="fas fa-star simple"
        [ngClass]="{'size-s': (size == 'small'), 'size-l': (size == 'big')}"
    ></i>
    {{rate}}
</span>