$icomoon-font-family: "ph" !default;
$icomoon-font-path: "fonts" !default;

$icon-briefcase-doctor: "\ec4e";
$icon-toggle-on-path1: "\e900";
$icon-toggle-on-path2: "\e901";
$icon-search-path1: "\e902";
$icon-search-path2: "\e903";
$icon-receipt-path1: "\e904";
$icon-receipt-path2: "\e905";
$icon-activity-2: "\e906";
$icon-bulb-path1: "\e907";
$icon-bulb-path2: "\e908";
$icon-megaphone-path1: "\e909";
$icon-megaphone-path2: "\e90a";
$icon-briefcase-2-path1: "\e90b";
$icon-briefcase-2-path2: "\e90c";
$icon-bed-path1: "\e90d";
$icon-bed-path2: "\e90e";
$icon-target-path1: "\e90f";
$icon-target-path2: "\e910";
$icon-crosshair-path1: "\e911";
$icon-crosshair-path2: "\e912";
$icon-airplay-path1: "\e913";
$icon-airplay-path2: "\e914";
$icon-inbox-out-path1: "\e915";
$icon-inbox-out-path2: "\e916";
$icon-sliders-horiz-2-path1: "\e917";
$icon-sliders-horiz-2-path2: "\e918";
$icon-wifi-slash: "\e919";
$icon-tag-2-path1: "\e91a";
$icon-tag-2-path2: "\e91b";
$icon-umbrella-path1: "\e91c";
$icon-umbrella-path2: "\e91d";
$icon-emotion-sad-path1: "\e91e";
$icon-emotion-sad-path2: "\e91f";
$icon-checkbox-square-path1: "\e920";
$icon-checkbox-square-path2: "\e921";
$icon-home-path1: "\e922";
$icon-home-path2: "\e923";
$icon-copyright-path1: "\e924";
$icon-copyright-path2: "\e925";
$icon-smartphone-path1: "\e926";
$icon-smartphone-path2: "\e927";
$icon-watch-2-path1: "\e928";
$icon-watch-2-path2: "\e929";
$icon-shopping-cart-2-path1: "\e92a";
$icon-shopping-cart-2-path2: "\e92b";
$icon-flag-2-path1: "\e92c";
$icon-flag-2-path2: "\e92d";
$icon-flag-3-path1: "\e92e";
$icon-flag-3-path2: "\e92f";
$icon-ticket-path1: "\e930";
$icon-ticket-path2: "\e931";
$icon-brackets: "\e932";
$icon-tag-path1: "\e933";
$icon-tag-path2: "\e934";
$icon-briefcase-path1: "\e935";
$icon-briefcase-path2: "\e936";
$icon-inbox-path1: "\e937";
$icon-inbox-path2: "\e938";
$icon-plus-square-path1: "\e939";
$icon-plus-square-path2: "\e93a";
$icon-power: "\e93b";
$icon-devices-path1: "\e93c";
$icon-devices-path2: "\e93d";
$icon-terminal-path1: "\e93e";
$icon-terminal-path2: "\e93f";
$icon-presentation-chart-path1: "\e940";
$icon-presentation-chart-path2: "\e941";
$icon-keyboard-path1: "\e942";
$icon-keyboard-path2: "\e943";
$icon-fire-path1: "\e944";
$icon-fire-path2: "\e945";
$icon-shopping-bag-path1: "\e946";
$icon-shopping-bag-path2: "\e947";
$icon-sliders-horiz-path1: "\e948";
$icon-sliders-horiz-path2: "\e949";
$icon-toggle-off-path1: "\e94a";
$icon-toggle-off-path2: "\e94b";
$icon-sort-text: "\e94c";
$icon-box-2-path1: "\e94d";
$icon-box-2-path2: "\e94e";
$icon-brush-path1: "\e94f";
$icon-brush-path2: "\e950";
$icon-at: "\e951";
$icon-thumbs-down-path1: "\e952";
$icon-thumbs-down-path2: "\e953";
$icon-archive-path1: "\e954";
$icon-archive-path2: "\e955";
$icon-bulb-slash-path1: "\e956";
$icon-bulb-slash-path2: "\e957";
$icon-keyboard-show-path1: "\e958";
$icon-keyboard-show-path2: "\e959";
$icon-tags-2-path1: "\e95a";
$icon-tags-2-path2: "\e95b";
$icon-planet-path1: "\e95c";
$icon-planet-path2: "\e95d";
$icon-book-open-path1: "\e95e";
$icon-book-open-path2: "\e95f";
$icon-glasses-vr-path1: "\e960";
$icon-glasses-vr-path2: "\e961";
$icon-battery-charging-path1: "\e962";
$icon-battery-charging-path2: "\e963";
$icon-bed-2-path1: "\e964";
$icon-bed-2-path2: "\e965";
$icon-inbox-in-path1: "\e966";
$icon-inbox-in-path2: "\e967";
$icon-bookmark-minus-path1: "\e968";
$icon-bookmark-minus-path2: "\e969";
$icon-layers-path1: "\e96a";
$icon-layers-path2: "\e96b";
$icon-slash-path1: "\e96c";
$icon-slash-path2: "\e96d";
$icon-book-path1: "\e96e";
$icon-book-path2: "\e96f";
$icon-heart-slash-path1: "\e970";
$icon-heart-slash-path2: "\e971";
$icon-plug-path1: "\e972";
$icon-plug-path2: "\e973";
$icon-dashboard-path1: "\e974";
$icon-dashboard-path2: "\e975";
$icon-thermometer-path1: "\e976";
$icon-thermometer-path2: "\e977";
$icon-cast-path1: "\e978";
$icon-cast-path2: "\e979";
$icon-flag-path1: "\e97a";
$icon-flag-path2: "\e97b";
$icon-battery-1-path1: "\e97c";
$icon-battery-1-path2: "\e97d";
$icon-battery-path1: "\e97e";
$icon-battery-path2: "\e97f";
$icon-sliders-vert-2-path1: "\e980";
$icon-sliders-vert-2-path2: "\e981";
$icon-sliders-vert-2-path3: "\e982";
$icon-newspaper-path1: "\e983";
$icon-newspaper-path2: "\e984";
$icon-emotion-smile-path1: "\e985";
$icon-emotion-smile-path2: "\e986";
$icon-sliders-vert-path1: "\e987";
$icon-sliders-vert-path2: "\e988";
$icon-bed-1-path1: "\e989";
$icon-bed-1-path2: "\e98a";
$icon-emotion-neutral-path1: "\e98b";
$icon-emotion-neutral-path2: "\e98c";
$icon-trophy-path1: "\e98d";
$icon-trophy-path2: "\e98e";
$icon-plus: "\e98f";
$icon-check: "\e990";
$icon-battery-3-path1: "\e991";
$icon-battery-3-path2: "\e992";
$icon-nut-path1: "\e993";
$icon-nut-path2: "\e994";
$icon-more-vert-path1: "\e995";
$icon-more-vert-path2: "\e996";
$icon-hard-drive-path1: "\e997";
$icon-hard-drive-path2: "\e998";
$icon-bluetooth: "\e999";
$icon-headphones-path1: "\e99a";
$icon-headphones-path2: "\e99b";
$icon-filter-2-path1: "\e99c";
$icon-filter-2-path2: "\e99d";
$icon-email-path1: "\e99e";
$icon-email-path2: "\e99f";
$icon-wifi: "\e9a0";
$icon-watch-path1: "\e9a1";
$icon-watch-path2: "\e9a2";
$icon-battery-2-path1: "\e9a3";
$icon-battery-2-path2: "\e9a4";
$icon-flashcard-path1: "\e9a5";
$icon-flashcard-path2: "\e9a6";
$icon-loader: "\e9a7";
$icon-gear-path1: "\e9a8";
$icon-gear-path2: "\e9a9";
$icon-memory-card-path1: "\e9aa";
$icon-memory-card-path2: "\e9ab";
$icon-copy-path1: "\e9ac";
$icon-copy-path2: "\e9ad";
$icon-zoom-in-path1: "\e9ae";
$icon-zoom-in-path2: "\e9af";
$icon-glasses-path1: "\e9b0";
$icon-glasses-path2: "\e9b1";
$icon-sort-number: "\e9b2";
$icon-bookmarks-path1: "\e9b3";
$icon-bookmarks-path2: "\e9b4";
$icon-rocket-2-path1: "\e9b5";
$icon-rocket-2-path2: "\e9b6";
$icon-broadcast: "\e9b7";
$icon-inbox-filled-path1: "\e9b8";
$icon-inbox-filled-path2: "\e9b9";
$icon-sticker-path1: "\e9ba";
$icon-sticker-path2: "\e9bb";
$icon-award-path1: "\e9bc";
$icon-award-path2: "\e9bd";
$icon-zoom-out-path1: "\e9be";
$icon-zoom-out-path2: "\e9bf";
$icon-baby-carriage-path1: "\e9c0";
$icon-baby-carriage-path2: "\e9c1";
$icon-box-path1: "\e9c2";
$icon-box-path2: "\e9c3";
$icon-thumbs-up-path1: "\e9c4";
$icon-thumbs-up-path2: "\e9c5";
$icon-checkbox-circle-path1: "\e9c6";
$icon-checkbox-circle-path2: "\e9c7";
$icon-emotion-happy-path1: "\e9c8";
$icon-emotion-happy-path2: "\e9c9";
$icon-send-path1: "\e9ca";
$icon-send-path2: "\e9cb";
$icon-speaker-path1: "\e9cc";
$icon-speaker-path2: "\e9cd";
$icon-loading-trolley-path1: "\e9ce";
$icon-loading-trolley-path2: "\e9cf";
$icon-truck-path1: "\e9d0";
$icon-truck-path2: "\e9d1";
$icon-more-horiz-path1: "\e9d2";
$icon-more-horiz-path2: "\e9d3";
$icon-infinity: "\e9d4";
$icon-diskette-path1: "\e9d5";
$icon-diskette-path2: "\e9d6";
$icon-dashboard-2-path1: "\e9d7";
$icon-dashboard-2-path2: "\e9d8";
$icon-trash-path1: "\e9d9";
$icon-trash-path2: "\e9da";
$icon-emails-path1: "\e9db";
$icon-emails-path2: "\e9dc";
$icon-hashtag: "\e9dd";
$icon-star-path1: "\e9de";
$icon-star-path2: "\e9df";
$icon-barchart-path1: "\e9e0";
$icon-barchart-path2: "\e9e1";
$icon-wrench-path1: "\e9e2";
$icon-wrench-path2: "\e9e3";
$icon-loader-2: "\e9e4";
$icon-anchor-path1: "\e9e5";
$icon-anchor-path2: "\e9e6";
$icon-wheelchair-path1: "\e9e7";
$icon-wheelchair-path2: "\e9e8";
$icon-lifebuoy-path1: "\e9e9";
$icon-lifebuoy-path2: "\e9ea";
$icon-bookmark-plus-path1: "\e9eb";
$icon-bookmark-plus-path2: "\e9ec";
$icon-weighter-2-path1: "\e9ed";
$icon-weighter-2-path2: "\e9ee";
$icon-star-slash-path1: "\e9ef";
$icon-star-slash-path2: "\e9f0";
$icon-plus-circle-path1: "\e9f1";
$icon-plus-circle-path2: "\e9f2";
$icon-shopping-bag-2-path1: "\e9f3";
$icon-shopping-bag-2-path2: "\e9f4";
$icon-battery-slash-path1: "\e9f5";
$icon-battery-slash-path2: "\e9f6";
$icon-trash-2-path1: "\e9f7";
$icon-trash-2-path2: "\e9f8";
$icon-emotion-wow-path1: "\e9f9";
$icon-emotion-wow-path2: "\e9fa";
$icon-gift-path1: "\e9fb";
$icon-gift-path2: "\e9fc";
$icon-share-path1: "\e9fd";
$icon-share-path2: "\e9fe";
$icon-tags-path1: "\e9ff";
$icon-tags-path2: "\ea00";
$icon-gear-2-path1: "\ea01";
$icon-gear-2-path2: "\ea02";
$icon-modules-path1: "\ea03";
$icon-modules-path2: "\ea04";
$icon-activity-path1: "\ea05";
$icon-activity-path2: "\ea06";
$icon-filter: "\ea07";
$icon-dumbell-path1: "\ea08";
$icon-dumbell-path2: "\ea09";
$icon-cross: "\ea0a";
$icon-hashtag-circle-path1: "\ea0b";
$icon-hashtag-circle-path2: "\ea0c";
$icon-minus-circle-path1: "\ea0d";
$icon-minus-circle-path2: "\ea0e";
$icon-laptop-path1: "\ea0f";
$icon-laptop-path2: "\ea10";
$icon-sort-text-reverse: "\ea11";
$icon-presentation-line-path1: "\ea12";
$icon-presentation-line-path2: "\ea13";
$icon-cut-path1: "\ea14";
$icon-cut-path2: "\ea15";
$icon-cut-path3: "\ea16";
$icon-plug-slash-path1: "\ea17";
$icon-plug-slash-path2: "\ea18";
$icon-invoice-path1: "\ea19";
$icon-invoice-path2: "\ea1a";
$icon-bookmark-check-path1: "\ea1b";
$icon-bookmark-check-path2: "\ea1c";
$icon-keyboard-hide-path1: "\ea1d";
$icon-keyboard-hide-path2: "\ea1e";
$icon-bookmark-path1: "\ea1f";
$icon-bookmark-path2: "\ea20";
$icon-rocket-path1: "\ea21";
$icon-rocket-path2: "\ea22";
$icon-tablet-path1: "\ea23";
$icon-tablet-path2: "\ea24";
$icon-atom-path1: "\ea25";
$icon-atom-path2: "\ea26";
$icon-yin-yang-path1: "\ea27";
$icon-yin-yang-path2: "\ea28";
$icon-menu: "\ea29";
$icon-processor-path1: "\ea2a";
$icon-processor-path2: "\ea2b";
$icon-weighter-path1: "\ea2c";
$icon-weighter-path2: "\ea2d";
$icon-shopping-cart-path1: "\ea2e";
$icon-shopping-cart-path2: "\ea2f";
$icon-mouse-path1: "\ea30";
$icon-mouse-path2: "\ea31";
$icon-shopping-basket-path1: "\ea32";
$icon-shopping-basket-path2: "\ea33";
$icon-bookmark-slash-path1: "\ea34";
$icon-bookmark-slash-path2: "\ea35";
$icon-monitor-path1: "\ea36";
$icon-monitor-path2: "\ea37";
$icon-minus: "\ea38";
$icon-headphones-2-path1: "\ea39";
$icon-headphones-2-path2: "\ea3a";
$icon-weight-path1: "\ea3b";
$icon-weight-path2: "\ea3c";
$icon-sort-number-reverse: "\ea3d";
$icon-swatchbook-path1: "\ea3e";
$icon-swatchbook-path2: "\ea3f";
$icon-send-2-path1: "\ea40";
$icon-send-2-path2: "\ea41";
$icon-heart-path1: "\ea42";
$icon-heart-path2: "\ea43";
$icon-user-path1: "\ea44";
$icon-user-path2: "\ea45";
$icon-user-square-path1: "\ea46";
$icon-user-square-path2: "\ea47";
$icon-user-arrow-top-path1: "\ea48";
$icon-user-arrow-top-path2: "\ea49";
$icon-user-arrow-bottom-path1: "\ea4a";
$icon-user-arrow-bottom-path2: "\ea4b";
$icon-user-cross-path1: "\ea4c";
$icon-user-cross-path2: "\ea4d";
$icon-user-arrow-bl-path1: "\ea4e";
$icon-user-arrow-bl-path2: "\ea4f";
$icon-user-plus-path1: "\ea50";
$icon-user-plus-path2: "\ea51";
$icon-user-arrow-tr-path1: "\ea52";
$icon-user-arrow-tr-path2: "\ea53";
$icon-user-minus-path1: "\ea54";
$icon-user-minus-path2: "\ea55";
$icon-user-alert-path1: "\ea56";
$icon-user-alert-path2: "\ea57";
$icon-user-circle-path1: "\ea58";
$icon-user-circle-path2: "\ea59";
$icon-user-check-path1: "\ea5a";
$icon-user-check-path2: "\ea5b";
$icon-user-arrow-right-path1: "\ea5c";
$icon-user-arrow-right-path2: "\ea5d";
$icon-users-path1: "\ea5e";
$icon-users-path2: "\ea5f";
$icon-clock-zzz-path1: "\ea60";
$icon-clock-zzz-path2: "\ea61";
$icon-clock-minus-path1: "\ea62";
$icon-clock-minus-path2: "\ea63";
$icon-stopwatch-slash-path1: "\ea64";
$icon-stopwatch-slash-path2: "\ea65";
$icon-clock-plus-path1: "\ea66";
$icon-clock-plus-path2: "\ea67";
$icon-calendar-person-path1: "\ea68";
$icon-calendar-person-path2: "\ea69";
$icon-speed-path1: "\ea6a";
$icon-speed-path2: "\ea6b";
$icon-clock-cross-path1: "\ea6c";
$icon-clock-cross-path2: "\ea6d";
$icon-calendar-event-path1: "\ea6e";
$icon-calendar-event-path2: "\ea6f";
$icon-calendar-plus-path1: "\ea70";
$icon-calendar-plus-path2: "\ea71";
$icon-stopwatch-path1: "\ea72";
$icon-stopwatch-path2: "\ea73";
$icon-calendar-dates-path1: "\ea74";
$icon-calendar-dates-path2: "\ea75";
$icon-time-path1: "\ea76";
$icon-time-path2: "\ea77";
$icon-calendar-note-path1: "\ea78";
$icon-calendar-note-path2: "\ea79";
$icon-calendar-number-path1: "\ea7a";
$icon-calendar-number-path2: "\ea7b";
$icon-clock-slash-path1: "\ea7c";
$icon-clock-slash-path2: "\ea7d";
$icon-clock-check-path1: "\ea7e";
$icon-clock-check-path2: "\ea7f";
$icon-timer-2-path1: "\ea80";
$icon-timer-2-path2: "\ea81";
$icon-clock-path1: "\ea82";
$icon-clock-path2: "\ea83";
$icon-calendar-minus-path1: "\ea84";
$icon-calendar-minus-path2: "\ea85";
$icon-calendar-path1: "\ea86";
$icon-calendar-path2: "\ea87";
$icon-history-path1: "\ea88";
$icon-history-path2: "\ea89";
$icon-timer-path1: "\ea8a";
$icon-timer-path2: "\ea8b";
$icon-calendar-arrow-right-path1: "\ea8c";
$icon-calendar-arrow-right-path2: "\ea8d";
$icon-calendar-cross-path1: "\ea8e";
$icon-calendar-cross-path2: "\ea8f";
$icon-globe-2-path1: "\ea90";
$icon-globe-2-path2: "\ea91";
$icon-gps-slash-path1: "\ea92";
$icon-gps-slash-path2: "\ea93";
$icon-pin-2-path1: "\ea94";
$icon-pin-2-path2: "\ea95";
$icon-pin-3-path1: "\ea96";
$icon-pin-3-path2: "\ea97";
$icon-pin-check-path1: "\ea98";
$icon-pin-check-path2: "\ea99";
$icon-direction-2-path1: "\ea9a";
$icon-direction-2-path2: "\ea9b";
$icon-pin-slash-path1: "\ea9c";
$icon-pin-slash-path2: "\ea9d";
$icon-pin-path1: "\ea9e";
$icon-pin-path2: "\ea9f";
$icon-gps-path1: "\eaa0";
$icon-gps-path2: "\eaa1";
$icon-direction-path1: "\eaa2";
$icon-direction-path2: "\eaa3";
$icon-map-view-path1: "\eaa4";
$icon-map-view-path2: "\eaa5";
$icon-degrees-path1: "\eaa6";
$icon-degrees-path2: "\eaa7";
$icon-pin-cross-path1: "\eaa8";
$icon-pin-cross-path2: "\eaa9";
$icon-pin-minus-path1: "\eaaa";
$icon-pin-minus-path2: "\eaab";
$icon-compass-path1: "\eaac";
$icon-compass-path2: "\eaad";
$icon-globe-path1: "\eaae";
$icon-globe-path2: "\eaaf";
$icon-route-path1: "\eab0";
$icon-route-path2: "\eab1";
$icon-pin-plus-path1: "\eab2";
$icon-pin-plus-path2: "\eab3";
$icon-bell-minus-path1: "\eab4";
$icon-bell-minus-path2: "\eab5";
$icon-question-path1: "\eab6";
$icon-question-path2: "\eab7";
$icon-bell-plus-path1: "\eab8";
$icon-bell-plus-path2: "\eab9";
$icon-notification-identifier-path1: "\eaba";
$icon-notification-identifier-path2: "\eabb";
$icon-bell-path1: "\eabc";
$icon-bell-path2: "\eabd";
$icon-cross-octangle-path1: "\eabe";
$icon-cross-octangle-path2: "\eabf";
$icon-info-path1: "\eac0";
$icon-info-path2: "\eac1";
$icon-check-circle-path1: "\eac2";
$icon-check-circle-path2: "\eac3";
$icon-minus-octangle-path1: "\eac4";
$icon-minus-octangle-path2: "\eac5";
$icon-alert-circle-path1: "\eac6";
$icon-alert-circle-path2: "\eac7";
$icon-bell-check-path1: "\eac8";
$icon-bell-check-path2: "\eac9";
$icon-bell-slash-path1: "\eaca";
$icon-bell-slash-path2: "\eacb";
$icon-alert-triangle-path1: "\eacc";
$icon-alert-triangle-path2: "\eacd";
$icon-cross-circle-path1: "\eace";
$icon-cross-circle-path2: "\eacf";
$icon-alert-octangle-path1: "\ead0";
$icon-alert-octangle-path2: "\ead1";
$icon-redo-2: "\ec26";
$icon-redo: "\ec27";
$icon-reply-all: "\ec28";
$icon-reply: "\ec29";
$icon-trend-down: "\ec2a";
$icon-trend-up: "\ec2b";
$icon-undo-2: "\ec2c";
$icon-undo: "\ec2d";
$icon-code: "\ec2e";
$icon-forward-all: "\ec2f";
$icon-forward: "\ec30";
$icon-maximize-1: "\ec31";
$icon-maximize-2-1: "\ec32";
$icon-maximize-2: "\ec33";
$icon-maximize1: "\ec34";
$icon-chevron-down: "\ec35";
$icon-chevron-left: "\ec36";
$icon-chevron-right: "\ec37";
$icon-chevron-up: "\ec38";
$icon-chevrons-down: "\ec39";
$icon-chevrons-left: "\ec3a";
$icon-chevrons-right: "\ec3b";
$icon-chevrons-up: "\ec3c";
$icon-arrow-left: "\ec3d";
$icon-arrow-swap: "\ec3e";
$icon-arrow-right: "\ec3f";
$icon-arrow-top-left: "\ec40";
$icon-arrow-top-right: "\ec41";
$icon-arrow-top: "\ec42";
$icon-arrow-corner-ccw-rt: "\ec43";
$icon-arrow-corner-ccw-rb: "\ec44";
$icon-arrow-corner-cw-rt: "\ec45";
$icon-arrow-corner-cw-rb: "\ec46";
$icon-arrow-corner-ccw-lb: "\ec47";
$icon-arrow-corner-cw-lt: "\ec48";
$icon-arrow-corner-cw-lb: "\ec49";
$icon-arrow-corner-ccw-lt: "\ec4a";
$icon-arrow-bottom-left: "\ec4b";
$icon-arrow-bottom-right: "\ec4c";
$icon-arrow-bottom: "\ec4d";
$icon-import-2-path1: "\ead2";
$icon-import-2-path2: "\ead3";
$icon-arrow-right-curved-circle-path1: "\ead4";
$icon-arrow-right-curved-circle-path2: "\ead5";
$icon-import-3-path1: "\ead6";
$icon-import-3-path2: "\ead7";
$icon-arrows-move-path1: "\ead8";
$icon-arrows-move-path2: "\ead9";
$icon-arrow-top-circle-path1: "\eada";
$icon-arrow-top-circle-path2: "\eadb";
$icon-arrows-expand-2-path1: "\eadc";
$icon-arrows-expand-2-path2: "\eadd";
$icon-export-path1: "\eade";
$icon-export-path2: "\eadf";
$icon-arrows-move-2-path1: "\eae0";
$icon-arrows-move-2-path2: "\eae1";
$icon-rotate-cw-path1: "\eae2";
$icon-rotate-cw-path2: "\eae3";
$icon-arrow-bottom-circle-path1: "\eae4";
$icon-arrow-bottom-circle-path2: "\eae5";
$icon-log-in-path1: "\eae6";
$icon-log-in-path2: "\eae7";
$icon-refresh-cw-path1: "\eae8";
$icon-refresh-cw-path2: "\eae9";
$icon-refresh-cw-alert-path1: "\eaea";
$icon-refresh-cw-alert-path2: "\eaeb";
$icon-log-out-path1: "\eaec";
$icon-log-out-path2: "\eaed";
$icon-arrow-left-circle-path1: "\eaee";
$icon-arrow-left-circle-path2: "\eaef";
$icon-import-path1: "\eaf0";
$icon-import-path2: "\eaf1";
$icon-arrow-bottom-left-circle-path1: "\eaf2";
$icon-arrow-bottom-left-circle-path2: "\eaf3";
$icon-rotate-ccw-path1: "\eaf4";
$icon-rotate-ccw-path2: "\eaf5";
$icon-arrow-bottom-right-circle-path1: "\eaf6";
$icon-arrow-bottom-right-circle-path2: "\eaf7";
$icon-scale-path1: "\eaf8";
$icon-scale-path2: "\eaf9";
$icon-refresh-ccw-path1: "\eafa";
$icon-refresh-ccw-path2: "\eafb";
$icon-arrow-right-circle-path1: "\eafc";
$icon-arrow-right-circle-path2: "\eafd";
$icon-external-link-2-path1: "\eafe";
$icon-external-link-2-path2: "\eaff";
$icon-arrow-left-curved-circle-path1: "\eb00";
$icon-arrow-left-curved-circle-path2: "\eb01";
$icon-arrows-expand-path1: "\eb02";
$icon-arrows-expand-path2: "\eb03";
$icon-export-3-path1: "\eb04";
$icon-export-3-path2: "\eb05";
$icon-export-2-path1: "\eb06";
$icon-export-2-path2: "\eb07";
$icon-arrow-top-left-circle-path1: "\eb08";
$icon-arrow-top-left-circle-path2: "\eb09";
$icon-sign-out-path1: "\eb0a";
$icon-sign-out-path2: "\eb0b";
$icon-external-link-path1: "\eb0c";
$icon-external-link-path2: "\eb0d";
$icon-sign-in-path1: "\eb0e";
$icon-sign-in-path2: "\eb0f";
$icon-refresh-ccw-alert-path1: "\eb10";
$icon-refresh-ccw-alert-path2: "\eb11";
$icon-arrow-top-right-circle-path1: "\eb12";
$icon-arrow-top-right-circle-path2: "\eb13";
$icon-play-slowmotion-path1: "\eb14";
$icon-play-slowmotion-path2: "\eb15";
$icon-pause-circle-path1: "\eb16";
$icon-pause-circle-path2: "\eb17";
$icon-film-tape-path1: "\eb18";
$icon-film-tape-path2: "\eb19";
$icon-play-circle-path1: "\eb1a";
$icon-play-circle-path2: "\eb1b";
$icon-repeat-path1: "\eb1c";
$icon-repeat-path2: "\eb1d";
$icon-play-previous-path1: "\eb1e";
$icon-play-previous-path2: "\eb1f";
$icon-fast-rewind-path1: "\eb20";
$icon-fast-rewind-path2: "\eb21";
$icon-captions-1-path1: "\eb22";
$icon-captions-1-path2: "\eb23";
$icon-verified-path1: "\eb24";
$icon-verified-path2: "\eb25";
$icon-captions-path1: "\eb26";
$icon-captions-path2: "\eb27";
$icon-repeat-on-path1: "\eb28";
$icon-repeat-on-path2: "\eb29";
$icon-games-path1: "\eb2a";
$icon-games-path2: "\eb2b";
$icon-maximize-path1: "\eb2c";
$icon-maximize-path2: "\eb2d";
$icon-webcam-slash-path1: "\eb2e";
$icon-webcam-slash-path2: "\eb2f";
$icon-music-queue-path1: "\eb30";
$icon-music-queue-path2: "\eb31";
$icon-video-library-path1: "\eb32";
$icon-video-library-path2: "\eb33";
$icon-stop-circle-path1: "\eb34";
$icon-stop-circle-path2: "\eb35";
$icon-minimize-path1: "\eb36";
$icon-minimize-path2: "\eb37";
$icon-volume-cross-path1: "\eb38";
$icon-volume-cross-path2: "\eb39";
$icon-replay-15-path1: "\eb3a";
$icon-replay-15-path2: "\eb3b";
$icon-forward-5-path1: "\eb3c";
$icon-forward-5-path2: "\eb3d";
$icon-music-plus-path1: "\eb3e";
$icon-music-plus-path2: "\eb3f";
$icon-webcam-path1: "\eb40";
$icon-webcam-path2: "\eb41";
$icon-tv-path1: "\eb42";
$icon-tv-path2: "\eb43";
$icon-book-queue-path1: "\eb44";
$icon-book-queue-path2: "\eb45";
$icon-video-plus-path1: "\eb46";
$icon-video-plus-path2: "\eb47";
$icon-radio-path1: "\eb48";
$icon-radio-path2: "\eb49";
$icon-replay-10-path1: "\eb4a";
$icon-replay-10-path2: "\eb4b";
$icon-playlist-path1: "\eb4c";
$icon-playlist-path2: "\eb4d";
$icon-label-hd-path1: "\eb4e";
$icon-label-hd-path2: "\eb4f";
$icon-stop-path1: "\eb50";
$icon-stop-path2: "\eb51";
$icon-music-library-path1: "\eb52";
$icon-music-library-path2: "\eb53";
$icon-record-path1: "\eb54";
$icon-record-path2: "\eb55";
$icon-music-note-path1: "\eb56";
$icon-music-note-path2: "\eb57";
$icon-label-hq-path1: "\eb58";
$icon-label-hq-path2: "\eb59";
$icon-replay-path1: "\eb5a";
$icon-replay-path2: "\eb5b";
$icon-mic-path1: "\eb5c";
$icon-mic-path2: "\eb5d";
$icon-volume-mute-path1: "\eb5e";
$icon-volume-mute-path2: "\eb5f";
$icon-fast-forward-path1: "\eb60";
$icon-fast-forward-path2: "\eb61";
$icon-label-explicit-path1: "\eb62";
$icon-label-explicit-path2: "\eb63";
$icon-play-path1: "\eb64";
$icon-play-path2: "\eb65";
$icon-forward-10-path1: "\eb66";
$icon-forward-10-path2: "\eb67";
$icon-book-plus-path1: "\eb68";
$icon-book-plus-path2: "\eb69";
$icon-film-reel-path1: "\eb6a";
$icon-film-reel-path2: "\eb6b";
$icon-forward-15-path1: "\eb6c";
$icon-forward-15-path2: "\eb6d";
$icon-book-library-path1: "\eb6e";
$icon-book-library-path2: "\eb6f";
$icon-cd-path1: "\eb70";
$icon-cd-path2: "\eb71";
$icon-video-queue-path1: "\eb72";
$icon-video-queue-path2: "\eb73";
$icon-play-next-path1: "\eb74";
$icon-play-next-path2: "\eb75";
$icon-music-note-3-path1: "\eb76";
$icon-music-note-3-path2: "\eb77";
$icon-volume-high-path1: "\eb78";
$icon-volume-high-path2: "\eb79";
$icon-equalizer-path1: "\eb7a";
$icon-equalizer-path2: "\eb7b";
$icon-music-note-2-path1: "\eb7c";
$icon-music-note-2-path2: "\eb7d";
$icon-film-board-path1: "\eb7e";
$icon-film-board-path2: "\eb7f";
$icon-video-camera-slash-path1: "\eb80";
$icon-video-camera-slash-path2: "\eb81";
$icon-replay-5-path1: "\eb82";
$icon-replay-5-path2: "\eb83";
$icon-video-camera-path1: "\eb84";
$icon-video-camera-path2: "\eb85";
$icon-playlist-play-path1: "\eb86";
$icon-playlist-play-path2: "\eb87";
$icon-volume-low-path1: "\eb88";
$icon-volume-low-path2: "\eb89";
$icon-mic-slash-path1: "\eb8a";
$icon-mic-slash-path2: "\eb8b";
$icon-pause-path1: "\eb8c";
$icon-pause-path2: "\eb8d";
$icon-label-4k-path1: "\eb8e";
$icon-label-4k-path2: "\eb8f";
$icon-new-release-path1: "\eb90";
$icon-new-release-path2: "\eb91";
$icon-volume-slash-path1: "\eb92";
$icon-volume-slash-path2: "\eb93";
$icon-miniplayer-path1: "\eb94";
$icon-miniplayer-path2: "\eb95";
$icon-pain-management: "\eb96";
$icon-sleep: "\eb97";
$icon-nutritutan: "\eb98";
$icon-immune-system: "\eb99";
$icon-delay-aging: "\eb9a";
$icon-preventative-health: "\eb9b";
$icon-fitness: "\eb9c";
$icon-women-men-health: "\eb9d";
$icon-comment-dots-path1: "\eb9e";
$icon-comment-dots-path2: "\eb9f";
$icon-comment-cancel-path1: "\eba0";
$icon-comment-cancel-path2: "\eba1";
$icon-comments-2-path1: "\eba2";
$icon-comments-2-path2: "\eba3";
$icon-comment-alert-path1: "\eba4";
$icon-comment-alert-path2: "\eba5";
$icon-comment-2-dots-path1: "\eba6";
$icon-comment-2-dots-path2: "\eba7";
$icon-comments-path1: "\eba8";
$icon-comments-path2: "\eba9";
$icon-comment-2-info-path1: "\ebaa";
$icon-comment-2-info-path2: "\ebab";
$icon-comment-check-path1: "\ebac";
$icon-comment-check-path2: "\ebad";
$icon-comment-2-plus-path1: "\ebae";
$icon-comment-2-plus-path2: "\ebaf";
$icon-comment-2-minus-path1: "\ebb0";
$icon-comment-2-minus-path2: "\ebb1";
$icon-comment-slash-path1: "\ebb2";
$icon-comment-slash-path2: "\ebb3";
$icon-comment-plus-path1: "\ebb4";
$icon-comment-plus-path2: "\ebb5";
$icon-comment-text-path1: "\ebb6";
$icon-comment-text-path2: "\ebb7";
$icon-comment-2-alert-path1: "\ebb8";
$icon-comment-2-alert-path2: "\ebb9";
$icon-comment-2-cancel-path1: "\ebba";
$icon-comment-2-cancel-path2: "\ebbb";
$icon-comment-2-text-path1: "\ebbc";
$icon-comment-2-text-path2: "\ebbd";
$icon-comment-2-question-path1: "\ebbe";
$icon-comment-2-question-path2: "\ebbf";
$icon-comment-2-slash-path1: "\ebc0";
$icon-comment-2-slash-path2: "\ebc1";
$icon-comment-minus-path1: "\ebc2";
$icon-comment-minus-path2: "\ebc3";
$icon-comment-2-check-path1: "\ebc4";
$icon-comment-2-check-path2: "\ebc5";
$icon-comment-path1: "\ebc6";
$icon-comment-path2: "\ebc7";
$icon-comment-2-path1: "\ebc8";
$icon-comment-2-path2: "\ebc9";
$icon-clipboard-plus-path1: "\ebca";
$icon-clipboard-plus-path2: "\ebcb";
$icon-folder-upload-path1: "\ebcc";
$icon-folder-upload-path2: "\ebcd";
$icon-folder-slash-path1: "\ebce";
$icon-folder-slash-path2: "\ebcf";
$icon-file-heart-path1: "\ebd0";
$icon-file-heart-path2: "\ebd1";
$icon-file-minus-path1: "\ebd2";
$icon-file-minus-path2: "\ebd3";
$icon-folder-check-path1: "\ebd4";
$icon-folder-check-path2: "\ebd5";
$icon-file-cross-path1: "\ebd6";
$icon-file-cross-path2: "\ebd7";
$icon-file-path1: "\ebd8";
$icon-file-path2: "\ebd9";
$icon-file-scan-path1: "\ebda";
$icon-file-scan-path2: "\ebdb";
$icon-file-text-path1: "\ebdc";
$icon-file-text-path2: "\ebdd";
$icon-folder-open-path1: "\ebde";
$icon-folder-open-path2: "\ebdf";
$icon-folder-music-path1: "\ebe0";
$icon-folder-music-path2: "\ebe1";
$icon-clipboard-path1: "\ebe2";
$icon-clipboard-path2: "\ebe3";
$icon-note-text-path1: "\ebe4";
$icon-note-text-path2: "\ebe5";
$icon-note-path1: "\ebe6";
$icon-note-path2: "\ebe7";
$icon-clipboard-cross-path1: "\ebe8";
$icon-clipboard-cross-path2: "\ebe9";
$icon-note-2-path1: "\ebea";
$icon-note-2-path2: "\ebeb";
$icon-folder-compressed-path1: "\ebec";
$icon-folder-compressed-path2: "\ebed";
$icon-file-draft-path1: "\ebee";
$icon-file-draft-path2: "\ebef";
$icon-clipboard-minus-path1: "\ebf0";
$icon-clipboard-minus-path2: "\ebf1";
$icon-folder-plus-path1: "\ebf2";
$icon-folder-plus-path2: "\ebf3";
$icon-file-download-path1: "\ebf4";
$icon-file-download-path2: "\ebf5";
$icon-file-move-path1: "\ebf6";
$icon-file-move-path2: "\ebf7";
$icon-file-slash-path1: "\ebf8";
$icon-file-slash-path2: "\ebf9";
$icon-folder-photo-path1: "\ebfa";
$icon-folder-photo-path2: "\ebfb";
$icon-folder-heart-path1: "\ebfc";
$icon-folder-heart-path2: "\ebfd";
$icon-file-check-path1: "\ebfe";
$icon-file-check-path2: "\ebff";
$icon-folder-minus-path1: "\ec00";
$icon-folder-minus-path2: "\ec01";
$icon-folder-cross-path1: "\ec02";
$icon-folder-cross-path2: "\ec03";
$icon-folder-download-path1: "\ec04";
$icon-folder-download-path2: "\ec05";
$icon-folder-cloud-path1: "\ec06";
$icon-folder-cloud-path2: "\ec07";
$icon-file-shredder-path1: "\ec08";
$icon-file-shredder-path2: "\ec09";
$icon-file-plus-path1: "\ec0a";
$icon-file-plus-path2: "\ec0b";
$icon-file-invoice-path1: "\ec0c";
$icon-file-invoice-path2: "\ec0d";
$icon-folder-move-path1: "\ec0e";
$icon-folder-move-path2: "\ec0f";
$icon-file-code-path1: "\ec10";
$icon-file-code-path2: "\ec11";
$icon-clipboard-slash-path1: "\ec12";
$icon-clipboard-slash-path2: "\ec13";
$icon-note-2-text-path1: "\ec14";
$icon-note-2-text-path2: "\ec15";
$icon-file-upload-path1: "\ec16";
$icon-file-upload-path2: "\ec17";
$icon-file-agreement-path1: "\ec18";
$icon-file-agreement-path2: "\ec19";
$icon-folder-path1: "\ec1a";
$icon-folder-path2: "\ec1b";
$icon-clipboard-check-path1: "\ec1c";
$icon-clipboard-check-path2: "\ec1d";
$icon-notebook-path1: "\ec1e";
$icon-notebook-path2: "\ec1f";
$icon-clipboard-text-path1: "\ec20";
$icon-clipboard-text-path2: "\ec21";
$icon-radio1: "\ec22";
$icon-checkbox: "\ec23";
$icon-checkbox-filled: "\ec24";
$icon-radio-filled: "\ec25";

