button.submit{
  background: black;
  color: white;
}

button.cancel{
  color: grey;
  text-decoration: underline;
}

.borderb-grey{ border-bottom: solid 1px #dcdcdc; }

.form-min-max{
  .form-item{
    flex: 1 1 auto;
    position: relative;
    label{
      position: absolute;
      top: 0;
      left: 10px;
      margin: 0;
    }
    input{
      display: block;
      padding: 22px 10px 7px;
      width: 100%;
      border: solid 1px #A2A2A2;
      border-radius: 10px;
    } 
  }
}

.graphbar{
  height: 150px;
  margin: 0 10px -4px;

 li{ background: grey; width: 5px;} 
 li:not(:last-child){
   margin-right: 5px;
 }
}