<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <div class="text-center">
    <div class="position-relative d-inline-block">
      <profile-image 
      size=70
      [image]="data.profileImage ? s3 + data.profileImage : null"
      ></profile-image>
      <button
      *ngIf="data.profileImage"
      class="btn btn-icon bg-background small p-5p position-absolute"
      style="top:-10px; right: -10px"
      >
        <i iconPh="cross" class="text-placeholder"></i>
      </button>
    </div>
    
  </div>

  <div class="row mb-4">
    <div class="col-12 col-lg-6">
      <label for="firstName">
        First Name
        <span class="text-danger">*</span>
      </label>
      <form-item-input 
      name="firstName"
      label="First name"
      type="text"
      [controller]="f.firstName"
      [max]="maxName"
      [disabled]="disabled"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
    <div class="col-12 col-lg-6">
      <label for="lastName">
        Last Name
      </label>
      <form-item-input 
      name="lastName"
      label="Last name"
      type="text"
      [controller]="f.lastName"
      [max]="maxName"
      [disabled]="disabled"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 col-lg-6">
      <label for="userType">
        Membership Type 
        <!-- <span class="text-danger">*</span> -->
      </label>
      <form-item-input 
      name="userType"
      label="Membership type"
      type="text"
      [controller]="f.userType"
      [disabled]="true"
      ></form-item-input>
    </div>

    <div class="col-12 col-lg-6">
      <label for="email">
        Email Address 
        <!-- <span class="text-danger">*</span> -->
      </label>
      <div>
        <form-item-input 
        name="email"
        label="Email Address"
        type="email"
        autocapitalize="off"
        autocomplete="email"
        [controller]="f.email"
        [disabled]="true"
        ></form-item-input>
      </div>
    </div>
  </div>

  <!-- <div class="row mb-4">
    <label class="col-md-4" for="phone">
      Phone Number 
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="phone"
      label="Phone number"
      type="tel"
      [controller]="f.phone"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-input>
    </div>
  </div> -->

  <div class="row mb-4 pt-2">
    <div class="col-12">
      <label>
        Gender
      </label>
      <div>
        <form-item-checkbox-group
        id="gender"
        type="radio"
        label="Gender"
        [data]="data?.gender"
        [controller]="f.gender"
        [submitted]="isSubmitted"
        [disabled]="disabled"
        [option]="{showInlineWhenEnabled: true}"
        ></form-item-checkbox-group>
      </div>  
    </div>
  </div>

  <!-- <div class="row mb-4">
    <label class="col-md-4" for="address">
      Location 
    </label>
    <div class="col-md-8">
      <form-item-address
      name="address"
      label="Location" 
      [controllerGroup]="form"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-address>
    </div>
  </div> -->

  <div class="row" *ngIf="!disabled">
    <div class="col text-right">
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>

</form>