<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <div class="text-center mb-10p">
    <form-item-profile-image
    [data]="data.profileImage"
    (onChange)="onProfileImageChanged($event)"
    (startUpload)="onProfileImageUploadStarted()"
    (doneUpload)="onProfileImageUploadDone()"
    ></form-item-profile-image>    
  </div>

  <div class="row">
    <div class="col-12 col-lg-6 mb-30p">
      <label for="firstName" class="subtitle2">
        First Name
        <span class="text-danger">*</span>
      </label>
      <form-item-input 
      name="firstName"
      label="First name"
      type="text"
      [controller]="f.firstName"
      [max]="maxName"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
    <div class="col-12 col-lg-6 mb-30p">
      <label for="lastName" class="subtitle2">
        Last Name
      </label>
      <form-item-input 
      name="lastName"
      label="Last name"
      type="text"
      [controller]="f.lastName"
      [max]="maxName"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6 mb-30p">
      <label for="userType" class="subtitle2">
        Membership Type 
        <!-- <span class="text-danger">*</span> -->
      </label>
      <form-item-input 
      name="userType"
      label="Membership type"
      type="text"
      [controller]="f.userType"
      [disabled]="true"
      ></form-item-input>
    </div>

    <div class="col-12 col-lg-6 mb-30p">
      <label for="email" class="subtitle2">
        Email Address 
        <!-- <span class="text-danger">*</span> -->
      </label>
      <div>
        <form-item-input 
        name="email"
        label="Email Address"
        type="email"
        autocapitalize="off"
        autocomplete="email"
        [controller]="f.email"
        [disabled]="true"
        ></form-item-input>
      </div>
    </div>
  </div>

  <!-- <div class="row mb-4">
    <label class="col-md-4" for="phone">
      Phone Number 
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="phone"
      label="Phone number"
      type="tel"
      [controller]="f.phone"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-input>
    </div>
  </div> -->

  <div class="row">
    <div class="col-12 mb-30p">
      <label class="subtitle2">
        Gender
      </label>
      <div>
        <form-item-checkbox-group
        id="gender"
        type="radio"
        label="Gender"
        [data]="data?.gender"
        [controller]="f.gender"
        [submitted]="isSubmitted"
        [option]="{showInlineWhenEnabled: true}"
        ></form-item-checkbox-group>
      </div>  
    </div>
  </div>

  <!-- <div class="row mb-4">
    <label class="col-md-4" for="address">
      Location 
    </label>
    <div class="col-md-8">
      <form-item-address
      name="address"
      label="Location" 
      [controllerGroup]="form"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-address>
    </div>
  </div> -->

  <div class="row">
    <div class="col text-right">
      <button 
      class="btn btn-primary"
      [disabled]="isProfileImageUploading || disabled"
      >Save Changes</button>
    </div>
  </div>

</form>