<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="form">
  <div class="text-center mb-15p">
    <form-item-profile-image
    [controller]="f.profileImage"
    (onStartUploading)="onStartUploadingProfileImage()"
    (onFailUploading)="onDoneUploadingProfileImage()"
    (onDoneUploading)="onDoneUploadingProfileImage()"
    ></form-item-profile-image>  
  </div>


  <div class="mb-40p">
    <label for="firstName" class="subtitle2">User name</label>
    <form-item-input 
    name="firstName"
    label="User name"
    type="text"
    [controller]="f.firstName"
    [max]="maxName"
    [submitted]="isSubmitted"
    ></form-item-input>  
  </div>

  <div class="mb-40p row">
    <div class="col-12 col-lg-6 mb-40p mb-lg-0p">
      <label class="subtitle2">Membership type</label>        
      <form-item-input 
      name="userType"
      label="Membership type"
      type="text"
      [controller]="f.userType"
      [disabled]="true"
      ></form-item-input>  
    </div>

    <div class="col-12 col-lg-6">
      <label class="subtitle2">Email</label>
      <form-item-input 
      name="email"
      label="Email Address"
      type="email"
      autocapitalize="off"
      autocomplete="email"
      [controller]="f.email"
      [disabled]="true"
      ></form-item-input>
    </div>
  </div>

  <div class="mb-40p row">
    <div class="col-12 col-lg-6 mb-40p mb-lg-0p">
      <label class="subtitle2">Phone (optional)</label>
      <form-item-input 
      name="phone"
      label="Phone number"
      type="tel"
      [controller]="f.phone"
      [submitted]="isSubmitted"
      ></form-item-input>
    </div>    
    
    <div class="col-12 col-lg-6">
      <label class="subtitle2">Location (optional)</label>
      <form-item-address
      name="address"
      label="Location" 
      [controllerGroup]="form"
      [submitted]="isSubmitted"
      ></form-item-address>
    </div>
  </div>

  <div class="mb-40p">
    <label class="subtitle2">Gender (optional)</label>
    <form-item-checkbox-group
    id="gender"
    type="radio"
    label="Gender"
    [data]="data?.gender"
    [controller]="f.gender"
    [submitted]="isSubmitted"
    [option]="{showInlineWhenEnabled: true}"
    ></form-item-checkbox-group>
  </div>

  <div 
  class="text-right" 
  [ngClass]="{'d-none': hideSubmit}"
  >
    <input 
    class="btn btn-primary"
    type="submit" 
    value="Submit"
    [disabled]="isUploadingProfileImage || disabled"
    >
  </div>

</form>