@import "../../../assets/scss/mixins";

$fileInputH: 40px;
$fileInputW: 200px;
input[type="file"] {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  height: $fileInputH !important;
  width: 100%;
  max-width: $fileInputW !important;
  padding: 0 !important;
  cursor: pointer;
  &:after {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $primaryColor;
    content: "Upload";
  }
}

.avatar {
  max-width: 100px;
}
.radio {
  span {
    margin-left: 10px;
  }
}