<section class="pt-5 pb-5 bg-light heightH-100">
  <div class="container">
    <h2 class="ttle-bott-bor mb-5">Provider User Detail</h2>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label>First Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" />
        <div class="invalid-feedback">
          Name is required
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>Last Name <span class="text-danger">*</span></label>
        <input type="text" class="form-control" />
        <div class="invalid-feedback">
          Name is required
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>Company <span class="text-danger">*</span></label>
        <input type="text" class="form-control" />
        <div class="invalid-feedback">
          Name is required
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>Url <span class="text-danger">*</span></label>
        <input type="text" class="form-control" />
        <div class="invalid-feedback">
          Name is required
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>Phone <span class="text-danger">*</span></label>
        <input type="text" class="form-control" />
        <div class="invalid-feedback">
          Name is required
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>Email address <span class="text-danger">*</span></label>
        <input type="email" class="form-control" />
        <div class="invalid-feedback">
          Name is required
        </div>
      </div>
      <div class="col-md-12 mb-3">
        <label>Canadian Address <span class="text-danger">*</span></label>
        <input type="email" class="form-control" />
        <div class="invalid-feedback">
          Phone is required
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label
          >Upload profile pic (logo) <span class="text-danger">*</span></label
        ><br />
        <input type="file" class="form-control" />
        <div class="invalid-feedback">
          Name is required
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label>Upload provider pic <span class="text-danger">*</span></label
        ><br />
        <input type="file" class="form-control" />
        <div class="invalid-feedback">
          Name is required
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label
          >Upload short introductory video
          <span class="text-danger">*</span></label
        ><br />
        <input type="file" class="form-control" />
        <div class="invalid-feedback">
          Name is required
        </div>
      </div>
      <div class="col-md-12 mb-2 d-flex align-items-start mk-checkbox">
        <input type="checkbox" /><span class=""
          >I am licensed in Canada and in good standing with my professional
          college and/or association</span
        >
        <div class="invalid-feedback">
          <div>
            Terms of service and privacy is required
          </div>
        </div>
      </div>
      <div class="col-md-12 mb-2 text-right">
        <button class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
  </div>
</section>
