<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>
<section class="pt-5 pb-5 bg-light heightH-100">
  <div class="container">
    <h2 class="ttle-bott-bor mb-5">Personal Details</h2>
    <agm-map [latitude]="userDetails.latitude" [longitude]="userDetails.longitude" [scrollwheel]="true" [zoom]="zoom" [fullscreenControl]="true"  [mapTypeId]="'hybrid'" >
      <agm-marker [latitude]="userDetails.latitude" [longitude]="userDetails.longitude"></agm-marker>
    </agm-map>
    <form role="form" class="form-row" (ngSubmit)="save()" #updateDetailForm="ngForm">
      <div class="col-md-12 text-center">
        <div class="upload-img">
          <img [src]="defaultImage" alt="User image">
          <input name="imageUrl" type="file" accept="image/*" (change)="handleImageChange($event)"/>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>First Name <span class="text-danger">*</span></label>
        <input autofocus type="text" id="firstName" name="firstName" class="form-control" placeholder="" minlength="3"
          maxlength="50" (keyup)="trim('firstName')" #firstName="ngModel" [ngModel]="userDetails.firstName"
          (ngModelChange)="userDetails.firstName = $event" required />

        <div class="error-block">
          <small *ngIf="firstName.errors?.required && firstName.touched" class="text-danger">
            First name is required.
          </small>
          <small *ngIf="firstName.errors?.minlength && firstName.touched" class="text-danger">
            Minumum length should be 3.
          </small>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>Last Name <span class="text-danger">*</span></label>
        <input autofocus type="text" id="lastName" name="lastName" class="form-control" placeholder="" minlength="3"
          maxlength="50" (keyup)="trim('lastName')" #lastName="ngModel" [ngModel]="userDetails.lastName"
          (ngModelChange)="userDetails.lastName = $event" required />

        <div class="error-block">
          <small *ngIf="lastName.errors?.required && lastName.touched" class="text-danger">
            Last name is required.
          </small>
          <small *ngIf="lastName.errors?.minlength && lastName.touched" class="text-danger">
            Minumum length should be 3.
          </small>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label>Phone <span class="text-danger">*</span></label>
        <input autofocus type="number" id="phone" name="phone" class="form-control" placeholder=""
          maxlength="12" (keyup)="trim('phone')" #phone="ngModel" [ngModel]="userDetails.phone" number
          (ngModelChange)="userDetails.phone = $event" required />

        <div class="error-block">
          <small *ngIf="phone.errors?.required && phone.touched" class="text-danger">
            Phone number is required.
          </small>
          <small *ngIf="phone.errors"  class="text-danger">  
            Phone number not valid.  
          </small> 
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>Email <span class="text-danger">*</span></label>
        <input autofocus type="email" id="email" name="email" class="form-control" placeholder=""
          (keyup)="trim('email')" #email="ngModel" [ngModel]="userDetails.email"
          (ngModelChange)="userDetails.email = $event" required email />

        <div class="error-block">
          <small *ngIf="email.errors?.required && email.touched" class="text-danger">
            Email is required.
          </small>
          <small *ngIf="email.errors?.email && email.touched" class="text-danger">
            Email is invalid.
          </small>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <div class="row">
          <div class="col-md-12">
            <label>Gender <span class="text-danger">*</span></label>
          </div>
          <div class="radio col-md-6 mb-3">
            <input type="radio" value="female" name="gender" #gender="ngModel"  [(ngModel)]="userDetails.gender" required/>
            <span>Female</span>
          </div>
          <div class="radio col-md-6 mb-3">
            <input type="radio" value="male" name="gender" #gender="ngModel"  [(ngModel)]="userDetails.gender" required/>
            <span>Male</span>
          </div>
          <div class="error-block">
            <small *ngIf="gender.errors?.required && gender.touched" class="text-danger">
              Gender is required.
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <div class="row">
          <div class="col-md-12">
            <label>Do you have a booking system <span class="text-danger">*</span></label>
          </div>
          <div class="radio col-md-6 mb-3">
            <input type="radio" value="yes" name="booking" #booking="ngModel" [(ngModel)]="userDetails.booking" required/>
            <span>Yes</span>
          </div>
          <div class="radio col-md-6 mb-3">
            <input type="radio" value="no" name="booking" #booking="ngModel"  [(ngModel)]="userDetails.booking" required/>
            <span>No</span>
          </div>
          <div class="error-block">
            <small *ngIf="gender.errors?.required && gender.touched" class="text-danger">
              Booking option is required.
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-3" *ngIf="userDetails.booking === 'yes'">
        <label>Booking Url <span class="text-danger">*</span></label>
        <input autofocus type="text" id="bookingURL" name="URL" class="form-control" placeholder="" minlength="3"
          maxlength="50" (keyup)="trim('bookingURL')" #URL="ngModel" [ngModel]="userDetails.bookingURL"
          (ngModelChange)="userDetails.bookingURL = $event" required />

        <div class="error-block">
          <small *ngIf="URL.errors?.required && URL.touched" class="text-danger">
            Booking URL is required.
          </small>
          <small *ngIf="URL.errors?.minlength && URL.touched" class="text-danger">
            Minumum length should be 3.
          </small>
        </div>
      </div>

      <div class="col-md-6 mb-3">
        <label>Address <span class="text-danger">*</span></label>
        <input type="text" id="address" name="address" class="form-control" placeholder=""
          (keyup)="trim('address')" #address="ngModel" #search
          [ngModel]="userDetails.address" required />

        <div class="error-block">
          <small *ngIf="address.errors?.required && address.touched" class="text-danger">
            Address is required.
          </small>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>City <span class="text-danger">*</span></label>
        <input type="text" id="city" name="city" class="form-control" placeholder=""
          minlength="3" maxlength="50" (keyup)="trim('city')" #city="ngModel"
          [ngModel]="userDetails.city" required />

        <div class="error-block">
          <small *ngIf="city.errors?.required && city.touched" class="text-danger">
            City is required.
          </small>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>State <span class="text-danger">*</span></label>
        <input type="text" id="state" name="state" class="form-control" placeholder=""
          minlength="3" maxlength="50" (keyup)="trim('state')" #state="ngModel"
          [ngModel]="userDetails.state" required />

        <div class="error-block">
          <small *ngIf="state.errors?.required && state.touched" class="text-danger">
            State is required.
          </small>
          <small *ngIf="state.errors?.minlength && state.touched" class="text-danger">
            Minumum length should be 3.
          </small>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label>Zip Code <span class="text-danger">*</span></label>
        <input type="text" id="zipcode" name="zipcode" class="form-control" placeholder=""
          minlength="3" maxlength="50" (keyup)="trim('zipcode')" #zipcode="ngModel"
          [ngModel]="userDetails.zipcode" required />

        <div class="error-block">
          <small *ngIf="zipcode.errors?.required && zipcode.touched" class="text-danger">
            Zipcode is required.
          </small>
          <small *ngIf="zipcode.errors?.minlength && zipcode.touched" class="text-danger">
            Minumum length should be 3.
          </small>
        </div>
      </div>
      <div class="col-md-12 mb-2 text-right">
        <button class="btn btn-primary" [disabled]="!updateDetailForm.valid">
          Submit
        </button>
      </div>
    </form>
  </div>
</section>