@import "../../../assets/scss/mixins";

$fileInputH: 40px;
$fileInputW: 200px;
input[type="file"] {
  display: inline-block;
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
  height: $fileInputH !important;
  width: 100%;
  max-width: $fileInputW !important;
  padding: 0 !important;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  &:after {
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: $primaryColor;
    content: "Upload";
  }
}

.avatar {
  max-width: 100px;
}
.radio {
  span {
    margin-left: 10px;
  }
}
.upload-img {
  height: 200px;
  width: 200px;
  max-height: 200px;
  max-width: 200px;
  margin: 0 auto 25px;
  position: relative;
  overflow: hidden;
  img {
    height: auto;
    max-width: 100%;
  }
}
input {
  margin-right: 10px;
}
.btn-primary.disabled, .btn-primary:disabled {
  cursor: not-allowed;
}
.col-md-6.mb-3 {
  margin: 15px 0
}

.text-body {
  font-weight: 400;
}