@import "../../../assets/scss/style";

img.forget-img {
  width: 100%;
  max-width: 8rem;
  display: block;
  margin: auto;
}

button.btn-align-back {
  border-radius: 18px !important;
  background: #27617a00 !important;
  color: $primaryColor;
  padding: 5px 24px;
  font-size: 16px;
  border: 1px solid;
  font-weight: 600;
  cursor: pointer;
  width: 110px;
}

.btn {
  border-radius: 18px !important;
}

.inner-form > h2 {
  color: $primaryColor;
  font-weight: 600;
}
