<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/logo1.png" class="loader-logo" width="100" />
  </p>
</ngx-spinner>

<div
  class="heightHF-100 bg-cover pt-4 pb-4"
  style="background-image: url(assets/img/blog1.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="card text-light">
          <div class="card-header">
            Forgot Password
          </div>
          <form
            class="card-body"
            (ngSubmit)="submit()"
            [formGroup]="forgotForm"
          >
            <div class="form-group">
              <!-- <label for="email1"
                >Email <span class="text-danger">*</span></label
              > -->
              <div class="w-100">
                <input
                  type="email"
                  placeholder="Email *"
                  class="form-control"
                  id="email"
                  formControlName="email"
                  name="email"
                  [ngClass]="{ 'is-invalid': submitted && ff.email.errors }"
                />
                <div *ngIf="ff.email.errors" class="invalid-feedback">
                  <div *ngIf="ff.email.errors.required">Email is required</div>
                  <div *ngIf="ff.email.errors.email">
                    Email must be a valid email address
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex mt-2 align-items-center justify-content-between">
              <a [routerLink]="['/auth/business']" class="text-light">
                Back
              </a>
              <button class="btn btn-light">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
