@import "../../../assets/scss/style";

.card {
  background-color: #4274ba96;
  .card-header {
    background-color: #ffffff33;
  }
}
.form-control {
  background-color: #ffffff24 !important;
  border-radius: 20px;
  color: #fff;
  &::placeholder {
    color: #fff;
  }
}
