<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>

<div class="height-100 pt-4 pb-4 d-flex justify-content-center align-items-center bg-primary-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <form class="text-body border border-line bg-white rounded-12p px-20p py-30p" (ngSubmit)="submit()"
          [formGroup]="forgotForm">
          <h4>Forgot Password?</h4>
          <div class="body1 mb-50p">
            Enter the email address you used when you joined and we'll send you
            instructions to reset your password.
          </div>
          <label class="subtitle2">Email Address <span class="text-danger">*</span></label>
          <div class="input-group mb-20p">
            <input type="email" placeholder="Enter your email" class="form-control" id="email" formControlName="email"
              name="email" [ngClass]="{ 'is-invalid': submitted && ff.email.errors }" required />
            <div *ngIf="submitted && ff.email.errors" class="invalid-feedback">
              <div *ngIf="ff.email.errors.required">Email is required</div>
              <div *ngIf="ff.email.errors?.pattern">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div>
            <button class="btn btn-primary w-100">
              Send Reset Instructions
            </button>
          </div>

          <div class="mt-30p text-center border-top border-line">
            <a 
            class="btn btn-text-grey small mt-15p"
            routerLink="/auth/login"
            >Already have an account?</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>