<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/logo1.png" class="loader-logo" width="100" />
  </p>
</ngx-spinner>
<div class="spc-top"></div>

<div
  class="container pt-5 pb-5 heightH-100 d-flex align-items-center justify-content-between"
>
  <div class="row w-100">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div class="inner-form height">
        <img class="forget-img" src="assets/img/forget.png" />
        <h2 class="text-center">Forgot Password</h2>
        <form
          class="pd-cls"
          (ngSubmit)="submit()"
          [formGroup]="forgotForm"
          class="labeledform forgotform"
        >
          <div class="form-group">
            <label for="email1">Email <span class="text-danger">*</span></label>
            <div class="w-100">
              <input
                type="email"
                class="form-control"
                id="email"
                formControlName="email"
                name="email"
                [ngClass]="{ 'is-invalid': submitted && ff.email.errors }"
              />
              <div *ngIf="ff.email.errors" class="invalid-feedback">
                <div *ngIf="ff.email.errors.required">Email is required</div>
                <div *ngIf="ff.email.errors.email">
                  Email must be a valid email address
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex mt-2 align-items-center justify-content-between">
            <button [routerLink]="['/auth/business']" class="btn-align-back">
              Back
            </button>
            <button class="btn btn-primary">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End Login Form -->
