<form (ngSubmit)="onSubmit()">
  <div class="mb-20p">
    <h6>Your company's specialities</h6>
    <div 
    class="py-10p px-20p bg-yellow-light border-left border-yellow text-yellow-dark mt-10p d-flex rounded-4p"
    style="border-width: 5px!important;"
    >
      <i iconPh="info" class="text-yellow-dark"></i>
      <span class="d-inline-block ml-5p body2">
        Please select only categories that you are well known.
      </span>
    </div>
  </div>
  <div class="mb-5">
    <form-item-service
    #formItemService
    [data]="data.services"
    [disabled]="disabled"
    [requiredMainAtLeast]="1"
    [requiredMainAtMost]="3"
    [controller]="formService"
    [submitted]="isSubmitted"
    (changeValue)=onChangeSelectedServices($event)
    ></form-item-service>
  </div>


  <h6>Product Images (max 5)</h6>

  <ul class="d-flex list-unstyled product-images">
    <ng-container *ngFor="let imageForm of formImages.controls; let i = index;">
      <li class="rounded">
        <img [src]="baseURLImage + imageForm.value" [alt]="'product image ' + (i + 1)">
        <button 
        *ngIf="!disabled"
        class="btn btn-icon small btn-remove" 
        type="button" 
        (click)="removeProductImage(i)"
        >
          <i iconPh="cross"></i>
        </button>

      </li>
    </ng-container>
    <li class="rounded" *ngIf="formImages.length < 5 && !disabled">
      <i iconPh="plus" class="icon-add"></i>
      <input type="file" class="cursor-pointer" accept="image/jpeg, image/png" multiple (change)="onSelectProductImages($event)">
    </li>
  </ul>

  <div 
  class="text-right" 
  [ngClass]="{'d-none': hideSubmit}"
  >
    <input 
    class="btn btn-primary"
    type="submit" 
    value="Submit"
    [disabled]="isUploadingImage || disabled"
    >
  </div>
</form>