  <h5>Product / Services</h5>

  <div class="mb-5">
    <form-item-service
    [data]="data.services"
    [disabled]="disabled"
    (changeValue)=onChangeSelectedServices($event)
    ></form-item-service>
  </div>


  <h5>Product Images (max 5)</h5>

  <ul class="d-flex list-unstyled product-images">
    <ng-container *ngFor="let imageForm of formImages.controls; let i = index;">
      <li class="rounded">
        <img [src]="baseURLImage + imageForm.value" [alt]="'product image ' + (i + 1)">
        <button 
        *ngIf="!disabled"
        class="btn btn-icon small btn-remove" 
        type="button" 
        (click)="removeProductImage(i)"
        >
          <i iconPh="cross"></i>
        </button>

      </li>
    </ng-container>
    <li class="rounded" *ngIf="formImages.length < 5 && !disabled">
      <i iconPh="plus" class="icon-add"></i>
      <input type="file" class="cursor-pointer" accept="image/jpeg, image/png" multiple (change)="onSelectProductImages($event)">
    </li>
  </ul>
