.text-blue{ color: var(--ph-blue); }
.border-blue{ border: solid 2px var(--ph-blue); }
.bg-blue{ background: var(--ph-blue); }
.cursor-pointer{ cursor: pointer; }
.bg-lightgrey{ background: #efefef; }
.bg-lightgreen { background: #dcffe4; }

.screenshot {
  border: solid 1px #d0d0d0;
  background: #f7f7f7;
}
.screenshot-image{
  width: 100%;
  height: auto;
}

:host{
  font-size: 16px;
}


.row-upload-button{
  order: 1;
  &.priority-low{
    order: 6;
  }
}

.row-uploaded-files{
  order: 5;
}

.row-uploading-files{
  order: 3;
  &.priority-low{
    order: 7;
  }
}

.row-input{
  order: 4
}

.row-usage-note{
  order: 9;
}

.row-submit{
  order: 10;
}


input[type=file]{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0
}

.uploaded-files{
  li{
    border: solid 1px var(--secondary);
    overflow: hidden;
    user-select: none;
    cursor: pointer;
    transition: background-color 200ms;

    @media (max-width: 767px){
      flex: 0 0 48%;
      margin: 0 4% 10px 0;
      &:nth-child(2n){ margin-right: 0; }
    }
    
    @media (min-width: 768px){
      flex: 0 1 150px;
      margin: 0 20px 10px 0;
    }


    i.fa-file{
      font-size: 40px;
      color:  var(--secondary);
    }
    span{
      display: inline-block;
      width: 100%;
      height: 1em;
      color:  var(--secondary);
      text-overflow: ellipsis;
      white-space: pre;
      overflow: hidden;
      line-height: 1em;
    }

    .file-menu{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #ffffffc2;
    }

    .file-menu-bar{
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }

  }
}

.file-previews {
  li{
    padding-left: 10px;
    max-width: 45%;
    border: solid 1px var(--secondary);
    margin: 0 15px 10px 0;
  }
  span, a{
    margin: 0 10px;
    text-overflow: ellipsis;
    height: 1em;
    white-space: pre;
    overflow: hidden;
    line-height: 1em;
  }
}

label{
  font-size: 1em;
  font-weight: 300;
  margin-top: 12px;
}

input[type=submit]{
  font-size: 1em;
}

badge-verified{ font-size: 32px;}