<div (clickOutside)="hideMenu()">
  <button class="btn btn-share" (click)="toggleMenu()">
    <i class="fas fa-share-alt text-primary font-biggest"></i>
  </button>
  <ul *ngIf="isMenuShown" class="share-menu list-unstyled p-4 blur rounded-12p" [@expandVertical]>
    <ng-container *ngFor="let social of socials">
      <li *ngIf="!(social.id == 'pinterest' && !media)">
        <a class="d-flex flex-nowrap align-items-center justify-content-start py-3 px-2"
        target="_blank"
        [href]="socialLink(social.id)"
        >
          <i class="fab font-big" [ngClass]="'fa-' + social.id"></i>
          <span class="ml-2">{{social.label}}</span>
        </a>
      </li>  
    </ng-container>
  </ul>
</div>