<div class="container">
  <div class="row align-items-start my-40p">
    <section class="col-12 col-md-6 col-lg-7 col-xl-8 pt-3 position-sm-relative sticky-top d-md-flex flex-column mainview">
      <div class="d-lg-inline-flex align-items-center mb-3 mb-lg-0 flex-grow-0">
        <h2>{{profile?.name}}</h2>
        <star-rate 
        [rate]="profile?.priceLevel" 
        [showActiveOnly]="false"
        size="big"
        sign="dollar" 
        class="ml-0 ml-lg-4"
        ></star-rate>
      </div>

      <div class="image-gallery flex-grow-1 d-flex flex-column">
        <ng-container *ngIf="profile && profile.productImages.length > 0">
          <div class="image-main flex-grow-1">
            <img [src]="profile.productImages[imageViewerTarget].url" alt="">
          </div>
          <image-row
          *ngIf="profile.productImages.length > 1"
          [images]="profile?.productImages"
          [option]="{col: 5, center: true}"
          (select)="changeImageViewerTarget($event)"
          ></image-row>  
        </ng-container>
      </div>
      
      <!-- <div class="image-grid flex-grow-1" [ngClass]="'item-count-' + profile?.countProductImages">
        <ng-container *ngFor="let imageData of profile?.productImages; let i = index">
          <div class="position-relative" [ngClass]="'item-' + i" (click)="changeImageViewerTarget(i)">
            <img class="rounded-12p" [src]="imageData.url" >
          </div>  
        </ng-container>
      </div> -->
    </section>

    <section class="col-12 col-md-6 col-lg-5 col-xl-4">
      <div class="position-relative">
        <div class="intersection-observer" intersectionObserver (changeStatus)="changeStickyStatus($event)"></div>
      </div>
      <div class="sidebar-tab sticky-top blur pt-3">
        <ul class="list-unstyled d-flex text-center mb-0">
          <li *ngFor="let tab of ['About', 'Review']; let i = index;" 
          class="py-3 text-primary h6"
          [ngClass]="{active: (currentTabIndex == i)}"
          (click)="changeTabIndex(i)"
          >{{tab}}</li>
        </ul> 
        <div class="highlighter bg-primary" [ngClass]="'index-' + currentTabIndex"></div>
      </div>
      <div class="bg-primary-light rounded-12p mt-3 py-5 overflow-hidden position-relative">
        <div *ngIf="currentTabIndex == 0">
          <div class="px-4">
            <div class="profile-image-container">
              <img *ngIf="profile" [src]="profile?.image" [alt]="profile ? profile.name : ''">
            </div>
            <h3 class="mt-3 mb-4">{{profile?.name}}</h3>
            <p class="whitespace-prewrap" [ngClass]="{'clamp-4line': isDescriptionClamped}">{{profile?.description}}</p>            
            <button class="btn btn-text small pl-0" (click)="toggleDescriptionLength()">
              <u *ngIf="isDescriptionClamped">See full profile</u>
              <u *ngIf="!isDescriptionClamped">See less profile</u>
            </button>
          </div>
  
          <table class="table table-borderless table-hover px-2 mt-3">
            <tbody>
              <tr *ngIf="profile?.address">
                <td class="pl-4 subtitle1 text-center"><i iconPh="pin" class="large"></i></td>
                <td class="text-left pl-0">{{profile.address}}</td>
              </tr>
              <tr *ngIf="profile?.phone">
                <td class="pl-4 subtitle1 text-center"><i iconPh="smartphone" class="large"></i></td>
                <td class="text-left pl-0">{{profile.phone}}</td>
              </tr>
              <tr *ngIf="profile?.email">
                <td class="pl-4 subtitle1 text-center"><i iconPh="email" class="large"></i></td>
                <td class="text-left pl-0"><a [href]="'mailto:' + profile.email" class="clamp-1line">{{profile.email}}</a></td>
              </tr>
              <tr *ngIf="profile?.website">
                <td class="pl-4 subtitle1 text-center"><i iconPh="globe" class="large"></i></td>
                <td class="text-left pl-0"><a [href]="profile.website" target="_blank">{{profile.websiteLabel}}</a></td>
              </tr>
            </tbody>
          </table>
  
          <!-- <ul *ngIf="profile?.service" class="list-unstyled d-flex flex-wrap justify-content-start mx-4">
            <li *ngFor="let s of profile.service" 
            class="btn btn-outline bg-primary-light text-primary small mr-2 mb-3"
            >{{s[0]}}</li>
          </ul> -->
  
          <table class="table table-borderless table-hover px-2 mt-3">
            <tbody>
              <tr *ngIf="profile?.coupon" class="font-weight-bold">
                <td class="pl-4 text-primary subtitle1">Coupon</td>
                <td class="pl-0">{{profile.coupon}}</td>
              </tr>
              <tr *ngIf="profile?.sampleLink" class="font-weight-bold">
                <td class="pl-4 text-primary subtitle1">Sample</td>
                <td class="pl-0"><a [href]="profile.sampleLink" target="_blank">{{profile.sampleLinkLabel}}</a></td>
              </tr>
              <tr *ngIf="profile?.affiliateLink" class="font-weight-bold">
                <td class="pl-4 text-primary subtitle1">Affiliate</td>
                <td class="pl-0"><a [href]="profile.affiliateLink" target="_blank">{{profile.affiliateLinkLabel}}</a></td>
              </tr>
              <tr *ngIf="profile?.trialLink" class="font-weight-bold">
                <td class="pl-4 text-primary subtitle1">Trial</td>
                <td class="pl-0"><a [href]="profile.trialLink" target="_blank">{{profile.trialLinkLabel}}</a></td>
              </tr>
            </tbody>
          </table>
  
          <div class="text-center mx-4" *ngIf="profile?.signupURL">
            <a class="btn btn-primary w-100" [href]="profile.signupURL" target="_blank">Sign up</a>
          </div>
  
          <div class="share-menu-container" *ngIf="profile">
            <button-share
            facebook twitter linkedin pinterest email
            label=""
            btnClass="btn btn-icon color-inherit"
            menuPosition="right"
            [url]="urlCurrent"
            [title]="'Check out our favorite product ' + profile?.name" 
            [text]="profile?.name + ' is offering special deals!'"
            ></button-share>
          </div>
        </div>

        <div *ngIf="currentTabIndex == 1">
          <div class="m-2 border rounded-lg" *ngIf="!profile || (profile.isConnectedToGoogle && !(profile.detailByGoogle))">
            <card-dummy class="bg-white"></card-dummy>
          </div>

          <p *ngIf="!!profile && !profile.isConnectedToGoogle" class="mx-4">No review yet</p>

          <ul class="list-unstyled google-reviews" *ngIf="profile && profile.detailByGoogle">
            <li class="my-2 mx-4" *ngFor="let r of profile?.detailByGoogle.reviews">
              <div class="d-flex flex-nowrap align-items-start mb-2">
                <img class="user" [src]="r.profile_photo_url" alt="">
                <div class="ml-2 mb-1 flex-grow-1">
                  <span class="subtitle1">{{r.author_name}}</span><br>
                  <star-rate [rate]="r.rating" size="small" margin="narrow"></star-rate>
                </div>
              </div>
              <p class="body2">{{r.text}}</p>
              <div class="text-right body-small">
                <span class="opacity-60pc">{{r.relative_time_description}}</span>
                <img class="badge-google" src="/assets/img/logo-google.png" alt="" width="30">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- <image-viewer 
*ngIf="imageViewerTarget !== null" 
[target]="imageViewerTarget" 
[data]="profile?.productImageViewerData" 
(close)="changeImageViewerTarget(null)"
></image-viewer> -->
