<div class="container">
  <div class="row mt-5">
    <img class="d-none d-md-block path-bottom" src="/assets/img/register-questionnaire-complete-bottom.png">
    <img class="d-none d-md-block path-top" src="/assets/img/register-questionnaire-complete-top.png">
    <img class="d-none d-md-block path-right" src="/assets/img/register-questionnaire-complete-right.png">

    <div class="col-md-9 col-lg-6">
      <h2 class="font-bigger text-title">You're all set!</h2>
      <p class="font-big text-subtitle">
        Your account has been updated.
      </p>    

      <section class="body position-relative">
        <img class="d-none d-md-block path-left" src="/assets/img/register-questionnaire-complete-left.png">
        <p class="text-body position-relative mr-lg-5">
          Thank you for joining us in the collaborative effort towards revolutionizing accessibility to personalized health and wellness solutions.<br><br>
          We are excited to have you as part of the PromptHealth community.
        </p>

      </section>

      <section class="text-md-right mr-lg-5 to-home position-relative">
        <div class="d-inline-block text-md-left">
          <a class="btn btn-outline-primary mb-3" [routerLink]="routePlan">
            See Plans
          </a>
          <br>
          <a class="btn btn-outline-primary" [routerLink]="['/ambassador-program']">
            See Ambassador Program
          </a>  
        </div>
      </section>

    </div>    
    <div class=""></div>
  </div>
  <section class="">
    <img class="d-md-none path-small" src="/assets/img/register-questionnaire-complete-small.png">
    <img class="path-people" src="/assets/img/register-questionnaire-complete-people.png">
  </section>

</div>