<h5 class="mb-3">
  <span *ngIf="authType == 'signin'">Sign in to PromptHealth</span>
  <span *ngIf="authType == 'signup'">Create An Account</span>
</h5>

<section>
  <a class="btn btn-google w-100 mb-2 font-weight-bold"
  (click)="signinWith('google')"
  ><i class="fab fa-google"></i> Sign in with Google</a>

  <a class="btn btn-facebook w-100 mb-2 font-weight-bold" 
  (click)="signinWith('facebook')"
  ><i class="fab fa-facebook-square"></i> Sign in with Facebook</a>
  <hr />
</section>

<section>
  <form [formGroup]="form" (ngSubmit)="signinEmail()">
    <div class="mb-3">
      <label>Email Address <span class="text-danger">*</span></label>
      <form-input
      name="email"
      label="Email Address"
      placeholder="Enter your email"
      autcomplete="email"
      [submitted]="isSubmitted"
      [controller]="f.email"
      ></form-input>
    </div>

    <div class="mb-3">
      <label>Password <span class="text-danger">*</span></label>
      <form-input
      name="password"
      label="Password"
      type="password"
      placeholder="Enter your password"
      [autocomplete]="(authType == 'signin') ? 'current-password' : 'new-password'"
      [submitted]="isSubmitted"
      [controller]="f.password"
      ></form-input>
    </div>

    <div class="mb-3" *ngIf="authType == 'signup'">
      <label>Confirm Password <span class="text-danger">*</span></label>
      <form-input
      name="confirmPassword"
      label="Password"
      type="password"
      placeholder="Confirm your password"
      autocomplete="new-password"
      [submitted]="isSubmitted"
      [controller]="f.confirm_password"
      ></form-input>
    </div>

    <div class="mb-3" *ngIf="authType == 'signup'">
      <label>How did you hear about us? <span class="text-danger">*</span></label>
      <form-input
      name="hear_from"
      label="Message"
      placeholder="Enter your message"
      [submitted]="isSubmitted"
      [controller]="f.hear_from"
      ></form-input>
    </div>

    <div class="mb-3" *ngIf="authType == 'signup'">
      <form-checkbox
      class="font-small"
      name="t_c"
      label="I agree to the terms of service and privacy policy"
      [controller]="f.t_c"
      ></form-checkbox>
      <form-errors
      [controller]="f.t_c"
      label="Agreement"
      [submitted]="isSubmitted"
      ></form-errors>
    </div>

    <div class="mb-2">
      <input 
      class="btn btn-success w-100"
      type="submit" 
      [value]="(authType == 'signin') ? 'Sign In' : 'Sign Up'"
      >
    </div>
 
    <div class="text-right font-small mb-3" *ngIf="authType == 'signin'">
      <a [routerLink]="['/auth/forgot-password']" class="text-primary font-weight medium">Forgot Password?</a>
    </div>

    <div *ngIf="authType == 'signin'">
      <hr>
      <a [routerLink]="['/auth/registration/U']" class="btn btn-outline-secondary w-100">Create Account</a>
    </div>

    <div *ngIf="authType == 'signup'">
      <hr>
      <a [routerLink]="['/auth/login']" class="btn btn-outline-secondary w-100">Have an account? Login</a>
    </div>
  </form>
</section>


