<section>
  <button class="btn btn-google w-100 mb-3 small"
  (click)="signinWith('google')"
  >
    <i iconPh="google" class="mr-2"></i>
    <span>Sign in with Google</span>
  </button>

  <a class="btn btn-facebook w-100 mb-2 small" 
  (click)="signinWith('facebook')"
  >
    <i iconPh="facebook" class="mr-2"></i>
    <span>Sign in with Facebook</span>
  </a>
  <hr />
</section>

<section>
  <form [formGroup]="form" (ngSubmit)="signinEmail()">
    <div 
    *ngIf="authType == 'signup'"
    class="mb-3"
    >
      <label class="subtitle2">You are...</label>
      <form-item-input 
      name="type" 
      type="text" 
      [disabled]="true"
      [controller]="formRole"
      ></form-item-input>
      
    </div>
    <div class="mb-3">
      <label class="subtitle2">Email Address <span class="text-danger">*</span></label>
      <form-item-input name="email" type="email" label="Email Address" placeholder="Enter your email"
        autocomplete="email" autocapitalize="off" [submitted]="isSubmitted" [controller]="f.email"></form-item-input>
    </div>

    <div class="mb-3">
      <label class="subtitle2">Password <span class="text-danger">*</span></label>
      <form-item-input name="password" label="Password" type="password" placeholder="Enter your password"
        [autocomplete]="(authType == 'signin') ? 'current-password' : 'new-password'" [submitted]="isSubmitted"
        [controller]="f.password"></form-item-input>
    </div>

    <div class="mb-3" *ngIf="authType == 'signup'">
      <label class="subtitle2">Confirm Password <span class="text-danger">*</span></label>
      <form-item-input name="confirmPassword" label="Password" type="password" placeholder="Confirm your password"
        autocomplete="new-password" [submitted]="isSubmitted" [controller]="f.confirm_password"></form-item-input>
    </div>

    <div class="mb-3" *ngIf="authType == 'signup'">
      <label class="subtitle2">
        How did you hear about us?
        <!-- <span class="text-danger">*</span> -->
      </label>
      <form-item-input name="hear_from" label="Message" placeholder="Enter your message" [submitted]="isSubmitted"
        [controller]="f.hear_from"></form-item-input>
    </div>

    <div class="mb-3" *ngIf="authType == 'signup'">
      <form-item-checkbox
      label="I agree to the <a href='/terms' target='_blank'>terms of service</a> and <a href='/terms' target='_blank'>privacy policy</a>"
      [controller]="f.t_c"
      ></form-item-checkbox>
      <form-item-errors
      [controller]="f.t_c"
      label="Agreement"
      [submitted]="isSubmitted"
      ></form-item-errors>
    </div>

    <div class="mb-2">
      <input 
      class="btn btn-primary w-100"
      type="submit"
      [disabled]="isLoading"
      [value]="(authType == 'signin') ? 'Sign In' : 'Sign Up'"
      >
    </div>
 
    <div class="text-right mb-3" *ngIf="authType == 'signin'">
      <a [routerLink]="['/auth/forgot-password']" class="btn btn-text-black small pr-0">Forgot Password?</a>
    </div>

    <div *ngIf="authType == 'signin'">
      <hr>
      <a [routerLink]="['/auth/registration/U']" class="btn btn-text small w-100">Create Account</a>
      <div class="body2 text-center">Or</div>
      <a routerLink="/plans" class="btn btn-text small w-100">Get listed on PromptHealth</a>
    </div>

    <div *ngIf="authType == 'signup'">
      <hr>
      <a [routerLink]="['/auth/login']" class="btn btn-text small w-100">Have an account? Login</a>
    </div>
  </form>
</section>