<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>

<form (ngSubmit)="onSubmit()">
  <div class="d-flex flex-column" style="height: 100vh;">
    <div class="intersection-observer" intersectionObserver rootMargin="-50px 0px 0px 0px" (changeStatus)="changeStickyStatus($event)"></div>
    <section class="border-bottom sticky-top bg-white">
      <div class="container-fluid">
        <div class="d-flex justify-content-between py-5p">
          <a routerLink="/dashboard/profilemanagement/my-posts" class="btn btn-icon small pl-0 text-body">
            <i iconPh="arrow-left"></i>
          </a>

          <div>
            <a 
            *ngIf="post?.slug"
            [routerLink]="['/magazines', post.slug]"
            target="_blank"
            class="btn btn-text small mr-10p mr-md-30p text-body px-0"
            >View</a>
            <input
            type="submit"
            class="btn btn-outline small mr-10p"
            [ngClass]="{'btn-primary': f.status.value !== 'DRAFT'}"
            [value]="(f.status.value === 'DRAFT') ? 'Save' : 'Update'"
            [disabled]="this.isUploading || !this.user || f.status.value === 'HIDDEN'"
            >
            <button
            *ngIf="f.status.value === 'DRAFT'"
            class="btn btn-primary small mr-10p"
            type="button"
            (click)="onSubmit(true)"
            [disabled]="this.isUploading || !this.user"
            >Publish</button>
    
            <button 
            class="btn d-lg-none small px-5p" 
            type="button"
            [ngClass]="{'btn-secondary': isSettingShown}"
            (click)="toggleSettingPanel()"
            >
              <i iconPh="gear"></i>
            </button>  
          </div>
        </div>
      </div>
    </section>
  
    <section class="container-fluid flex-grow-1">
      <div class="d-flex flex-nowrap editor-container overflow-hidden h-100">
        <div class="editor w-100 d-flex flex-column pt-60p pt-md-15p">
          <div>
            <div class="pl-15p">
              <form-item-errors
              [controller]="f.title"
              label="Title"
              [submitted]="isSubmitted"
              ></form-item-errors>
            </div>

            <div 
            class="contenteditable title h4 h2-md mb-15p mb-md-30p"
            data-placeholder="Enter title..."
            contenteditable 
            [formControl]="f.title"
            (beforeinput)="onBeforeInputTitle($event)"
            (input)="onInputTitle($event)"
            ></div>
          </div>
  
          <div class="position-relative flex-grow-">
            <div class="pl-15p">
              <form-item-errors
              [controller]="f.description"
              label="Content"
              [submitted]="isSubmitted"
              ></form-item-errors>
            </div>
            <quill-editor
            [styles]="{minHeight: '450px', border: 'none', marginBottom: '180px'}"
            customToolbarPosition="bottom"
            (onEditorChanged)="onEditorChanged($event)"
            (onEditorCreated)="onEditorCreated($event)"
            [(ngModel)]="description"
            [ngModelOptions]="{standalone:true}"
            >
              <div quill-editor-toolbar customToolbarPosition="bottom" class="overflow-auto">
                <div class="d-lg-none sticky-left">
                  <span class="ql-formats d-flex flex-nowrap">
                    <button class="ql-image" title="Add image"></button>
                    <button class="ql-video" title="Add video"></button>
                    <button class="ql-link" title="Add link"></button>
                  </span>
                </div>

                <div class="d-flex flex-nowrap flex-md-wrap ">
                  <span class="ql-formats d-flex flex-nowrap">
                    <button class="ql-bold" title="Bold"></button>
                    <button class="ql-italic" title="Italic"></button>
                    <button class="ql-underline" title="Underline"></button>
                    <button class="ql-clean" title="Reset"></button>
                  </span>
  
                  <span class="ql-formats d-flex flex-nowrap">
                    <button class="ql-header" value="1" title="Header1"></button>
                    <button class="ql-header" value="2" title="Header2"></button>
                  </span>
  
                  <span class="ql-formats d-flex flex-nowrap">
                    <button class="ql-list" value="bullet" title="List bullet"></button>
                    <button class="ql-list" value="ordered" title="List ordered"></button>
                  </span>
  
                  <span class="ql-formats flex-nowrap d-none d-lg-flex">
                    <select class="ql-color" title="Text color"></select>
                    <select class="ql-background" title="Background color"></select>
                  </span>
  
                  <span class="ql-formats flex-nowrap d-none d-lg-flex">
                    <button class="ql-image" title="Add image"></button>
                    <button class="ql-video" title="Add video"></button>
                    <button class="ql-link" title="Add link"></button>
                  </span>  
                </div>
              </div>
            </quill-editor>  
          </div>
        </div>
  
        <div 
        class="setting-panel border-left pt-15p pl-15p"
        [ngClass]="{shown: isSettingShown}"
        >
          <div class="mb-20p">
            <h6 class="subtitle1">Status</h6>
            <div class="body1">{{statusNameOf(f.status.value)}}</div>
            <div 
            *ngIf="f.status.value == 'PENDING'"
            class="bg-background mt-10p p-2 body-small"
            >
              <span class="opacity-70pc">
                This post is not published yet. 
                Administrator is reviewing now. Meanwhile, you can edit or change status to draft.
              </span>
            </div>
            <div 
            *ngIf="f.status.value == 'REJECTED'"
            class="bg-warning-light text-warning-dark mt-10p p-2 body-small"
            >
              <span>
                This post has been rejected. 
                Please modify appropriately.
                If you have question, please contact administrator.
              </span>
            </div>
            <button
            *ngIf="f.status.value !== 'DRAFT'"
            type="button"
            class="btn btn-outline mr-10p px-0"
            (click)="draftPost()"
            ><u>Change status to draft</u></button>
          </div>
          <div class="mb-20p">
            <h6 class="subtitle1">Category</h6>
            <ng-multiselect-dropdown
            placeholder="..."
            [settings]="dropdownSettingCategories"
            [data]="categories"
            [(ngModel)]="selectedCategories"
            [ngModelOptions]="{standalone: true}"
            (onSelect)="onSelectCategory($event)"
            (onDeSelect)="onDeselectCategory()"
            >
            </ng-multiselect-dropdown>
            <form-item-errors [controller]="f.categoryId" [submitted]="isSubmitted" label="Category"></form-item-errors>
          </div>
  
          <div class="mb-20p">
            <h6 class="subtitle1">Topics</h6>
            <ng-multiselect-dropdown
            placeholder="..."
            [settings]="dropdownSettingTags"
            [data]="tags"
            [(ngModel)]="selectedTags"
            (onSelect)="onChangeTags()"
            (onDeselectAll)="onChangeTags()"
            (onDeSelect)="onChangeTags()"
            [ngModelOptions]="{standalone: true}"
            ></ng-multiselect-dropdown>
          </div>
  
          <div class="mb-20p">
            <h6 class="subtitle1">Thumbnail</h6>
            <ng-multiselect-dropdown
            placeholder="Thumbnail type..."
            [settings]="dropdownSetting"
            [data]="thumbnailTypes"
            (onSelect)="onSelectThumbnailType($event)"
            [(ngModel)]="selectedThumbnailType"
            [ngModelOptions]="{standalone: true}"
            ></ng-multiselect-dropdown>
  
            <div
            class="mt-15p"
            [ngClass]="{'d-none': !isSelectedThumbnailType('image')}"
            >
              <form-item-upload-image-button
              #imageSelector
              label="image"
              [controller]="f.image"
              [userid]="user?._id"
              [option]="{shrinkByWidth: true}"
              uploadType="blogThumbnail"
              (changeImage)="onChangeImage($event)"
              ></form-item-upload-image-button>
            </div>
  
            <div
            *ngIf="isSelectedThumbnailType('video')"
            class="mt-15p"
            >
              <form-item-input
              placeholder="https://youtube..."
              label="Video link"
              type="url"
              [controller]="fVideo.url"
              [submitted]="isSubmitted"
              autocapitalize="off"
              ></form-item-input>
            </div>
  
            <div
            *ngIf="isSelectedThumbnailType('podcast')"
            class="mt-15p"
            >
              <form-item-input
              placeholder="https://spotify..."
              label="Podcast link"
              type="url"
              [controller]="fPodcast.url"
              [submitted]="isSubmitted"
              autocapitalize="off"
              ></form-item-input>

              <form-item-upload-image-button
              label="image"
              [controller]="f.image"
              [userid]="user?._id"
              [option]="{shrinkByWidth: true}"
              uploadType="blogThumbnail"
              (changeImage)="onChangeImage($event)"
              ></form-item-upload-image-button>
            </div>
          </div>
 
          <div style="margin-bottom: 350px;" *ngIf="isEventShown">
            <h6 class="subtitle1">Event data</h6>
            <div class="mb-15p">
              <div class="subtitle2">Start at</div>
              <form-item-datetime
              [controller]="f.eventStartTime"
              [minDateTime]="minDateTimeEventStart"
              (changeValue)="onChangeStartDateTime()"
              ></form-item-datetime>
              <form-item-errors
              [controller]="f.eventStartTime"
              label="Start time"
              [submitted]="isSubmitted"
              ></form-item-errors>
            </div>

            <div class="mb-15p">
              <div class="subtitle2">End at</div>
              <form-item-datetime
              [controller]="f.eventEndTime"
              [minDateTime]="minDateTimeEventEnd"
              (changeValue)="onChangeEndDateTime($event)"
              ></form-item-datetime>
              <form-item-errors
              [controller]="f.eventEndTime"
              label="End time"
              [submitted]="isSubmitted"
              ></form-item-errors>
              <form-item-errors
              [controller]="form"
              label="Start time"
              [submitted]="isSubmitted"
              ></form-item-errors>
            </div>
            <div class="mb-15p">
              <div class="subtitle2">Event link</div>
              <form-item-input
              label="Link"
              type="url"
              placeholder="https://..."
              autocapitalize="off"
              [controller]="f.joinEventLink"
              [submitted]="isSubmitted"
              ></form-item-input>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</form>
