<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>

<form (ngSubmit)="onSubmit()">
  <div class="d-flex flex-column" style="height: 100vh;">
    <div class="intersection-observer" intersectionObserver rootMargin="-50px 0px 0px 0px" (changeStatus)="changeStickyStatus($event)"></div>
    <section class="border-bottom sticky-top bg-white">
      <div class="container-fluid">
        <div class="d-flex justify-content-between py-5p">
          <a routerLink="/dashboard/profilemanagement/my-posts" class="btn">
            <i class="fas fa-arrow-left"></i>
          </a>

          <div>
            <a 
            *ngIf="post?.slug"
            [routerLink]="['/magazines', post.slug]"
            target="_blank"
            class="btn mr-10p"
            >View</a>
            <input
            type="submit"
            class="btn btn-outline mr-10p"
            [ngClass]="{'btn-primary': f.status.value !== 'DRAFT'}"
            [value]="(f.status.value === 'DRAFT') ? 'Save' : 'Update'"
            [disabled]="this.isUploading || !this.user || f.status.value === 'HIDDEN'"
            >
            <button
            *ngIf="f.status.value === 'DRAFT'"
            class="btn btn-primary mr-10p"
            type="button"
            (click)="onSubmit(true)"
            [disabled]="this.isUploading || !this.user"
            >Publish</button>
    
            <button 
            class="btn d-lg-none" 
            type="button"
            [ngClass]="{'btn-secondary': isSettingShown}"
            (click)="toggleSettingPanel()"
            >
              <i class="fas fa-cog"></i>
            </button>  
          </div>
        </div>
      </div>
    </section>
  
    <section class="container-fluid flex-grow-1">
      <div class="d-flex flex-nowrap editor-container overflow-hidden h-100">
        <div class="editor pt-15p d-flex flex-column">
          <div>
            <div class="pl-15p">
              <form-item-errors
              [controller]="f.title"
              label="Title"
              [submitted]="isSubmitted"
              ></form-item-errors>
            </div>
            <input type="text"
            class="form-control form-control-title h4-temp h2-temp-md"
            placeholder="Enter Title..."
            [formControl]="f.title"
            >
          </div>
  
          <div class="position-relative flex-grow-1">
            <div class="pl-15p">
              <form-item-errors
              [controller]="f.description"
              label="Content"
              [submitted]="isSubmitted"
              ></form-item-errors>
            </div>
            <quill-editor
            [styles]="{minHeight: '450px', border: 'none', marginBottom: '150px'}"
            (onEditorChanged)="changedEditor($event)"
            [(ngModel)]="description"
            [ngModelOptions]="{standalone:true}"
            >
            </quill-editor>  
          </div>
        </div>
  
        <div 
        class="setting-panel border-left pt-15p pl-15p"
        [ngClass]="{shown: isSettingShown}"
        >
          <div class="mb-20p">
            <h6 class="subtitle1-temp">Status</h6>
            <div class="body1-temp">{{statusNameOf(f.status.value)}}</div>
            <div 
            *ngIf="f.status.value == 'PENDING'"
            class="bg-background mt-10p p-2 body-small-temp"
            >
              <span class="opacity-70pc">
                This post is not published yet. 
                Administrator is reviewing now. Meanwhile, you can edit or change status to draft.
              </span>
            </div>
            <div 
            *ngIf="f.status.value == 'REJECTED'"
            class="bg-warning-light text-warning-dark mt-10p p-2 body-small-temp"
            >
              <span>
                This post has been rejected. 
                Please modify appropriately.
                If you have question, please contact administrator.
              </span>
            </div>
            <button
            *ngIf="f.status.value !== 'DRAFT'"
            type="button"
            class="btn btn-outline mr-10p px-0"
            (click)="draftPost()"
            ><u>Change status to draft</u></button>
          </div>
          <div class="mb-20p">
            <h6 class="subtitle1-temp">Category</h6>
            <ng-multiselect-dropdown
            placeholder="..."
            [settings]="dropdownSettingCategories"
            [data]="categories"
            [(ngModel)]="selectedCategories"
            [ngModelOptions]="{standalone: true}"
            (onSelect)="onSelectCategory($event)"
            (onDeSelect)="onDeselectCategory()"
            >
            </ng-multiselect-dropdown>
            <form-item-errors [controller]="f.categoryId" [submitted]="isSubmitted" label="Category"></form-item-errors>
          </div>
  
          <div class="mb-20p">
            <h6 class="subtitle1-temp">Topics</h6>
            <ng-multiselect-dropdown
            placeholder="..."
            [settings]="dropdownSettingTags"
            [data]="tags"
            [(ngModel)]="selectedTags"
            (onSelect)="onChangeTags()"
            (onDeselectAll)="onChangeTags()"
            (onDeSelect)="onChangeTags()"
            [ngModelOptions]="{standalone: true}"
            ></ng-multiselect-dropdown>
          </div>
  
          <div class="mb-20p">
            <h6 class="subtitle1-temp">Thumbnail</h6>
            <ng-multiselect-dropdown
            placeholder="Thumbnail type..."
            [settings]="dropdownSetting"
            [data]="thumbnailTypes"
            (onSelect)="onSelectThumbnailType($event)"
            [(ngModel)]="selectedThumbnailType"
            [ngModelOptions]="{standalone: true}"
            ></ng-multiselect-dropdown>
  
            <div
            class="mt-15p"
            [ngClass]="{'d-none': !isSelectedThumbnailType('image')}"
            >
              <form-item-upload-image-button
              #imageSelector
              label="image"
              [controller]="f.image"
              [userid]="user?._id"
              [option]="{shrinkByWidth: true}"
              uploadType="blogThumbnail"
              (changeImage)="onChangeImage($event)"
              ></form-item-upload-image-button>
            </div>
  
            <div
            *ngIf="isSelectedThumbnailType('video')"
            class="mt-15p"
            >
              <form-item-input
              placeholder="https://youtube..."
              label="Video link"
              type="url"
              [controller]="fVideo.url"
              [submitted]="isSubmitted"
              autocapitalize="off"
              ></form-item-input>
            </div>
  
            <div
            *ngIf="isSelectedThumbnailType('podcast')"
            class="mt-15p"
            >
              <form-item-input
              placeholder="https://spotify..."
              label="Podcast link"
              type="url"
              [controller]="fPodcast.url"
              [submitted]="isSubmitted"
              autocapitalize="off"
              ></form-item-input>

              <form-item-upload-image-button
              label="image"
              [controller]="f.image"
              [userid]="user?._id"
              [option]="{shrinkByWidth: true}"
              uploadType="blogThumbnail"
              (changeImage)="onChangeImage($event)"
              ></form-item-upload-image-button>
            </div>
          </div>
 
          <div style="margin-bottom: 350px;" *ngIf="isEventShown">
            <h6 class="subtitle1-temp">Event data</h6>
            <div class="mb-15p">
              <div class="subtitle2-temp">Start at</div>
              <form-item-datetime
              [controller]="f.eventStartTime"
              [minDateTime]="minDateTimeEventStart"
              (changeValue)="onChangeStartDateTime()"
              ></form-item-datetime>
              <form-item-errors
              [controller]="f.eventStartTime"
              label="Start time"
              [submitted]="isSubmitted"
              ></form-item-errors>
            </div>

            <div class="mb-15p">
              <div class="subtitle2-temp">End at</div>
              <form-item-datetime
              [controller]="f.eventEndTime"
              [minDateTime]="minDateTimeEventEnd"
              (changeValue)="onChangeEndDateTime($event)"
              ></form-item-datetime>
              <form-item-errors
              [controller]="f.eventEndTime"
              label="End time"
              [submitted]="isSubmitted"
              ></form-item-errors>
            </div>
            <div class="mb-15p">
              <div class="subtitle2-temp">Event link</div>
              <form-item-input
              label="Link"
              type="url"
              placeholder="https://..."
              autocapitalize="off"
              [controller]="f.joinEventLink"
              [submitted]="isSubmitted"
              ></form-item-input>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</form>
