<div class="row justify-content-between align-items-center">
  <div class="d-none d-lg-block col-lg-4 col-xl-5">
    <p class="opacity-70pc">
      Want even more content to support you on your health and wellness journey? 
      Subscribe to the PromptHealth magazine to learn from our experts including fitness advice, recipes, mindfulness tips, and so much more. 
    </p>  
  </div>
  <div class="col-12 col-lg-7 col-xl-6 mb-30p">
    <h3 class="h4 h3-md text-center mb-15p mb-md-30p">
      Connect and stay engaged with your wellness community. 
    </h3>
    <div class="d-flex flex-column justify-content-stretch flex-md-row justify-content-md-between">
      <div class="flex-grow-1 mb-20p mb-md-0 mr-md-10p">
        <form-item-input 
        class="w-100"
        type="text"
        autocomplete="off"
        autocapitalize="off"
        placeholder="Your email address..."
        [controller]="form"
        ></form-item-input>  
      </div>
      <button class="btn btn-primary">Subscribe</button>
    </div>
  </div>
</div>