<div class="row justify-content-between align-items-center">
  <div class="d-none d-lg-block col-lg-4 col-xl-5">
    <p class="opacity-70pc body1-temp">
      Want even more content to support you on your health and wellness journey? 
      Subscribe to the PromptHealth magazine to learn from our experts including fitness advice, recipes, mindfulness tips, and so much more. 
    </p>  
  </div>
  <div class="col-12 col-lg-7 col-xl-6 mb-30p">
    <h3 class="h4-temp h3-temp-md text-center mb-15p mb-md-30p">
      Connect and stay engaged with your wellness community. 
    </h3>
    <form (ngSubmit)="onSubmit()">
      <div class="d-flex flex-column justify-content-stretch align-items-stretch flex-md-row justify-content-md-between align-items-md-center">
        <div class="flex-grow-1 mb-10p mb-md-0p mr-md-10p">
          <form-item-input 
          class="w-100"
          type="text"
          label="email"
          autocomplete="off"
          autocapitalize="off"
          placeholder="Your email address..."
          [submitted]="isSubmitted"
          [controller]="f.email"
          ></form-item-input>  
        </div>
        <input class="btn btn-primary" type="submit" value="Subscribe" [disabled]="isSending">
      </div>
    </form>
  </div>
</div>