<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
      <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>
<h3 class="mb-3">My Favorites</h3>

<hr />

<div
  class="row m-0 shadow-sm overflow-hidden profileBox mb-4"
  *ngFor="let doc of favListing; else noData"
>
  <div class="col-12 col-lg-3 p-0">
    <!-- <img
    [src]="'https://api.prompthealth.ca/users/'+doc?.userData?.profileImage"
    class="profileimg" /> -->
    <div
    class="bg-cover w-100 h-100 profileimg"
    [ngStyle]="{'background-image': 'url(https://api.prompthealth.ca/users/' + doc.profileImage+')'}"
    ></div>
  </div>
  <div class="col-12 col-lg-9 p-3">
  <div
    class="d-flex justify-content-between align-items-start flex-wrap flex-md-nowrap"
  >
    <div class="text-primary">
      <a
        href="/dashboard/detail"
        [routerLink]="['/dashboard/detail']"
        class="d-block h5 text-uppercase mb-0"
        >{{doc.firstName}} {{doc.lastName}}</a
      >
      
      <div class="text-review mb-2" *ngIf="doc.ratingAvg">
        <div class="text-rating mb-2" *ngIf="doc.ratingAvg === 5">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="text-rating mb-2" *ngIf="doc.ratingAvg === 4">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="text-rating mb-2" *ngIf="doc.ratingAvg === 3">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="text-rating mb-2" *ngIf="doc.ratingAvg === 2">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="text-rating mb-2" *ngIf="doc.ratingAvg === 1">
          <i class="fa fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
      </div>
    </div>

    <button class="btn btn-danger" (click)="unlikeDoc(doc._id)"><i class="fa fa-times mr-1"></i> Remove</button>

  </div>

  <div class="mb-2">
  <a
    class="fa fa-phone text-secondary d-inline-block mr-2"
    [href]="doc.phone"
  >
    <span>{{doc.phone}}</span>
  </a>
  <a
    class="fa fa-envelope text-secondary d-inline-block mr-2"
    [href]="doc.email"
  >
    <span>{{doc.email}}</span>
  </a>
  </div>
  <div class="mb-2">Address</div>
  <div class="desciption text-truncate">
  {{doc.address}}
  <a
      [routerLink]="['/dashboard/detail', doc._id]"
    class="text-primary font-weight-normal pull-right"
    >Go To Profile <i class="fa fa-chevron-right"></i
  ></a>
  </div>
  </div>
</div>

<ng-template #noData>
  <h5>No Favourites listed...</h5>
</ng-template>