@import "../../../assets/scss/mixins";

@media(min-width:768px){
  .nav-pills {
    .nav-item{
      width: 100%;
      flex: 1;
    }
  }
  }

.questionaareUser {
  left: 16px;
  top: -35px;
  height: 70px;
  width: 70px;
  border: 2px solid #4274ba;
}

// .radio {
//   font-weight: 500;
//   position: relative;
//   display: inline-block;
//   font-size: 16px;
//   margin-bottom: 13px;
//   padding-left: 25px;
//   > input {
//     height: 0px;
//     width: 0px;
//     &::after {
//       content: "";
//       display: block;
//       position: absolute;
//       height: 100%;
//       cursor: pointer;
//       width: 100%;
//       left: 0;
//       top: 0;
//     }

//     &::before {
//       position: absolute;
//       left: 0;
//       top: 0;
//     }

//     &:checked {
//       &.fa-circle-o:before {
//         content: "\f111";
//         color: $primaryColor;
//       }
//       &.fa-square-o::before {
//         content: "\f14a";
//         color: $primaryColor;
//       }
//       + * {
//         color: $primaryColor;
//       }
//     }
//   }
//   &:hover {
//     color: $primaryColor;
//   }
// }

.w-25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25% !important;
          flex: 0 0 25% !important;
  max-width: 25%;
}
.sub-options {
  margin-left: 100px;
  margin-bottom: 15px;
}
$arrowHeight: 25px;
.nav-pills {
  a {
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
    line-height: 50px;
    &.active {
      &::before {
        border-left-color: $primaryColor !important;
      }
    }
  }
  .nav-item {
    width: 25%;
    text-align: center;
    &:not(:first-child) {
      position: relative;
      margin-left: -$arrowHeight / 2;
      a {
        padding-left: $arrowHeight + 10px;
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          content: "";
          border-top: $arrowHeight solid transparent;
          border-right: $arrowHeight solid transparent;
          border-bottom: $arrowHeight solid transparent;
          border-left: $arrowHeight solid #ffffff;
        }
      }
    }
    &:not(:last-child) {
      position: relative;
      padding-right: $arrowHeight;
      a {
        &::before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          right: 0px;
          top: 0px;
          z-index: 1;
          border-top: $arrowHeight solid transparent;
          border-bottom: $arrowHeight solid transparent;
          border-left: $arrowHeight solid $secondaryColor;
        }
      }
    }
  }
  .nav-link {
    font-weight: bold;
    color: #fff;
    background-color: $secondaryColor;
    &.active {
      background-color: $primaryColor;
    }
  }
}
.question {
  margin-bottom: 15px;
}
.showSubans {
  margin-left: 30px;
  margin-bottom: 15px;
}