<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>
<section
  class="pt-6 pb-6 text-center bg-cover bg-overlay bg-border text-light"
  style="background-image: url(assets/img/question3.png);"
>
  <div class="container" style="max-width: 700px !important">
    <h2 class="mb-4 ttle-bott-bor text-center text-uppercase">Questionnaire
    </h2>
    <p class="h4 font-weight-normal">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at
      sagittis diam. Aliquam feugiat efficitur velit
    </p>
  </div>
</section>
<section>
   <div class="container pt-4 pb-4">
    <ul *ngIf = "type === 'U'" class="nav nav-pills mb-4" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link btn-circle"
          [ngClass]="{'active': questionType === 'age'}"
          id="tab1"
          data-toggle="pill"
          href="#pill1"
          role="tab"
          aria-controls="pill1"
          aria-selected="true"
          >Age</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn-circle"
          [ngClass]="{'active': questionType === 'health'}"
          id="tap2"
          data-toggle="pill"
          href="#pill2"
          role="tab"
          aria-controls="pill2"
          aria-selected="false"
          >Health Background</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn-circle"
          [ngClass]="{'active': questionType === 'goal'}"
          id="tap3"
          data-toggle="pill"
          href="#pill3"
          role="tab"
          aria-controls="pill3"
          aria-selected="false"
          >Goal</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link btn-circle"
          [ngClass]="{'active': questionType === 'availability'}"
          id="tap3"
          data-toggle="pill"
          href="#pill3"
          role="tab"
          aria-controls="pill3"
          aria-selected="false"
          >Availability</a
        >
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pill1"
        role="tabpanel"
        aria-labelledby="tap1"
      >
        <div class="row">
          <form id="myForm">
            <div *ngFor="let question of questionnaire" class="col-md-12 question">
              <h5 *ngIf="type === 'C'" class="text-primary text-uppercase">{{ question.center_question }}</h5>

              <h5  *ngIf="type === 'U'" class="text-primary text-uppercase">{{ question.c_question }}</h5>

              <h5 *ngIf="type === 'SP'" class="text-primary text-uppercase">{{ question.sp_question }}</h5>
              <div class="mb-12">
                <div class="form-row" *ngIf="question.choice_type === 'single'">
                  <div class="col-md-3"  *ngFor="let options of question.answers; let i = index" >
                    <div class="radio"><input type="radio" name="{{question._id}}" [id]="options._id" class="mr-3" /> <span>{{ options.item_text }}</span></div>
                  </div>
                </div>
                <div class="form-row" *ngIf="question.choice_type === 'multiple'">
                  <div class="col-md-3"  [ngClass]="{'col-md-12' : options.subans === true}" *ngFor="let options of question.answers; let i = index" >
                    <div class="radio">
                      <input type="checkbox" name="answers" [id]="options._id" class="mr-3" (change)="getSubAns($event, options.subans)"/>
                      <span>{{ options.item_text }}</span>
                    </div>
                    <div class="showSubans" *ngIf="options.subans && (subRes.quesId === options._id) ">
                      <h5 class="text-primary text-uppercase">{{options.item_text }}</h5>
                      <div class="mb-12">
                        <div class="form-row">
                          <div class="col-md-12" *ngFor="let ques of subRes.options; let i = index" >
                            <div class="radio"><input type="checkbox" name="subRes" [id]="ques._id" class="mr-3" (change)="getSubSubAns($event, ques.subans)"/> <span>{{ ques.item_text }}</span></div>
                      
                            <div class="showSubans" *ngIf="ques.subans && sublevel2Res.options.length && (sublevel2Res.quesId === ques._id) " >
                              <h5 class="text-primary text-uppercase">{{  ques.item_tex }}</h5>
                              <div class="mb-12">
                                <div class="form-row">
                                  <div class="col-md-6" *ngFor="let ques2 of sublevel2Res.options; let i = index" >
                                    <div class="radio"><input type="checkbox"  name="sublevel2Res" [id]="ques2._id" class="mr-3"/> <span>{{ ques2.item_text }}</span></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  
                </div>
              </div>
            </div>
            <hr  class="col-12">
            <div class="col-12"  *ngIf = "type === 'U' && questionType !== 'availability'; else subBtn"  >
              <div class="text-right">
                <!-- <button type="button"
                [disabled]="questionType === 'age'" class="pull-left btn btn-default prev-step" (click)="previousTabEvent()">=
                  <i class="fa fa-chevron-left"></i> Back
                </button> -->

                <button
                  type="button"
                  [disabled]="questionType === 'availability'"
                  class="btn btn-primary next-step"
                  (click)="nextTabEvent()"
                >
                  Next <i class="fa fa-chevron-right"></i>
                </button>
              </div>
            </div>
            <ng-template #subBtn>
              <div class="col-12">
                <button type="submit" class="btn btn-primary" (click)="saveQuestionnaire()" value ="submit">Submit</button>
              </div>
            </ng-template>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
