<section
  class="pt-6 pb-6 text-center bg-cover bg-overlay bg-border text-light"
  style="background-image: url(assets/img/question3.png);"
>
  <div class="container" style="max-width: 700px !important">
    <h2 class="mb-4 ttle-bott-bor text-center text-uppercase">
      Questinnaire
    </h2>
    <p class="h4 font-weight-normal">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at
      sagittis diam. Aliquam feugiat efficitur velit
    </p>
  </div>
</section>
<section class="pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row mb-5">
          <div class="col-md-6">
            <h5 class="text-primary text-uppercase mb-3">
              WHAT ARE THE MAIN PROBLEMS?
            </h5>

            <div class="checkbox-list form-row">
              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="desc">
              <p>
                <b>Type of Problem(s)</b><br />
                While any mental health professional can help with a wide
                variety of problems and issues, most will concentrate their
                practice on particular areas of their expertise. Some will
                rarely treat other conditions. All Agora MHN professionals have
                specified the broad areas that they treat regularly as well as
                those areas in which they specialize. So it's time to narrow the
                field a bit in order to find the best match for you.
              </p>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-6">
            <h5 class="text-primary text-uppercase mb-3">
              WHAT ARE THE MAIN PROBLEMS?
            </h5>

            <div class="checkbox-list form-row">
              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="desc">
              <p>
                <b>Type of Problem(s)</b><br />
                While any mental health professional can help with a wide
                variety of problems and issues, most will concentrate their
                practice on particular areas of their expertise. Some will
                rarely treat other conditions. All Agora MHN professionals have
                specified the broad areas that they treat regularly as well as
                those areas in which they specialize. So it's time to narrow the
                field a bit in order to find the best match for you.
              </p>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-6">
            <h5 class="text-primary text-uppercase mb-3">
              WHAT ARE THE MAIN PROBLEMS?
            </h5>

            <div class="checkbox-list form-row">
              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <div class="d-inline-flex checkbox align-items-center">
                  <input type="checkbox" class="mr-2" />
                  <span>Addictions - substance</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="desc">
              <p>
                <b>Type of Problem(s)</b><br />
                While any mental health professional can help with a wide
                variety of problems and issues, most will concentrate their
                practice on particular areas of their expertise. Some will
                rarely treat other conditions. All Agora MHN professionals have
                specified the broad areas that they treat regularly as well as
                those areas in which they specialize. So it's time to narrow the
                field a bit in order to find the best match for you.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
