<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>
<section
  class="pt-6 pb-6 text-center bg-cover bg-overlay bg-border text-light"
  style="background-image: url(assets/img/question3.png);"
>
  <div class="container" style="max-width: 700px !important">
    <h2 class="mb-4 ttle-bott-bor text-center text-uppercase">Questinnaire</h2>
    <p class="h4 font-weight-normal">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at
    sagittis diam. Aliquam feugiat efficitur velit
    </p>
  </div>
</section>
<section class="pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div *ngFor="let question of questionnaire" class="col-md-12">
        <h5 class="text-primary text-uppercase">{{ question.question }}</h5>
        <div class="mb-4">
          <div class="form-row" *ngIf="question.choice_type === 'single'">
            <div class="col-md-3"  *ngFor="let options of question.answers[0]" >
              <div class="radio"><input type="radio" name="options" class="mr-3" /> <span>{{ options.item_text }}</span></div>
            </div>
          </div>
          <div class="form-row" *ngIf="question.choice_type === 'multiple'">
            <div class="col-md-4" *ngFor="let options of question.answers[0]">
              <div class="radio"><input type="checkbox" class="mr-3" /> <span>{{ options.item_text }}</span></div>
            </div>
          </div>
          <!-- <div class="text-right">
            <hr/>
            <button class="btn btn-primary">Next</button>
          </div> -->
        </div>
      </div>
      <div class="col-sm-12 text-center">
        <hr/>
        <button class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</section>