<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row mb-4">
    <label class="col-md-4" for="name">
      Cover photo
    </label>
    <div class="col-md-8">
      <form-item-upload-image-button
      [userid]="data?._id"
      label="Cover photo"
      [disabled]="disabled"
      [submitted]="isSubmitted"
      [controller]="f.profileImage"
      (changeImage)="onChangeImage($event)"
      ></form-item-upload-image-button>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="firstName">
      Company name 
      <span class="text-danger">*</span>
    </label>
    <div class="col-md-8">
      <form-item-place
      name="firstName"
      label="Company name"
      type="text"
      [controllerGroup]="form"
      [max]="maxName"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      (selectPlace)="onChangePlace()"
      ></form-item-place>

      <div *ngIf="!disabled && !f.placeId.value" class="p-3 bg-background mt-10p">
        You can connect to Google Business account. To connect, enter business name and select from suggestion.
      </div>

    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="description">
      Description
      <span class="text-danger">*</span>
    </label>
    <div class="col-md-8">
      <form-item-textarea
      name="description"
      label="Description"
      placeholder="Tell a little bit about your company"
      [controller]="f.product_description"
      [max]="maxTextarea"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      ></form-item-textarea>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="email">
      Email<br>
      (No one will see)
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="email"
      label="Email" 
      type="email"
      autocapitalize="off"
      autocomplete="email"
      [controller]="f.email"
      [submitted]="isSubmitted" 
      [disabled]="true"
      ></form-item-input>
    </div>
  </div>

  <!-- <div class="row mb-4">
    <label class="col-md-4" for="email">
      Email to display
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="displayEmail"
      label="Email to display" 
      type="email"
      [controller]="f.displayEmail"
      [submitted]="isSubmitted" 
      [disabled]="disabled"
      autocapitalize="off"
      autocomplete="email"
      ></form-item-input>
    </div>
  </div> -->

  <!-- <div class="row mb-4">
    <label class="col-md-4" for="phone">
      Phone Number 
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="phone"
      label="Phone number" 
      type="tel"
      [controller]="f.phone" 
      [submitted]="isSubmitted" 
      [disabled]="disabled || f.placeId.value"
      ></form-item-input>           
    </div>
  </div> -->

  <div class="row mb-4">
    <label class="col-md-4" for="address">
      Location 
      <!-- <span class="text-danger">*</span> -->
    </label>
    <div class="col-md-8">
      <form-item-address
      name="address"
      label="Location" 
      [controllerGroup]="form" 
      [submitted]="isSubmitted"
      [disabled]="disabled || f.placeId.value"
      ></form-item-address>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="website">
      Website Link 
    </label>
    <div class="col-md-8">
      <form-item-input 
      name="website"
      label="Website Link" 
      type="url"
      autocomplete="url"
      autocapitalize="off"
      [controller]="f.website" 
      [submitted]="isSubmitted" 
      [disabled]="disabled || f.placeId.value"
      ></form-item-input>       
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-md-4" for="message">
      Message to platform
    </label>
    <div class="col-md-8">
      <form-item-textarea
      name="message"
      label="Message"
      [controller]="f.messageToPlatform"
      [max]="maxTextarea"
      [submitted]="isSubmitted"
      [disabled]="disabled"
      placeholder="We would like to collaborate with you. Please share your idea how we grow together!"
      ></form-item-textarea>
    </div>
  </div>

  <input type="submit" class="d-none">
</form>