<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="text-center mb-40p">
    <form-item-profile-image
    [controller]="f.profileImage"
    (onStartUploading)="onStartUploadingProfileImage()"
    (onFailUploading)="onDoneUploadingProfileImage()"
    (onDoneUploading)="onDoneUploadingProfileImage()"
    ></form-item-profile-image>  
  </div>

  <div class="mb-40p">
    <label for="firstName" class="subtitle2">Company name</label>
    <form-item-place
    name="firstName"
    label="Company name"
    type="text"
    [controllerGroup]="form"
    [max]="maxName"
    [submitted]="isSubmitted"
    (selectPlace)="onChangePlace()"
    ></form-item-place>

    <div 
    *ngIf="!f.placeId.value" 
    class="py-10p px-20p bg-primary-light border-left border-primary text-primary-dark mt-10p d-flex rounded-4p"
    style="border-width: 5px!important;"
    >
      <i iconPh="info" class="text-primary"></i>
      <span class="d-inline-block ml-5p body2">
        You can connect to Google Business account. To connect, enter business name and select from suggestion.
      </span>
    </div>
  </div>

  <div class="mb-40p">
    <label for="company_type" class="subtitle2">Category</label>
    <form-item-checkbox-group
    #formCompanyType
    id="company_type"
    label="Category"
    [data]="data?.company_type || []"
    [controller]="f.company_type"
    [submitted]="isSubmitted"
    [selections]="companyTypeItems"
    [option]="{showInlineWhenEnabled: true}"
    ></form-item-checkbox-group>
  </div>

  <div class="mb-40p row">
    <div class="col-12 col-lg-6 mb-40p mb-lg-0p">
      <label for="email" class="subtitle2">Email</label>
      <form-item-input 
      name="email"
      label="Email" 
      type="email"
      autocapitalize="off"
      autocomplete="email"
      [controller]="f.email"
      [submitted]="isSubmitted" 
      [disabled]="true"
      ></form-item-input>
    </div>
    <div class="col-12 col-lg-6">
      <label for="phone" class="subtitle2">Phone Number (optional)</label>
      <form-item-input 
      name="phone"
      label="Phone number" 
      type="tel"
      [controller]="f.phone" 
      [submitted]="isSubmitted" 
      [disabled]="f.placeId.value"
      ></form-item-input>           
    </div>
  </div>

  <div class="mb-40p row">
    <div class="col-12 col-lg-6  mb-40p mb-lg-0p">
      <label for="address" class="subtitle2">Location (optional)</label>
      <form-item-address
      name="address"
      label="Location" 
      [controllerGroup]="form" 
      [submitted]="isSubmitted"
      [disabled]="f.placeId.value"
      ></form-item-address>  
    </div>

    <div class="col-12 col-lg-6">
      <label for="website" class="subtitle2">Website (optional)</label>
      <form-item-input 
      name="website"
      label="Website Link" 
      type="url"
      autocomplete="url"
      autocapitalize="off"
      [controller]="f.website" 
      [submitted]="isSubmitted" 
      [disabled]="f.placeId.value"
      ></form-item-input>     
    </div>
  </div>

  <div class="mb-40p">
    <label for="description" class="subtitle2">Description</label>
    <form-item-textarea
    name="description"
    label="Description"
    placeholder="Tell a little bit about your company"
    [controller]="f.product_description"
    [max]="maxTextarea"
    [submitted]="isSubmitted"
    [option]="{rows: 8}"
    ></form-item-textarea>
  </div>
  
  <div class="mb-40p">
    <label for="message" class="subtitle2">Message to platform (optional)</label>    
    <form-item-textarea
    name="message"
    label="Message"
    [controller]="f.messageToPlatform"
    [max]="maxTextarea"
    [submitted]="isSubmitted"
    placeholder="We would like to collaborate with you. Please share your idea how we grow together!"
    ></form-item-textarea>
  </div>

  <div 
  class="text-right" 
  [ngClass]="{'d-none': hideSubmit}"
  >
    <input 
    class="btn btn-primary"
    type="submit" 
    value="Submit"
    [disabled]="isUploadingProfileImage || disabled"
    >
  </div>

</form>