<header
class="sticky-top py-10p py-lg-15p border-bottom border-line bg-white"
style="z-index: 100;"
>
  <div class="container-fluid container-xl">
    <div class="d-flex align-items-center">
      <button 
      class="btn btn-icon-grey small d-xl-none"
      (click)="showMenuSm()"
      >
        <i iconPh="menu" class="large"></i>
      </button>

      <a routerLink="/community" class="d-flex flex-nowrap align-items-stretch">
        <img class="d-lg-none" src="assets/img/logo-sm.png" alt="PromptHealth" width="auto" height="20">
        <img class="d-none d-lg-block logo-lg" src="assets/img/logo.png" alt="PromptHealth" width="auto" height="30">
      </a>
    </div>
  </div>
</header>

<div class="menu-slide-horizontal"
*ngIf="isMenuSmShown"
[@slideHorizontalReverse]
>
  <div class="menu-drop"
  (click)="hideMenuSm()"
  ></div>
  <div class="menu-body">
    <div class="container d-flex justify-content-between align-items-center py-20p border-bottom">
      <div class="d-flex align-items-center">
        <profile-image size="40"></profile-image>
        <div class="subtitle2 ml-10p">Hannah Matthews</div>
      </div>
      <button class="btn btn-icon-grey small position-relative">
        <i iconPh="bell" class="large"></i>
        <div class="notification-count bg-error text-white body-small rounded-4p">
          <span>2</span>
        </div>

      </button>  
    </div>
    <div class="container">
      <list-item
      *ngFor="let topic of topics"
      [leading]="iconOf(topic)"
      leadingClass="text-primary"
      action="chevron-right"
      actionClass="text-primary"
      >
        <div class="subtitle2">{{topic.item_text}}</div>
      </list-item>  

      <div class="bg-primary p-20p rounded-8p mt-15p mb-50p">
        <div class="text-white h5 mb-20p" style="font-weight: 400;">
          Need a 
          <b>Personal </b> 
          Match?
        </div>
        <a routerLink="/personal-match" class="btn btn-secondary">
          Get Started
        </a>
      </div>
    </div>
  </div>
</div>