<button type="button" 
*ngIf="!disabled"
class="btn small position-relative" 
[ngClass]="{'btn-outline': !submitted, 'btn-error': (!!submitted && !!controller.errors), 'btn-success': (!!submitted && !controller.errors)}"
>
  Upload {{label | titlecase}}
  <input type="file" class="cursor-pointer" accept="image/jpeg, image/png" (change)="onSelectImage($event)">
</button>
<div class="mt-2">
  <img class="preview" *ngIf="controller.value" [src]="baseURLImage + controller.value" [alt]="label">
</div>
<form-item-errors [controller]="controller" [label]="label" [submitted]="submitted"></form-item-errors>
