<button type="button" 
*ngIf="!disabled"
class="btn small position-relative" 
[ngClass]="{'btn-outline': !submitted, 'btn-error': (!!submitted && !!controller.errors), 'btn-success': (!!submitted && !controller.errors), 'disabled': isUploading}"
>
  Upload {{label | titlecase}}
  <input #uploadImageSelector
  type="file" 
  class="cursor-pointer" 
  accept="image/jpeg, image/png" 
  (change)="onSelectImage($event)"
  >
</button>
<div class="mt-2">
  <img 
  *ngIf="controller.value" 
  class="preview" 
  [src]="baseURLImage + controller.value + '?ver=2.3'" 
  [alt]="label"
  crossorigin="anonymous"
  >
</div>
<form-item-errors [controller]="controller" [label]="label" [submitted]="submitted"></form-item-errors>
