<div class="d-md-flex align-items-start">
  <section class="main mx-15p mx-md-30p mx-xl-100p mt-15p mt-30p">
    <a routerLink="/">
      <img 
      src="/assets/img/logo.png"
      routerLink="/"
      height="25"
      alt=""
      loading="lazy"
      >
    </a>
    <div class="py-50p pt-md-70p pb-md-0p">
      <h3 class="mb-30p">
        <ng-container *ngIf="authType == 'signin'">Sign in</ng-container>
        <ng-container *ngIf="authType == 'signup'">Getting Started</ng-container>
      </h3>
      <form-auth
      [authType]="authType"
      [userRole]="roleType"
      [nextPage]="nextPage" 
      [nextPageKeyword]="nextPageKeyword"
      ></form-auth>
    </div>
  </section>

  <section class="sub bg-primary-light sticky-top d-flex flex-column-reverse flex-md-column">
    <div 
    class="flex-grow-1 position-relative py-50p py-md-0" 
    style="width: 90%; max-width: 400px; margin: auto;"
    >
      <div class="center-md text-center w-100">

        <div *ngIf="authType == 'signin'">
          <img 
          src="/assets/img/auth/login.png" 
          class="tip-image"
          alt=""
          loading="lazy"
          >  
        </div>

        <div *ngIf="authType == 'signup'">
          <img 
          src="/assets/img/auth/signup-1.png"
          class="tip-image"
          alt=""
          loading="lazy"
          >
        </div>
  
        <div class="mt-30p text-center">
          <h4 class="d-inline position-relative">
            <div class="text-left subtitle2 mb-5p tip-sign">
              <span>
                <i iconPh="lightning-filled" class="text-yellow mr-5p"></i>
                <span class="text-label">Tip!</span>
              </span>  
            </div>
            Share post with your friends!
          </h4>
  
          <p class="text-label">
            View by category and filter by media type to find expert-created content that matters to you
          </p>
        </div>
      </div>
    </div>

    <div
    *ngIf="authType=='signup'"
    class="my-30p"
    style="width: 90%; max-width: 600px; margin:auto;"
    >
      <div class="d-lg-flex align-items-stretch justify-content-center">
        <a 
        *ngIf="roleType != 'U'"
        routerLink="/auth/registration/u"
        class="text-body"
        style="flex-basis: 55%"
        >
          <div class="h-100 p-15p bg-white rounded-12p shadow my-15p my-lg-0p mx-lg-15p">
            <h6>
              <i iconPh="users" class="text-primary-dark mr-5p"></i>
              <span>Wellness seekers</span>
            </h6>
            <p class="mb-0">
              Discover personalized wellness options and find reliable information from our experts. 
            </p>
          </div>
        </a>

        <a 
        *ngIf="roleType != 'SP' && roleType != 'C'"
        [routerLink]="[getListedProvider.link]"
        class="text-body"
        style="flex-basis: 50%"
        >
          <div class="h-100 p-15p bg-white rounded-12p shadow my-15p my-lg-0p mx-lg-15p">
            <h6>
              <i [iconPh]="getListedProvider.icon" class="text-primary-dark mr-5p"></i>
              <span>{{getListedProvider.title}}</span>
            </h6>
            <p class="mb-0">
              {{getListedProvider.text}}
            </p>
          </div>
        </a>
    
        <a 
        *ngIf="roleType != 'P'"
        [routerLink]="[getListedCompany.link]"
        class="text-body"
        style="flex-basis: 50%"
        >
          <div class="h-100 p-15p bg-white rounded-12p shadow my-15p my-lg-0p mx-lg-15p">
            <h6>
              <i [iconPh]="getListedCompany.icon" class="text-primary-dark mr-5p"></i>
              <span>{{getListedCompany.title}}</span>
            </h6>
            <p class="mb-0">
              {{getListedCompany.text}}
            </p>
          </div>
        </a>
    
      </div>
    </div>
  </section>
</div>

