<h3 class="mb-4">Your offer for the audience of Prompt Health</h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="mb-4">
    <form-checkbox 
    [controller]="f.offerForFree" 
    label="Offer for free" 
    name="offerForFree"
    (changeValue)="onChangeForFree($event)"
    ></form-checkbox>
  </section>

  <ng-container *ngIf="!f.offerForFree.value">
    <section class="mb-4">
      <h4>Price Range</h4>
      <div class="d-inline-block">
        <label *ngFor="let i of [1,2,3,4,5]" class="price-range" [for]="'price' + i">
          <i class="fas fa-dollar-sign" [ngClass]="{active: (i <= f.priceRange.value)}"></i>
          <input class="d-none" [id]="'price' + i" type="radio" [value]="i" formControlName="priceRange">
        </label>  
      </div>
      <form-errors [controller]="f.priceRange" label="Price Range" [submitted]="isSubmitted"></form-errors>
    </section>
  
    <section class="mb-4">
      <h4>Enter your price range</h4>
      <div class="row align-items-center">
        <div class="col">
          <form-input
          name="price1"
          label="Price" 
          type="text"
          prepend="$"
          [controller]="f.price1" 
          [submitted]="isSubmitted" 
          ></form-input>  
        </div>
        <div class="col-1 text-center"> - </div>
        <div class="col">
          <form-input
          name="price2"
          label="Price" 
          type="text"
          prepend="$"
          [controller]="f.price2" 
          [submitted]="isSubmitted" 
          ></form-input>  
        </div>
      </div>
    </section>
  </ng-container>


  <section class="mb-4">
    <h4>Link to signup page</h4>
    <form-input
    name="website"
    label="Signup page" 
    type="text"
    placeholder="https://example.com"
    [controller]="f.signupURL" 
    [submitted]="isSubmitted" 
    ></form-input>
  </section>

  <section class="mb-4">
    <h4>Offer</h4>
    <div *ngFor="let o of offers" class="row mb-2 align-items-center">
      <div class="col-4">
        <form-checkbox 
        [controller]="getFormArray(o.id).controls[0]" 
        (changeValue)="onChangeOffer(o.id)"
        [name]="o.id + 'Check'" 
        [label]="o.label"
        ></form-checkbox>
      </div>
      <div class="col">
        <form-input
        [name]="o.id + 'Text'"
        [label]="o.label" 
        type="text"
        [placeholder]="o.placeholder"
        [controller]="getFormArray(o.id).controls[1]" 
        [submitted]="isSubmitted"
        [disabled]="!getFormArray(o.id).controls[0].value"
        ></form-input>
      </div>
    </div>
  </section>

  <input type="submit" class="d-none">
  

</form>
