<header
class="sticky-top pt-5p py-md-0p border-bottom border-line bg-white"
[ngClass]="{hide: !isHeaderShown}"
style="z-index: 100;"
>
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-2 col-lg-3">
        <div class="d-flex align-items-center">
          <button 
          class="btn btn-icon-grey small pl-0 d-xl-none"
          (click)="showMenuSm()"
          >
            <i iconPh="menu" class="large"></i>
          </button>
    
          <a routerLink="/community" class="d-flex flex-nowrap align-items-stretch">
            <img class="d-lg-none" src="assets/img/logo-sm.png" alt="PromptHealth" width="auto" height="20">
            <img class="d-none d-lg-block logo-lg" src="assets/img/logo.png" alt="PromptHealth" width="auto" height="30">
          </a>
        </div>    
      </div>
      <div class="col-10 col-lg-9">
        <div class="d-flex justify-content-between align-items-center">
          <div class="taxonomy-types">
            <div class="d-none d-md-block">
              <a routerLink="/community/feed" class="btn small px-0 py-20p subtitle1 mr-40p" #rla1="routerLinkActive" routerLinkActive [ngClass]="rla1.isActive ? 'btn-text active' : 'btn-text-grey'">Home</a>
              <a routerLink="/community/article" class="btn small px-0 py-20p subtitle1 mr-40p" #rla2="routerLinkActive" routerLinkActive [ngClass]="rla2.isActive ? 'btn-text active' : 'btn-text-grey'">Article</a>
              <a routerLink="/community/media" class="btn small px-0 py-20p subtitle1 mr-40p" #rla4="routerLinkActive" routerLinkActive [ngClass]="(rla4.isActive ? 'btn-text active' : 'btn-text-grey')">Media</a>
              <a routerLink="/community/event" class="btn small px-0 py-20p subtitle1" #rla3="routerLinkActive" routerLinkActive [ngClass]="rla3.isActive ? 'btn-text active' : 'btn-text-grey'">Event</a>
            </div>
          </div>
          <div class="d-flex flex-row-reverse flex-xl-row align-items-center">
            <a class="btn btn-primary small ml-15p ml-xl-0p" routerLink="/practitioners">Find practitioners</a>
            <button class="btn btn-icon-grey small ml-15p d-none d-xl-block">
              <i iconPh="search" class="large"></i>
            </button>
            <div class="ml-5p d-none d-xl-block">
              <ng-container *ngTemplateOutlet="notification"></ng-container>
            </div>
            <div class="ml-xl-15p">
              <profile-image 
              [size]="sizeS ? 35 : 40"
              [image]="userImage"
              (click)="showUserMenu()"
              ></profile-image>
            </div>
            <button class="btn btn-icon-grey small d-none d-xl-inline-block ml-15p pr-0">
              <i iconPh="more-horiz" class="large"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="taxonomy-types d-md-none text-center">
      <a routerLink="/community/feed" class="btn small px-0 pt-20p pb-5p subtitle1 mr-20p" #rla1="routerLinkActive" routerLinkActive [ngClass]="rla1.isActive ? 'btn-text active' : 'btn-text-grey'">Home</a>
      <a routerLink="/community/article" class="btn small px-0 pt-20p pb-5p subtitle1 mr-20p" #rla2="routerLinkActive" routerLinkActive [ngClass]="rla2.isActive ? 'btn-text active' : 'btn-text-grey'">Article</a>
      <a routerLink="/community/media" class="btn small px-0 pt-20p pb-5p subtitle1 mr-20p" #rla4="routerLinkActive" routerLinkActive [ngClass]="(rla4.isActive ? 'btn-text active' : 'btn-text-grey')">Media</a>
      <a routerLink="/community/event" class="btn small px-0 pt-20p pb-5p subtitle1" #rla3="routerLinkActive" routerLinkActive [ngClass]="rla3.isActive ? 'btn-text active' : 'btn-text-grey'">Event</a>
    </div>  
  </div>

</header>

<div class="menu-slide-horizontal"
*ngIf="isMenuSmShown"
[@slideHorizontalReverse]
>
  <div class="menu-drop"
  (click)="hideMenuSm()"
  ></div>
  <div class="menu-body">
    <div class="container d-flex justify-content-between align-items-center py-20p border-bottom">
      <div class="d-flex align-items-center">
        <profile-image size="40" [image]="userImage"></profile-image>
        <div class="subtitle2 ml-10p">{{userName}}</div>
      </div>

      <div class="text-nowrap">
        <button class="btn btn-icon-grey small mx-10p">
          <i iconPh="search" class="large"></i>
        </button>
        <ng-container *ngTemplateOutlet="notification"></ng-container>
      </div>
    </div>
    <div class="container">
      <list-item
      *ngFor="let topic of topics"
      [leading]="iconOf(topic)"
      leadingClass="text-primary"
      action="chevron-right"
      actionClass="text-primary"
      >
        <div class="subtitle2">{{topic.item_text}}</div>
      </list-item>  

      <div class="bg-primary p-20p rounded-8p mt-15p mb-50p">
        <div class="text-white h5 mb-20p" style="font-weight: 400;">
          Need a 
          <b>Personal </b> 
          Match?
        </div>
        <a routerLink="/personal-match" class="btn btn-secondary">
          Get Started
        </a>
      </div>
    </div>
  </div>
</div>


<ng-template #notification>
  <button class="btn btn-icon-grey small position-relative">
    <i iconPh="bell" class="large"></i>
    <div class="notification-count bg-error text-white body-small rounded-4p">
      <span>2</span>
    </div>
  </button>  
</ng-template>