@import '../../../assets/scss/color';

header {
  transition-property: transform;
  transition-duration: 400ms;

  &.hide {
    transform: translateY(-100%);
  }  
}

.logo-lg {
  height: 20px;
  @media (min-width: 1200px) { height: 30px;}
}

.bg-lg-white {
  @media (min-width: 992px) {
    background-color: white!important;
  }
}
.taxonomy-types a{
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background-color: $colorPrimary;
    transition: height 200ms;
    transition-delay: 0ms;
  }

  &.active::after {
    height: 3px;
    transition-delay: 250ms;
  }
}

.menu-slide-horizontal {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 200vw;
  height: 110vh;
  padding-bottom: 10vh;

  .menu-drop {
    background-color: rgba(0,0,0,0.2);    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .menu-body {
    position: relative;
    background: white;
    width: 320px;
    max-width: calc(100vw - 10px);
    height: 100vh;
    overflow: auto;
  }
}

.menu-slide-vertical {
  position: fixed;
  z-index: 110;
  top: 0;
  left: 0;
  width: 100vw;
  height: 150vh;
  padding-bottom: 50vh;

  .menu-drop {
    background-color: rgba(0,0,0,0.2);    
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .menu-body {
    position: relative;
    background: white;
  }
}

.notification-count {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;

  >span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.notification-summary-container {
  position: absolute;
  top: 100%;
  right: -50px;
  margin-top: 20px;
  width: 350px;
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: -16px;
    right: 63px;
    margin-left: -8px;
    border: solid 8px;
    border-color: transparent transparent white transparent;
  }
}