<div class="container mt-5">
  <h2>BE SEEN</h2>
  <p class="font-biggest">THE 3 KEYS TO STANDING OUT ONLINE</p>
  <div class="row mt-5">
    <div class="col-12 col-md-6">
      <img class="img-fluid" src="/assets/img/clubhouse.png" alt="clubhouse">
    </div>
    <div class="col-12 col-md-6">
      <p class="font-big">You will also recieve information about future updates</p>
      <div>
        <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <form-item-input
            name="name"
            label="Name"
            placeholder="Name"
            [controller]="f.name"
            [submitted]="isSubmitted"
            autocomplete="username"
            ></form-item-input>
          </div>

          <div class="mb-3">
            <form-item-input
            name="email"
            label="Email"
            type="email"
            placeholder="Email"
            [controller]="f.email"
            [submitted]="isSubmitted"
            autocomplete="email"
            ></form-item-input>
          </div>

          <div class="mb-3">
            <form-item-input
            name="title"
            label="Professional title"
            placeholder="Professional Title"
            [controller]="f.title"
            [submitted]="isSubmitted"
            autocomplete="honorific-prefix"
            ></form-item-input>
          </div>

          <div class="position-relative mb-3" (clickOutside)="hideCountryList()">
            <form-item-input
            name="region"
            label="Region"
            placeholder="Region"
            [controller]="f.region"
            prependIcon="fas fa-search"
            [submitted]="isSubmitted"
            autocomplete="off"
            ></form-item-input>

            <ul class="position-absolute selections list-unstyled border rounded w-100 bg-white" *ngIf="countryList.length > 0">
              <ng-container *ngFor="let item of countryList; let i = index;" >
                <li>
                  <a 
                  class="d-block"
                  [ngClass]="{active: (i == idxCountryFocused)}"
                  (click)="selectCountry(item)"
                  >{{item}}</a>
                </li>  
              </ng-container>
            </ul>
          </div>

          <div>
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>

        </form>
      </div>
    </div>
  </div>
</div>