<div class="text-dark position-relative overflow-hidden clubhouse-container">
  <div class="container position-relative z-index-1">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 text-center">
        <h2 class="text-gradient mb-3">Stay Informed with PromptHealth</h2>
        <h3 class="mb-3">
          Subscribe to receive meaningful, illuminating insight into the wins and challenges of the health and wellness industry. 
        </h3>
        <!-- <div class="mt-5">
          <a href="https://www.joinclubhouse.com/club/healthloop" target="_blank" class="btn btn-outline-primary px-5 rounded-10p font-regular">Find Us on Clubhouse</a>
        </div>      -->
      </div>
      <div class="col-12 col-md-5 my-5">
        <img class="img-fluid" src="/assets/img/clubhouse.png" alt="clubhouse">
      </div>
      <div class="col-12 col-md-6 my-5">
        <div class="blur px-3 py-4 rounded-10p">
          <p class="font-weight-400 font-big">
            Sign-up to receive our newsletter on topics relevant to your health goals.
          </p>
          <form (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <form-item-checkbox-group
              id="usertype"
              type="selectbox"
              label="User type"
              [controller]="f.userType"
              [submitted]="isSubmitted"
              [selections]="[{id: 'default', label: 'Please select your type', value: '', disabled: true}, {id: 'client', label: 'Healthcare Seeker', value: 'client'}, {id: 'provider', label: 'Healthcare Provider', value: 'provider'}]"
              ></form-item-checkbox-group>
            </div>
            <div class="mb-3">
              <form-item-input
              name="name"
              label="Name"
              placeholder="Name"
              [controller]="f.name"
              [submitted]="isSubmitted"
              autocomplete="username"
              ></form-item-input>
            </div>
  
            <div class="mb-3">
              <form-item-input
              name="email"
              label="Email"
              type="email"
              placeholder="Email"
              [controller]="f.email"
              [submitted]="isSubmitted"
              autocomplete="email"
              ></form-item-input>
            </div>
  
            <div class="mb-3">
              <form-item-input
              name="title"
              label="Professional title"
              placeholder="Professional Title"
              [controller]="f.title"
              [submitted]="isSubmitted"
              autocomplete="honorific-prefix"
              ></form-item-input>
            </div>
  
            <div class="position-relative mb-3" (clickOutside)="hideCountryList()">
              <form-item-input
              name="region"
              label="Region"
              placeholder="Region"
              [controller]="f.region"
              prependIcon="fas fa-search"
              [submitted]="isSubmitted"
              autocomplete="off"
              ></form-item-input>
  
              <ul class="position-absolute selections list-unstyled border rounded w-100 bg-white" *ngIf="countryList.length > 0">
                <ng-container *ngFor="let item of countryList; let i = index;" >
                  <li>
                    <a 
                    class="d-block"
                    [ngClass]="{active: (i == idxCountryFocused)}"
                    (click)="selectCountry(item)"
                    >{{item}}</a>
                  </li>  
                </ng-container>
              </ul>
            </div>
  
            <div>
              <input class="btn btn-primary" type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="canvas heightH-100 w-100 position-absolute">
    <img class="object-3" src="/assets/img/ambassador-left-bottom.png">
    <img class="object-2" src="/assets/img/ambassador-right.png">
  </div> -->

</div>