<div class="text-dark position-relative overflow-hidden clubhouse-container">
  <div class="container position-relative z-index-1">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 text-center">
        <h2 class="mb-3 h3 h2-md text-primary-dark">
          Stay informed with<br>
          PromptHealth’s community!
        </h2>
      </div>
      <div class="col-12 col-md-5 my-md-70p">
        <img class="img-fluid" src="/assets/img/newsletter.png" alt="clubhouse">
      </div>
      <div class="col-12 col-md-6 my-md-70p">
        <div class="blur px-3 py-4 rounded-12p">
          <p class="body1 border-bottom pb-20p mb-20p">
            Sign up to receive updated information and valuable resources from our health and wellness community
          </p>
          <form-subscribe [referrer]="referrer"></form-subscribe>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="canvas heightH-100 w-100 position-absolute">
    <img class="object-3" src="/assets/img/ambassador-left-bottom.png">
    <img class="object-2" src="/assets/img/ambassador-right.png">
  </div> -->

</div>