@import "../../../../assets/scss/mixins";

.profileeditbox {
  @include profileImageInput(150px);
  margin-bottom: 30px;
  // height: 10px;
  // width: 20px;
  // background-color: red;
}

.form-control:disabled {
  border-color: transparent;
  background-color: transparent;
}
label.col-md-4 {
  align-self: center;
  font-weight: 700;
  margin: 0;
}
.radio {
  margin-right: 5px;
}
p {

  color: #495057;
}

.pull-right {
  float: right;
}
.form-row.mb-3 {
  margin: 15px 0
}
// .text-body {
//   font-weight: 400;
// }

.form-control.disable {
  border: 0;
}