<section class="pt-4 pb-4 heightHF-100 align-items-start">
  <div class="container">
    <h2 class="text-center mb-4">Terms & Condition of PromptHealth.ca</h2>
    <h4>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE.</h4>
    <p>
      The following Terms and Conditions govern and apply to your use of or
      reliance upon this website maintained by Prompt Health Inc. (the
      "Website").
    </p>
    <p>
      Your access or use of the Website indicates that you have read, understand
      and agree to be bound by these Terms and Conditions and any other
      applicable laws, statutes and/or regulations. We may change these Terms
      and Conditions at any time without notice, effective upon its posting to
      the Website. Your continued use of the Website will be considered your
      acceptance to the revised Terms and Conditions.
    </p>
    <h4>1. ABOUT THE SITE</h4>
    <p>
      The site is an online service provided by Prompt Health Inc. that provides
      access to information to health and wellness professionals. Prompt Health
      does not provide medical or health advice, and does not endorse or
      recommend any of the health and wellness professionals, but instead offers
      access to information provided by practicing providers and centers. Prompt
      Health obtains information from Providers to help consumers make informed
      choices in their search to independently assess their health and wellness
      need.
    </p>
    <p>
      Prompt Health does not endorse or recommend any Provider listed or
      accessible through the site. We make no guarantees, representations or
      warranties (express or implied) with respect to professional
      qualifications, expertise, quality of work, price or cost information,
      insurance coverage or benefit information, or other content provided
      through the site. At the initiation of their membership with Prompt
      Health, Providers attest, and we verify, that they are licensed and in
      good standing with their professional colleges and/or associations. Prompt
      Health may review the content submitted, but has no obligation to do so
      and does not accept any liability for it. Prompt Health has no obligation
      to publish any content submitted, and can remove such content at any time
      at Prompt Health’s sole discretion with or without notice.
    </p>
    <h4>2. NO PROVIDER/PATIENT RELATIONSHIP</h4>
    <p>
      No Provider/patient relationship will be created by your use of the site
      or any content.
    </p>
    <p>
      We have no control over, and cannot guarantee the availability of, a
      particular Provider at any particular time. You agree to assume all
      responsibility in connection with choosing any Provider, whether or not
      you obtained information about such Provider on or through the site. You
      specifically acknowledge and agree that Prompt Health is not responsible
      or liable for any advice, treatment or other services rendered by any
      Provider, or for any malpractice claims and other claims that may arise
      directly or indirectly from any such advice, treatment or other services.
    </p>
    <p>
      Any dispute between you and any Provider arising from any transaction must
      be resolved directly between you and the Provider, without involving and
      without liability to us
    </p>
    <h4>3. INTELLECTUAL PROPERTY</h4>
    <p>
      All intellectual property on the Website (except for User Generated
      Content, as defined below) is owned by us or our licensors, which includes
      materials protected by copyright, trademark, or patent laws. All
      trademarks, service marks and trade names are owned, registered and/or
      licensed by us. All content on the Website (except for User Generated
      Content, as defined below), including but not limited to text, software,
      code, designs, graphics, photos, sounds, music, videos, applications,
      interactive features and all other content is a collective work under
      Canadian and other copyright laws and is the proprietary property of the
      Company; All rights reserved.
    </p>
    <h4>4. USE OF COMPANY MATERIALS</h4>
    <p>
      We may provide you with certain information as a result of your use of the
      Website including, but not limited to, documentation, data, or information
      developed by us, and other materials which may assist in the use of the
      Website or Services ("Company Materials"). The Company Materials may not
      be used for any other purpose than the use of this Website and the
      services offered on the Website. Nothing in these Terms of Use may be
      interpreted as granting any license of intellectual property rights to
      you.
    </p>
    <h4>5. USER GENERATED CONTENT</h4>
    <p>
      "User Generated Content" is communications, materials, information, data,
      opinions, photos, profiles, messages, notes, website links, text
      information, music, videos, designs, graphics, sounds, and any other
      content that you and/or other Website users post or otherwise make
      available on or through the Website, except to the extent the content is
      owned by us.
    </p>
    <h4>6. ACCOUNT AND ACCOUNT USE</h4>
    <p>
      If your use of the Website requires an account identifying you as a user
      of the Website (an "Account"):
    </p>
    <ul>
      <li>
        You are solely responsible for your Account and the maintenance,
        confidentiality and security of your Account and all passwords related
        to your Account, and any and all activities that occur under your
        Account, including all activities of any persons who gain access to your
        Account with or without your permission;
      </li>
      <li>
        You agree to immediately notify us of any unauthorized use of your
        Account, any service provided through your Account or any password
        related to your Account, or any other breach of security with respect to
        your Account or any service provided through it, and you agree to
        provide assistance to us, as requested, to stop or remedy any breach of
        security related to your Account, and
      </li>
      <li>
        You agree to provide true, current, accurate and complete customer
        information as requested by us from time to time and you agree to
        promptly notify us of any changes to this information as required to
        keep such information held by us current, complete and accurate.
      </li>
    </ul>
    <h4>7. PAYMENT</h4>
    <p>
      Our Service is billed on a subscription basis. You will be billed in
      advance on a recurring and periodic basis ("Billing Cycle"). Billing
      cycles are set either on a monthly or annual basis, depending on the type
      of subscription plan you select when purchasing a Subscription.
    </p>
    <p>
      At the end of each Billing Cycle, your Subscription will automatically
      renew under the exact same conditions unless you cancel it or Prompt
      Health Inc. cancels it. You may cancel your Subscription renewal through
      your online account management in your dashboard with 30 day notice.
      Prompt Health Inc., in its sole discretion and at any time, may modify the
      Subscription fees for the Subscriptions. Any Subscription fee change will
      become effective at the end of the then-current Billing Cycle.We will
      provide you with a reasonable prior notice of any change in Subscription
      fees to give you an opportunity to terminate your Subscription before such
      change becomes effective.Your continued use of the Service after the
      Subscription fee change comes into effect constitutes your agreement to
      pay the modified Subscription fee amount.
    </p>
    <p>
      Except when required by law, paid Subscription fees are non-refundable.
      Payment for any on-going services is billed automatically until
      notification that you would like to terminate your access to the services.
    </p>

    <p>
      When you provide a payment instrument to us, you confirm that you are
      permitted to use that payment instrument. When you make a payment, you
      authorize us (and our designated payment processor) to charge the full
      amount to the payment instrument you designate for the transaction. You
      also authorize us to collect and store that funding instrument, along with
      other related transaction information.
    </p>

    <p>
      If you pay by credit, we may obtain a pre-approval from the issuer of the
      card for an amount as high as the full price. If you cancel a transaction
      before completion, this pre-approval may result in those funds not
      otherwise being immediately available to you.
    </p>

    <p>
      We may cancel any transaction if we believe the transaction violates these
      Terms, or if we believe doing so may prevent financial loss.In order to
      prevent financial loss to you or to us, we may contact your funding
      instrument issuer, law enforcement, or affected third parties (including
      other users) and share details of any payments you are associated with, if
      we believe doing so may prevent financial loss or a violation of law.
    </p>
    <h4>8. SALE OF GOODS AND SERVICES</h4>
    <p>
      We may sell goods or services or allow third parties to sell goods or
      services on the Website. We undertake to be as accurate as possible with
      all information regarding the goods and services, including product
      descriptions and images. However, we do not guarantee the accuracy or
      reliability of any product information and you acknowledge and agree that
      you purchase such products at your own risk. For goods or services sold by
      others, we assume no liability for any product and cannot make any
      warranties about the merchantability, fitness, quality, safety or legality
      of these products. For any claim you may have against the manufacturer or
      seller of the product, you agree to pursue that claim directly with the
      manufacturer or seller and not with us. You agree to release us from any
      claims related to goods or services manufactured or sold by third parties,
      including any and all warranty or product liability claims.
    </p>
    <h4>9. AFFILIATE MARKETING & ADVERTISING</h4>
    <p>
      We, through the Website and its services, may engage in affiliate
      marketing whereby we receive a commission on or percentage of the sale of
      goods or services on or through the Website. We may also accept
      advertising and sponsorships from commercial businesses or receive other
      forms of advertising compensation.
    </p>
    <h4>10. ACCEPTABLE USE</h4>
    <p>
      You agree not to use the Website for any unlawful purpose or any purpose
      prohibited under this clause. You agree not to use the Website in any way
      that could damage the Website, the services or the general business of
      Prompt Health Inc.
    </p>
    <p>You further agree not to use and/or access the Website:</p>
  </div>
</section>
