<!-- <ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner> -->
<section class="heightHF-100 pt-4 pb-4">
  <div class="container">
    <!-- <h2 class="text-center ttle-bott-bor mb-5">{{ title }}</h2> -->
    <h2 class="text-center ttle-bott-bor mb-5">TERMS AND CONDITIONS OF  PROMPTHEALTH.CA</h2>

    <!-- <div [innerHTML]="description"></div> -->

    <div class="description">

      <h3>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE.</h3>

      <p>The following Terms and Conditions govern and apply to your use of or reliance upon this website maintained by Prompt Health Inc. (the "Website").</p>

      <p>Your access or use of the Website indicates that you have read, understand and agree to be bound by these Terms and Conditions and any other applicable laws, statutes and/or regulations. We may change these Terms and Conditions at any time without notice, effective upon its posting to the Website. Your continued use of the Website will be considered your acceptance to the revised Terms and Conditions. </p>

      <h3>1.	ABOUT THE SITE</h3>

      <p>The site is an online service provided by Prompt Health Inc. that provides access to information to health and wellness professionals. Prompt Health does not provide medical or health advice, and does not endorse or recommend any of the health and wellness professionals, but instead offers access to information provided by practicing providers and centers. Prompt Health obtains information from Providers to help consumers make informed choices in their search to independently assess their health and wellness needs.</p>

      <p>Prompt Health does not endorse or recommend any Provider listed or accessible through the site. We make no guarantees, representations or warranties (express or implied) with respect to professional qualifications, expertise, quality of work, price or cost information, insurance coverage or benefit information, or other content provided through the site.  At the initiation of their membership with Prompt Health, Providers attest, and we verify, that they are licensed and in good standing with their professional colleges and/or associations.  Prompt Health may review the content submitted, but has no obligation to do so and does not accept any liability for it. Prompt Health has no obligation to publish any content submitted, and can remove such content at any time at Prompt Health’s sole discretion with or without notice.</p>

      <h3>2.  NO PROVIDER/PATIENT RELATIONSHIP</h3>

      <p>No Provider/patient relationship will be created by your use of the site or any content.</p>

      <p>We have no control over, and cannot guarantee the availability of, a particular Provider at any particular time. You agree to assume all responsibility in connection with choosing any Provider, whether or not you obtained information about such Provider on or through the site. You specifically acknowledge and agree that Prompt Health is not responsible or liable for any advice, treatment or other services rendered by any Provider, or for any malpractice claims and other claims that may arise directly or indirectly from any such advice, treatment or other services.</p>

      <p>Any dispute between you and any Provider arising from any transaction must be resolved directly between you and the Provider, without involving and without liability to us</p>

      <h3>3. INTELLECTUAL PROPERTY</h3>

      <p>All intellectual property on the Website (except for User Generated Content, as defined below) is owned by us or our licensors, which includes materials protected by copyright, trademark, or patent laws. All trademarks, service marks and trade names are owned, registered and/or licensed by us. All content on the Website (except for User Generated Content, as defined below), including but not limited to text, software, code, designs, graphics, photos, sounds, music, videos, applications, interactive features and all other content is a collective work under Canadian and other copyright laws and is the proprietary property of the Company; All rights reserved.</p>

      <h3>4. USE OF COMPANY MATERIALS</h3>

      <p>We may provide you with certain information as a result of your use of the Website including, but not limited to, documentation, data, or information developed by us, and other materials which may assist in the use of the Website or Services ("Company Materials"). The Company Materials may not be used for any other purpose than the use of this Website and the services offered on the Website. Nothing in these Terms of Use may be interpreted as granting any license of intellectual property rights to you. </p>

      <h3>5. USER GENERATED CONTENT</h3>

      <p>"User Generated Content" is communications, materials, information, data, opinions, photos, profiles, messages, notes, website links, text information, music, videos, designs, graphics, sounds, and any other content that you and/or other Website users post or otherwise make available on or through the Website, except to the extent the content is owned by us.</p>

      <h3>6. ACCOUNT AND ACCOUNT USE</h3>

      <p>If your use of the Website requires an account identifying you as a user of the Website (an "Account"):</p>

      <ol>
        <li>You are solely responsible for your Account and the maintenance, confidentiality and security of your Account and all passwords related to your Account, and any and all activities that occur under your Account, including all activities of any persons who gain access to your Account with or without your permission;</li>

        <li>You agree to immediately notify us of any unauthorized use of your Account, any service provided through your Account or any password related to your Account, or any other breach of security with respect to your Account or any service provided through it, and you agree to provide assistance to us, as requested, to stop or remedy any breach of security related to your Account, and</li>

        <li>You agree to provide true, current, accurate and complete customer information as requested by us from time to time and you agree to promptly notify us of any changes to this information as required to keep such information held by us current, complete and accurate. </li>

        </ol>

        <h3>7. PAYMENT</h3>

        <p>Our Service is billed on a subscription basis. You will be billed in advance on a recurring and periodic basis ("Billing Cycle"). Billing cycles are set either on a monthly or annual basis, depending on the type of subscription plan you select when purchasing a Subscription.</p>

        <p>At the end of each Billing Cycle, your Subscription will automatically renew under the exact same conditions unless you cancel it or Prompt Health Inc. cancels it. You may cancel your Subscription renewal through your online account management in your dashboard with 30 day notice. Prompt Health Inc., in its sole discretion and at any time, may modify the Subscription fees for the Subscriptions. Any Subscription fee change will become effective at the end of the then-current Billing Cycle. We will provide you with a reasonable prior notice of any change in Subscription fees to give you an opportunity to terminate your Subscription before such change becomes effective. Your continued use of the Service after the Subscription fee change comes into effect constitutes your agreement to pay the modified Subscription fee amount.</p>


        <p>Except when required by law, paid Subscription fees are non-refundable. Payment for any on-going services is billed automatically until notification that you would like to terminate your access to the services.</p>

        <p>When you provide a payment instrument to us, you confirm that you are permitted to use that payment instrument. When you make a payment, you authorize us (and our designated payment processor) to charge the full amount to the payment instrument you designate for the transaction. You also authorize us to collect and store that funding instrument, along with other related transaction information.</p>

        <p>If you pay by credit, we may obtain a pre-approval from the issuer of the card for an amount as high as the full price. If you cancel a transaction before completion, this pre-approval may result in those funds not otherwise being immediately available to you.</p>

        <p>We may cancel any transaction if we believe the transaction violates these Terms, or if we believe doing so may prevent financial loss. In order to prevent financial loss to you or to us, we may contact your funding instrument issuer, law enforcement, or affected third parties (including other users) and share details of any payments you are associated with, if we believe doing so may prevent financial loss or a violation of law.</p>

        <h3>8. SALE OF GOODS AND SERVICES</h3>

        <p>We may sell goods or services or allow third parties to sell goods or services on the Website. We undertake to be as accurate as possible with all information regarding the goods and services, including product descriptions and images. However, we do not guarantee the accuracy or reliability of any product information and you acknowledge and agree that you purchase such products at your own risk. For goods or services sold by others, we assume no liability for any product and cannot make any warranties about the merchantability, fitness, quality, safety or legality of these products. For any claim you may have against the manufacturer or seller of the product, you agree to pursue that claim directly with the manufacturer or seller and not with us. You agree to release us from any claims related to goods or services manufactured or sold by third parties, including any and all warranty or product liability claims.</p>

        <h3>9. AFFILIATE MARKETING & ADVERTISING</h3>

        <p>We, through the Website and its services, may engage in affiliate marketing whereby we receive a commission on or percentage of the sale of goods or services on or through the Website. We may also accept advertising and sponsorships from commercial businesses or receive other forms of advertising compensation.</p>

        <h3>10. ACCEPTABLE USE</h3>

        <p>You agree not to use the Website for any unlawful purpose or any purpose prohibited under this clause. You agree not to use the Website in any way that could damage the Website, the services or the general business of Prompt Health Inc.</p>

        <p>You further agree not to use and/or access the Website:</p>

        <ol>
          <li>To harass, abuse, or threaten others or otherwise violate any person's legal rights;</li>

          <li>To violate any intellectual property rights of us or any third party;</li>

          <li>To upload or otherwise disseminate any computer viruses or other software that may damage the property of another;</li>

          <li>To perpetrate any fraud;</li>

          <li>To engage in or create any unlawful gambling, sweepstakes, or pyramid scheme;</li>

          <li>To publish or distribute any obscene or defamatory material;</li>

          <li>To publish or distribute any material that incites violence, hate or discrimination towards any group;</li>

          <li>To unlawfully gather information about others.</li>
        </ol>

        <h3>11. PROTECTION OF PRIVACY</h3>

        <p>Through your use of the Website, you may provide us with certain information. By using the Website, you authorize us to use your information in Canada and any other country where we may operate.</p>

        <p>When you register for an account, you provide us with a valid email address and may provide us with additional information, such as your name and/or billing information. Depending on how you use our Website, we may also receive information from external applications you use to access our Website, or we may receive information through various web technologies, such as cookies, log files, clear gifs, web beacons or others.</p>

        <p>We use the information gathered from you to ensure your continued good experience on our website, including through email communication. We may also track certain of the passive information received to improve our marketing and analytics, and for this, we may work with third-party providers.</p>

        <p>If you would like to disable our access to any passive information we receive from the use of various technologies, you may choose to disable cookies in your web browser. Please be aware that we will still receive information about you that you have provided, such as your email address. </p>

        <p>If you choose to terminate your account, we will store information about you for the following period of time: 1 year. After that time, all information about you will be deleted. </p>

        <h3>12. ASSUMPTION OF RISK</h3>

        <p>The Website is provided for communication purposes only. You acknowledge and agree that any information posted on our Website is not intended to be medical advice and no fiduciary relationship has been created between you and Prompt Health Inc. You further agree that your purchase of any of the products on the Website is at your own risk. We do not assume responsibility or liability for any advice or other information given on the Website.</p>

        <h3>13. REVERSE ENGINEERING & SECURITY</h3>

        <p>You may not undertake any of the following actions:</p>

        <ol>
          <li>Reverse engineer, or attempt to reverse engineer or disassemble any code or software from or on the Website;</li>

          <li>Violate the security of the Website through any unauthorized access, circumvention of encryption or other security tools, data mining or interference to any host, user or network.</li>
        </ol>

<h3>14. DATA LOSS</h3>

<p>We are not responsible for the security of your Account or Content. Your use of the Website is at your own risk.</p>

<h3>15. INDEMNIFICATION</h3>

<p>You defend and indemnify Prompt Health Inc. and any of its affiliates and hold us harmless against any and all legal claims and demands, including reasonable attorney's fees, which may arise from or relate to your use or misuse of the Website, your breach of these Terms and Conditions, or your conduct or actions. We will select our own legal counsel and may participate in our own defence, if we wish to so.</p>

<h3>16. SPAM POLICY</h3>

<p>You are strictly prohibited from using the Website or any of our services for illegal spam activities, including gathering email addresses and personal information from others or sending any mass commercial emails.</p>

<h3>17. THIRD-PARTY LINKS & CONTENT</h3>

<p>We may occasionally post links to third party websites or other services. We are not responsible or liable for any loss or damage caused as a result of your use of any third party services linked to from our Website.</p>

<h3>18. VARIATION</h3>

<p>To the extent any part or sub-part of these Terms and Conditions is held ineffective or invalid by any court of law, the prior, effective version of these Terms and Conditions be considered enforceable and valid to the fullest extent.</p>

<h3>19. SERVICE INTERRUPTIONS</h3>

<p>We may need to interrupt your access to the Website to perform maintenance or emergency services on a scheduled or unscheduled basis. You agree that your access to the Website may be affected by unanticipated or unscheduled downtime, for any reason, but that the we will have no liability for any damage or loss caused as a result of such downtime.</p>

<h3>20. TERMINATION OF ACCOUNT</h3>

<p>We may, in our sole discretion, suspend, restrict or terminate your Account and your use of the Website, effective at any time, without notice to you, for any reason, including because the operation or efficiency of the Website or our or any third party's equipment or network is impaired by your use of the Website, any amount is past due from you to us, we have received a third party complaint which relates to your use or misuse of the Website, or you have been or are in breach of any term or condition of these Terms and Conditions. We will have no responsibility to notify any third party, including any third party providers of services, merchandise or information, of any suspension, restriction or termination of your access to the Website.</p>

<h3>21. NO WARRANTIES</h3>

<p>Your use of the Website is at your sole and exclusive risk and any services provided by us are on an "as is" basis. We disclaim any and all express or implied warranties of any kind, including, but not limited to the implied warranty of fitness for a particular purpose and the implied warranty of merchantability. We make no warranties that the Website will meet your needs or that the Website will be uninterrupted, error-free, or secure. We also make no warranties as to the reliability or accuracy of any information on the Website or obtained through the Services. Any damage that may occur to you, through your computer system, or as a result of loss of your data from your use of the Website is your sole responsibility and we are not liable for any such damage or loss.</p>

<h3>22. PRIVACY</h3>

<p>Internet communications are subject to interception, loss or alteration and, as consequence, you acknowledge that information or data you provide by electronic means by accessing or using this Website are not confidential or exclusive, except to the extent required by the applicable laws, and that communications by email may be intercepted, altered or lost. </p>

<p>For more information, please refer to our Privacy Policy, which you may find at the following address: prompthealth.ca/privacy.</p>

<h3>23. LIMITATION ON LIABILITY</h3>

<p>We are not liable for any damages that may occur to you as a result of your use of the Website, to the fullest extent permitted by law. The maximum liability of Prompt Health Inc. arising from your use of the Website is limited to the greater of one hundred ($100) Canadian Dollars or the amount you paid to Prompt Health Inc. in the last six (6) months. This applies to any and all claims by you, including, but not limited to, lost profits or revenues, consequential or punitive damages, negligence, strict liability, fraud, or torts of any kind.</p>

<h3>24. E-MAIL</h3>

<p>We use email as a vital and primary communication channel with you.  By using the site, if you provide us with an e-mail address, such as when creating an account or by using the “Contact Us” or similar features of the site, you grant us permission to communicate with you by e-mail for any purposes related to your use of the site, including for any disclosures, system messages and other marketing purposes.  We will use our best efforts to honor any request to opt out of marketing messages, but under no circumstances will we have any liability for sending you any e-mail.
    You agree that any notice, agreement, disclosure or other communication that we send you by e-mail will satisfy any legal communication requirements, including that such communication be in writing.
    </p>

    <p>Last revision: June 20, 2020</p>

    </div>


  </div>
</section>
