<div class="card p-3 text-center rounded-12p align-items-center">
  <div class="img-wrapper mb-20p">
    <user-image
    style="width: 70px;"
    [verified]="p.isVerified"
    [shapedCircle]='false'
    [image]="p.image"
    [alt]="p.name"
    [borderWidthVerified]="1"
    [badgeSize]="28"
    ></user-image>
  </div>
  <h6 class="subtitle1 mb-1 clamp-1line">{{p.name}}</h6>
  <div class="subtitle2 text-primary-dark clamp-1line mb-5p">{{p.price}}</div>
  <star-rate class="mb-15p" [rate]="3" margin="small" size="small"></star-rate>
  <div class="subtitle1 mb-40p clamp-1line text-label">{{p.title}}</div>
  <a class="btn btn-outline small" [routerLink]="['/practitioners', p.id]">Check Profile</a>
</div>