<div class="card p-3 text-center rounded-12p align-items-center">
  <div class="d-inline-block position-relative mb-20p">
    <profile-image
    [size]="70"
    [image]="p.image"
    [alt]="p.name"
    ></profile-image>
    <i 
    *ngIf="p.isVerified" 
    iconPh="verified"
    class="position-absolute text-primary"
    style="bottom: -8px; right: -12px; font-size: 28px;"
    ></i>
  </div>
  <h6 class="subtitle1 mb-1 clamp-1line">{{p.name}}</h6>
  <div class="subtitle2 text-primary-dark clamp-1line mb-5p">{{p.price}}</div>
  <star-rate class="mb-10p mb-md-15p" [rate]="p.rating" margin="small" size="small"></star-rate>
  <div class="subtitle1 mb-20p mb-md-40p clamp-1line text-label">{{p.title}}</div>
  <a class="btn btn-outline small" [routerLink]="['/community/profile', p._id]">Check Profile</a>
</div>