@import "../../../assets/scss/variables";

.selectbox.active{ z-index: 15; }

.selected{
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 12px 30px 12px 15px;
    width: 200px;
    border: solid 1px #ced4da;
    background: white;

    @media screen and (min-width: 768px){ width: 250px; }

    &:disabled{
        background-color: #e9ecef;
        opacity: 1;
        color: #495057;
        text-align: left;

        &::after{
            content: none;
        }
    }

    &::after{
        content: '';
        position: absolute;
        top: calc(50% - 5px);
        right: 15px;
        width: 8px;
        height: 8px;
        border-top: solid 1px #A6A6A6;
        border-right: solid 1px #A6A6A6;
        transform: rotate(135deg);
        transform-origin: center;

        .responsive &{
            @media screen and (min-width: 768px){ transform: rotate(45deg); }
        }
    }
}

ul.selectbox-selections{
    border: solid 1px #ced4da;
    position: absolute;
    width: 100%;
    overflow: auto;
    max-height: 200px;
    background: white;

    top: calc(100% - 4px);
    left: 0;
    padding: 5px 0 0;
    border-radius: 0 0 0.25em 0.25em;

    .responsive & {
        @media screen and (min-width: 768px){
            top:0;
            left: calc(100% + 5px);
            padding: 0;
            border-radius: 0.25em;
        }    
    }

    // li{ 
    //     position: relative;
    //     z-index: 1; 
    // }

    // li button{
    //     width: 100%;
    //     border-radius: 0;
    //     &:focus{
    //         color: white;
    //         background: $colorPrimary;
    //     }
    // }


    li {        
        button {
            display: inline-block;
            padding: 12px 15px;
            width: 100%;
    
            &:hover, 
            &:focus {
                background-color: $colorPrimaryLight;
                color: $colorPrimaryDark !important;     
            }
        }
    }
}