
<modal 
id="user-menu"
[bodyStyle]="{padding: 0, maxWidth: '450px'}"
#modalUserMenu
>
<ng-container *ngIf="user">
  <div class="image-container-33pc bg-background cursor-pointer">
    <div 
    *ngIf="!userCoverImage"
    class="bg-background w-100 h-100"
    style="position: absolute; top: 0; left: 0; z-index: 5;"
    (click)="onClickCoverImage()"
    >
      <i 
      iconPh="camera" 
      style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"
      ></i>
    </div>
    <img 
    *ngIf="userCoverImage"
    [src]="userCoverImage"
    style="z-index: 5;"
    (click)="onClickCoverImage()"
    >
    <button
    class="btn btn-icon-body small bg-white position-absolute"
    style="top: 10px; right: 10px; z-index: 10;"
    (click)="modalUserMenu.hide()"
    >
      <i iconPh="cross"></i>
    </button>
    <input 
    type="file" 
    class="d-none" 
    #inputCoverImage 
    imageUploader 
    imageType="profileCover"
    (onChange)="onChangeCoverImage($event)"
    (startUpload)="onStartUploadImage()"
    (failUpload)="onFailUploadCoverImage()"
    (doneUpload)="onDoneUploadCoverImage($event)"
    [disabled]="isUploading"
    >
  </div>
  <div class="modal-user-menu-body">
    <div class="d-flex mt-5p">
      <div class="position-relative" style="margin-top: -25px; z-index: 10;">
        <profile-image
        [size]="70"
        [radius]="15"
        [image]="userProfileImage"
        [option]="{dummyBgClass: 'bg-white', dummyIcon: 'camera'}"
        (click)="onClickProfileImage()"
        ></profile-image>
        <input 
        type="file" 
        class="d-none" 
        #inputProfileImage 
        imageUploader 
        imageType="profileImage"
        (onChange)="onChangeProfileImage($event)"
        (startUpload)="onStartUploadImage()"
        (failUpload)="onFailUploadProfileImage()"
        (doneUpload)="onDoneUploadProfileImage($event)"    
        [disabled]="isUploading"
        >
      </div>
      <div class="ml-15p">
        <div class="subtitle1 h5-md">
          <span>{{user.nickname}}</span>
          <i
          *ngIf="user.isVerified"
          iconPh="verified"
          class="text-primary ml-5p"
          ></i>
        </div>
        <div class="subtitle2 text-label">{{user.email}}</div>
      </div>
    </div>

    <div class="mt-20p" *ngIf="user?.isProvider || user?.isP">
      <!-- <div 
      *ngIf="user.isPaid"
      class="d-inline-block rounded-4p py-5p px-10p body-small text-primary border border-primary"
      >
        <i iconPh="rocket" style="line-height: 1.1"></i>
        <span class="ml-5p">Plan: {{user.plan.name}}</span>
      </div> -->
      <div
      *ngIf="!user.isPaid"
      class="bg-yellow-light border border-yellow rounded-8p p-10p"
      >
        <div class="text-yellow-dark d-flex">
          <i iconPh="info"></i>
          <div class="body-small ml-5p">
            Your plan is basic. Upgrade for advanced features.<br>
            <a [routerLink]="linkToPlan" class="text-yellow-dark"><u>Learn more</u></a>            
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex mt-20p">
      <a
      class="text-body"
      routerLink="/community/followings"
      [replaceUrl]="true"
      >
        <div class="subtitle2">Following</div>
        <div class="h5">{{user.numFollowing}}</div>
      </a>
      <a
      *ngIf="!user.isU"
      class="ml-20p text-body"
      routerLink="/community/followers"
      [replaceUrl]="true"
      >
        <div class="subtitle2">Followers</div>
        <div class="h5">{{user.numFollower}}</div>
      </a>
    </div>
    <div class="mt-15p">
      <div class="mb-5p">
        <a
        *ngIf="user.hasProfile"
        class="btn btn-text-body small px-0"
        (click)="onClickUserMenuItem(['/community/profile', userId])"
        >
          <i iconPh="user" class="mr-5p"></i>
          <span>See my profile</span>
        </a>
      </div>
      <div class="mb-5p">
        <a
        *ngIf="user.isEligibleToCreateArticle"
        class="btn btn-text-body small px-0"
        (click)="onClickUserMenuItem(['/community/editor/article'])"
        >
          <i iconPh="file" class="mr-5p"></i>
          <span>Create new article</span>
        </a>
      </div>

      <div class="mb-5p">
        <a
        *ngIf="user.isEligibleToCreateEvent"
        class="btn btn-text-body small px-0"
        (click)="onClickUserMenuItem(['/community/editor/event'])"
        >
          <i iconPh="calendar" class="mr-5p"></i>
          <span>Create new event</span>
        </a>
      </div>

      <div class="mb-5p">
        <a
        *ngIf="!user.isU"
        class="btn btn-text-body small px-0"
        (click)="onClickUserMenuItem(['/community/drafts'])"
        >
          <i iconPh="inbox-filled" class="mr-5p"></i>
          <span>See drafts</span>
        </a>
      </div>

      <div class="mb-5p">
        <a
        class="btn btn-text-body small px-0"
        (click)="onClickUserMenuItem(['/dashboard/profilemanagement', (userRole == 'P' ? 'partner-profile' : 'my-profile')])"
        >
          <i iconPh="edit" class="mr-5p"></i>
          <span>Edit my profile</span>
        </a>
      </div>
      <!-- <div class="mb-5p">
        <a
        *ngIf="!user.isU"
        class="btn btn-text-body small px-0"
        (click)="onClickUserMenuItem(['/community/draft'])"
        >
          <i iconPh="note-text" class="mr-5p"></i>
          <span>See my drafts</span>
        </a>
      </div> -->
  
      <div>
        <a
        class="btn btn-text-error small px-0"
        (click)="onClickUserMenuItemLogout()"
        >
        <i iconPh="alert-circle" class="mr-5p"></i>
        <span>Logout</span>
      </a>
      </div>
    </div>
  </div>
</ng-container>
</modal>