
<modal 
id="user-menu"
[bodyStyle]="{padding: 0, maxWidth: '450px'}"
#modalUserMenu
>
<ng-container *ngIf="user">
  <div class="image-container-33pc bg-background cursor-pointer">
    <div 
    *ngIf="!userCoverImage"
    class="bg-background w-100 h-100"
    style="position: absolute; top: 0; left: 0; z-index: 5;"
    (click)="onClickCoverImage()"
    >
      <i 
      iconPh="camera" 
      style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"
      ></i>
    </div>
    <img 
    *ngIf="userCoverImage"
    [src]="userCoverImage"
    style="z-index: 5;"
    (click)="onClickCoverImage()"
    >
    <button
    class="btn btn-icon-body small bg-white position-absolute"
    style="top: 10px; right: 10px; z-index: 10;"
    (click)="modalUserMenu.hide()"
    >
      <i iconPh="cross"></i>
    </button>
    <input 
    type="file" 
    class="d-none" 
    #inputCoverImage 
    imageUploader 
    imageType="profileCover"
    (onChange)="onChangeCoverImage($event)"
    (startUpload)="onStartUploadImage()"
    (failUpload)="onFailUploadCoverImage()"
    (doneUpload)="onDoneUploadCoverImage($event)"
    [disabled]="isUploading"
    >
  </div>
  <div class="modal-user-menu-body">
    <div class="d-flex mt-5p">
      <div class="position-relative" style="margin-top: -25px; z-index: 10;">
        <profile-image
        [size]="70"
        [radius]="15"
        [image]="userProfileImage"
        [option]="{dummyBgClass: 'bg-white', dummyIcon: 'camera'}"
        (click)="onClickProfileImage()"
        ></profile-image>
        <input 
        type="file" 
        class="d-none" 
        #inputProfileImage 
        imageUploader 
        imageType="profileImage"
        (onChange)="onChangeProfileImage($event)"
        (startUpload)="onStartUploadImage()"
        (failUpload)="onFailUploadProfileImage()"
        (doneUpload)="onDoneUploadProfileImage($event)"    
        [disabled]="isUploading"
        >
      </div>
      <div class="ml-15p">
        <div class="subtitle1 h5-md">
          <span>{{user.nickname}}</span>
          <i
          *ngIf="user.isVerified"
          iconPh="verified"
          class="text-primary ml-5p"
          ></i>
        </div>
        <div class="subtitle2 text-label">{{user.email}}</div>
      </div>
    </div>
    <div class="d-flex mt-20p">
      <a
      class="text-body"
      routerLink="/community/followings"
      [replaceUrl]="true"
      >
        <div class="subtitle2">Following</div>
        <div class="h5">{{user.numFollowing}}</div>
      </a>
      <a
      *ngIf="!user.isU"
      class="ml-20p text-body"
      routerLink="/community/followers"
      [replaceUrl]="true"
      >
        <div class="subtitle2">Followers</div>
        <div class="h5">{{user.numFollower}}</div>
      </a>
    </div>
    <div class="mt-15p">
      <div class="mb-5p">
        <a
        *ngIf="user.hasProfile"
        class="btn btn-text-body small px-0"
        (click)="onClickUserMenuItem(['/community/profile', userId])"
        >
          <i iconPh="user" class="mr-5p"></i>
          <span>See my profile</span>
        </a>
      </div>
      <div class="mb-5p">
        <a
        *ngIf="user.isEligibleToCreateArticle"
        class="btn btn-text-body small px-0"
        (click)="onClickUserMenuItem(['/community/create/article'])"
        >
          <i iconPh="file" class="mr-5p"></i>
          <span>Create new article</span>
        </a>
      </div>

      <div class="mb-5p">
        <a
        *ngIf="user.isEligibleToCreateEvent"
        class="btn btn-text-body small px-0"
        (click)="onClickUserMenuItem(['/community/create/event'])"
        >
          <i iconPh="calendar" class="mr-5p"></i>
          <span>Create new event</span>
        </a>
      </div>
      <div class="mb-5p">
        <a
        class="btn btn-text-body small px-0"
        (click)="onClickUserMenuItem(['/dashboard/profilemanagement', (userRole == 'P' ? 'partner-profile' : 'my-profile')])"
        >
          <i iconPh="edit" class="mr-5p"></i>
          <span>Edit my profile</span>
        </a>
      </div>
      <!-- <div class="mb-5p">
        <a
        *ngIf="!user.isU"
        class="btn btn-text-body small px-0"
        (click)="onClickUserMenuItem(['/community/draft'])"
        >
          <i iconPh="note-text" class="mr-5p"></i>
          <span>See my drafts</span>
        </a>
      </div> -->
  
      <div>
        <a
        class="btn btn-text-error small px-0"
        (click)="onClickUserMenuItemLogout()"
        >
        <i iconPh="alert-circle" class="mr-5p"></i>
        <span>Logout</span>
      </a>
      </div>
    </div>
  </div>

  <a
  *ngIf="eligibleToUpgradePlan"
  [routerLink]="linkToPlan"
  [replaceUrl]="true"
  class="btn btn-primary w-100 rounded-0"
  >
  <i iconPh="rocket"></i>
  <span class="ml-5p">Upgrade plan now!</span>
  </a>
</ng-container>
</modal>