<!-- 

<div class="modal-header">
  <h4 class="modal-title" id="modal-title">Select a category that you want to be featured in</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button> -->
<!-- </div> -->
<!-- <div class="modal-body">
  <select name="category" id="" ngbAutofocus class="custom-select" [(ngModel)]="selectedCategory">
    <option *ngFor="let cat of categories; let i = index" [value]="i">
      {{cat.item_text}}
    </option>
  </select>
</div> -->
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
  <button type="button" class="btn btn-success" (click)="modal.close(selectedCategory)">Ok</button>
</div> -->