<div class="blur" (click)="onClose()"></div>
<button class="icon-clear btn" (click)="onClose()"><i class="fas fa-times"></i></button>

<div class="viewer">
  <div class="main d-flex flex-column">
    <h3 *ngIf="target.name" class="flex-grow-0">{{target.name}}</h3>
    <div class="position-relative flex-grow-1">
      <img [src]="target.url" alt="(target.name) ? target.name : ''">
    </div>
  </div>
  <app-image-row [images]="images" [option]="{fixHeight: true}" (select)="selectImage($event)"></app-image-row>
</div>