<div 
class="d-flex align-items-center justify-content-between list-item-inner border-line py-3"
[ngClass]="{'cursor-pointer': _option.isListClickable}"
(click)="_onTap($event)"
>
  <div class="d-flex align-items-center">
    <div *ngIf="leading">
      <i 
      [iconPh]="leading"
      class="leading"
      [ngClass]="[(leadingClass ? leadingClass : '') ]"
      [ngStyle]="leadingStyle"
      ></i>
    </div>
    
    <div>
      <ng-content></ng-content>
    </div>  
  </div>

  <div *ngIf="action">
    <i 
    [iconPh]="action"
    class="action"
    [ngClass]="[(actionClass ? actionClass : '')]"
    [ngStyle]="actionStyle"
    (click)="_onTapAction($event)"
    ></i>
  </div>
</div>