<div class="user-input-wrapper position-relative">
  <div class="row">
    <div class="col-12 col-md-8">
      <p class="question font-weight-bold">{{questionnaire?.c_question}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-9 col-lg-8">
      <!-- reusable select box for single selection -->
      <div class="position-relative d-inline-block selectbox">
        <button class="selected rounded" (click)="toggleSelectionVisibility()">
          <span>{{getSelectedText()}}</span>
        </button>
        <ul class="selections list-unstyled" *ngIf="isSelectionsVisible">
          <li class="close_controller" (click)="toggleSelectionVisibility('hide')"></li>
          <li *ngFor="let option of questionnaire?.answers; let i = index;">
            <button class="btn" [focus]="isOptionFocused(i)" (click)="select(i)"
              (keydown)="focusNextOption($event)">{{option.item_text}}</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="button-group">
  <div class="row justify-content-between">
    <div class="col-5 col-md-3">
      <button class="btn rounded btn-lg btn-block" *ngIf="!isFirstQuestion" type="button"
        (click)="cancel()">Back</button>
    </div>
    <div class="d-none d-md-block col-md-1"></div>
    <div class="col-5 col-md-3">
      <button class="btn rounded btn-lg btn-block" (click)="submit()">
        <span *ngIf="isLastQuestion">Submit</span>
        <span *ngIf="!isLastQuestion">Next</span>
      </button>
    </div>
    <div class="d-none d-md-block col-md-5"></div>
  </div>
  <p class="error mt-3 position-absolute" *ngIf="isInvalid">Please choose your age range</p>
  <img class="d-none d-md-block image-questionnaire" src="/assets/img/user-questionnaire.png" alt="questionnaire">

</div>