<section class="bg-cover detailbanner bg-overlay" style="background-image: url(assets/img/professional-banner.png);">
  <div class="container text-center text-light">
    <h3>Profile Management</h3>

    <!-- <button-tutorial
    *ngIf="profile?.roles != 'U'"
    type="dashboard"
    label="tutorial"
    title="How To Use Dashboard"
    buttonClass="btn-primary small shadow"
    ></button-tutorial> -->
  </div>
</section>

<div class="container pb-4 position-relative">
  <div class="shadow bg-white">
    <div class="container-fluid">
      <!-- -- {{ userInfo }} -->
      <!-- -- {{ profile | json }}  -->
      <div class="row upgrade-header align-items-center" *ngIf="userInfo.roles !== 'U' && profile && !isPremium">
        <div class="col-12">
          <div class="d-flex flex-column flex-md-row justify-content-between justify-content-lg-center align-items-md-center">
            <h6 class="text-primary-dark h6 d-flex align-items-center mb-10p mb-md-0p mr-lg-10p">
              <i iconPh="fire" class="mr-5p"></i>
              <span>
                <span>Upgrade to Premium to get all the exclusive features</span> 
                <i class="d-none d-md-inline" iconPh="arrow-right"></i>   
              </span>
            </h6>
            <a class="btn btn-primary" [routerLink]="linkToSubscription">
              Upgrade to Premium
            </a>
          </div>
        </div>

        <hr>
      </div>
      <div class="row">
        <div class="col-md-3 px-0">
          <!-- Nav tabs -->
          <ul class="nav h-100 flex-column bg-light font-weight-normal" id="pills-tab" role="tablist">
            <li class="nav-item" *ngFor="let list of listing">
              <button class="nav-link d-flex flex-between" [disabled]=!list.active [routerLink]="list.link"
                [routerLinkActive]="['active']">
                <div class="flex-grow-1 d-flex align-items-center justify-content-between flex-wrap">
                  <span class="lead">
                    <b>{{ list.title }}</b>
                  </span>
                  <span 
                  *ngIf="list.title == 'Profile' && profile?.isVipAffiliateUser"
                  class="icon-vip caption rounded px-5p py-1"
                  >
                    <i iconPh="award"></i>
                    <span class="pl-1">VIP</span>
                  </span>

                  <div *ngIf="list.description" class=" mt-5p w-100 caption">
                    {{list.description}}
                  </div>
                </div>
                <div class="text-right text-body" *ngIf="!list.active">
                  <i iconPh="lock"></i>
                </div>
              </button>
            </li>
          </ul>
        </div>

        <div class="col-md-9">
          <!-- Tab panes -->
          <div class="tab-content py-3">
            <ng-container *ngIf="profile && profile.roles != 'P' && profile.roles != 'U'">
              <div class="bg-background p-4 mb-3 font-italic" *ngIf="!profile.isApproved">
                <p>
                  Your profile is being reviewed by our administrator and won't be shown in listing just yet.
                </p>
                <p>
                  Please read the guidelines and review your profile.
                </p>

                <button-guideline
                label="See Profile Guidelines"
                buttonClass="btn btn-primary small"
                ></button-guideline>
                
              </div>
            </ng-container>
            <!-- <ng-container *ngIf="!profile?.isApproved && (profile?.roles != 'P' && profile?.roles != 'U')">
              <div class="bg-grey p-4 mb-3">

                <ng-container *ngIf="profile.roles == 'P'">
                  <div *ngIf="!profile.phListedLink">
                    <p class="font-italic font-big">
                      To get listed with us as a Products/Pertoner, please link Prompt Health to your website, social media, or other platform first. 
                    </p>
                    <button class="btn btn-ph-blue" (click)="isPhLinkFieldShown = true">I added the link</button>    
                  </div>

                  <div *ngIf="profile.phListedLink">
                    <p class="font-italic font-big">
                      Your profile is being reviewed by our administrator and won't be shown in listing just yet.<br><br>
                      If needed, you can edit the URL where you have linked Prompt Health.
                    </p>
                    <button class="btn btn-ph-blue" (click)="isPhLinkFieldShown = true">Edit</button>    
                  </div>
                </ng-container> 
                <form (ngSubmit)="onSubmitPhListedLink()" *ngIf="isPhLinkFieldShown" class="mt-3">
                  <form-item-input name="phListedLink" label="Link"
                    placeholder="Enter the URL to where you have linked Prompt Health" [controller]="formPhListedLink"
                    [submitted]="isFormPhListedLinkSubmitted"></form-item-input>
                  <div class="mt-3">
                    <input type="submit" class="btn btn-ph-blue" value="Submit">
                  </div>
                </form> 
              </div>


            </ng-container>-->

            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div 
class="modal fade" 
bsModal
id="alert"
#alertModal="bs-modal"
tabindex="-1" 
role="dialog" 
aria-labelledby="alertModal" 
aria-hidden="true"
>
  <div 
  class="modal-dialog modal-dialog-centered" 
  role="document" 
  style="margin: auto !important; max-width: 500px;"
  >
    <div class="modal-content mk-border">
      <div class="modal-header">
        <h4 class="modal-title w-100 text-center text-dark px-3">
          You haven't completed questionnaire
        </h4>
        <button 
        type="button" 
        class="close" 
        aria-label="Close" 
        (click)="alertModal.hide()"
        style="position: absolute; right: 10px; top: 10px;"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center pb-4 px-md-5">
        <p class="mt-3 mb-5">
          You can restart questionnaire to complete your profile.
           <br><br>
          Would you like to restart?
        </p>
        <div class="row text-align justify-content-between px-md-4">
          <div class="col-6 text-left">
            <button class="btn btn-outline-primary" (click)="alertModal.hide()">No I stay.</button>
          </div>
          <div class="col-6 text-right">
            <a class="btn btn-primary" [routerLink]="['/dashboard', ((profile?.roles == 'P') ? 'register-product' : 'register-practitioner')]">Yes please.</a>
          </div>
          <div class="col text-left mt-3">
            <form-item-checkbox [controller]="formQuestionnaireCompletedNeverAsk" label="Don't ask again" name="never-ask"></form-item-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>