@import "../../../../assets/scss/mixins";

button.close.position-absolute {
  right: 16px;
  top: 16px;
}
.upgrade-header {
  padding: 10px 0;
  border-bottom: 1px solid #f8f9fa;
  p {
    font-weight: 900;
    margin: 0;
    a {
      margin-top: -5px;
    }
  }
}
.modal.fade.show {
  display: -webkit-box !important;
  display: flex !important;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  > * {
    width: 100%;
  }
}

label {
  font-weight: normal;
}

.detailbanner {
  padding-top: 42px;
  padding-bottom: 80px;
  margin-bottom: -56px;
}

.detailprofileimg {
  height: 70px;
  width: 70px;
}

ul#pills-tab {
  .nav-link {
    position: relative;
    color: $secondaryColor;
    padding: 12px 13px;
    border: 0;
    text-align: left;
    border-bottom: 3px solid transparent;
    width: 100%;
    &.active {
      border-color: $primaryColor;
      background-color: $secondaryColor;
      color: #fff;
    }
  }
}

.faviconbox {
  height: 100px;
  min-width: 100px;
  border: 1px solid;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url(../../../../assets/img/favicon.jpg);
}

.formsoverflow {
  overflow: auto;
  max-height: 285px;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: #c2c3c5;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 50px;
  }
}

.blogimageeditbox {
  @include profileImageInput(150px, 0);
}

.pdfimageeditbox {
  @include profileImageInput(80px, 0);
}

input[type="file"].btn {
  display: inline-block;
  position: relative;
  border-radius: $radius;
  max-width: 150px;
  color: #fff;
  font-weight: 400;
  padding: 10px 15px !important;
  &::before {
    content: "Upload";
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: $primaryColor;
    border-radius: $radius;
  }
  &.imagefileinput {
    &::before {
      content: "Upload Image";
    }
  }
  &.videofileinput {
    &::before {
      content: "Upload Video";
    }
  }
}

.blogimg {
  border: 4px solid #fff;
  outline: 1px solid;
}

.formsoverflow {
  overflow: auto;
  max-height: 285px;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: #c2c3c5;
    border-radius: 50px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primaryColor;
    border-radius: 50px;
  }
}
