<section
  class="bg-cover detailbanner bg-overlay"
  style="background-image: url(assets/img/professional-banner.png);"
>
  <div class="container text-center text-light">
    <h2>Profile Management</h2>
  </div>
</section>

<div class="container pb-4 position-relative">
  <div class="shadow bg-white">
    <div class="container-fluid">
      <!-- -- {{ userInfo }} -->
      <!-- -- {{ profile | json }}  -->
      <div class="row upgrade-header" *ngIf="userInfo.roles !== 'U' && profile && !isPremium">
        <div class="col-sm-12 text-center">
          <p style="color:#4a86ab"><i class="fas fa-star-of-life"></i>   Upgrade your plan to get all the exclusive features <span><i class="fas fa-long-arrow-alt-right"></i></span>
            <a class="btn btn-primary pull-right" [routerLink]="['/dashboard/subscriptionplan']">Upgrade Plan</a>
          </p>
        </div>

        <hr>
      </div>
      <div class="row">
        <div class="col-md-3 px-0">
          <!-- Nav tabs -->
          <ul
            class="nav h-100 flex-column bg-light font-weight-normal"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item" *ngFor = "let list of listing">
              <button
                class="nav-link d-flex flex-between"
                [disabled]=!list.active
                [routerLink]="list.link"
                [routerLinkActive]="['active']"
                >
                <div class="flex-grow-1 d-flex align-items-center flex-wrap">
                  <span class="lead">
                    <b>{{ list.title }}</b>
                  </span>
                  <div *ngIf="list.title == 'Profile' && profile?.isVipAffiliateUser" class="icon-vip font-small rounded ml-3">
                    <i class="fas fa-ribbon"></i>
                    <span class="pl-2">VIP</span>
                  </div>
                  <div *ngIf="list.description" style=" font-size: 12px;" class="w-100">
                    {{list.description}}
                  </div>  
                </div>
                <div style="color:#4a86ab; font-size: 10px;" class="pull-right mr-2" *ngIf="!list.active"><i class="fas fa-star-of-life"></i></div>
              </button>
            </li>
          </ul>
        </div>

        <div class="col-md-9">
          <!-- Tab panes -->
          <div class="tab-content py-3">
            <div class="bg-grey p-4 mb-3" *ngIf="!profile?.isApproved">
              <p class="font-italic mb-0 font-big">Your profile is been reviewed by our administrator and won't be shown in listing just yet.</p>
            </div>
            
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>