<section
  class="bg-cover detailbanner bg-overlay"
  style="background-image: url(assets/img/professional-banner.png);"
>
  <div class="container text-center text-light">
    <h2>Profile Management</h2>
  </div>
</section>

<div class="container pb-4 position-relative">
  <div class="shadow bg-white">
    <div class="container-fluid">
      <div class="row upgrade-header" *ngIf="profile  && profile?.plan?.price === 0">
        <div class="col-sm-12">
          <p>To get all exlusive features upgrade your plan 
            <a class="btn btn-primary pull-right" [routerLink]="['/dashboard/subscriptionplan']">Upgrade Plan</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 px-3 px-sm-0">
          <!-- Nav tabs -->
          <ul
            class="nav h-100 flex-column bg-light font-weight-normal"
            id="pills-tab"
            role="tablist"
          >
            <li class="nav-item" *ngFor = "let list of listing">
              <button
                class="nav-link"
                id="personal-information-tab"
                [disabled]=!list.active
                data-toggle="pill"
                [routerLink]="list.link"
                [routerLinkActive]="['active']"
                role="tab"
                aria-controls="pills-personal-information"
                aria-selected="true"
                >{{ list.title }}</button>
            </li>

            <li class="nav-item">
              <a
                class="nav-link"
               href="/dashboard/profilemanagement/my-affiliate"
                [routerLinkActive]="['active']"
                >My Affiliate</a>
            </li>
          </ul>
        </div>

        <div class="col-md-9">
          <!-- Tab panes -->
          <div class="tab-content py-3">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>