<div (clickOutside)="hidePicker()">
  <form-item-input
  [label]="label"
  [controller]="controller"
  (click)="showPicker()"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [submitted]="submitted"
  ></form-item-input>
  <div #formBlur tabindex="-1"></div>
  
  <div
  *ngIf="isPickerShown" 
  class="overflow-hidden"
  [@expandVertical]
  >
    <div
    class="d-flex p-3 mt-2 flex-column align-items-center bg-white datetime-picker orverflow-hidden rounded-lg"
    >
      <bs-datepicker-inline 
      [minDate]="_minDateTime" 
      [bsConfig]="{showWeekNumbers: false, containerClass: 'theme-ph'}"
      [minDate]="_minDateTime"
      [(bsValue)]="form.date"
      (bsValueChange)="updateDateTime(true)"
      ></bs-datepicker-inline>
  
      <timepicker 
      *ngIf="!dateOnly"
      [(ngModel)]="form.time"
      [minuteStep]="15"
      (isValid)="updateDateTime(true)"
  
      ></timepicker>
    </div>  
  </div>
</div>
