@import "./variables";

@mixin Icons(
    $bg: "./../../assets/img/tooth.png",
    $bg1: "./../../assets/img/tooth.png",
  $size: 15px
) {
  background-image: url($bg);
  height: $size;
  width: $size;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    background-image: url($bg1);
  }
}
