@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:200,300,400,600,700,900&display=swap");

$primaryColor: #4274ba;
$secondaryColor: #6d6e71;
$themeFont1: "Source Sans Pro";
$themeFont2: "Open Sans";