<section
  class="pt-5 bg-cover text-light"
  style="background-image: url(assets/img/bannerbg1.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-md-4 order-2 order-sm-0">
        <img src="assets/img/girl.png" width="100%" />
      </div>
      <div class="col-md-8 text-center mb-3 mb-sm-0">
        <h2 class="ttle-bott-bor text-center mb-4">
          Your home for all your health and wellness needs
        </h2>
        <p>
          A smart concierge care service to guide you choose the right
          practitioner
        </p>
        <div class="d-flex align-items-center justify-content-center">
          <button
            class="btn btn-light"
            data-toggle="collapse"
            data-target="#guideme"
            aria-expanded="false"
            aria-controls="guideme"
          >
            Guide me
          </button>
          <div class="d-inline-block">
            <div class="collapse p-3 text-center" id="guideme">
              <button class="btn btn-light mb-3">Personal Match</button><br />
              <button class="btn btn-light">By Category</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="pt-6 pb-6 bg-cover bg-fixed bg-overlay"
  style="background-image: url(assets/img/backgroud5.jpg);"
>
  <img
    src="assets/img/mobile.png"
    class="position-absolute h-100 top-0 right-0 d-none d-sm-inline-block"
  />
  <div class="container">
    <div class="row">
      <div class="col-md-3 order-2 order-sm-0">
        <img
          src="assets/img/mobile.png"
          class="w-100 mt-3 d-inline-block d-sm-none"
        />
      </div>
      <div class="col-md-6 text-center text-light">
        <h2 class="ttle-bott-bor text-center mb-4">
          Find the right practitioner at your fingertips- App coming soon!
        </h2>
        <p>
          Prompt Health’s free platform and mobile app connects you to the
          nearest curated list of health and wellness practitioners based on
          your needs. It helps you stay connected by ongoing engagement.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 pb-5">
  <div class="container">
    <h2 class="ttle-bott-bor text-center mb-5">How Prompt Health Works</h2>
    <div class="row text-center">
      <div class="col-md-3 mb-4">
        <div class="shadow rounded h-100">
          <div class="card-body">
            <div>
              <img
                src="assets/img/q-and-a-icon.png"
                class="object-fit-contain mb-3"
                style="width: 100%;height: 90px;"
              />
            </div>
            <p>
              Get a personalized guide option by answering a few questions
              <br />or<br />
              Skip the questions and search by a single category that matters
              most to you
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow rounded h-100">
          <div class="card-body">
            <div>
              <img
                src="assets/img/filter.png"
                class="object-fit-contain mb-3"
                style="width: 100%;height: 90px;"
              />
            </div>
            <p>
              Filter options and compare against each other
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow rounded h-100">
          <div class="card-body">
            <div>
              <img
                src="assets/img/message.png"
                class="object-fit-contain mb-3"
                style="width: 100%;height: 90px;"
              />
            </div>
            <p>
              Send a message to request booking with your preferred availability
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="shadow rounded h-100">
          <div class="card-body">
            <div>
              <img
                src="assets/img/social-media.png"
                class="object-fit-contain mb-3"
                style="width: 100%;height: 90px;"
              />
            </div>
            <p>
              Save your favorites, share on social media, give a rating and
              review after your visit and get rewards
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
