<section
  class="bg-primary text-light"
>

  <agm-map [latitude]="lat" [longitude]="long" [scrollwheel]="true" [fullscreenControl]="true"  [mapTypeId]="'hybrid'" >
    <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
  </agm-map>
  <div class="container">
    <div class="row heightH-100 pt-3">
      <div class="col-lg-5 col-md-12 order-2 order-lg-0 align-self-end">
        <img src="assets/img/holdphone.png" class="w-100" />
      </div>
      <div
        class="col-lg-7 col-md-12 text-center mb-3 mb-lg-0 align-self-center pl-2 pl-lg-5"
      >
        <h1 class="ttle-bott-bor text-center mb-4">
          Your home for all your individualized health and wellness needs
        </h1>
        <h4 class="font-weight-light">
          <!-- A smart concierge care service to guide you choose the right
          practitioner -->
          A healthcare concierge service
        </h4>

        <div class="border mt-5" style="border-width: 3px !important;">
          <div class="text-center" style="margin-top: -15px;">
            <h4
              class="text-light d-inline-block pl-3 pr-3 bg-primary"
            >
              Guide Me
            </h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6 mb-3" >
                <button class="btn btn-light w-100" [disabled]='!showPersonalMatch' (click)="questionnaire()">Personal Match</button>
              </div>
              <div class="col-md-6 mb-3">
                <a class="btn btn-light w-100" (click)="findDoctor()">Find By Location</a>
                <!-- <input 
                  id="address"
                  name="address" 
                  type="text"
                  class="form-control w-100 text-center"
                  placeholder="Search by address"
                  #searchGlobal
                /> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- map section  -->
<!-- <section class="pt-6 pb-6 position-relative bg-light">
  <div
    class="bg-cover leftbgimage d-none d-md-block"
    style="background-image: url(assets/img/map.png);height: 300px;"
  ></div>
  <div class="container position-relative">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <img src="assets/img/map.png" class="w-100 d-block d-md-none shadow" />
      </div>
      <div class="col-lg-6 col-md-12">
        <div
          class="h5 font-weight-light mb-0 p-5 shadow"
          style="min-height: 320px;background-color: #fff;"
        >
          <h2 class="ttle-bott-bor">
            Find the right practitioner with our interactive map
          </h2>
          Prompt Health’s free platform and mobile app connects you to the
          nearest curated list of health and wellness practitioners based on
          your needs, with an easy to use interactive map.
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- clients and professionals boxes -->
<section class="pt-5 pb-5">
  <div class="container max-900">
    <div class="row">
      <div class="col-md-6 mb-3">
        <a
          href=""
          [routerLink]="['/auth/registration', 'u']"
          class="shadow rounded h-100 mk-boxes bg-cover text-center bg-overlay scaleup"
          style="background-image: url(assets/img/bg1.jpg);"
        >
          <div class="card-body">
            <h3 class="text-light mb-5">Client</h3>
            <a
              href=""
              [routerLink]="['/auth/registration', 'u']"
              class="btn btn-outline-light"
              >Sign up for Free</a
            >
          </div>
        </a>
      </div>
      <div class="col-md-6 mb-3">
        <a
          href=""
          [routerLink]="['/dashboard/subscriptionplan']"
          class="shadow rounded h-100 mk-boxes bg-cover text-center bg-overlay scaleup"
          style="background-image: url(assets/img/professional.jpg);"
        >
          <div class="card-body">
            <h3 class="text-light mb-5">Professionals</h3>
            <a
              href=""
              [routerLink]="['/dashboard/subscriptionplan']"
              class="btn btn-outline-light"
              >Learn More
            </a>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- app comminng soon section -->
<section
  class="pt-3 pt-lg-5 pb-0 pb-lg-5 bg-cover bg-fixed bg-overlay"
  style="background-image: url(assets/img/backgroud5.jpg);"
>
  <img
    src="assets/img/phone-holding.png"
    class="position-absolute h-100 top-0 right-0 d-none d-lg-inline-block mt-3 mr-3"
  />
  <div class="container pt-0 pt-lg-5 pb-0 pb-lg-5">
    <div class="row pt-0 pt-lg-5 pb-0 pb-lg-5">
      <div class="col-md-12 col-lg-3 order-2 order-lg-0">
        <img
          src="assets/img/phone-holding.png"
          class="w-100 mt-3 d-inline-block d-lg-none"
        />
      </div>
      <div
        class="col-md-12 col-lg-6 text-center text-light h5 font-weight-normal"
      >
        <h2 class="ttle-bott-bor text-center mb-4">
          App coming soon
        </h2>
        <div class="text-center playstore">
          <a href="" target="_black"
            ><img src="assets/img/googleplay.png" class="m-2"
          /></a>
          <a href="" target="_black"
            ><img src="assets/img/app-store.png" class="m-2"
          /></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How Prompt Health Works -->
<section class="pt-5 pb-5">
  <div class="container">
    <h2 class="ttle-bott-bor text-center mb-5">How Prompt Health Works</h2>
    <div class="row text-center">
      <div class="col-lg-3 col-md-4 mb-4">
        <div class="shadow rounded h-100 scaleup">
          <div class="card-body">
            <div>
              <img
                src="assets/img/q-and-a-icon.png"
                class="object-fit-contain mb-3"
                style="width: 100%;height: 90px;"
              />
            </div>
            <p>
              Search by a single category that matters the most to you such 
              as your goal, services or how you want it whether in person or 
              virtual, treatment type or just location
              <br />or<br />
              To get a customized guide
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mb-4">
        <div class="shadow rounded h-100 scaleup">
          <div class="card-body">
            <div>
              <img
                src="assets/img/filter.png"
                class="object-fit-contain mb-3"
                style="width: 100%;height: 90px;"
              />
            </div>
            <p>
              <!-- Filter options and compare against each other -->
              Filter selections and compare options in your 
              geographic area including list of services, certifications 
              and experience, language, price, specialty with certain age
               group and more to choose what best suits your needs
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mb-4">
        <div class="shadow rounded h-100 scaleup">
          <div class="card-body">
            <div>
              <img
                src="assets/img/message.png"
                class="object-fit-contain mb-3"
                style="width: 100%;height: 90px;"
              />
            </div>
            <p>
              Directly request a booking with your preferred availability
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 mb-4">
        <div class="shadow rounded h-100 scaleup">
          <div class="card-body">
            <div>
              <img
                src="assets/img/dashboard-icon.png"
                class="object-fit-contain mb-3"
                style="width: 100%;height: 90px;"
              />
            </div>
            <p>
              Enjoy your treatment with relaxation and ease! And build your dashboard of providers and services for future reference
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About section -->
<section
  class="text-light position-relative pt-0 pt-lg-2 pb-0 pb-lg-2"
  id="aboutsection"
>
  <div
    class="col-md-6 d-none d-lg-flex m-0 position-absolute bg-secondary h-100 top-0 right-0"
    style="border-radius: 15px 0px 0px 0px;"
  ></div>
  <div class="spacer-top"></div>
  <div class="position-relative pt-4 pb-4" style="background-color: #4a86abd1;">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-5 mb-3 mb-lg-0">
          <video width="100%" height="100%" class="d-block d-lg-none" controls>
            <source src="assets/video/video2.mp4" type="video/mp4" />

            Your browser does not support the video tag.
          </video>
        </div>
        <div
          class="col-md-12 col-lg-7 font-weight-light text-center text-lg-left"
        >
          <h3 class="ttle-bott-bor text-center text-lg-left">
            About PromptHealth
          </h3>
          <!-- Everybody has different health and wellness goals. You would typically
          ask around, lookup directories or Google search for different health
          professionals. These are called blind referrals as we are all
          different and one size does not fit all. With Prompt Health, people
          can now use one search engine to get smart suggestions that meet their
          health and wellness needs. They have the option to make it as
          personalized as possible based on their health risks, background and
          preferences. Using one easy to use platform and app, clients connect
          with practitioners, services and products at their convenience. -->
          Prompt Health is a location-based application that connects people to Canadian
          accredited medical and holistic health services, based on individualized needs.
          Prompt Health is almost like an online ‘personal assistant’ that takes the
          challenge out to access and navigate the care you need,
          easier and faster how and where you want it.
        </div>
      </div>
    </div>
  </div>

  <div
    class="container d-none d-lg-block m-0 pt-4 pb-4 row position-absolute h-100 w-100"
    style="left:50%;transform: translateX(-50%);top:0"
  >
    <div class="col-lg-5 h-100">
      <video width="100%" height="100%" controls>
        <source src="assets/video/video2.mp4" type="video/mp4" />

        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  <div class="spacer-top d-none d-lg-block"></div>
</section>

<!-- Our Mission -->
<section
  class="pt-6 pb-6 bg-cover bg-fixed bg-overlay"
  style="background-image: url(/assets/img/guyshowingsomething.jpg);"
>
  <div class="container text-center text-light">
    <div class="row">
      <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 h5 font-weight-light">
        <h2 class="ttle-bott-bor text-center">
          Our mission is to simplify access to care
        </h2>
        <!-- Here at Prompt Health, we believe navigating care should be a lot better
        and easier in this digital era. The world is changing and so should the
        access to health and wellness solutions. At Prompt Health, we use
        technology to modernize and transform the client’s journey so they never
        have to guess again by connecting them to services based on their needs.
        We also provide technology for practitioners to elevate their client’s
        experience by facilitating continuous engagement. -->
        At Prompt Health, we believe navigating care should be done with ease and with as
        much knowledge to empower stronger decisions for individual care. 
        The world is constantly evolving, and so should the access to health and wellness solutions. 
        Prompt Health uses technology to modernize and transform the client’s journey 
        so they no longer have to blindly connect with services. 
        This allows people to build health and wellness routines 
        by connecting them to services based on their needs.
      </div>
    </div>
  </div>
</section>

<!-- What makes us unique? -->
<section class="pt-5 pb-5">
  <div class="container">
    <div class="row align-items-center">
      <div
        class="col-md-12 col-lg-7 h5 font-weight-light text-center text-lg-left mb-4 order-2 order-lg-0"
      >
        <h2 class="ttle-bott-bor text-center text-lg-left">
          What makes us unique?
        </h2>
        <!-- Prompt Health connects clients with practitioners through intelligent
        questions that serve as a triage, which enables better and faster
        decision making for access to the most suitable solutions. We believe a
        need assessment can suggest better matches, which means better care.
        Prompt Heath also enriches provider-client interactions by creating
        rewards for engagement. -->
        Every individual has different health and wellness goals; 
        how we accomplish them is generally left up to each of us. 
        Typically people ask around to friends and family, look up directories,
        or search on line for different health professionals. 
        The results of those searches generally leave us with a list of unknown 
        service providers based on someone else’s experiences and needs. 
        We all have different needs and one size does not fit all.
        Prompt Health is here to change that experience to provide personalized options
        based on an individual’s specific health and wellness needs and goals.
        It allows people to compare and filter to narrow down searches to cater to their specific
        needs and how they want it. It is a service that is made and built for each individual.
      </div>
      <div class="col-md-12 col-lg-5 text-center mb-4 mb-lg-0">
        <a href="" [routerLink]="['/dashboard/questionnaire']"
          ><img
            src="assets/img/questionare.jpg"
            class="w-100 shadow-lg rounded-lg scaleup"
        /></a>
      </div>
    </div>
  </div>
</section>

<!-- testimonials -->
<section
  class="pt-6 pb-6 bg-cover text-light bg-overlay bg-fixed"
  style="background-image: url(assets/img/backgroud4.jpg);"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-2"></div>
      <div class="col-md-12 col-lg-8">
        <div
          id="carouselExampleIndicators"
          class="carousel slide pb-5 quote-bg"
          data-ride="carousel"
        >

          <div class="testimonials-text mb-3">

          <div class="">
            <div class="carousel-item active">
              <div class="text-center">
                  Having worked as a clinician for over 15 years in one of the pioneer centers of Private Health,
                  as well as providing business consultation to tech driven health related start-ups,
                  I became acutely aware of the challenges of finding the right individual services for health and wellness.
                  I believe we need to focus on strengthening knowledge to provide a system that helps both clients and small businesses
                  in health and wellness connect to one another. That’s how Prompt Health came to life, a two sided online marketplace for
                  individualized referral network in health and wellness”
              </div>
              
              <h5 class="text-primary text-uppercase">Hedieh Safiyari, Founder/CEO</h5>
              <div>MBA, MSc</div>
            </div>
          </div>
          </div>
          <!-- <ol class="carousel-indicators mb-0 mk-carousel-indicators">
            <li
              data-target="#carouselExampleIndicators"
              data-slide-to="0"
              class="active bg-primary"
            ></li>
            <li
              data-target="#carouselExampleIndicators"
              class="bg-primary"
              data-slide-to="1"
            ></li>
            <li
              data-target="#carouselExampleIndicators"
              class="bg-primary"
              data-slide-to="2"
            ></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="text-center">
                <div class="mb-3">
                  <img
                    src="assets/img/man-testimonial.jpg"
                    class="img-cover rounded-circle testimonials-avtar"
                    style="width:73px"
                  />
                </div>
                <div class="testimonials-text mb-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                  vehicula fringilla sapien, in lacinia felis frrtingilla at.
                </div>
                <h5 class="text-primary text-uppercase">Hedieh Safiyari, Founder/CEO</h5>
                <div>MBA, MSc</div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="text-center">
                <div class="mb-3">
                  <img
                    src="assets/img/man-testimonial.jpg"
                    class="img-cover rounded-circle testimonials-avtar"
                    style="width:73px"
                  />
                </div>
                <div class="testimonials-text mb-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                  vehicula fringilla sapien, in lacinia felis frrtingilla at.
                </div>
                <h5 class="text-primary text-uppercase">Lorem ipsum</h5>
                <div>consectetur adipiscing</div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="text-center">
                <div class="mb-3">
                  <img
                    src="assets/img/man-testimonial.jpg"
                    class="img-cover rounded-circle testimonials-avtar"
                    style="width:73px"
                  />
                </div>
                <div class="testimonials-text mb-3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                  vehicula fringilla sapien, in lacinia felis frrtingilla at.
                </div>
                <h5 class="text-primary text-uppercase">Lorem ipsum</h5>
                <div>consectetur adipiscing</div>
              </div>
            </div>
          </div>
          <a
            class="carousel-control-prev"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="prev"
          >
            <span
              class="fa fa-chevron-left text-primary"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Previous</span>
          </a>
          <a
            class="carousel-control-next"
            href="#carouselExampleIndicators"
            role="button"
            data-slide="next"
          >
            <span
              class="fa fa-chevron-right text-primary"
              aria-hidden="true"
            ></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Rotating partners logos here -->
<section class="pt-4 pb-4" style="background-color: #f8f9fa;">
  <div class="container">
    <h3 class="text-center">Partners</h3>
    <div class="logo-slider row">
      <div class="col">
        <img src="assets/img/logo2.png" class="w-100" />
      </div>
      <div class="col">
        <img src="assets/img/logo2.png" class="w-100" />
      </div>
      <div class="col">
        <img src="assets/img/logo2.png" class="w-100" />
      </div>
      <div class="col">
        <img src="assets/img/logo2.png" class="w-100" />
      </div>
      <div class="col">
        <img src="assets/img/logo2.png" class="w-100" />
      </div>
      <div class="col">
        <img src="assets/img/logo2.png" class="w-100" />
      </div>
    </div>
  </div>
</section>
