@import "../../assets/scss/mixins";

// .top-0 {
//   top: 0 !important;
// }

// .right-0 {
//   right: 0 !important;
// }

// @media (max-width: 768px) {
//   .container {
//     padding: 0 2em;
//   }
// }

.bg-primary-lighter {
  background: rgba($color: $colorPrimaryLight, $alpha: 0.7);
}

.video-dummy {
  width: 100%;
  background: black;
  box-shadow: 10px 10px 10px #00000050;
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}


[class^=circle-for] {
  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1000px;  
  }
}

.circle-for-video{
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  transform: translate(45%, -10%);
}

// .circle-for-testimonial {
//   position: absolute;
//   top: 5%;
//   right: 0;
// }

.circle-for-app {
  position: relative;
  width: 100%;
}

.circle-primary::before {
  background-color: $colorPrimary;
}

.circle-secondary::before {
  background-color: $colorSecondary;
}

.image-app {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}


.card.personal-match {
  // max-width: 350px;
  margin:auto;
  box-shadow: 0 6px 25px rgba($color: #0051be, $alpha: 0.1);
}

.badge-appstore-top{
  height: 48px;
  width: auto;
}
.badge-playstore-top{
  height: 70px;
  width: auto;
}






.platform-message{
  text-shadow: 2px 2px 1px #9ebfe2, -1px -1px 1px #b9daff, 1px 1px 1px #e4effb;

  @media (min-width: 768px){ font-size: 1.7rem; }
}

h1.ph-title{
  @media (max-width: 767px) {
    font-size: 1.7rem!important;
  }
}


// testimonials
$testimonialsAvtarSize: 100px;
.testimonials-avtar {
  height: $testimonialsAvtarSize !important;
  width: $testimonialsAvtarSize !important;
  object-fit: cover;
  object-position: top center;
}
.info-banner {
  background-color: $primaryColor;
  font-size: medium;
  font-weight: 500;
}
.testimonials-text {
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  font-style: italic;

  h5{
    font-style: initial;
    text-align: center;
    font-size: 24px !important;
    text-shadow: -1px -1px 3px #000000ba;
    margin-top: 15px;

    + div{
      text-align: center;
      font-style: initial;
    }
  }
}

$testimonialsLiSize: 10px;
.mk-carousel-indicators li {
  height: $testimonialsLiSize;
  width: $testimonialsLiSize;
  border-radius: 50%;
}

.intro-white-text{
  font-style: normal;
  font-weight: 350;
  font-size: 26px;
  line-height: 31px;
}

$slideLeftRightPaddding: 80px;
.quote-bg {
  .testimonials-text {
    background-image: url(../../assets/img/quote.png);
    padding-left: $slideLeftRightPaddding;
    padding-right: $slideLeftRightPaddding;
    background-size: 100px;
    background-repeat: no-repeat;
  }
}


.tab-row {
  background-color: white;
  border-radius: 20px;
  padding: 1em;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  scroll-padding: 0px 24px;
  display: grid !important;
  grid-auto-flow: column !important;
  overflow: auto hidden !important;
  scroll-snap-type: x mandatory !important;
  gap: 5px !important;
}

.tab-row::-webkit-scrollbar {
  display: none !important;
}
.recBackground {
  display: block;
  height: 100%;
  width: 100%;
  background-size: cover !important;
  transform: scaleX(1);
}

.background-gradient {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #3377C5 0%, rgba(255, 255, 255, 0) 100%);
  z-index: -1;
}

.blue-bold {
  color: #3377C5;
}

.dot-bg {
  background: url('src/assets/img/dotted_line_bg.svg') no-repeat 50%;
}

.intro-content-area {
  background: rgba(250, 252, 255, 0.5);
  backdrop-filter: saturate(180%) blur(10px);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 20px;
  min-height: 40vh;
}

.featured-image{
  position: relative;
  &::after{
    // content: '';
    display: block;
    padding-top: 100%;
  }  
  img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 500px;
    border: solid 1px #b9b9b9;
  }
}

.about-us-body-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 200%;
}

.btn-home {
  border: 3px $primaryColor solid;
  border-radius: 15px;
  color: $primaryColor;
  font-weight: 500;
  font-size: medium;
}
.btn-home:hover {
  border-color: rgb(255, 255, 255) !important;
  background: $primaryColor !important;
  color: rgb(255, 255, 255) !important;
}

// testimonials end

// mk-boxes
.mk-boxes {
  display: flex;
  min-height: 284px;
  justify-content: center;
  align-items: center;
  > * {
    height: auto !important;
  }
}
// mk-boxes end

.scaleup {
  &:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
  }
}

.playstore img {
  height: 50px;
}

.image-shadow {
  @include imageShadow();
}

video {
  background-color: #000;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .max-900 {
    max-width: 900px;
  }
  // left bg image
  .leftbgimage {
    position: absolute;
    left: 0;
    top: 0px;
    width: 60%;
    height: 100% !important;
  }
}

@media (max-width: 676px) {
  // testimonials
  $slideLeftRightPaddding: 57px;
  .quote-bg {
    .testimonials-text {
      padding-left: $slideLeftRightPaddding;
      padding-right: $slideLeftRightPaddding;
    }
  }
}

.quote-block {
  background: linear-gradient(6.05deg, #D4E4F8 11.94%, rgba(237, 244, 255, 0) 88.88%);
  border-radius: 13px;
}
.quote-font {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 150%;
  /* or 36px */

  text-align: center;
  letter-spacing: 0.04em;
}

@media (min-width: 768px){
  .coming-soon-bottom-bar {
    background: url('src/assets/img/app-coming-soon-bottom.svg') no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 100%;
    min-height: 100px;
  }
}

.badge-appstore{
  width: 150px;
  height: auto;
  @media (min-width: 768px){
    height: 50px;
    width: auto;  
  }
}
.badge-playstore{
  width: 173px;
  height: auto;
  @media (min-width: 768px){
    height: 75px;
    width: auto;  
  }
}
.switch-tab:checked {
  animation-duration: 0.2s !important;
  animation-timing-function: cubic-bezier(0, 0, 0.1, 1) !important;
}

.switch-tab:checked ~ label{
  opacity: 1 !important;
  border-bottom: 4px $accentColor solid!important;
}

.switch-tab {
  -webkit-appearance: none !important;
  appearance: none !important;
  display: none;
  // left: 0px !important;
  // bottom: 0px !important;
  // height: 0px !important;
  // outline: none !important;
  // border-width: 0px 0px 2px !important;
  // border-style: none !important;
  // border-color: white !important;
  // border-image: initial !important;
  // border-radius: 0px !important;
  // margin: 0px !important;
  // border-bottom: 2px solid transparent !important;
}

.hidden-input {
  visibility: hidden;
}

.tab {
  font-size: 17px !important;
  line-height: 20px !important;
  cursor: pointer !important;
  position: relative;
  opacity: 0.4;
  transition: opacity 600ms ease-in-out 0s;
}

.searchTitle {
  font-size: 16px !important;
  line-height: 12px !important;
  font-weight: 500 !important;
  letter-spacing: 0.04em !important;
  text-transform: uppercase !important;
  color: dimgrey;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
  Helvetica Neue, sans-serif;
}

.partners-featured {
  width: 100%;
  overflow: hidden;

  padding-left: 15px;
  @media (min-width: 576px){ padding-left: calc((100% - 540px) / 2); }
  @media (min-width: 768px){ padding-left: calc((100% - 720px) / 2); }
  @media (min-width: 992px){ padding-left: calc((100% - 960px) / 2); }
  @media (min-width: 1200px){ padding-left: calc((100% - 1150px) / 2); }
}

.partners-featured {

  .card{
    transition-duration: 200ms;
    transition-property: transform, box-shadow;
    &:hover { 
      transform: translateY(-4px); 
      box-shadow: 0px 3px 4px #e0e0e0;
    }
  }
  
  .cover{
    width: 100%;
    position: relative;

    &:after{
      content: '';
      display: block;
      padding-top: 65%;
    }

    img{
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;;
    }
  }

  .profile-image{
    width: 100%;
    height: 50px;

    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
    }
  }
}