@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.bg-primary-lighter {
  background: rgba($color: $colorPrimaryLight, $alpha: 0.7);
}

.video-container {
  width: 100%;
  box-shadow: 10px 10px 10px #00000050;
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}


[class^=circle-for] {
  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1000px;  
  }
}

.circle-for-video{
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  transform: translate(45%, -10%);
}

// .circle-for-testimonial {
//   position: absolute;
//   top: 5%;
//   right: 0;
// }

.circle-for-app {
  position: relative;
  width: 100%;
}

.circle-primary::before {
  background-color: $colorPrimary;
}

.circle-secondary::before {
  background-color: $colorSecondary;
}

.image-app {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.expert-finder-scroll-horizontal {
  padding: 25px 15px;
  overflow: auto;

  @mixin paddingLeft($maxWidth) {
    padding-left: calc((100vw - #{$maxWidth} + 23px) / 2)
  }

  @media (min-width: $breakpointMd) {
    @include paddingLeft(720px);
  }
  @media (min-width: $breakpointLg) {
    @include paddingLeft(960px);
  }
  @media (min-width: $breakpointXl) {
    @include paddingLeft(1150px);
  }

}
.expert-finder-container {
  li { flex: 0 0 220px; }
  li.personal-match-container {
    flex: 0 0 270px;
  }

  li:last-child {
    padding-right: 15px;
  }
}

.card.personal-match {
  // max-width: 350px;
  margin:auto;
  box-shadow: 0 6px 25px rgba($color: #0051be, $alpha: 0.1);
}

.badge-appstore-top{
  height: 48px;
  width: auto;
}
.badge-playstore-top{
  height: 70px;
  width: auto;
}


