@import "../../assets/scss/mixins";
@import "../../assets/scss/variables";

.bg-primary-lighter {
  background: rgba($color: $colorPrimaryLight, $alpha: 0.7);
}

.video-container {
  width: 100%;
  box-shadow: 10px 10px 10px #00000050;
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}


[class^=circle-for] {
  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1000px;  
  }
}

.circle-for-video{
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  transform: translate(45%, -10%);
}

.circle-for-app {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180%;
  transform: translate(-50%, -50%);

  &.inner {
    width: 140%;
  }
}

// .circle-for-testimonial {
//   position: absolute;
//   top: 5%;
//   right: 0;
// }

.circle-primary::before {
  background-color: $colorPrimary;
}

.circle-secondary::before {
  background-color: $colorSecondary;
}

.circle-border::before {
  border: solid 1px $colorGsLine;
}

.expert-finder-scroll-horizontal {
  padding: 25px 15px;
  overflow: auto;

  @mixin paddingLeft($maxWidth) {
    padding-left: calc((100vw - #{$maxWidth} + 23px) / 2)
  }

  @media (min-width: $breakpointMd) {
    @include paddingLeft(720px);
  }
  @media (min-width: $breakpointLg) {
    @include paddingLeft(960px);
  }
  @media (min-width: $breakpointXl) {
    @include paddingLeft(1150px);
  }

}
.expert-finder-container {
  li { flex: 0 0 220px; }
  li.personal-match-container {
    flex: 0 0 270px;
  }

  li:last-child {
    padding-right: 15px;
  }
}

.card.personal-match {
  // max-width: 350px;
  margin:auto;
  box-shadow: 0 6px 25px rgba($color: #0051be, $alpha: 0.1);
}

.post-types-container {
  margin: 0 -25px;
  overflow: hidden;
  @media (min-width: $breakpointSm) {
    overflow: auto;
  }
  @media (min-width: $breakpointMd) {
    margin: 0;
  }

  .icon-container {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
  }
}

.badge-appstore-top{
  width: auto;
  height: 42px;
  @media (min-width: $breakpointMd) {
    height: 48px;
  }
}
.badge-playstore-top{
  width: auto;
  height: 60px;
  @media (min-width: $breakpointMd) {
    height: 70px;
  }
}

$stickyPointAppFeature: 80px;

.app-sticky-section-container {
  height: calc((100vh - #{$stickyPointAppFeature}) * 4);
}
.app-sticky-section {
  top: $stickyPointAppFeature;
  overflow: hidden;
  width: 100vw;
  height: calc(100vh - #{$stickyPointAppFeature});
  min-height: 500px;
}

.app-feature-switcher-0 { top: 0%; }
.app-feature-switcher-1 { top: 12.5%; }
.app-feature-switcher-2 { top: 25%; }
.app-feature-switcher-3 { top: 37.5%; }
.app-feature-switcher-4 { top: 50%; }
.app-feature-switcher-5 { top: 62.5%; }

.app-feature-canvas {
  position: relative;
  height: calc(100vh - #{$stickyPointAppFeature} - 60px /** app badge height*/);
  @media (min-width: $breakpointMd) {
    height: calc(100vh - #{$stickyPointAppFeature} - 70px /** app badge height*/);
  }
}

.app-feature-controller {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 10px 0 27px; // height 70px;
  margin: 0;

  @media (max-width: 340px) {
    display: none!important;
  }

  li {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.app-features-container {
  position: absolute;

  left: 50%;
  transform: translateX(-50%);
  transition: transform 300ms;

  height: 420px; /** based on image size */
  top: calc(50% - 245px);

  @media (min-width: $breakpointMd) {
    height: 520px; /** based on image size */
    top: calc(50% - 295px);
  } 

  @media (min-width: $breakpointLg) {
    top: calc(50% - 260px);
  }

  @media (min-height: 1000px) and (min-width: $breakpointMd) {
    height: 610px;
    top: calc(50% - 340px);
  }
  @media (min-height: 1000px) and (min-width: $breakpointLg) {
    top: calc(50% - 310px);
  }

  @media (max-width: $breakpointLg - 1) {
    &.focus-left {
      transform: translateX(calc(-50% + 180px));
    }
    &.focus-right {
      transform: translateX(calc(-50% - 180px));
    }  
  }

  @media (max-width: $breakpointLg - 1) and (min-height: 1000px) {
    &.focus-left {
      transform: translateX(calc(-50% + 160px));
    }
    &.focus-right {
      transform: translateX(calc(-50% - 160px));
    }  
  }

  @media (max-width: $breakpointMd - 1) {
    &.focus-left {
      transform: translateX(calc(-50% + 152px));
    }
    &.focus-right {
      transform: translateX(calc(-50% - 152px));
    }  
  }

  @media (max-width: 340px) {
    top: 70px;
    &.focus-left {
      transform: translateX(calc(-50% + 162px));
    }
    &.focus-right {
      transform: translateX(calc(-50% - 162px));
    }  
  }
}
.app-features {
  flex: 0 0 230px;
  @media (min-width: $breakpointMd) { flex: 0 0 330px; }
  @media (min-width: $breakpointLg) { flex: 0 0 230px; }
  @media (min-width: $breakpointXl) { flex: 0 0 330px; }

  >li {
    @media (min-width: $breakpointLg) {
      position: relative;
      transition: box-shadow 300ms;
      z-index: 1;
      &.active{
        z-index: 2;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;      
      }  
    }
  }

  i { font-size: 25px; }

  .content {
    width: 210px;
    @media (min-width: $breakpointMd) { width: 290px; }
    @media (min-width: $breakpointLg) { width: 210px; }
    @media (min-width: $breakpointXl) { width: 290px; }
  }
}

.image-app-container {
  position: relative;

  img.mobile-body {
    width: 200px;
    height: auto;
    @media (min-width: $breakpointMd) { width: 250px; }
    @media (min-height: 1000px) { width: 290px; }
  }
}



