
<div class="mb-3">
  <form-item-input
  placeholder="Enter Title..."
  [controller]="f.title"
  ></form-item-input>    
</div>

<div class="mb-5">
  <quill-editor 
  [styles]="{height: '200px'}" 
  (onFocus)="focus($event)" 
  (onEditorChanged)="changedEditor($event)" 
  (onBlur)="blur($event)" 
  (onEditorCreated)="created($event)"
  >
  <!-- <div quill-editor-toolbar>
    <span class="ql-formats">
      <button class="ql-bold" [title]="'Bold'"></button>
    </span>
    <span class="ql-formats">
      <select class="ql-align" [title]="'Aligment'">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>
      <select class="ql-align" [title]="'Aligment2'">
        <option selected></option>
        <option value="center"></option>
        <option value="right"></option>
        <option value="justify"></option>
      </select>
    </span>
  </div> -->

  </quill-editor>  
</div>

<div class="d-flex">
  <input type="submit" class="btn btn-outline" value="Save">
  <button class="btn btn-primary">Publish</button>
</div>