<div>
  <stepper
  class="d-md-none"
  type="simple"
  [data]="data"
  [current]="currentIdx"
  ></stepper>
</div>


<div class="container-fluid bg-background-md">
  <!-- <div class="intersection-observer" intersectionObserver (changeStatus)="changeStickyStatus($event)"></div> -->
  <div class="row">   
    <section class="col-md-9 col-lg-8 mainview">
      <stepper
      class="mt-3 d-none d-md-block"
      [data]="data"
      [current]="currentIdx"
      ></stepper>

      
      <div class="bubble-md" [ngClass]="'item-count-' + data.length">
        <div class="d-none d-md-block triangle" [ngClass]="'position-' + currentIdx"></div>
        <router-outlet></router-outlet>
        
        <div class="sticky-bottom blur pt-3 pb-4 py-md-3 row btn-navigate-group">
          <div class="col text-left">
            <button *ngIf="currentIdx != 0" (click)="onClickNavigation('back')" class="btn btn-outline" >Back</button>
          </div>
          <div class="col text-right">
            <button *ngIf="currentIdx != data.length - 1" (click)="onClickNavigation('next')" class="btn btn-outline" >Next</button>
            <button *ngIf="currentIdx == data.length - 1" (click)="onClickNavigation('next')" class="btn btn-primary" >Agree</button>  
          </div>
        </div>  
      </div>
    </section> 
  
    <section class="col-md-3 col-lg-4 sideview d-none d-md-block h100--header sticky-to-header">
      <img [src]="'/assets/img/register-questionnaire-' + data[currentIdx].route + '.jpg'" class="active">
    </section> 


  </div>
</div>
