@import "../../../assets/scss/variables";
.bg-background-md{ 
  @media (min-width: 768px){ background: $colorGsBackground; }
}

@import '../../../assets/scss/responsive_variables';

:host{
  font-size: 16px;
  color: var(--ph-black-bold);
}

.sticky-to-header{
  position: sticky;
  top: $headerHeightLoggedin;
  @media (min-width: 768px){ top: $headerHeightLoggedinMd; }
  @media (min-width: 992px){ top: $headerHeightLoggedinLg; }
}

.h100--header{
  position: sticky;
  top: $headerHeightLoggedin;
  @media (min-width: 768px){ 
    top: $headerHeightLoggedinMd; 
    height: calc(100vh - #{$headerHeightLoggedinMd});
  }
  @media (min-width: 992px){ 
    top: $headerHeightLoggedinLg; 
    height: calc(100vh - #{$headerHeightLoggedinLg});
  }
  @media (min-width: 1200px) {
    top: $headerHeightLoggedinXl;
    height: calc(100vh - #{$headerHeightLoggedinXl});
  }
}

section.mainview{
  @media (min-width: 992px){
    padding: 0 50px;
  }
}
section.sideview{
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    object-fit: cover;
    &.active{
      z-index: 5;
    }
  }
}

.bubble-md{
  @media (min-width: 768px){
    position: relative;
    margin: 20px 0;
    padding: 30px 30px 0;

    border-radius: 10px;
    background-color: white;
    // filter:drop-shadow(0 0 8px #00000025);
    box-shadow: 0 0 8px #00000025;
  }
}
.triangle{
  position: absolute;
  width: 50px;
  height: 50px;
  top:-50px;
  background-color: transparent;
  margin: 0 auto;
  border-radius:14px 0 0 0;
  overflow: hidden;
  transform: translateY(50%) rotate(30deg) skewY(30deg) scaleX(.866);
  box-shadow: -3px -3px 2px #e2e2e2;

  &:before, &:after{
    content: '';
    width:100%;
    height: 100%;
    position: absolute;
  }

  &:before{
    background-color:white;
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(30deg) scaleY(.866) translateX(-24%);
  }

  &:after {
    background-color: white;
    transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-42.3%) skewX(-30deg) scaleY(.866) translateX(24%);
  }


}

.bubble-md.item-count-3 {
  @for $i from 0 through 2{
    .triangle.position-#{$i}{ left: calc(#{16.65% + 33.3% * $i} - 25px); }
  }
}
.bubble-md.item-count-4 {
  @for $i from 0 through 3{
    .triangle.position-#{$i}{ left: calc(#{12.5% + 25% * $i} - 25px); }
  }
}

.sticky-bottom{
  position: sticky;
  bottom: 0; 
}

.btn-navigate-group{
  button{
    width: 100%;
    max-width: 300px;
  }
}