<div 
*ngIf="eligibleToShowPostMenu"
class="position-relative d-inline-block"
>
  <button 
  class="btn btn-icon-grey small"
  (click)="showPopup($event)"
  >
    <i iconPh="more-horiz"></i>
  </button>
  <div
  *ngIf="isPopupPostMenuShown"
  class="position-absolute mt-5p" 
  style="right: -5px;"
  >
    <div class="popup-drop"
    (click)="hidePopup($event)"
    ></div>
    <div class="bg-body p-10p popup-body rounded-8p">
      <ul class="list-unstyled text-nowrap mb-0">
        <ng-container *ngIf="eligibleToBell">
          <li>
            <button 
            class="btn btn-text-white small w-100"
            (click)="toggleBell($event)"
            [disabled]="isUploading"
            >
              <span *ngIf="!post.authorBelled">Turn on notification</span>  
              <span *ngIf="post.authorBelled">Turn off notification</span>  
            </button>
          </li>  
        </ng-container>

        <ng-container *ngIf="eligibleToFollow">
          <li>
            <button 
            class="btn btn-text-white small w-100"
            (click)="toggleFollow($event)"
            [disabled]="isUploading"
            >
              <span *ngIf="!post.authorFollowed">Follow</span>  
              <span *ngIf="post.authorFollowed">Unfollow</span>  
            </button>
          </li>
        </ng-container>

        <ng-container *ngIf="eligibleToMarkAsNews">
          <li *ngIf="!post.isNews">
            <button 
            class="btn btn-text-white small w-100"
            (click)="toggleMarkAsNews($event, true)"
            [disabled]="isUploading"
            >
              <span>Mark as news</span>  
            </button>
          </li>
          <li *ngIf="!!post.isNews">
            <button 
            class="btn btn-text-white small w-100"
            (click)="toggleMarkAsNews($event, false)"
            [disabled]="isUploading"
            >
              <span>Mark as NOT news</span>
            </button>
          </li>

        </ng-container>

        <ng-container *ngIf="eligibleToEdit">
          <li>
            <button 
            class="btn btn-text-white small w-100"
            (click)="editContent($event)"
            >
              <span>Edit</span>  
            </button>
          </li>  

        </ng-container>

        <ng-container *ngIf="eligibleToDelete">
          <li>
            <button 
            class="btn btn-text-error small w-100"
            (click)="deleteContent($event)"
            >
              <span>Delete</span>  
            </button>
          </li>  
        </ng-container>
      </ul>
    </div>
  </div>  
</div>

