<div 
*ngIf="eligibleToShowPostMenu"
class="position-relative d-inline-block"
>
  <button 
  class="btn btn-icon-grey small"
  (click)="showPopup($event)"
  >
    <i iconPh="more-horiz"></i>
  </button>
  <div
  [@fadeFast]
  *ngIf="isPopupPostMenuShown"
  class="position-absolute mt-5p" 
  style="right: -5px;"
  >
    <div class="popup-drop"
    (click)="hidePopup($event)"
    ></div>
    <div class="bg-body p-10p popup-body rounded-8p">
      <ul class="text-white list-unstyled text-nowrap mb-0">
        <li>
          <button 
          class="btn btn-text-error small"
          (click)="deleteContent($event)"
          >
            <i iconPh="trash"></i>
            <span>Delete</span>  
          </button>
        </li>
      </ul>
    </div>
  </div>  
</div>

