<div class="d-flex justify-content-between">
  <div class="d-flex flex-nowrap">
    <button
    class="btn btn-text-grey small px-0"
    type="button"
    (click)="onClickLike($event)"
    >
      <i 
      [iconPh]="'heart' + (isLiked ? '-filled' :'')" 
      class="large"
      [ngClass]="{'text-error': post.like}"
      ></i>
      <span *ngIf="!isViewSm">
        <span>Like</span>
        <span [ngClass]="{'opacity-0': !isLiked}">d</span>
      </span>
    </button>
  
    <button 
    class="btn btn-text-grey small px-0 ml-20p ml-md-30p"
    (click)="onClickComment($event)"
    >
      <i iconPh="comment" class="large"></i>
      <span>24</span>
    </button>

    <button-share
    [facebook]="'test'"
    [twitter]="'test'"
    [linkedin]="'test'"
    [pinterest]="'test'"
    [email]="'test'"
    [label]="isViewSm ? '' : 'Share'"
    btnClass="btn btn-text-grey small px-0 ml-20p ml-md-30p"
    ></button-share>
  </div>

  <div>
    <button 
    class="btn btn-text-grey small px-0"
    (click)="onClickBookmark($event)"
    >
      <span>
        <span>Save</span>
        <span *ngIf="isBookmarked">d</span>
      </span>
      <i 
      [iconPh]="'bookmark-' + (isBookmarked ? 'minus' : 'plus')"
      class="large"
      [ngClass]="{'text-success': isBookmarked}"
      ></i>
    </button>
  </div>
</div>

<div *ngIf="isFormCommentShown" [@expandVertical]>
  <div class="pt-10p">
    <form-item-comment
    [controller]="formComment"
    [option]="{hideCancel: true}"
    (onSubmit)="onSubmitComment()"
    ></form-item-comment>    
  </div>

  <card-item-comment [post]="post"></card-item-comment>
</div>