<div class="bg-body pt-30p px-30p text-white rounded-12p h-100 d-flex flex-column">
  <section class="d-flex">
    <div class="image-container mr-10p overflow-hidden">
      <img [src]="data.image">
    </div>
    <div class="mt-5p">
      <div class="subtitle1">{{data.name}}</div>
      <div class="d-flex">
        <div class="text-center">
          <div class="subtitle1">{{data.numPosts}}</div>
          <div class="caption">Posts</div>
        </div>
        <div class="ml-20p text-center">
          <div class="subtitle1">{{data.numFollowers}}</div>
          <div class="caption">Followers</div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-25p pb-20p position-relative flex-grow-1">
    <i iconPh="quotes-2" class="opacity-20pc position-absolute icon-quote"></i>
    <p class="body2">
      {{data.body}}
    </p>
  </section>

  <section class="">
    <div class="pb-20p border-bottom">
      <star-rate 
      [rate]="data.rating"
      margin="small"
      ></star-rate>  
    </div>

    <a 
    class="d-flex justify-content-between py-20p"
    [href]="data.link"
    target="_blank"
    >
      <span>
        <i iconPh="insta" class="text-white mr-2"></i>
        <span class="text-placeholder subtitle2">{{data.name}}</span>
      </span>
      <i iconPh="arrow-right-circle" class="text-primary"></i>
    </a>
  </section>
  
</div>