<div class="bg-body pt-30p px-30p text-white rounded-12p">
  <section class="d-flex">
    <div class="image-container mr-10p"></div>
    <div class="mt-5p">
      <div class="subtitle1">Marvin Mckanny</div>
      <div class="d-flex">
        <div class="text-center">
          <div class="subtitle1">324</div>
          <div class="caption">Posts</div>
        </div>
        <div class="ml-20p text-center">
          <div class="subtitle1">2,452</div>
          <div class="caption">Followers</div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-25p pb-20p position-relative border-bottom">
    <i iconPh="quotes-2" class="opacity-20pc position-absolute icon-quote"></i>
    <p class="body2">
      Thanks to the implementing are Competence platform we can create the best fitting solutions.
    </p>
    <div>
      <star-rate 
      [rate]="5"
      margin="small"
      ></star-rate>
    </div>
  </section>

  <section class="">
    <a class="d-flex justify-content-between py-20p">
      <span>
        <i iconPh="insta" class="text-white mr-2"></i>
        <span class="text-placeholder subtitle2">Marvin Mckanny</span>
      </span>
      <i iconPh="arrow-right-circle" class="text-primary"></i>
    </a>
  </section>
  
</div>