<ngx-spinner bdColor="#fff" size="medium" color="#fff">
  <p style="font-size: 20px; color: white" class="loaderbg">
    <img src="assets/img/favicon.jpg" class="loader-logo" width="100" />
  </p>
</ngx-spinner>
<section
  class="heightHF-100 pt-4 pb-4 d-flex justify-content-center align-items-center bg-secondary"
>
  <div class="container">
    <div
      class="row m-0 justify-content-between bg-white rounded-lg overflow-hidden"
    >
      <div class="col-md-4 p-0">
        <div class="card-body p-5">
          <h5 class="mb-3">
            Login
          </h5>
          <a href="" class="btn btn-google w-100 mb-2 font-weight-bold"
            ><i class="fa fa-google"></i> Sign in with Google</a
          >
          <a href="" class="btn btn-facebook w-100 mb-2 font-weight-bold"
            ><i class="fa fa-facebook-square"></i> Sign in with Facebook</a
          >
          <hr />
          <div class="form-row">
            <form class="form-row"
            [formGroup]="loginForm"
            (ngSubmit)="loginUser(loginForm)">
              <div class="col-md-12 mb-2">
                <label>Email address <span class="text-danger">*</span></label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your email"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && loginForm.invalid }"
                  />
                  <div
                    *ngIf="submitted || loginForm.controls['email'].dirty || loginForm.controls['email'].touched"
                    class="invalid-feedback"
                  >
                    <div class="invalid-feedback">
                      <div *ngIf="loginForm.controls['email'].hasError('required')">
                        Email is required
                      </div>
                      <div *ngIf="loginForm.controls['email'].hasError('email')">
                        Email must be a valid email address
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12 mb-2">
                <label>Password <span class="text-danger">*</span></label>
                <div class="input-group">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Enter your password"
                    formControlName="password"
                    [ngClass]="{
                      'is-invalid': submitted && loginForm.invalid
                    }"
                  />
                  <div 
                    *ngIf="loginForm.controls['password'].dirty || loginForm.controls['password'].touched"
                    class="invalid-feedback">
                    <div  *ngIf="loginForm.controls['password'].hasError('required')">
                      Password is required
                    </div>
                    <div *ngIf="loginForm.controls['password'].hasError('minlength')">
                      Password must be at least 8 characters
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mb-2 d-flex align-items-start mk-checkbox">
                <input type="checkbox" formControlName="termsCondition" /><span
                  class="small"
                  >I agree to the terms of service and privacy policy</span
                >
                <div 
                  *ngIf="loginForm.controls['termsCondition'].dirty || loginForm.controls['termsCondition'].touched"
                  class="invalid-feedback">
                  <div  *ngIf="loginForm.controls['termsCondition'].hasError('required')">
                    Terms of service and privacy is required
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-success w-100">
                  Login
                </button>
                <hr />
              </div>
              <div class="col-md-12">
                <a
                  href=""
                  [routerLink]="['/auth/registrationu']"
                  class="btn btn-outline-secondary w-100"
                  >Create Account</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-8 p-0">
        <div
          class="bg-cover bg-overlay h-100 d-flex align-items-end login-user"
          [ngClass]="{ 'professional': professionalLogin }"
        >
          <div class="w-100 p-4 text-light">
            <h3>Welcome to Propthealth</h3>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center text-light pt-3">
      <span class="mr-2">Forget your password?</span>
      <a href="" [routerLink]="['/auth/forgot-password']" class="text-light"
        >Get a new password</a
      >
    </div>
  </div>
</section>
