<section class="bg-primary-light">
  <div class="container">
    <div class="row flex-md-row justify-content-between align-items-center">
      <div class="col-12 col-md-7 col-xl-6 my-30p">
        <h6 class="text-primary">For Providers</h6>
        <h2 class="h3 h2-lg mb-25p">
          Reach more new patients Grow your practice
        </h2>
        <p class="text-label mb-30p">
          PromptHealth helps providers reach more new patients for in-person visits, video visits or both.
        </p>
        <button 
        class="btn btn-primary"
        (click)="scrollToPlan()"
        >Join us Now</button>
      </div>
      <div class="col-12 col-md-5 my-30p">
        <img 
        class="w-100 image-shadow rounded-12p" 
        src="/assets/img/about/top-provider.png" 
        alt=""
        >
      </div>
    </div>
  </div>
</section>

<section class="container mt-100p mb-50p">
  <ul class="row list-unstyled">
    <li 
    *ngFor="let feature of features" 
    class="mb-50p col-12 col-md-6 col-lg-4"
    >
      <div class="mb-25p">
        <i [iconPh]="feature.icon" style="font-size: 30px;"></i>
      </div>
      <h4>{{feature.title}}</h4>
      <p class="text-label">{{feature.content}}</p>
    </li>
  </ul>
</section>

<section class="container">
  <div class="text-center">
    <h2 class="h3 h2-md">It’s easy to get started</h2>
    <p class="mt-20p">Free 14-day trial on best plan - No Credit Card Requeired</p>
    <div class="mt-60p mb-40p">
      <a #anchorPlans class="scroll-anchor"></a>
      <div
      class="rounded-pill switch-duration border border-line ml-80p ml-md-0p"
      (click)="onClickSwitchDuration()"
      >
        <div class="discount-popup body-small text-body">
          20% Discount
        </div>
        <div 
        class="switch-on rounded-pill"
        [ngClass]="(isDurationMonthly ? 'right' : 'left')"
        ></div>
        <div 
        class="switch-item subtitle2"
        [ngClass]="{'active': !isDurationMonthly}"
        >
          <span class="center">Annualy</span>
        </div>
        <div 
        class="switch-item subtitle2"
        [ngClass]="{'active': !!isDurationMonthly}"
        >
          <span class="center">Monthly</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div 
    *ngFor="let plan of plans | keyvalue:keepOriginalOrder; let i = index"
    class="col-12 col-lg-4 mb-20p mb-lg-0p"
    >
      <div 
      class="card h-100 text-left rounded12p p-15p p-md-30p rounded-12p"
      [ngClass]="{active: plan.key == 'provider'}"
      >
        <div 
        *ngIf="plan.value.label"
        class="label body1"
        >
          {{plan.value.label}}
        </div>
        <div style="font-size: 30px">
          <i [iconPh]="plan.value.icon"></i>
        </div>
        <h4 class="mb-0">{{plan.value.title}}</h4>
        <p class="mb-0 body2 text-label">{{plan.value.subtitle}}</p>

        <h2 
        *ngIf="plan.value.data"
        class="my-25p"
        >
          <ng-container *ngIf="!plan.value">  </ng-container>
          <ng-container *ngIf="plan.value && isDurationMonthly">${{plan.value.data.price}}</ng-container>
          <ng-container *ngIf="plan.value && !isDurationMonthly">${{plan.value.data.yearlyPrice}}</ng-container>

          <span class="h4 text-label">
            <ng-container *ngIf="isDurationMonthly">/mo</ng-container>
            <ng-container *ngIf="!isDurationMonthly">/yr</ng-container>
          </span>
        </h2>

        <ul class="list-unstyled pl-25p plan-features flex-grow-1">
          <ng-container *ngFor="let feature of planFeatures; let j = index">
            <li 
            *ngIf="isFeatureShowable(j, plan.key)"
            class="position-relative mb-20p subtitle2"
            >  
              <i class="icon-pre text-placeholder" iconPh="checkbox-square"></i>
              <span>{{feature.item}}</span>
            </li>  
          </ng-container>
        </ul>

        <button 
        *ngIf="!profile"
        class="btn"
        [ngClass]="(plan.key == 'provider' ? 'btn-primary-dark' : 'btn-outline')"
        (click)="onClickSignup(plan.key)"
        >
          <ng-container *ngIf="plan.key == 'basic'">Sign up FREE</ng-container>
          <ng-container *ngIf="plan.key == 'provider'">Order now</ng-container>
          <ng-container *ngIf="plan.key == 'centre'">Select</ng-container>
        </button>

        <button 
        *ngIf="!!profile"
        class="btn"
        [ngClass]="(plan.key == 'provider' ? 'btn-primary-dark' : 'btn-outline')"
        [disabled]="isLoading"
        (click)="onClickCheckout(plan.key)"
        >
          <ng-container *ngIf="plan.key == 'provider'">Order now</ng-container>
          <ng-container *ngIf="plan.key == 'centre'">Select</ng-container>
        </button>

      </div>
    </div>
  </div>
</section>

<section class="text-center mt-70p mb-100p">
  <div 
  class="d-inline-block"
  (click)="scrollToPlanFeature()"
  >
    <div class="mouse-down d-inline-block">
      <div class="cursor"></div>
    </div>
    <ul class="arrow-downs list-unstyled mt-10p">
      <li *ngFor="let i of [0,1,2]">
        <i
        iconPh="chevron-down"
        class="text-placeholder"
        style="font-size: 25px;"
        ></i>
      </li>
    </ul>
  </div>
</section>

<section class="container">
  <div class="feature-table">
    <a #anchorPlanFeatures class="scroll-anchor"></a>
    <div class="intersection-observer" intersectionObserver rootMargin="-80px 0px 10000px 0px" (changeStatus)="onChangeFeatureTableStickStatus($event)"></div>
    <div 
    class="d-flex bg-background py-20p px-30p subtitle1 text-label rounded-12p sticky-top"
    style="top: 80px; transition-duration: 180ms;"
    [ngClass]="{shadow: isFeatureTableSticked}"
    >
      <div class="col-title d-none d-md-block">
        Features
      </div>
      <div 
      *ngFor="let plan of plans | keyvalue:keepOriginalOrder"
      class="col-item text-center"
      >{{plan.key}}</div>
    </div>

    <div 
    *ngFor="let feature of planFeatures; let i = index;"
    class="d-flex flex-wrap py-20p px-30p subtitle2 w-100"
    [ngClass]="i == 0 ? 'mt-20p' : null"
    >
      <div class="col-title feature-item">
        <div>
          <span (click)="showFeatureDetail(i)">
            <span>{{feature.item}}</span>
            <i 
            *ngIf="feature.detail"
            iconPh="info"
            class="ml-10p"
            ></i>
          </span>  
        </div>

        <p 
        *ngIf="idxSelectedFeatureItemForDetail == i"
        [@expandVertical]
        class="mb-0 body2 text-label"
        >{{feature.detail}}</p>
      </div>

      <div 
      *ngFor="let plan of plans | keyvalue:keepOriginalOrder"
      class="col-item text-center"
      >
      <i 
      *ngIf="isFeatureApplicable(i, plan.key)" 
      iconPh="checkbox-square"
      class="text-secondary"
      style="font-size: 23px;"
      ></i>
      </div>
    </div>
  </div>
</section>

<section class="container my-100p">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">
      <h2 class="mb-50p text-center">
        Frequently Asked Questions
      </h2>
      <ul class="list-unstyled">
        <li 
        *ngFor="let faq of faqs; let i = index;"
        class="mb-20p p-20p rounded-12p border border-line faq-item overflow-hidden"
        [ngClass]="{active: faq.opened}"
        (click)="toggleFAQItemState(faq)"
        >
          <h5 
          class="mb-0 d-flex justify-content-between"
          > 
            <span>{{faq.q}}</span>
            <i 
            iconPh="chevron-down"
            class="text-placeholder"
            ></i>
          </h5>
          <div
          *ngIf="faq.opened" 
          [@expandVertical]
          >
            <div style="height: 10px"></div>
            <p class="mb-0">{{faq.a}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>